<script>
function confirmAndDelete(url, objname) {
	if (confirm("Adakah anda pasti untuk padam " + objname + "?")) {
		location = url
	}
	
}

function rewritePopupContent(controller, objid, objname) {
    $('popmenu').style.width = 150;
    $('popmenu').innerHTML = "<ul>" + 
                            "<li><a href=\""  + "/staffs" + "/" + objid + "\">&nbsp;&nbsp;Lihat</a>" +
					        "<li><a href=\""  + "/staffs" + "/" + objid + "/edit\">&nbsp;&nbsp;Kemaskini</a>" +
					        "<li><a href=\"javascript: confirmAndDelete('"  + controller + "/" + objid + "/destroy' , '" + objname + "')\">&nbsp;&nbsp;Padam</a>" +
					        //"<hr size=1>" +
					        //"<li><a href=\"javascript: acceptSelected(document.unprocess_form)\">&nbsp;&nbsp;Diterima</a>" +
					        "</ul>"
     
}
</script>
    
 <!----------------------------------------------------------------------------------------->

 <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">SENARAI KAKITANGAN </font></b></td>
    </tr>
 </table>
  <br>
  <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center"> <a href="new"><u>Tambah Kakitangan </u></a></td>
    </tr>
  </table>
  <br>
  <table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#777777">
    <tr bgcolor="#999999">
      <td width="2%" valign="top"><font color="#FFFFFF">&nbsp;</font></td>
      <td width="30%" align="center"><font color="#FFFFFF"><strong>Nama </strong></font></td>
      <td width="" align="center"><font color="#FFFFFF"><strong>No KP </strong></font></td>
      <td width="" align="center"><font color="#FFFFFF"><strong>Bahagian</strong></font></td>
    </tr>

<%
i = 0;
even = true;
for staff in @staffs
  i = i + 1
  bgclr = "#CCCCFF" if (even == true)
  bgclr = "#FFFFFF" if (even == false)
  even = !even
  new_id = Staff.find_by_profile_id(staff.profile.id)
%>

    <tr bgcolor="<%=bgclr%>" onmouseover="this.style.background='#FFFFCC'" onmouseout="this.style.background='<%=bgclr%>'" 
        onmousedown="menuLayers.show('popmenu', '/staffs', '<%=h nof{new_id.id} %>', '<%=h nof{staff.profile.ic_number} %>', event)" >
      <td><%= i.to_s %>.</td>
      <td><%=h nof{staff.profile.name} %></td>
      <td align="center"><%=h nof{staff.profile.ic_number} %></td>
      <td align="center"><%=h nof{staff.course_department.description} %></td>
    </tr>
<% end %>
  </table>
