<%= stylesheet_link_tag 'style' %>
<script>
function goDel(url) {
	if (confirm('Adakah anda pasti?')) {
		location = url
	}
	else{
		return;
	}
}
</script>
<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF"><%=@evaluation.name.upcase%></font></th>
    </tr>
    
    
</table>
  <br>
  <table style="width: 800px" border="1" align="center" cellpadding="3" cellspacing="0" bgcolor="#eeeeee">
    <tr>
      <td colspan="2" bgcolor="#999999"><b>A. MAKLUMAT KURSUS DIHADIRI</b></td>
    </tr>
    <tr>
      <td colspan=2><strong>MODUL:</strong> <%=@evaluation.course_implementation.course.name.upcase%></td>
    </tr>
    <tr>
      <td width="30%"><strong>KOD KURSUS:</strong></td>
      <td><%=@evaluation.course_implementation.code%></td>
    </tr>
    <tr>
      <td><strong>TARIKH: </strong></td>
      <td><%=@evaluation.course_implementation.duration_formal_2%> (<%=@evaluation.course_implementation.jumlah_hari%> hari) </td>
    </tr>
</table>
  <br />
<!--section B-->
  <table style="width: 800px" border="1" align="center" cellpadding="3" cellspacing="0" bgcolor="#eeeeee">
	<tr>
		<td colspan="3" bgcolor="#999999"><b>B.PENILAIAN PENCERAMAH </b></td>
	</tr>
    <tr>
      <td width="50%">&nbsp;</td>
      <td width="20%">&nbsp;</td>
      <td align="center">Ulasan</td>
    </tr>
<%
	for topic in @topics
		
%>
		<tr>
		  <td colspan="3" bgcolor="#dddddd">
		  
		  Topik: <%=topic.title%><br />
		  Penceramah: <%=topic.trainer.profile.name%>		  </td>
	    </tr>

		<% for ranking in topic.evaluation_trainer_rankings	%>
		<tr>
		  <td width="50%">
			<table><tr><td>&nbsp;</td><td><%=ranking.evaluation_question.questiontext%></td></tr></table>		  </td>
		  <td width="20%" nowrap>
                    <% total_ranking = (ranking.max_ranking < 6) ? 6 : ranking.max_ranking %>
                    <% total_ranking.times do |i|%>
                      <input name="radiobutton" type="radio" value="#{i+1}" style="height: 11px"><%=i+1%>
                    <% end %>
                  </td>
		  <td>
		  <input name="textfield23" type="text" size="40"></td>
	   </tr>       
<% 
		  end # for ranking
  end #for eval_quest
%>
</table>
  <br />
<!--section C-->
  <table style="width: 800px" border="1" align="center" cellpadding="3" cellspacing="0" bgcolor="#eeeeee">
    <tr>
      <td colspan="3" bgcolor="#999999"><b>C.PENILAIAN KURSUS </b></td>
    </tr>
    <tr>
      <td colspan="3" bgcolor="#dddddd" align="center">SKALA 1:LEMAH 2:KURANG MEMUASKAN 3:MEMUASKAN 4:BAIK 5:CEMERLANG </td>
    </tr>

    <tr>
      <td width="50%">&nbsp;</td>
      <td width="20%">&nbsp;</td>
      <td align="center">Ulasan</td>
    </tr>
		
	<% for subc in EvaluationSection.find(3).evaluation_subsections%>
    <tr>
      <td colspan="2"><b><%=subc.description%></b></td>
      <td align="right">&nbsp;</td>
    </tr>

	<% 
		if subc.evaluation_questions.size > 0
			@evaluation_questions = EvaluationQuestion.find(:all, 
			                       :conditions=>"evaluation_id=#{@evaluation.id} AND evaluation_subsection_id=#{subc.id}")
			for eq in @evaluation_questions				
	%>
	<tr>
		<td>
		<table>
			<tr>
				<td>&nbsp;</td>
				<td><%=eq.questiontext%></td>
			</tr>
		</table>		</td>
	  <td nowrap>
	<%		if eq.evaluation_type_id == 5%>
	<%			deletion_url = "ev_quest_section_c_sub_destroy"%>
	<%			editing_url = "ev_quest_section_c_sub_edit"%>
	<% 			eq.evaluation_ranking.max_ranking.times do |i|%>
          <input name="radiobutton" type="radio" value="#{i+1}" style="height: 11px"><%=i+1%>
    <% 			end
			end
	%>

	<%		if eq.evaluation_type_id == 6%>	
	<%			deletion_url = "ev_quest_section_c_truefalse_sub_destroy"%>
	<%			editing_url = "ev_quest_section_c_truefalse_sub_edit"%>
          <input name="radiobutton" type="radio" value="0" style="height: 11px">Ya
          <input name="radiobutton" type="radio" value="0" style="height: 11px">Tidak
    <%		end
	%>	  </td>
	  <td><input name="textfield2" type="text" size="40"></td>
    </tr>
	<%
			end
		 end
		end
	%>
  </table>
  <br />
<!--section D-->
  <table style="width: 800px" border="1" align="center" cellpadding="3" cellspacing="0" bgcolor="#eeeeee">
    <tr>
      <td colspan="3" bgcolor="#999999"><b>D.PENILAIAN KEMUDAHAN </b></td>
    </tr>

    <tr>
      <td width="50%">&nbsp;</td>
      <td width="20%">&nbsp;</td>
      <td align="center">Ulasan</td>
    </tr>
    
    <% for subc in EvaluationSection.find(4).evaluation_subsections%>
    <tr>
      <td colspan="3"><b><%=subc.description%></b></td>
    </tr>
    <% 
		if subc.evaluation_questions.size > 0
		@evaluation_questions = EvaluationQuestion.find(:all, 
			                                            :conditions=>"evaluation_id=#{@evaluation.id} AND evaluation_subsection_id=7")

			for eq in @evaluation_questions				
	%>
    <tr>
      <td>
		<table>
			<tr>
				<td>&nbsp;</td>
				<td>QuestionID:<%=eq.id%><br> <%=eq.questiontext%></td>
			</tr>
		</table>	  </td>
      <td nowrap><%		if eq.evaluation_type_id == 5%>
          <% total_ranking = (eq.evaluation_ranking.max_ranking < 6) ? 6 : eq.evaluation_ranking.max_ranking%>
          <% total_ranking.times do |i|%>
            <input name="radiobutton" type="radio" value="#{i+1}" style="height: 11px"><%=i+1%>
          <%
		   				end
					end
	%>
    <%		if eq.evaluation_type_id == 6%>
        <input name="radiobutton" type="radio" value="0" style="height: 11px">Ya
        <input name="radiobutton" type="radio" value="0" style="height: 11px">Tidak
    <%		end
	%>	  </td>
	  <td><input name="textfield22" type="text" size="40"></td>
    </tr>
    <%
			end
		 end
		end
	%>
  </table>
  <br />
  <table style="width: 800px" border="1" align="center" cellpadding="3" cellspacing="0" bgcolor="#eeeeee">
    <tr>
      <td width="50%" bgcolor="#999999"><b>E.KOMEN DAN CADANGAN </b></td>
    </tr>
    
    <% for subc in EvaluationSection.find(5).evaluation_subsections%>
    <tr>
      <td><b><%=subc.description%></b></td>
    </tr>
	<%
			5.times do |i|
	%>
    <tr>
      <td><%=i+1%>.
      <textarea rows="1" style="width: 400px"></textarea></td>
    </tr>

    <%
			end
	   end
	%>
</table>
  
  <script>
document.getElementById('button_cetak_head').style.visibility = "hidden"
alert("Jumlah peserta kursus ialah <%=@course_implementation.total_registered%>");
window.print();
window.close();
</script>
