<script>

function rewritePopupContent(controller, objid, objname) {
    $('popmenu').style.width = 200;
    $('popmenu').innerHTML = "<ul>" + 
						"<li><a href=\"" + "javascript: a(" + "" + objid + ")\">&nbsp;&nbsp;Lihat Jawapan</a>" +
					        //"<li><a href=\"javascript: rejectSelected(document.accepted_form)\">&nbsp;&nbsp;Ditolak</a>" +
					        //"<hr size=1>" +
					        //"<li><a href=\"/register/to_enroll/" + objid + "\">&nbsp;&nbsp;Lihat & Daftar</a>" +
					        "</ul>"
}
</script>
    
 <!----------------------------------------------------------------------------------------->
 <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><strong><font color="#FFFFFF">INSTITUT TANAH DAN UKUR NEGARA(INSTUN) </font></strong></td>
    </tr>
 </table>
  <br>

<style>
b		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
th		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
td		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
a		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
input		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
.box {border: solid; border-width:1}
</style>
<form name="list_form">
<%if @course_implementation%>
 <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><strong><font color="#FFFFFF">LAPORAN PENILAIAN ISI KANDUNGAN KURSUS </font></strong></td>
    </tr>
 </table>
 <br />
 <table align="CENTER" border="0" cellspacing="0" cellpadding="2">
   <tr>
     <td align="RIGHT"><strong>Kursus:</strong></td>
     <td><font><%=@course_implementation.code%> -
	 <%=@course_implementation.course.name.upcase%>
	 </font></td>
    </tr>
   <tr>
     <td align="RIGHT"><strong>Tempat:</strong></td>
     <td><font><%=@course_implementation.course.course_location.description.upcase%></font></td>
    </tr>
   <tr>
     <td align="RIGHT"><strong>Tarikh:</strong></td>
     <td><font><%=@course_implementation.tempoh%></font></td>
    </tr>
   <tr>
     <td valign="TOP" align="RIGHT"><strong>Penyelaras:</strong></td>
     <td nowrap="nowrap"><font><%=@course_implementation.penyelaras1.profile.name%> &nbsp;</font></td>
    </tr>
   <tr>
     <td valign="TOP" align="RIGHT"><strong>Pen. Penyelaras:</strong></td>
     <td><font><%=@course_implementation.penyelaras2.profile.name%></font></td>
    </tr>
 </table>
 <br>
<%end%>

  <div width="95%" style="background: #FFFFFF">
  <!--table width="95%" border="1" align="center" cellpadding="2" cellspacing="0" bgcolor="#777777"-->
  <table class="seven" width="95%" align="center" cellpadding="<%=list_cellpadding%>" cellspacing="<%=list_cellspacing%>" bgcolor="<%=list_bgcolor%>">
    <tr bgcolor="#999999">
      <td class="el" width="2%" valign="top">&nbsp;</td>
      <td class="el" align="center"><font color="#FFFFFF"><strong>Kemudahan</strong></font></td>
      <td class="el" align="center"><font color="#FFFFFF"><strong>Bil.<br />
        Penilai</strong></font></td>
      <td class="el" align="center"><font color="#FFFFFF"><strong>Purata<br />
      Skor</strong></font></td>
      <td class="el" align="center"><font color="#FFFFFF"><strong>Peratus</strong></font></td>
    </tr>

<%
i = 0;
even = true;
arr = Hash.new
sum_purata = 0
sum_peratus = 0
for quest in @f_questions
  i = i + 1
  bgclr = "#CCCCFF" if (even == true)
  bgclr = "#FFFFFE" if (even == false)
  even = !even
    
%>

    <tr bgcolor="<%=bgclr%>" onmouseover="this.style.background='#FFFFCC'" onmouseout="this.style.background='<%=bgclr%>'">
      <td class="el" height="20">&nbsp;<%= i.to_s %>.</td>
      <td class="el"><%=quest.questiontext%></td>
      <td class="el" align="center">&nbsp;<%=@bil_penilai%></td>
	  
	  <% 		 
		begin
		 purata_skor = quest.sum_ranking.to_f/@bil_penilai
		rescue
		 purata_skor = 0
		end
		 max_skor = quest.evaluation_ranking.max_ranking*@bil_penilai
		 sum_purata = sum_purata + purata_skor
		 peratus = (purata_skor.to_f/max_skor)*100
		 sum_peratus = sum_peratus + peratus
			
	 %>
      <td class="el" align="center"><%=f2(purata_skor)%></td>	  
      <td class="el" align="center"><%=f2(peratus)%></td>
      </tr>
<% end %>

    <tr bgcolor="<%=bgclr%>" onmouseover="this.style.background='#FFFFCC'" onmouseout="this.style.background='<%=bgclr%>'">
      <th nowrap class="el" align="right" colspan="3">PURATA</th>
	  
      <td class="el" align="center"><%=f2(sum_purata.to_f/@f_questions.size)%></td>
      <td class="el" align="center"><%=f2(sum_peratus.to_f/@f_questions.size)%></td>
      </tr>
  </table>
  </div>
  <div align="center"><br />
    <input type="hidden" name="course_implementation_code" value="<%=@course_implementation.code if @course_implementation%>">
    <input name="Submit" type="button" value="Keluar" onclick="window.close()//history.back()">
  </div>
</form>
<%= '<br><div align="center" style="font-weight: bold; color: orange;">Tiada senarai</div>'.html_safe if @f_questions.size==0%>

<!-- popup menu initial layer----->
<div id="popmenu" class="menu"></div>


<script>

function a(id) {
	MM_openBrWindow('/evaluations/user_hyouka?klm=1&ca_id='+id,'','scrollbars=yes,width=800,height=700')
}
function b(id) {
	MM_openBrWindow('/evaluations/user_hyouka_answer?klm=1&ca_id='+id,'','scrollbars=yes,width=800,height=700')
}

</script>
