<%= stylesheet_link_tag 'style' %>
<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF">TAMBAH UJIAN</font></th>
    </tr>
    
    
  </table>
  <BR>

<%= start_form_tag :action => 'hozon' %>
  <%= render :partial => 'shinki_form' %>
  <BR>
  <div align=center>
  <%= submit_tag "Simpan" %>
  </div>
<%= end_form_tag %>