<%= stylesheet_link_tag 'style' %>
<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF">TAMBAH SOALAN </font></th>
    </tr>
    
    
  </table>
  <br>
  <br />
<form action="/evaluations/truefalse_create/<%=@evaluation.id%>?section=<%=params[:section]%>&subsection=<%=params[:subsection]%>" method="post">
  <table style="width: 700px" border="1" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
		<tr>
		  <td colspan="3" bgcolor="#dddddd">

		  <%=EvaluationSection.find(params[:section]).description%>: <%=EvaluationSubsection.find(params[:subsection]).description%>
		  </td>
		</tr>
	
		<tr>
		  <td width="50%">
			<table><tr>
				<td>&nbsp;</td>
				<td><input name="questiontext" type="text" value="" size="80"></td>
			</tr>
			</table>
		  </td>
		  <td width="20%" nowrap>
		    <input type="radio">Ya &nbsp;
		    <input type="radio">Tidak
		  </td>
       </tr>

</table>
  <br />
  <center>
  <input type="button" value="<<Kembali" onclick="history.back();">
  <input type="submit" value="Simpan">
  </center>
</form>
