<%#= start_form_tag :action => 'hyouka_hozon' %>
<form action="/evaluations/user_hyouka_answer?ca_id=<%=@student.id%>" method="post">

<% if params[:klm] == "1"%>
  <table align="center" style="width: 700px;" border="0" cellpadding="3" cellspacing="1" bgcolor="" width="95%">
    <tr>
      <td><a  style="color:blue; text-decoration:underline;" href="/evaluations/user_hyouka_answer?klm=1&ca_id=<%=@student.get_index[3]%>">&laquo; Previous</a></td>
      <td align="RIGHT"><a  style="color:blue; text-decoration:underline;" href="/evaluations/user_hyouka_answer?klm=1&ca_id=<%=@student.get_index[2]%>">Next &raquo;</a></td>
    </tr>
  </table>
<% end %>

  <%= render :partial => 'form_answer' %>
  <BR>
  <div align=center>
  <%#= submit_tag "Simpan" %>
  <input type="button" value="Keluar" onclick="window.close();">
  </div>
<%= end_form_tag %>