<%= stylesheet_link_tag 'style' %>
<%#= start_form_tag :action => 'hyouka_hozon' %>
<form action="/evaluations/hyouka_hozon/<%=@course_implementation.id%>?ca_id=<%=@student.id%><%="&klm=1" if params[:klm]=="1"%>" method="post" onsubmit="//return goSubmit()">
  <%= render :partial => 'form' %>
  <BR>
  <div align=center>
  <%= submit_tag "Simpan" %>
  </div>
</form>

<script>

function goSubmit() {
	df = document.forms[0]
	for (i=0;i<df.elements.length;i++) {
		if (df.elements[i].type == 'radio') {
			alert(df.elements[i].name)
			return false;
		}
	}
	return false;
}
</script>