<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
  <tr>
    <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF">KEMASKINI FORMAT</font></th>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th>
      <%= link_to 'Lihat', :action => 'show', :id => @question %> |
      <%= link_to 'Kembali', :action => 'list', :id => @question.question_template_id %> ke senarai
    </th>
  </tr>
</table>
<BR>


<%=form_for(@question) do |f|%>
  <%= render :partial => 'form' %>
  <BR>
  <div align=center>
    <%= submit_tag 'Edit' %>
  </div>
<% end %>
