<!--[form:profile]-->
<%
dob = @profile.date_of_birth
if (dob != nil)
  tarikh =  dob.to_s
  tarikh = tarikh.split('-')
  y = tarikh[0]
  m = tarikh[1]
  d = tarikh[2]
end
%>
<div align="center">
  <% if @profile.errors.any? %>
    <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <% if @trainer.errors.any? %>
    <ul>
      <% @trainer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
<%#= error_messages_for 'profile' %>
<%#= error_messages_for 'trainer' %>
</div>
<table width="90%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
  <tr bgcolor="000000">
    <td colspan="4" align="CENTER" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT PERIBADI</font></b></td>
  </tr>
  <tr>
    <td colspan="4" align="right">&nbsp;</td>
  </tr>
  <tr>
    <td align="right" valign="top"><b>No K/P Baru: </b></td>
    <td>&nbsp; <%= text_field 'profile', 'ic_number', :maxlength=>12, :size=>15, :onchange=>"checkTrainerNRIC()"  %><span id="node_identification_memo"> </span></td>
    <td align="RIGHT"><b>No K/P Lama :</b></td>
    <td>&nbsp; <%= text_field 'profile', 'old_ic_number', :maxlength=>8, :size=>10, :onchange=>"this.value=this.value.toUpperCase()"  %></td>
  </tr>
  <script>
    var node = $("profile_ic_number");
    var node_identification_memo = $("node_identification_memo");

    function checkTrainerNRIC() {
      if ( icnumRegExp.test(node.value) ) {
        node_identification_memo.innerHTML = "<br>&nbsp;<font color=orange>Sistem sedang memeriksa no kp<br>&nbsp;Sila tunggu..</font>"
        ajax_request("/ajax/ajax_trainer_nric", "ic_number="+node.value)
      }
    }

    function checkCodeName(data){
      node_identification_codename.innerHTML = "<br>&nbsp;<font color=orange>Sistem sedang memeriksa kod nama<br>&nbsp;Sila tunggu..</font>"
      ajax_request_codename("/ajax/ajax_trainer_codename", "codename="+data)
    }

    function ajax_request_codename(url, data){
      var myAjax = new Ajax.Request(url, {method: 'get', parameters: data, onComplete: ajax_response_codename});
    }

    function ajax_response_codename(originalRequest){
      if (originalRequest.responseText == 1) {
        alert("Kod Nama sudah wujud. Sila pilih lain.");
        node_identification_codename.innerHTML = "";
        obj = document.getElementById("profile_codename");
        obj.focus;
        HighLightTextField(obj);
      }
      else{
        node_identification_codename.innerHTML = "<font color=orange><br>&nbsp; Kod Nama belum ada.</font>";
      }
    }

    function ajax_request(url, data) {
      var myAjax = new Ajax.Request(
      url,
      {method: 'get', parameters: data, onComplete: ajax_response}
    );
    }

    function ajax_response(originalRequest) {
      //alert(originalRequest.responseText)
      if (originalRequest.responseText == 1) {
        node_identification_memo.innerHTML = "<br>&nbsp;<font color=orange> Data tenaga pengajar sudah ada.<br>&nbsp; Loading..</font>"
        document.forms[0].action = "/trainer/new_but_profile_exist";
        document.forms[0].submit();
      }
      else if (originalRequest.responseText == 2) {
        alert("Tenaga pengajar sudah wujud")
        location = "/trainer/list"
      }
      else {
        node_identification_memo.innerHTML = "<font color=orange><br>&nbsp; Data tenaga pengajar belum ada.</font>"
      }
    }
  </script>
  <tr>
    <td align="right"><b>Gelaran : </b></td>
    <td colspan=3>&nbsp; <%=
      @id_titles = @titles.map { |t| [t.description, t.id] }
      @id_titles.unshift(["Sila Pilih", ""])
      select(:profile, :title_id, @id_titles, :style=>"width: 100;")
    %></td>
  </tr>
  <tr>
    <td width="20%" align="right"><b>Nama Penuh : </b></td>
    <td colspan=3>&nbsp; <%= text_field 'profile', 'name', :maxlength=>80, :size=>50, :onchange=>"this.value=this.value.toUpperCase()"  %></td></tr>
  <tr>
    <!--td align="right" valign="top"><b>CodeName: </b></td-->
    <!--td>&nbsp; <%= text_field 'profile', 'codename', :maxlength=>5, :size=>5, :onkeyup=>"this.value=this.value.toUpperCase()", :onchange=>"checkCodename()"  %><span id="node_identification_memo"> </span><font color="red">&nbsp;( Masukkan 5 AKSARA Menggambarkan Nama )</font></td-->
  </tr>
  <tr>
    <td align="right"><b>Jantina :</b></td>
    <td>&nbsp; <%=
      @options = @genders.map { |t| [t.description, t.id] }
      @options.unshift(["Sila Pilih", ""])
      select(:profile, :gender_id, @options, :style=>"width: 100;")
    %> </td>
    <td align="right" width=20%><b>Tarikh Lahir :</b></td>
    <td>&nbsp;
      <input type=text name=d_dob maxlength=2 size=3 value="<%=d%>" />
      /
      <input type=text name=m_dob maxlength=2 size=3 value="<%=m%>" />
      /
      <input type=text name=y_dob maxlength=4 size=5 value="<%=y%>" />
    </td>
  </tr>
  <tr>
    <td align="right"><b>Agama :</b></td>
    <td>&nbsp; <%=
      @options = @religions.map { |t| [t.description, t.id] }
      @options.unshift(["Sila Pilih", ""])
      select(:profile, :religion_id, @options, :style=>"width: 100;")
    %> </td>
    <td align="right"><b>Keturunan :</b></td>
    <td colspan=3>&nbsp; <%=
      @options = @races.map { |t| [t.description, t.id] }
      @options.unshift(["Sila Pilih", ""])
      select(:profile, :race_id, @options,:style=>"width: 100;")
    %> </td>
  </tr>
  <tr>
    <td align="right"><b>Taraf Perkahwinan :</b></td>
    <td>&nbsp; <%=
      @options = @marital_statuses.map { |t| [t.description, t.id] }
      @options.unshift(["Sila Pilih", ""])
      select(:profile, :marital_status_id, @options, :style=>"width: 100;")
    %> </td>
    <td align="right"><b>Kecacatan :</b></td>
    <td colspan=3>&nbsp; <%=
      @options = @handicaps.map { |t| [t.description, t.id] }
      @options.unshift(["Sila Pilih", ""])
      select(:profile, :handicap_id, @options, :style=>"width: 100;")
    %> </td>
  </tr>
  <tr>
    <td align="right"><b>Bahagian :</b></td>
    <td colspan="2">&nbsp; <%=
      @options = @course_departments.map { |t| [t.description, t.id] }
      @options.unshift(["Sila Pilih", ""])
      select(:profile, :course_department_id, @options, :style=>"width: 250;")
    %></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="right"><b>Kod Nama:</b></td>
    <td colspan=3>&nbsp; <%= text_field 'profile', 'codename', :maxlength=>5, :size=>5, :onkeyup=>"this.value=this.value.toUpperCase()",:onchange=>"checkCodeName(this.value)" %><font color="red">&nbsp;( Masukkan 5 AKSARA Menggambarkan Nama )</font><span id="node_identification_codename"> </span></td>
  </tr>

  <tr>
    <td colspan=4><hr width="80%" size="1" /></td>
  </tr>


  <tr>
    <td align="right"><b>Vegetarian? :</b></td>
    <%
    veg_0_checked = ""
    veg_1_checked = ""
    if @profile.is_vegetarian == 0
      veg_1_checked = ""
      veg_0_checked = "checked"
    else
      veg_1_checked = "checked"
      veg_0_checked = ""
    end
  %>
    <td>&nbsp;
      <input type="radio" id="is_vegetarian_1" name="profile[is_vegetarian]" value="1" <%=veg_1_checked%> />
      <label for="is_vegetarian_1">Ya</label>
      &nbsp;
      <input type="radio" id="is_vegetarian_0" name="profile[is_vegetarian]" value="0" <%=veg_0_checked%> />
      <label for="is_vegetarian_0">Tidak</label>
    </td>
    <td align="right">&nbsp;</td>
    <td colspan=3>&nbsp;</td>
  </tr>
  <tr>
    <td colspan=4><hr width="80%" size="1" /></td>
  </tr>
  <tr>
    <td align="right"><b>Alamat :</b></td>
    <td colspan="3">&nbsp; <%= text_field 'profile', 'address1', :maxlength=>45, :size=>45, :onchange=>"this.value=this.value.toUpperCase()"  %></td>
  </tr>
  <tr>
    <td align="right"><b>(Surat Menyurat)</b></td>
    <td colspan="3">&nbsp; <%= text_field 'profile', 'address2', :maxlength=>45, :size=>45, :onchange=>"this.value=this.value.toUpperCase()"  %></td>
  </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td colspan="3">&nbsp; <%= text_field 'profile', 'address3', :maxlength=>45, :size=>45, :onchange=>"this.value=this.value.toUpperCase()"  %></td>
  </tr>
  <tr>
    <td align="right"><b>Negeri :</b></td>
    <td colspan=3>&nbsp; <%=
      @options = @states.map { |t| [t.description, t.id] }
      @options.unshift(["Sila Pilih", ""])
      select(:profile, :state_id, @options)
    %> </td>
  </tr>
  <tr>
    <td align="right"><b>No Telefon Bimbit :</b></td>
    <td colspan=3>&nbsp; <%= text_field 'profile', 'mobile', :maxlength=>12, :size=>15  %> </td>
  </tr>
  <tr>
    <td colspan=4><hr width="80%" size="1" /></td>
  </tr>
  <tr>
    <td align="right"><b>Dalaman/Luaran :</b></td>
    <td colspan=3><span class="blockintro">&nbsp;
        <input type="radio" name="trainer[is_internal]" value="0" <%if (@trainer.is_internal == 0) %>checked<%end%> />
        LUARAN
        <input type="radio" name="trainer[is_internal]" value="1" <%if (@trainer.is_internal == 1) %>checked<%end%> />
        DALAMAN</span></td>
  </tr>
  <tr>
    <td align="right"><b>Kadar Bayaran:</b></td>
    <td colspan=3>&nbsp; <%= text_field 'trainer', 'rate', :maxlength=>4, :size=>5 %>[RM/jam]</td>
  </tr>
  <tr>
    <td colspan=4><hr width="80%" size="1" /></td>
  </tr>
  <tr>
    <td align="right"><b>No Gaji :</b></td>
    <!--td colspan=3><span class="blockintro">&nbsp;</td-->
    <td colspan=3>&nbsp; <%= text_field 'profile', 'salary_number', :maxlength=>15, :size=>15 %></td>
  </tr>
  <tr>
    <td align="right"><b>No Akaun Bank:</b></td>
    <td colspan=3>&nbsp; <%= text_field 'profile', 'bank_account_number', :maxlength=>15, :size=>15 %></td>
  </tr>
  <tr>
    <td align="right"><b>Nama/Cawangan Bank:</b></td>
    <td colspan=3>&nbsp; <%= text_field 'profile', 'bank_account_name', :maxlength=>100, :size=>45 %></td>
  </tr>


  <tr>
    <td colspan=4>&nbsp;</td>
  </tr>
  <tr bgcolor="000000">
    <td colspan="4" align="CENTER" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT WARIS</font></b></td>
  </tr>
  <tr>
    <td colspan="4">&nbsp;</td>
  </tr>
  <tr>
    <td width="20%" align="right"><b>Nama : </b></td>
    <td colspan=3>&nbsp; <%= text_field 'relative', 'name', :size=>50, :maxlength=>80 ,:onchange=>"this.value=this.value.toUpperCase()"  %></td>
  </tr>
  <tr>
    <td width="20%" align="right"><b>Hubungan : </b></td>
    <td colspan=3>&nbsp; <%=
      @options = @relationships.map { |t| [t.description, t.id] }
      @options.unshift(["Sila Pilih", ""])
      select(:relative, :relationship_id, @options, :style=>"width: 100;")
    %> </td>
  </tr>
  <tr>
    <td align="right" valign="top"><b>Alamat :</b></td>
    <td colspan=3>&nbsp; <%= text_field 'relative', 'address1', :maxlength=>45, :size=>45, :onchange=>"this.value=this.value.toUpperCase()"  %></td>
  </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td colspan=3>&nbsp; <%= text_field 'relative', 'address2', :maxlength=>45, :size=>45, :onchange=>"this.value=this.value.toUpperCase()"  %></td>
  </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td colspan=3>&nbsp; <%= text_field 'relative', 'address3', :maxlength=>45, :size=>45, :onchange=>"this.value=this.value.toUpperCase()"  %></td>
  </tr>
  <tr>
    <td align="right"><b>Negeri :</b></td>
    <td colspan=3>&nbsp; <%=
      @options = @states.map { |t| [t.description, t.id] }
      @options.unshift(["Sila Pilih", ""])
      select(:relative, :state_id, @options)
    %> </td>
  </tr>
  <tr>
    <td align="right"><b>No Telefon Rumah :</b></td>
    <td colspan=3>&nbsp; <%= text_field 'relative', 'phone', :maxlength=>12, :size=>15  %> </td>
  </tr>
  <tr>
    <td align="right"><b>No Telefon Bimbit :</b></td>
    <td colspan=3>&nbsp; <%= text_field 'relative', 'mobile', :maxlength=>12, :size=>15  %> </td>
  </tr>
  <tr>
    <td colspan=4>&nbsp;</td>
  </tr>
  <tr bgcolor="000000">
    <td colspan="4" align="CENTER" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT PERKHIDMATAN</font></b></td>
  </tr>
  <tr>
    <td colspan="4" align="right">&nbsp;</td>
  </tr>
  <tr>
    <td align="right"><b>Kementerian :</b></td>
    <td colspan="3">&nbsp; <span id="kementerian_selection"> <%=
        @ministries = Place.find(:all, :conditions => "place_type_id=3")
        @options = @ministries.map { |t| [t.name.upcase, t.id] }
        @options.unshift(["Sila Pilih", ""])

        if nof{@employment.place}
          if @employment.place.place_type_id == 3
            @grandparent = @employment.place
          elsif @employment.place.place_type_id == 1
            @grandparent = @employment.place.parent
          elsif @employment.place.place_type_id == 2
            @grandparent = @employment.place.parent.parent
          else
            @grandparent = Place.new
          end
        else
          @grandparent = Place.new
        end
        select(:grandparent, :id, @options, :id=> "kementerian_id", :name=> "kementerian_id", :onchange=>"checkJabatan()")
      %></span> </td>
  </tr>
  <tr>
    <td align="right"><b>Jabatan :</b></td>
    <td colspan="3">&nbsp; <span id="department_selection"> <%=
        if nof{@employment.place}
          if @employment.place.place_type_id == 3
            @departments = @employment.place.children
            @parent = Place.new
          elsif @employment.place.place_type_id == 1
            @departments = Place.find(:all, :conditions => "place_type_id=1")
            @parent = @employment.place
          elsif @employment.place.place_type_id == 2
            @departments = nof{@employment.place.parent.parent.children} || []
            @parent = @employment.place.parent
          else
            @departments = []
            @parent = Place.new
          end
        else
          @parent = Place.new
          @departments = []
        end
        @options = @departments.map { |t| [t.name.upcase, t.id] }
        @options.unshift(["Sila Pilih", ""])
        select(:parent, :id, @options,  :id=> "jabatan_id", :name=> "jabatan_id", :onchange=>"checkPejabat()")
      %></span></td>
  </tr>
  <tr>
    <td align="right"><b>Pejabat :</b></td>
    <td colspan="3">&nbsp; <span id="pejabat_selection"> <%=
        if nof{@employment.place}
          if @employment.place.place_type_id == 2
            @offices = @employment.place.parent.children
            @office  = @employment.place
          elsif @employment.place.place_type_id == 1
            @offices = @employment.place.children
            @office  = Place.new
          else
            @offices = []
            @office = Place.new
          end
        else
          @office = Place.new
          @offices = []
        end
        @options = @offices.map { |t| [t.name.upcase, t.id] }
        @options.unshift(["Sila Pilih", ""])
        select(:office, :id, @options,  :id=> "pejabat_id", :name=> "pejabat_id", :onchange=>"updatePlaceId()")
      %></span> <%= hidden_field 'employment', 'place_id', :size=>3  %> </td>
  </tr>
  <script>
    //jabatan selection
    function checkJabatan() {
      $('employment_place_id').value = $('kementerian_id').value
      $('pejabat_selection').innerHTML = "<font color=orange>Sila pilih jabatan</font>"
      $('department_selection').innerHTML = "<font color=orange>Carian jabatan...sila tunggu</font>"
      ajax_department_request("/ajax/children_of_place", "id="+$("kementerian_id").value)
    }

    function ajax_department_request(url, data) {
      var myAjax = new Ajax.Request(
      url,
      {method: 'post', parameters: data, onComplete: ajax_department_response}
    );
    }

    function ajax_department_response(originalRequest) {
      if (originalRequest.responseText != 0) {
        var a = originalRequest.responseText.split("$$")
        var k = new Array(a.length)
        for (i=0; i<k.length; i++) {
          k[i] = a[i].split("=")
        }
        //alert(originalRequest.responseText)
	
        str  = "<select  id=\"jabatan_id\" name=\"jabatan_id]\" class=\"px200\" onchange=\"checkPejabat()\">\n";
        str += "<option value=\"\">Sila Pilih</option>\n"
        for (i=0; i<k.length; i++) {
          str += "<option value=\"" + k[i][1] + "\">" + k[i][0] + "</option>\n";
        }
        str += "</select>\n";
        $("department_selection").innerHTML = str;
      }
      else {
        $('department_selection').innerHTML = "<font color=orange>Tiada senarai</font>"
      }
    }
    //EO department selection

    //pejabat selection
    function checkPejabat() {
      $('employment_place_id').value = $('jabatan_id').value
      $('pejabat_selection').innerHTML = "<font color=orange>Carian pejabat...sila tunggu</font>"
      ajax_pejabat_request("/ajax/children_of_place", "id="+$("jabatan_id").value)
    }

    function ajax_pejabat_request(url, data) {
      var myAjax = new Ajax.Request(
      url,
      {method: 'post', parameters: data, onComplete: ajax_pejabat_response}
    );
    }

    function ajax_pejabat_response(originalRequest) {
      if (originalRequest.responseText != 0) {
        var a = originalRequest.responseText.split("$$")
        var k = new Array(a.length)
        for (i=0; i<k.length; i++) {
          k[i] = a[i].split("=")
        }
        //alert(originalRequest.responseText)
	
        str  = "<select  id=\"pejabat_id\" name=\"pejabat_id]\" class=\"px200\" onchange=\"updatePlaceId()\">\n";
        str += "<option value=\"\">Sila Pilih</option>\n"
        for (i=0; i<k.length; i++) {
          str += "<option value=\"" + k[i][1] + "\">" + k[i][0] + "</option>\n";
        }
        str += "</select>\n";
        $("pejabat_selection").innerHTML = str;
      }
      else {
        $('pejabat_selection').innerHTML = "<font color=orange>Tiada senarai</font>"
      }

    }
    //EO pejabat selection

    function updatePlaceId() {
      $('employment_place_id').value = $('pejabat_id').value
    }

  </script>
  <tr>
  <script src="/course_applications/grades_for_lookup" type="text/javascript"></script>
  <td align="right"><b>Gred/Jawatan :</b></td>
  <td colspan="3"><%=#
    #@options = @job_profiles.map { |t| [t.job_grade, t.id] }
    #@options.unshift(["Sila Pilih", ""])
    #select(:employment, :job_profile_id, @options, "", :onchange=>"checkDesignation()")
    %>
    <%
    @grade = nof{@employment.job_profile.job_grade}
    @job_name = nof{@employment.job_profile.job_name}
    @job_grade_and_job_name =  ""
    @job_grade_and_job_name =  "#{@grade},#{@job_name}" if (@grade != nil and @job_name != nil)
    -%>
    &nbsp;
    <input id="job_profile_name" name="job_profile_name" type="text" maxlength="100" size="80" value="<%=@job_grade_and_job_name%>" onfocus="this.select()" />
    <div class="auto_complete" id="job_profile_name_auto_complete"></div>
    <%= javascript_tag("new Autocompleter.Local('job_profile_name' ,
  'job_profile_name_auto_complete' ,
  grades,
  {fullSearch: true,
  frequency: 0,
  minChars: 1
  }
  );") %> <%= hidden_field 'employment', 'job_profile_id', :size=>3  %></td>
</tr>
<tr>
  <td align="right"><b>Gelaran Jawatan :</b></td>
  <td colspan="3">&nbsp; <%= text_field 'profile', 'designation', :maxlength=>50, :size=>30, :onchange=>"this.value=this.value.toUpperCase()" %> <font color="orange">*cth:Penolong Pengarah</font></td>
</tr>
<tr>
  <td align="right"><b>Bahagian/Unit :</b></td>
  <td>&nbsp; <%= text_field 'employment', 'unit', :maxlength=>100, :size=>30, :onchange=>"this.value=this.value.toUpperCase()"  %></td>
  <td align="right"><b>E-Mel :</b></td>
  <td>&nbsp; <%= text_field 'profile', 'email', :maxlength=>60, :size=>30, :class=>"email"  %></td>
</tr>
<tr>
  <td colspan=4>&nbsp;</td>
</tr>
<tr>
  <td colspan=4><hr width="80%" size="1" /></td>
</tr>
<tr>
  <td colspan="3" align="center"> <font color="blue">*untuk diisi maklumat perkhidmatan bagi penceramah swasta</font></td>
</tr>

<tr>
  <td align="right"><b>Gelaran Ketua Pejabat/Syarikat :</b></td>
  <td colspan="3">&nbsp; <%= text_field 'profile', 'hod', :maxlength=>45, :size=>45 %> <font color="orange">*cth:Ketua Pengarah/Pengarah</font></td>
</tr>
<tr>
  <td align="right"><b> Nama Pejabat/Syarikat :</b></td>
  <td colspan="3">&nbsp; <%= text_field 'profile', 'opis', :maxlength=>45, :size=>45 %></td>
</tr>
<tr>
  <td align="right"><b>No Telefon :</b></td>
  <td>&nbsp; <%= text_field 'profile', 'office_phone', :maxlength=>12, :size=>15  %> </td>
  <td align="RIGHT"><b>No Faks :</b></td>
  <td>&nbsp; <%= text_field 'profile', 'fax', :maxlength=>12, :size=>15  %> </td>
</tr>
<tr>
  <td colspan=4>&nbsp;</td>
</tr>
<tr bgcolor="000000">
  <td colspan="4" align="CENTER" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT AKADEMIK</font></b></td>
</tr>
<tr>
  <td colspan="4">&nbsp;</td>
</tr>
<tr>
  <td valign=top align="center" colspan="5"><table id="qua_table" border="1" width="90%" align="center">
      <tr>
        <th width="15%">KELAYAKAN</th>
        <th width="30%">PENGKHUSUSAN</th>
        <th width="30%">INSTITUSI/UNIVERSITI</th>
        <th width="10%">TAHUN</th>
        <th width="15%">&nbsp;</th>
      </tr>
      <%
      i = 0
      for @qualification in @profile.qualifications

        i = i + 1
      %>
        <tr align=center id="<%=i%>">
          <td align="center"><%=
            @options = @cert_levels.map { |t| [t.description.capitalize, t.id] }
            @options.unshift(["Sila Pilih", ""])

            #@qualification = nof{@course_application.profile.qualifications[0]}
            select(:qualification, :cert_level_id, @options,'',:name=>"cert_level_ids[]")
          %> </td>
          <td><%= text_field 'qualification', "pengkhususan", :maxlength=>100, :size=>40, :name=>"pengkhususan[]",:onkeyup=>"this.value=this.value.toUpperCase()"  %></td>
          <td><%= text_field 'qualification', "institution", :maxlength=>100, :size=>40, :name=>"institutions[]",:onkeyup=>"this.value=this.value.toUpperCase()"  %></td>
          <td><%= text_field 'qualification', 'year_end', :maxlength=>4, :size=>5, :name=>"year_ends[]"  %></td>
          <td width="30"><a href="" onclick="deleteQualificationRow('qua_table',this.parentNode.parentNode.rowIndex);return false;"><font style="color: blue; font-size:10px;"><u>padam</u></font></a> </td>
        </tr>
      <%
      end
    %>
    </table>
    <table id="qua_table" border="0" width="90%" align="center">
      <tr>
        <td align="right"><a href="javascript: addQualification('qua_table')"><font style="color: blue; font-size:10px;"><u>Tambah..</u></font> </a></td>
      </tr>
    </table></td>
<script>
  var cert_level_options = [
    {name: "Sila Pilih", id: ""},
<% @cert_levels.each do |cl| %>
  <%= "{name: \"#{cl.description}\", id: \"#{cl.id}\"}," %>
<% end %>
    {name: " ", id: "00"}
  ];



  function addQualification(tn) {
    var tbl = $(tn);
    var newRow = tbl.insertRow(tbl.rows.length);
    row_id = "row_" + (tbl.rows.length-1);
    if ($(row_id)) {
      row_id = row_id + "_1"
    }
    newRow.id = row_id;
	
    option_strings = ""
    for (i=0;i<cert_level_options.length;i++) {
      option_strings += '<option value="'+cert_level_options[i].id +'">'+cert_level_options[i].name+'</option>'
    }
    var cell_0 = newRow.insertCell(0);cell_0.align="center";cell_0.innerHTML = '<select name="cert_level_ids[]">'+option_strings+'</select>';
    var cell_1 = newRow.insertCell(1);cell_1.align="center";cell_1.innerHTML = '<input type="text" name="pengkhususan[]" value="" maxlength="100" size="40" onblur="//if (!checkInput(anythingRegExp,this,\'Pengkhususan\')) return false;">';
    var cell_2 = newRow.insertCell(2);cell_2.align="center";cell_2.innerHTML = '<input type="text" name="institutions[]" value="" maxlength="100" size="40" onblur="//if (!checkInput(anythingRegExp,this,\'Nama Institusi\')) return false;">';
    var cell_3 = newRow.insertCell(3);cell_3.align="center";cell_3.innerHTML = '<input type="text" name="year_ends[]" value="" maxlength="4" size="5" onblur="//if (!checkInput(dateAllYearformat,this,\'Tahun\')) return false;">';
    var cell_4 = newRow.insertCell(4);cell_4.align="center";
    cell_4.innerHTML = '<a href="#" onclick="deleteQualificationRow(\'qua_table\',this.parentNode.parentNode.rowIndex);return false;"><font style="color: blue; font-size:10px;"><u>padam</u></font></a>';
  }
  function addQualification2(tn) {
    var tbl = $(tn);
    var newRow = tbl.insertRow(tbl.rows.length);
    row_id = "row_" + (tbl.rows.length-1);
    if ($(row_id)) {
      row_id = row_id + "_1"
    }
    newRow.id = row_id;
	
    option_strings = ""
    for (i=0;i<cert_level_options.length;i++) {
      option_strings += '<option value="'+cert_level_options[i].id +'">'+cert_level_options[i].name+'</option>'
    }
    var cell_0 = newRow.insertCell(0);cell_0.align="center";cell_0.innerHTML = '<input type="text" name="kepakaran[]" value="" maxlength="100" size="40">';
    var cell_1 = newRow.insertCell(1);cell_1.align="center";
    cell_1.innerHTML = '<a href="#" onclick="deleteQualificationRow(\'exp_table\',this.parentNode.parentNode.rowIndex);return false;"><font style="color: blue; font-size:10px;"><u>padam</u></font></a>';
  }

  function deleteQualificationRow(tn,id) {
    //row = $(id)
    //tbl = row.parentNode.parentNode
    tbl = $(tn)
    tbl.deleteRow(id)
    //for (i=1;i<tbl.rows.length;i++) {
    //alert(tbl.rows[i].id)
		
    //if (tbl.rows[i].id == row.id) {
    //tbl.deleteRow(i)
    //}
    //}
  }
</script>
<tr bgcolor="000000">
  <td colspan="4" align="CENTER" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT KEPAKARAN</font></b></td>
</tr>
<tr>
  <td colspan="4">&nbsp;</td>
</tr>
<tr>
  <td valign=top align="center" colspan="5"><table id="exp_table" border="1" width="90%" align="center">
      <tr>
        <th width="30%">KEPAKARAN</th>
        <th width="15%">&nbsp;</th>
      </tr>
      <%
      for @expertise in @profile.expertises
      %>
        <tr align=center id="">
          <td><%= text_field 'expertise', "kepakaran", :maxlength=>100, :size=>40, :name=>"kepakaran[]",:onkeyup=>"this.value=this.value.toUpperCase()"  %></td>
          <td width="30"><a href="#" onclick="deleteQualificationRow('exp_table',this.parentNode.parentNode.rowIndex);return false;"><font style="color: blue; font-size:10px;"><u>padam</u></font></a> </td>
        </tr>
      <%end%>
      <table id="exp_table" border="0" width="90%" align="center">
        <tr>
          <td align="right"><a href="javascript: addQualification2('exp_table')"><font style="color: blue; font-size:10px;"><u>Tambah..</u></font> </a></td>
        </tr>
      </table>
  </td>
</table>
<!--[eoform:profile]-->
<style>
  div.auto_complete {
    width: 350px;
    background: #fff;
    cursor: pointer;
  }
  div.auto_complete ul {
    border:1px solid #888;
    margin:0;
    padding:0;
    width:100%;
    list-style-type:none;
  }
  div.auto_complete ul li {
    margin:0;
    padding:3px;
  }
  div.auto_complete ul li.selected {
    background-color: #ffb;
  }
  div.auto_complete ul strong.highlight {
    color: #800;
    margin:0;
    padding:0;
  }
</style>
