 <table  class="seven" width="95%" <%=list_border%> align="center" cellpadding="<%=list_cellpadding%>" cellspacing="<%=list_cellspacing%>" bgcolor="<%=list_bgcolor%>">
    <tr bgcolor="#999999">
      <td class="el" width="2%" valign="top" id="name20"><font color="#FFFFFF">&nbsp;</font></td>
      <td class="el" width="" align="center"><font color="#FFFFFF"><strong>Kod</strong></font></td>
      <td class="el" width="30%" align="left"><font color="#FFFFFF">&nbsp;<strong>Nama Kursus</strong></font></td>
      <td class="el" width="30%" align="left"><font color="#FFFFFF">&nbsp;<strong>Kump. Sasaran</strong></font></td>
      <td class="el" width="5%" align="center"><font color="#FFFFFF"><strong>Tempoh (hari)</strong></font></td>
	  <td class="el" width="" align="center"><font color="#FFFFFF"><strong>Tarikh Mula</strong></font></td>
      <td class="el" width="" align="center"><font color="#FFFFFF"><strong>Tarikh Akhir</strong></font></td>
      <td class="el" width="" align="center"><font color="#FFFFFF"><strong>Status</strong></font></td>      
    </tr>
<%
i = 1;
even = true;

  bgclr = "#CCCCFF" if (even == true)
  bgclr = "#FFFFFE" if (even == false)
  even = !even
  query = @course_implementation
  show_menu = "show"

%>
    <tr class="list" bgcolor="<%=bgclr%>" onmouseover="this.style.background='#FFFFCC'" onmouseout="this.style.background='<%=bgclr%>'" >
      <td class="el" id="name" align="right"><%= i.to_s %>.</td>
      <td class="el" align="center"><%=h query.code.upcase %></td>
      <td class="el" align="left"><%=h query.course.name.upcase %></td>
      <td class="el" align="left"><%=h query.course.target_group %></td>
      <td class="el" align="center"><%=h query.jumlah_hari %></td>
      <td class="el" align="center">&nbsp;<%=h query.date_plan_start.to_formatted_s(:my_format_4) %></td>
      <td class="el" align="center">&nbsp;<%=h query.date_plan_end.to_formatted_s(:my_format_4) %></td>
      <td class="el" align="center"><%=h query.course.course_status.description.upcase %></td>
    </tr>
  </table>
<input type="hidden" name="course_implementation_code" value="<%=@course_implementation.code if @course_implementation%>">
