<% if @quiz.errors.any? %>
  <ul>
    <% @quiz.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<!--[form:quiz]-->
<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
  <tr>
    <td align="right"><b>Nama dan Kod Kursus :</b></td>
    <td><font><%=@ci.course.name.upcase%> (<%=@ci.code%>)<%= hidden_field 'quiz', 'course_implementation_id', :value=>@ci.id  %>
        <%= hidden_field 'quiz', 'course_id', :value=>@ci.course_id  %></font></td>
  </tr>
  <tr>
    <td align="right"><b>Kod Bahagian :</b></td>
    <td><font><%=@ci.course.course_department.code%> (<%=@ci.course.course_department.description%>)<%= hidden_field 'quiz', 'course_department_id', :value=>@ci.course.course_department_id  %></font></td>
  </tr>
  <tr>
    <td align=right><b>Nama Ujian :</b></td>
    <td><%= text_field 'quiz', 'name', :maxlength=>255, :size=>50  %></td>
  </tr>
  <tr>
    <td align="right" valign="TOP"><strong>Tarikh &amp; Masa Mula Ujian :</strong></td>
    <td>
      <input id="day_check_in" type=text name="day_check_in" value="<%=@day%>" size=2 maxlength=2 >
      -
      <input id="month_check_in" type=text name="month_check_in" value="<%=@month%>" size=2 maxlength=2 >
      -
      <input id="year_check_in" type=text name="year_check_in" value="<%=@year%>" size=4 maxlength=4>
      &nbsp; <input id="hour_check_in" type=text name="hour_check_in" value="<%=@hour%>" size=2 maxlength=2>
      :
      <input id="minute_check_in" type=text name="minute_check_in" value="<%=@minute%>" size=2 maxlength=2>
      <font color="red">dd mm yyyy hh:mm </font></td>
  </tr>
  <tr>
    <td align=right><b>Tempoh Masa Ujian(Masa Tamat Ujian):</b></td>
    <td><%= text_field 'quiz', 'timelimit', :maxlength=>4, :size=>4, :value=>@quiz.timelimit  %> <font color="red">masa dalam format minit (cth 30min) </font></td>
  </tr>
  <tr>
    <td align="right" valign="TOP"><strong>Tarikh &amp; Masa Tutup &nbsp;<br> Peserta Melihat Jawapan :</strong></td>
    <td>
      <input id="day_check_out" type=text name="day_check_out" value="<%=@day_next%>" size=2 maxlength=2>
      -
      <input id="month_check_out" type=text name="month_check_out" value="<%=@month_next%>" size=2 maxlength=2>
      -
      <input id="year_check_out" type=text name="year_check_out" value="<%=@year_next%>" size=4 maxlength=4>
      &nbsp; <input id="hour_check_out" type=text name="hour_check_out" value="<%=@hour_next%>" size=2 maxlength=2>
      :
      <input id="minute_check_out" type=text name="minute_check_out" value="<%=@minute_next%>" size=2 maxlength=2>
      <font color="red">dd mm yyyy hh:mm </font></td>
  </tr>
  <tr>
    <td valign=top align=right><b>Catatan :</b></td>
    <td><%= text_area 'quiz', 'intro', :rows=>5 , :cols=>50 %></td>
  </tr
  <tr>
    <td align=right><b>Papar Maklumat Jawapan :</b></td>
    <td><%= check_box 'quiz', 'shufflequestions' %></td>
  </tr>
  <tr>
    <td align="right" valign="TOP"><strong>Tarikh &amp; Penyediaan &nbsp;<br> Maklumat Ujian :</strong></td>
    <td>
      <input id="day_create" type=text name="day_create" value="<%=@day%>" size=2 maxlength=2>
      -
      <input id="month_create" type=text name="month_create" value="<%=@month%>" size=2 maxlength=2>
      -
      <input id="year_create" type=text name="year_create" value="<%=@year%>" size=4 maxlength=4></td>
  </tr>
  <tr>
    <td align=right><strong>Type Ujian:</strong></td>
    <td><%= select 'quiz', 'quiz_type_id', @quiz_types.collect{|s| [s.description, s.id]} %></td>
  </tr>
</table>
<!--[eoform:quiz]-->

