<!--[form:profile]-->
<%
 dob = @profile.date_of_birth
 if (dob != nil)
  tarikh =  dob.to_s
  tarikh = tarikh.split('-')
  y = tarikh[0]
  m = tarikh[1]
  d = tarikh[2]        
 end
%>
<div align="center">
<%= error_messages_for 'profile' %>
</div>
  <table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">

  <tr bgcolor="000000">
    	<td colspan="4" align="center"><b><font color="#FFFFFF">MAKLUMAT KAKITANGAN</font></b></td>
    </tr>
    <tr>
      <td colspan="4" align="right">&nbsp;</td>
    </tr>
 <tr>
      <td align="right"><b>Kursus : </b></td>
      <td colspan=3>&nbsp;
      <select name="course_application[course_implementation_id]">
        <% @course_implementations.each do |course_implementation| %>
        <option value="<%= course_implementation.id %>"
         		<%= ' selected' if course_implementation.id == @course_application.course_implementation_id %>> <%= course_implementation.course.name %> </option>
        <% end %>
      </select>   
      </td>
   	</tr>
 
 <tr>
      <td align="right"><b>NO KPT : </b></td>
      <td colspan=3>&nbsp;
      <%= text_field 'profile', 'ic_number', :maxlength=>12, :size=>15  %></td>
    </tr>
 <tr>
      <td align="right"><b>Gelaran : </b></td>
      <td colspan=3>&nbsp;
        <select name="profile[title_id]">
        <% @titles.each do |title| %>
        <option value="<%= title.id %>"
         		<%= ' selected' if title.id == @profile.title_id %>> <%= title.description %> </option>
        <% end %>
      </select>      
	</td>
    </tr>    
    <tr>
      <td width="20%" align="right"><b>Nama Penuh : </b></td>
      <td colspan=3>&nbsp;
      <%= text_field 'profile', 'name', :maxlength=>60, :size=>30  %></td>
    </tr>
        <tr>
      <td align="right"><b>NO K/P Lama : </b></td>
      <td>&nbsp;
      <%= text_field 'profile', 'old_ic_number', :maxlength=>8, :size=>10  %></td>
      <td align="right" width=20%><b>Tarikh Lahir :</b></td>
      <td>&nbsp;
      <input type=text name=d_dob maxlength=2 size=3 value="<%=d%>"> /
      <input type=text name=m_dob maxlength=2 size=3 value="<%=m%>"> /
      <input type=text name=y_dob maxlength=4 size=5 value="<%=y%>">            
	</td>
      </tr>
    <tr>
      <td align="right"><b>Jantina :</b></td>
      <td>&nbsp; 
        <select name="profile[gender_id]">
        <% @genders.each do |gender| %>
        <option value="<%= gender.id %>"
         		<%= ' selected' if gender.id == @profile.gender_id %>> <%= gender.description %> </option>
        <% end %>
      </select></td>
      <td align="right"><b>Keturunan :</b></td>
      <td colspan=3>&nbsp;         <select name="profile[race_id]">
        <% @races.each do |race| %>
        <option value= "<%= race.id %>"
         		<%= ' selected' if race.id == @profile.race_id %>> <%= race.description %> </option>
        <% end %>
      </select></td>
    </tr>
    <tr>
      <td align="right"><b>Agama :</b></td>
      <td >&nbsp;
        <select name="profile[religion_id]">
        <% @religions.each do |religion| %>
        <option value="<%= religion.id %>"
         		<%= ' selected' if religion.id == @profile.religion_id %>> <%= religion.description %> </option>
        <% end %>
      </select></td>
      <td align="right"><b>Taraf Perkahwinan :</b></td>
      <td colspan=3>&nbsp; 
        <select name="profile[marital_status_id]">
        <% @marital_statuses.each do |marital_status| %>
        <option value="<%= marital_status.id %>"
         		<%= ' selected' if marital_status.id == @profile.marital_status_id %>> <%= marital_status.description %> </option>
        <% end %>
      </select>
		</td>
    </tr>
    <tr>
    <td colspan=4>&nbsp;</td>
    </tr>
  <tr bgcolor="000000">
    	<td colspan="4" align="center"><b><font color="#FFFFFF">MAKLUMAT WARIS</font></b></td>
    </tr>
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr>
	<tr>
      <td width="20%" align="right"><b>Nama : </b></td>
      <td colspan=3> &nbsp;
          <%= text_field 'relative', 'name'  %></td>
    </tr>
    <tr>
      <td width="20%" align="right"><b>Hubungan : </b></td>
      <td colspan=3> &nbsp;
		<select name="relative[relationship_id]">
			 <option>Sila Pilih</option>
              <% @relationships.each do |relationship| %>
              <option value="<%= relationship.id %>" 
 			  <%= ' selected' if relationship.id == @relative.relationship_id %>> <%= relationship.description %> </option>
              <% end %>
            </select>
        </td>
    </tr>
     <tr>
      <td align="right" valign="top"><b>Alamat :</b></td>
      <td colspan=3>&nbsp;
          <%= text_field 'relative', 'address1', :maxlength=>30, :size=>35  %></td>
    </tr>
    <tr>
      <td align="right">&nbsp;</td>
      <td colspan=3>&nbsp;
          <%= text_field 'relative', 'address2', :maxlength=>30, :size=>35  %></td>
    </tr>
    <tr>
      <td align="right">&nbsp;</td>
      <td colspan=3>&nbsp;
          <%= text_field 'relative', 'address3', :maxlength=>30, :size=>35  %></td>
    </tr>    
    <tr>
      <td align="right"><b>Negeri :</b></td>
      <td colspan=3>&nbsp;
	  <select name="relative[state_id]">
              <% @states.each do |state| %>
              <option value="<%= state.code %>" 
 			  <%= ' selected' if state.id == @relative.state_id %>> <%= state.description %> </option>
              <% end %>
            </select>
      </td>
    </tr>
    <!--tr>
      <td align="right"><b>Negara :</b></td>
      <td colspan=3>&nbsp;
	  <select name="relative[country_id]">
              <% @countries.each do |country| %>
              <option value="<%= country.code %>"
  				<%= ' selected' if country.id == @relative.country_id %>> <%= country.description %> </option>
              <% end %>
            </select>
      </td>
    </tr-->
    <tr>
      <td align="right"><b>No Telefon Rumah :</b></td>
      <td colspan=3>&nbsp;
      <%= text_field 'relative', 'phone', :maxlength=>12, :size=>15  %>      </td>
    </tr>
    <tr>
      <td align="right"><b>No Telefon Bimbit :</b></td>
      <td colspan=3>&nbsp;
      <%= text_field 'relative', 'mobile', :maxlength=>12, :size=>15  %>      </td>
    </tr>
 	<tr>
 	<td colspan=4>&nbsp;</td>
 	</tr>
  <tr bgcolor="000000">
    	<td colspan="4" align="center"><b><font color="#FFFFFF">MAKLUMAT PERKHIDMATAN</font></b></td>
    </tr>
    <tr>
      <td colspan="4" align="right">&nbsp;</td>
    </tr>
   <tr>
      <td align="right"><b>Pejabat :</b></td>
      <td colspan="3">&nbsp;
     <select name="employment[place_id]">
        <% @places.each do |place| %>
        <option value="<%= place.id %>"
         		<%= ' selected' if place.id == @employment.place_id %>> <%= place.name %> </option>
        <% end %>
      </select>      
      </td>
    </tr>
     <tr>
      <td align="right"><b>Jawatan :</b></td>
      <td>&nbsp;
      <%= text_field 'job_profile', 'job_name', :maxlength=>30, :size=>30  %></td>
      <td align="right"><b>Gred :</b></td>
      <td>&nbsp;
 	<select name="employment[job_profile_id]">
        <% @job_profiles.each do |jp| %>
        <option value="<%= jp.id %>"
         		<%= ' selected' if jp.id == @employment.job_profile_id %>> <%= jp.job_grade %> </option>
        <% end %>
      </select></td>
    </tr>
    <tr>
      <td align="right"><b>Bahagian/Unit :</b></td>
      <td>&nbsp; 
	<select name="employment[place_id]">
        <% @places.each do |place| %>
        <option value="<%= place.id %>"
         		<%= ' selected' if place.id == @employment.place_id %>> <%= place.name %> </option>
        <% end %>
      </select>
      </td>      
      <td align="right"><b>E-Mel :</b></td>
      <td>&nbsp;
      <%= text_field 'profile', 'email', :maxlength=>60, :size=>30  %></td>
    </tr>
 	<tr>
 	<td colspan=4>&nbsp;</td>
 	</tr>
  <tr bgcolor="000000">
    	<td colspan="4" align="center"><b><font color="#FFFFFF">MAKLUMAT AKADEMIK</font></b></td>
    </tr>
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr>
    <tr>
    <td valign=top align="center" colspan="5">
    <table border="1" width="90%" align="center">
    <tr>
    <th width="15%">KELAYAKAN</th>
    <th width="25%">INSTITUSI/UNIVERSITI</th>
    <th width="15%">TAHUN</th>            
    </tr>
    <% 
    i = 0
    for cl in @cert_levels
    i = i + 1
    %>
    <tr align=center>
    <td align=left><%= i.to_s %> <%= cl.description %>
    <%= hidden_field 'qualification', 'cert_level_id', :value=> cl.id %></td>
    <td><%= text_field 'qualification', "institution", :maxlength=>100, :size=>30  %></td>
    <td><%= text_field 'qualification', 'year_end', :maxlength=>4, :size=>5  %></td>
    </tr>
    <% end %>
	</table>
	</td>
	</tr>
 	<tr>
 	<td colspan=4>&nbsp;</td>
 	</tr>
  <tr bgcolor="000000">
    	<td colspan="4" align="center"><b><font color="#FFFFFF">PENGAKUAN PEMOHON</font></b></td>
    </tr>
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="4" align="center">&nbsp;
        <script>
			function hideApply() {
				document.getElementById('apply_button').style.visibility='hidden'
			}
			function showApply() {
				document.getElementById('apply_button').style.visibility='visible'
			}
        </script>
        
            <input id="chkbox" type="checkbox" name="checkbox" value="1" onclick="if (this.checked) showApply(); else hideApply()">
&nbsp;&nbsp;SAYA MENGAKU BAHAWA SEMUA KETERANGAN DI ATAS ADALAH BENAR. SEKIRANYA KENYATAAN YANG DIBERIKAN ADALAH TIDAK BENAR, PIHAK INSTUN BERHAK MEMBATALKAN PERMOHONAN INI.</div></td>
    </tr>
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr> 
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr>
    <tr bgcolor="000000">
    	<td colspan="4" align="center">
    	<font color="FFFFFF"><strong>PERAKUAN KETUA JABATAN</strong></font></td>
    </tr> 
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr>    
    <tr>
      <td colspan="4" align="center">&nbsp;
        <script>
			function hideApply() {
				document.getElementById('apply_button').style.visibility='hidden'
			}
			function showApply() {
				document.getElementById('apply_button').style.visibility='visible'
			}
        </script>
        
            <!--input id="checkbox222" type="checkbox" name="checkbox" value="checkbox" onclick="if (this.checked) showApply(); else hideApply()"-->
&nbsp;&nbsp;SAYA MENGESAHKAN BAHAWA SEMUA KENYATAAN YANG DIBERIKAN OLEH PEMOHON ADALAH BENAR. PERMOHONAN 
BELIAU BAGI MENGIKUTI KURSUS INI DISOKONG.</div></td>
    </tr>
    <tr>
      <td colspan="3" align="right">Nama&nbsp;</td>
      <td>&nbsp;</td>
    </tr> 
    <tr>
      <td colspan="3" align="right">Jawatan</td>
      <td>&nbsp;</td>
    </tr>

      </table>
<!--[eoform:profile]-->
