<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF">KEMASKINI AKADEMIK <%=h @profile.name %></font></th>
    </tr>
          <tr>
   <td>&nbsp;</td>
    </tr>
    <tr>
    <th><%= link_to 'Lihat Akademik', :action => 'view_akademik', :id => @profile %></th>
    </tr>
    <tr>
   <td>&nbsp;</td>
    </tr>
   </table>
  <BR>

<%= start_form_tag :action => 'update_akademik', :id => @profile %>
  <%= render :partial => 'form_akademik' %>
  <BR>
  <div align=center>
  <%= submit_tag 'Edit' %>
  </div>
<%= end_form_tag %>