<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
  <tr>
    <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF">KEMASKINI KATA LALUAN <%= h @profile.name %></font></th>
  </tr>

</table>
<table align=center border=1 width=95% bgcolor="#EEEDDD">
  <tr>
    <th width="15%" bgcolor="#EEEEEE"><%= link_to 'Peribadi', :action => 'view' %></th>
    <!--th width="15%" bgcolor="#EEEEEE"><%= link_to 'Waris', :action => 'view_waris', :id => @profile %></th>
<th width="15%" bgcolor="#EEEEEE"><%= link_to 'Perkhidmatan', :action => 'view_khidmat', :id => @profile %></th>
<th width="15%" bgcolor="#EEEEEE"><%= link_to 'Akademik', :action => 'view_akademik', :id => @profile %></th-->
    <th width="15%" bgcolor="#EEEEEE"><%= link_to 'Rekod Kursus', :action => 'view_kursus' %></th>
    <th width="15%" bgcolor="#EEEEEE"><%= link_to 'Tukar Kata Laluan', :action => 'edit_password' %></th>
  </tr>
</table>
<BR>

<%= form_for(@profile, :url => {:action => 'update_password'}, :id => @profile) do |f| %>
    <%= render :partial => 'form_password' %>
    <BR>
    <div align=center>
      <%= submit_tag 'Tukar Kata Laluan' %>
    </div>
<% end %>