<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">AKADEMIK <%=h @profile.name %></font></b></td>
    </tr>
  </table>
  <br>
<table border=1 align=center width=95% cellpadding=2 cellspacing=1 bgcolor="#EEEEEE">
<tr>
<th width="15%"><%= link_to 'Peribadi', :action => 'view', :id => @profile %></th>
<th width="15%"><%= link_to 'Waris', :action => 'view_waris', :id => @profile %></th>
<th width="15%"><%= link_to 'Perkhidmatan', :action => 'view_khidmat', :id => @profile %></th>
<th width="15%"><%= link_to 'Akademik', :action => 'view_akademik', :id => @profile %></th>
<th width="15%"><%= link_to 'Kursus', :action => 'view_kursus', :id => @profile %></th>
<th width="15%"><%= link_to 'Tukar Kata Laluan', :action => 'edit_password', :id => @profile %></th>
</tr>
</table>
<BR>
<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center"><strong>
      <%= link_to 'Kemaskini', :action => 'edit_akademik', :id => @profile %></strong></td>
    </tr>
  </table>
<BR>

  <table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">    
  <tr bgcolor="000000">
    	<td colspan="2" align="center"><strong><font color="#FFFFFF">MAKLUMAT AKADEMIK</font></strong></td>
    </tr>
    <tr>
      <td colspan="2" align="right">&nbsp;</td>
    </tr>
    <table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#777777">
    <tr bgcolor="#999999" id="pisang">
      <td width="2%" valign="top"><font color="#FFFFFF">Bil</font></td>
      <td width="30%" align="center"><font color="#FFFFFF"><strong> Kelayakan </strong></font></td>
      <td width="20%" align="center"><font color="#FFFFFF"><strong> Institusi/Universiti </strong></font></td>
      <td width="10%" align="center"><font color="#FFFFFF"><strong> Tahun </strong></font></td>
      </tr>

  	<%	
	i = 0
	even = true
	for q in @qualifications
		i = i + 1
		bgclr = "#CCCCFF" if (even == true)
		bgclr = "#FFFFFF" if (even == false)
		even = !even
		%>
 <tr bgcolor="<%=bgclr%>" align=center>
      <td><%= i.to_s %>.</td>
      <td><%=h q.cert_level.description if q.cert_level %></td>
      <td><%=h q.institution %></td>
      <td><%=h q.year_end %></td>

    </tr>
 <%end %>

  </table>
