<%= show_error_messages(@question_section) %>

<!--[form:question_section]-->
<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
<tr>
      <td align="right"><b>Jenis Borang :</b></td>
      <td><select name="question_section[question_type_id]">
            <% @question_types.each do |question_type| %>
            <option value="<%= question_type.id %>"
         		<%= ' selected' if question_type.id == @question_section.question_type_id %>> <%= question_type.description %> </option>
            <% end %>
          </select>
        |  <%= link_to 'Tambah', :controller => 'question_types', :action => 'new' %> jenis borang
      </td>
    </tr>
<tr>
	<td align=right><b>Keterangan :</b></td>
	<td><%= text_field 'question_section', 'description', :maxlength=>100, :size=>30  %></td>	
</tr>
</table>
<!--[eoform:question_section]-->

