<%= error_messages_for 'quiz_answer' %>

<!--[form:quiz_answer]-->
<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
<tr>
	<td valign=top align=right><b>Jawapan :</b></td>
	<td><%= text_area 'quiz_answer', 'answer', :rows => 3 %>
	<%= hidden_field 'quiz_answer', 'quiz_question_id', :value=> @quiz_question.id %>
	</td>	
</tr>

<tr>
	<td align=right><b>Fraction :</b></td>
	<td><%= text_field 'quiz_answer', 'fraction' %></td>	
</tr>

<tr>
	<td align=right><b>Maklum Balas :</b></td>
	<td><%= text_area 'quiz_answer', 'feedback', :rows => 3 %></td>	
</tr>
</table>

<!--[eoform:quiz_answer]-->

