<h1>Listing quiz_answers</h1>

<table>
  <tr>
  <% for column in QuizAnswer.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for quiz_answer in @quiz_answers %>
  <tr>
  <% for column in QuizAnswer.content_columns %>
    <td><%=h quiz_answer.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => quiz_answer %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => quiz_answer %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => quiz_answer }, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @quiz_answer_pages.current.previous } if @quiz_answer_pages.current.previous %>
<%= link_to 'Next page', { :page => @quiz_answer_pages.current.next } if @quiz_answer_pages.current.next %> 

<br />

<%= link_to 'New quiz_answer', :action => 'new' %>
