<% if @check %>
<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr>
      <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF">JAWAPAN UJIAN <%=h nof{@quiz.name} %></font></th>
    </tr>
    <tr>
    <td>&nbsp;</td>
    </tr>
    <tr><th>Nama: <%= nof{@profile.name} %></th></tr>
    <tr><th>Nama dan Kod Kursus: <%= nof{@quiz.course_implementation.course.name} %>(<%= nof{@quiz.course_implementation.code} %>)</th></tr>
    <tr><th>Tempoh Kursus: <%= nof{@quiz.course_implementation.date_plan_start.to_formatted_s(:my_format_4)} %> hingga <%= nof{@quiz.course_implementation.date_plan_end.to_formatted_s(:my_format_4)} %></th></tr>
    <tr><th>Tarikh dan Masa Ujian: <%= nof{@quiz.timeopen.to_formatted_s(:my_format_7)} %></th></tr>
    <tr>
    <tr>
    <td>&nbsp;</td>
    </tr>
    <th>
    <%= link_to 'Kembali', :controller => 'user_applications', :action => 'history', :id => @course_application.id %> ke senarai rekod kursus
    </th>
    </tr>
  </table>
  <BR>
  <table width="85%" border="0" align="center" cellpadding="4" cellspacing="1" bgcolor="#777777">
  <tr bgcolor="#999999">
  <td width="5%"><b><font color="#FFFFFF">Bil</font></b></td>
  <td width="30%"><b><font color="#FFFFFF">&nbsp;Soalan</font></b></td>
  <td width="30%"><b><font color="#FFFFFF">&nbsp;Jawapan Peserta</font></b></td>
  <td width="20%"><b><font color="#FFFFFF">&nbsp;Jawapan Sebenar</font></b></td>
   </tr>

<%
i = 0;
even = true;
for quiz_question in @quiz.quiz_questions
        i = i + 1
        bgclr = "#CCCCFF" if (even == true)
        bgclr = "#FFFFFF" if (even == false)
        even = !even
%>
<tr bgcolor="<%=bgclr%>" >
    <td><%= i %></td>
    <td align=left>&nbsp;<%= nl2br(quiz_question.questiontext) %></td>

    <% if quiz_question.quiz_type_id == 1 %>
        <td>
        <select id="quiz_answer[<%= i %>][answer]" name="quiz_answer[<%= i %>][answer]">
        <option value="Betul">Betul</option>
        <option value="Salah">Salah</option>
        </select>
        <%= hidden_field 'quiz_answer', 'quiz_question_id', :index => i, :value=> quiz_question.id %></td>

        <% elsif quiz_question.quiz_type_id == 3 %>
        <td>
        <textarea rows="2" id="quiz_answer[<%= i %>][answer]" name="quiz_answer[<%= i %>][answer]"></textarea>
        <%= hidden_field 'quiz_answer', 'quiz_question_id', :index => i, :value=> quiz_question.id %></td>

        <% elsif quiz_question.quiz_type_id == 2 %>
        <td>
                <% for q in quiz_question.quiz_objectives %>
                <% jawap = QuizAnswer.find_by_quiz_question_id_and_profile_id("#{quiz_question.id}","#{@profile.id}")
                   cp = CourseApplication.find(:first, :conditions=> "course_implementation_id='#{@quiz.course_implementation_id}' and profile_id = '#{@profile.id}'")
		   if jawap && (q.id == jawap.answer)
                   checked = "checked=\"checked\""
                   else
                   checked = ""
                   end
                %>
                <input type="radio" id="quiz_answer[<%= i %>][answer]" name="quiz_answer[<%= i %>][answer]" value="<%=q.id%>" <%=checked%>/>
                <%= nl2br(q.answer) %><BR>
                <%end %>
        <%= hidden_field 'quiz_answer', 'quiz_question_id', :index => i, :value=> quiz_question.id %>
        <%= hidden_field 'quiz_answer', 'course_implementation_id', :index => i, :value=> @quiz.course_implementation_id %>
        <%= hidden_field 'quiz_answer', 'quiz_id', :index => i, :value=> quiz_question.quiz_id %>
        <%= hidden_field 'quiz_answer', 'course_application_id', :index => i, :value=> cp.id %></td>
	<% keputusan = QuizObjective.find(:first, :conditions=> "quiz_question_id='#{quiz_question.id}' AND answer_type_id = '1'")
	   masa = Time.now
	%>
	<% if masa > @quiz.timeclose || @quiz.shufflequestions == 0 %>
	<td><font color=blue>Paparan Jawapan Tidak Dibenarkan</font></td>
	<% else %>
	<td><font color=blue><%= keputusan.answer %></font></td>
	<% end %>
        <% else %>
        <td><%= hidden_field 'quiz_answer', 'quiz_question_id', :index => i, :value=> quiz_question.id %></td>
    <% end %>
  </tr>
 <% end %>
</table>
<% else %>
<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr>
    <td>&nbsp;</td>
    </tr>
    <tr><th>TIADA REKOD JAWAPAN UJIAN</th></tr>
  </table>
<% end %>
