<% content_for :js do %>
  <script type="text/javascript">
    function MM_openBrWindow(theURL,winName,features) { //v2.0
      window.open(theURL,winName,features);
    }

    function formHandler(){
      var URL = document.form.dept.options[document.form.dept.selectedIndex].value;
      window.location.href = URL;
    }

    $(function() {
      // Cek Kod Kursus
      $("#course_implementation_code").keyup(function() {
        $(this).val($(this).val().toUpperCase());
        $.ajax({
          type: 'POST',
          url: '/ajax/check_existence_of_course_implementation_code',
          data: "course_implementation_code=" + $(this).val().toUpperCase(),
          success: function(data){eval(data);}
        });
      });
      
      //bidang selection
      $("#course_department_id").change(function() {
        $.ajax({
          type: 'POST',
          url: '/ajax/ajax_find_course_field',
          data: 'id='+$('#course_department_id :selected').val(),
          success: function(data){eval(data);}
        });
        $.ajax({
          type: 'POST',
          url: '/ajax/ajax_find_coordinator',
          data: 'id='+$('#course_department_id :selected').val(),
          success: function(data){eval(data);}
        });
      });
      
      // updateTarikhTutupMohon
      $("#day_start").change(function() {
        updateTarikhTutupMohon();
      });
      $("#month_start").change(function() {
        updateTarikhTutupMohon();
      });
      $("#year_start").change(function() {
        updateTarikhTutupMohon();
      });

      function updateTarikhTutupMohon() {
        //auto date : checkin,mula mohon, tutup mohon
        var year  = $('#year_start').val();
        var month = $('#month_start').val();
        var day   = $('#day_start').val();
        if ( (day!="") && (month!="") && (year!="") ) {
          $('intr_date_start').innerHTML = "checking date.."
          $.ajax({
            type: 'POST',
            url: '/ajax/auto_tarikh_tutup',
            data: "start_year=" + year + "&start_month=" + month + "&start_day=" + day,
            success: function(data){eval(data);}
          });
        }
      }
      $("#day_end").change(function() {
        updateTarikhTutupPenilaian();
      });
      $("#month_end").change(function() {
        updateTarikhTutupPenilaian();
      });
      $("#year_end").change(function() {
        updateTarikhTutupPenilaian();
      });
      
      function updateTarikhTutupPenilaian() {
        var sy = $('#year_start').val()
        var sm = $('#month_start').val()
        var sd = $('#day_start').val()

        var year  = $('#year_end').val()
        var month = $('#month_end').val()
        var day   = $('#day_end').val()
        data = "y=" + year + "&m=" + month + "&d=" + day + "&sy=" + sy + "&sm=" + sm + "&sd=" + sd

        if ( (day!="") && (month!="") && (year!="") ) {
          $('intr_date_end').innerHTML = "checking date.."
          $.ajax({
            type: 'POST',
            url: '/ajax/isvalid_date',
            data: data,
            success: function(data){eval(data);}
          });
        }
      }
    });
    
  </script>
<% end %>
<div align="center">
  <%= flash[:notice] %>
  <%= show_error_messages @course %>
  <%= show_error_messages @course_implementation %>
</div>


<!--[form:course]-->
<%
theid = params[:id]
course_id = params[:course_id]  #ambil data dari link_to

jams = ["00","01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20","21","22","23"]
minits = ["00","30"]

time_start = "08:00"
time_end = "16:30"
@cc = @course.code
if @cc != nil
  qs = Course.find_by_sql("SELECT * FROM courses WHERE code = '"+ @cc +"' ")
  jumscrs = qs.size
  for q in qs
  %><input type=hidden name=course_id value="<%=q.id%>"><%
  end
end
%>	 

<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">


  <tr>
    <td align="right" valign="TOP"><strong>Bahagian</strong></td>
    <td width="1%" align="CENTER" valign="TOP"><strong>:</strong></td>
    <td><span id="department_selection">
        <select id="course_department_id" name="course[course_department_id]">
          <option value="">Sila Pilih</option>
          <% @course_departments.each do |course_department| %>
            <option value="<%= course_department.id %>"
                    <%= ' selected' if course_department.id == @course.course_department_id %>> <%= course_department.description %> </option>
                  <% end %>
        </select>
      </span></td>
  </tr>
  <tr>
    <td align="right" valign="TOP"><strong>Bidang</strong></td>
    <td align="CENTER" valign="TOP"><strong>:</strong></td>
    <td><span id="field_selection">
        <select id="course_field_id" name="course[course_field_id]"  style=\"width: 150;\">
                <option value="">Pilih Bidang</option>
                  <% @course_fields.each do |course_field| %>
            <option value="<%= course_field.id %>" <%= ' selected' if course_field.id == @course.course_field_id %>> <%= course_field.description %> </option>
          <% end %>
        </select>
      </span>
      [<a href="javascript: MM_openBrWindow('/course_fields/new_popup','','scrollbars=yes,width=600,height=400')">Tambah</a>]</td>
  </tr>

  <tr>
    <td align="right" valign="TOP"><strong> Kod Kursus</strong></td>
    <td align="CENTER" valign="TOP"><strong>:</strong></td>
    <td>
      <span class="blockintro"><%= hidden_field 'course', 'id' %>
        <%= text_field 'course_implementation', 'code', :maxlength=>10, :size=>15%>  <font color="orange">*cth:TM01/03</font>
      </span>
    </td>
  <input type=hidden name=time_start value="<%=time_start%>" />
  <input type=hidden name=time_end value="<%=time_end%>" />
</tr>

<tr>
  <td align="right" valign="TOP"><strong>Nama Kursus </strong></td>
  <td align="CENTER" valign="TOP"><strong>:</strong></td>
  <td><span class="blockintro"><%= text_field 'course', 'name', :maxlength=>100, :size=>70, :onchange=>"this.value=this.value.toUpperCase()"  %></span></td>
</tr>

<% cd = params[:course_department] %>

<tr>
  <td align="right" valign=TOP><strong>Kumpulan Sasaran</strong></td>
  <td align="CENTER" valign="TOP"><strong>:</strong></td>
  <td><span class="blockintro"><%= text_field 'course', 'target_group', :size=>70, :class=>"email"  %></span></td>
</tr>
<tr>
  <td align="CENTER" valign="TOP" colspan="3"><hr size=1 width="70%"/></td>
</tr>


<tr>
  <td align="right" valign="TOP"><strong> Tarikh Mula Kursus </strong></td>
  <td align="CENTER" valign="TOP"><strong>:</strong></td>
  <td>
    <input id="day_start" type=text name="day_start" value="<%=@day_start%>" size="2" maxlength="2" /> -
    <input id="month_start" type=text name="month_start" value="<%=@month_start%>" size="2" maxlength="2"/> -
    <input id="year_start" type=text name="year_start" value="<%=@year_start%>" size=4 maxlength=4 onfocus="if (this.value=='') this.value='200'"/> &nbsp;<font color="orange">dd mm yyyy</font>&nbsp;<span id="intr_date_start"></span>
  </td>
</tr>
<tr>
  <td align="right" valign="TOP"><strong> Tarikh Akhir Kursus </strong></td>
  <td align="CENTER" valign="TOP"><strong>:</strong></td>
  <td><input id="day_end" type=text name="day_end" value="<%=@day_end%>" size=2 maxlength=2 /> -
    <input id="month_end" type=text name="month_end" value="<%=@month_end%>" size=2 maxlength=2 /> -
    <input id="year_end" type=text name="year_end" value="<%=@year_end%>" size=4 maxlength=4 onfocus="if (this.value=='') this.value='200'" />
    &nbsp;<font color="orange">dd mm yyyy</font>&nbsp;<span id="intr_date_end"></span></td>
</tr>
<tr>
  <td align="right" valign="TOP"><em><strong>Tarikh &amp; Masa Check-In </strong></em></td>
  <td align="CENTER" valign="TOP"><strong>:</strong></td>
  <td><input id="day_check_in" type=text name="day_check_in" value="<%=@day_check_in%>" size=2 maxlength=2 >
    -
    <input id="month_check_in" type=text name="month_check_in" value="<%=@month_check_in%>" size=2 maxlength=2 >
    -
    <input id="year_check_in" type=text name="year_check_in" value="<%=@year_check_in%>" size=4 maxlength=4 onfocus="if (this.value=='') this.value='200'">
    &nbsp; <input id="hour_check_in" type=text name="hour_check_in" value="<%=@hour_check_in%>" size=2 maxlength=2">
    :
    <input id="minute_check_in" type=text name="minute_check_in" value="<%=@minute_check_in%>" size=2 maxlength=2>
    <font color="orange">dd mm yyyy hh:mm </font></td>
</tr>
<tr>
  <td align="right" valign="TOP"><em><strong>Tarikh &amp; Masa Check-Out</strong></em></td>
  <td align="CENTER" valign="TOP"><strong>:</strong></td>
  <td><input id="day_check_out" type=text name="day_check_out" value="<%=@day_check_out%>" size=2 maxlength=2>
    -
    <input id="month_check_out" type=text name="month_check_out" value="<%=@month_check_out%>" size=2 maxlength=2>
    -
    <input id="year_check_out" type=text name="year_check_out" value="<%=@year_check_out%>" size=4 maxlength=4 onfocus="if (this.value=='') this.value='200'">
    &nbsp; <input id="hour_check_out" type=text name="hour_check_out" value="<%=@hour_check_out%>" size=2 maxlength=2>
    :
    <input id="minute_check_out" type=text name="minute_check_out" value="<%=@minute_check_out%>" size=2 maxlength=2>
    <font color="orange">dd mm yyyy hh:mm </font></td>
</tr>
<tr>
  <td align="right" valign="TOP"><em><strong>Tarikh &amp; Masa Suaikenal &amp; Taklimat </strong></em></td>
  <td align="CENTER" valign="TOP"><strong>:</strong></td>
  <td><input id="day_briefing" type=text name="day_briefing" value="<%=@day_briefing%>" size=2 maxlength=2 >
    -
    <input id="month_briefing" type=text name="month_briefing" value="<%=@month_briefing%>" size=2 maxlength=2 >
    -
    <input id="year_briefing" type=text name="year_briefing" value="<%=@year_briefing%>" size=4 maxlength=4 onfocus="if (this.value=='') this.value='200'">
    &nbsp; <input id="hour_briefing" type=text name="hour_briefing" value="<%=@hour_briefing%>" size=2 maxlength=2">
    :
    <input id="minute_briefing" type=text name="minute_briefing" value="<%=@minute_briefing%>" size=2 maxlength=2>
    <font color="orange">dd mm yyyy hh:mm </font></td>
</tr>

<tr>
  <td align="right" valign="TOP"><em><strong> Tarikh Siar </strong></em></td>
  <td align="CENTER" valign="TOP"><strong>:</strong></td>
  <td><input id="day_publish" type=text name="day_publish" value="<%=@day_publish%>" size="2" maxlength="2" onchange="//"> -
    <input id="month_publish" type=text name="month_publish" value="<%=@month_publish%>" size="2" maxlength="2" onchange="//"> -
    <input id="year_publish" type=text name="year_publish" value="<%=@year_publish%>" size=4 maxlength=4 onfocus="if (this.value=='') this.value='200'" onchange="//"> &nbsp;<font color="orange">dd mm yyyy</font></td>
</tr>
<tr>
  <td align="right" valign="TOP"><em><strong> Tarikh Mula Permohonan </strong></em></td>
  <td align="CENTER" valign="TOP"><strong>:</strong></td>
  <td><input id="day_apply_start" type=text name="day_apply_start" value="<%=@day_apply_start%>" size="2" maxlength="2" onchange="//updateTarikhTutup()"> -
    <input id="month_apply_start" type=text name="month_apply_start" value="<%=@month_apply_start%>" size="2" maxlength="2" onchange="//updateTarikhTutup()"> -
    <input id="year_apply_start" type=text name="year_apply_start" value="<%=@year_apply_start%>" size=4 maxlength=4 onfocus="if (this.value=='') this.value='200'" onchange="//updateTarikhTutup()"> &nbsp;<font color="orange">dd mm yyyy</font></td>
</tr>
<tr>
  <td align="right" valign="TOP"><em><strong>Tarikh Tutup Permohonan</strong></em></td>
  <td align="CENTER" valign="TOP"><strong>:</strong></td>
  <td><input id="day_apply_end" type=text name="day_apply_end" value="<%=@day_apply_end%>" size=2 maxlength=2> -
    <input id="month_apply_end" type=text name="month_apply_end" value="<%=@month_apply_end%>" size=2 maxlength=2> -
    <input id="year_apply_end" type=text name="year_apply_end" value="<%=@year_apply_end%>" size="4" maxlength="4" onfocus="if (this.value=='') this.value='200'">
    &nbsp;<font color="orange">dd mm yyyy</font></td>
</tr>

<tr>
  <td align="right" valign="TOP"><em><strong>Tarikh Semakan Status Permohonan</strong></em></td>
  <td align="CENTER" valign="TOP"><strong>:</strong></td>
  <td><input type=text id="day_check" name="day_check" value="<%=@day_check%>" size=2 maxlength=2> -
    <input type=text id="month_check" name="month_check" value="<%=@month_check%>" size=2 maxlength=2> -
    <input type=text id="year_check" name="year_check" value="<%=@year_check%>" size=4 maxlength=4>
    &nbsp;<font color="orange">dd mm yyyy</font></td>
</tr>
<tr>
  <td align="right" valign="TOP"><em><strong> Tarikh Tutup Penilaian </strong></em></td>
  <td align="CENTER" valign="TOP"><strong>:</strong></td>
  <td><input id="day_evaluation_end" type=text name="day_evaluation_end" value="<%=@day_evaluation_end%>" size=2 maxlength=2> -
    <input id="month_evaluation_end" type=text name="month_evaluation_end" value="<%=@month_evaluation_end%>" size=2 maxlength=2> -
    <input id="year_evaluation_end" type=text name="year_evaluation_end" value="<%=@year_evaluation_end%>" size=4 maxlength=4 onfocus="if (this.value=='') this.value='200'">
    &nbsp;<font color="orange">dd mm yyyy</font></td>
</tr>

<script>
  arr = ['publish','apply_start','apply_end', 'evaluation_end', 'check', 'check_in', 'check_out'];
  $.each( arr, function( key ) {
    $('#day_' + key).css({"border-color" :"#dddddd"});
    $('#month_' + key).css({"border-color" :"#dddddd"});
    $('#year_' + key).css({"border-color" :"#dddddd"});
  });
  $('#hour_check_in').css({"border-color" :"#dddddd"});
  $('#minute_check_in').css({"border-color" :"#dddddd"});
  $('#hour_check_out').css({"border-color" :"#dddddd"});
  $('#minute_check_out').css({"border-color" :"#dddddd"});


</script>
<!--tr>
  <td align="right" valign="TOP">&nbsp;</td>
  <td align="CENTER" valign="TOP">&nbsp;</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td align="center" valign="TOP" colspan="3">

	  <fieldset style="width: 600">
	   <legend><b>Tarikh</b></legend>
	  </fieldset>

	  </td>
</tr>
<tr>
  <td align="right" valign="TOP">&nbsp;</td>
  <td align="CENTER" valign="TOP">&nbsp;</td>
  <td>&nbsp;</td>
</tr-->

<tr>
  <td align="CENTER" valign="TOP" colspan="3"><hr size="1" width="70%"></td>
</tr>
<tr>
  <td align="right" valign="TOP"><strong>Bil. Peserta</strong></td>
  <td align="CENTER" valign="TOP"><strong>:</strong></td>
  <td><span class="blockintro"><%= text_field 'course_implementation', 'capacity', :maxlength=>10, :size=>3  %></span></td>
</tr>
<tr>
  <td align="right" valign="TOP"><strong>Tempat</strong></td>
  <td align="CENTER" valign="TOP"><strong>:</strong></td>
  <td><span class="blockintro">
      <select id="course_course_location_id" name="course[course_location_id]">
        <option value="">Sila Pilih</option>
        <% @course_locations.each do |course_location| %>
          <option value="<%= course_location.id %>"
                  <%= ' selected' if course_location.id == @course.course_location_id %>> <%= course_location.description %> </option>
                <% end %>
      </select>
    </span>
    [<a href="javascript: MM_openBrWindow('/course_locations/new_popup','','scrollbars=yes,width=600,height=400')">Tambah</a>]</td>
</tr>
<tr>
  <td align="right" valign="TOP"><strong>Objektif</strong></td>
  <td align="CENTER" valign="TOP"><strong>:</strong></td>
  <td><span class="blockintro"><%= text_area 'course', 'objective', :rows=>10 , :cols=>80 %></span></td>
</tr>
<tr>
  <td align="right" valign="TOP"><strong>Kandungan</strong></td>
  <td align="CENTER" valign="TOP"><strong>:</strong></td>
  <td><span class="blockintro"><%= text_area 'course', 'content', :rows=>15 , :cols=>80 %></span></td>
</tr>
<tr>
  <td align="right" valign="TOP"><strong>Rujukan</strong></td>
  <td align="CENTER" valign="TOP"><strong>:</strong></td>
  <td><span class="blockintro"><%= text_area 'course', 'reference', :rows=>10 , :cols=>80 %></span></td>
</tr>

<tr>
  <td align="right" valign=TOP><strong>Metodologi</strong></td>
  <td align="CENTER" valign="TOP"><strong>:</strong></td>
  <td><% Methodology.find(:all).each do |g| %>
      <input type="checkbox" name="course[methodology_ids][]" value="<%= g.id %>"
             <% if @course.methodologies.include?(g) %> checked="checked" <% end %> />
      <%= g.description %><br>
    <% end %>
    [<a href="javascript: MM_openBrWindow('/methodologies/new_popup','','scrollbars=yes,width=600,height=400')">Tambah</a>]</td>
</tr>
<!--tr>
			<td align="right" valign="TOP"><strong>Upload Jadual Waktu :</strong></td>
			<td align="CENTER" valign="TOP"><strong>:</strong></td>
	    	<td><span class="blockintro">
<%= file_field "course_implementation", "file" %></span></td>
		</tr-->
<tr>
  <td align="right" valign="TOP"><strong>Yuran</strong></td>
  <td align="CENTER" valign="TOP"><strong>:</strong></td>
  <td><span class="blockintro">RM
      <%= text_field 'course', 'fee', :maxlength=>11, :size=>10 ,:value=>"30" %></span></td>
</tr>

<%
cid = @course_implementation.id
arrprofile = Array.new
if (cid != nil)
  querys = CourseImplementation.find_by_sql("select * from course_implementations_profiles where course_implementation_id=#{cid} ORDER BY sort")
  for query in querys
    @to_time = query.profile_id
    arrprofile.push(@to_time)
  end
  jum = querys.size
end
%>  

<tr>
  <td align="right" valign="TOP"><strong>Ketua Program </strong></td>
  <td align="CENTER" valign="TOP"><strong>:</strong></td>
  <td><span id="ketua_program_selection">
      <%=
      #@coordinators = Staff.find(:all, :conditions=>"is_coordinator = 1")
      @coordinators = Staff.where("staffs.status= ? AND is_coordinator = ?", true,1 ).joins(:profile)
      #@coordinators= Staff.find_by_sql("SELECT staffs.* from staffs INNER join profiles ON staffs.profile_id=profiles.id AND staffs.status=1 AND is_coordinator=1 order by name asc")
      @id_coordinators = @coordinators.map { |t| [t.profile.name, t.id] }
      @id_coordinators.unshift(["Sila Pilih", ""])
      select(:course_implementation, :ketua_program, @id_coordinators)
    %></td>
</tr>
<tr>
  <td align="right" valign="TOP"><strong>Penolong Ketua Program </strong></td>
  <td align="CENTER" valign="TOP"><strong>:</strong></td>
  <td><span id="pen_ketua_program_selection"><%=
      #@coordinators = Staff.find(:all, :conditions=>"is_coordinator = 1")
      #@coordinators= Staff.find_by_sql("SELECT staffs.* from staffs INNER join profiles ON staffs.profile_id=profiles.id AND staffs.status=1 AND is_coordinator=1 order by name asc")
      @id_coordinators = @coordinators.map { |t| [t.profile.name, t.id] }
      @id_coordinators.unshift(["Sila Pilih", ""])
      select(:course_implementation, :pen_ketua_program, @id_coordinators)
    %></td>
</tr>
<tr>
  <td align="right" valign="TOP"><strong>Penyelaras</strong></td>
  <td align="CENTER" valign="TOP"><strong>:</strong></td>
  <%
  if !@course_implementation.coordinator1
    @course_implementation.coordinator1 = session[:user].profile.staff.id if session[:user].profile.staff
  end
%>
  <td><span id="coordinator1_selection">
      <%=
      #@coordinators = Staff.find(:all, :conditions=>"is_coordinator = 1")
      #@coordinators= Staff.find_by_sql("SELECT staffs.* from staffs INNER join profiles ON staffs.profile_id=profiles.id AND staffs.status=1 AND is_coordinator=1 order by name asc")
      @id_coordinators = @coordinators.map { |t| [t.profile.name, t.id] }
      @id_coordinators.unshift(["Sila Pilih", ""])
      select(:course_implementation, :coordinator1, @id_coordinators)
    %></span></td>
</tr>

<tr>
  <td align="right" valign="TOP"><strong>Penolong Penyelaras</strong></td>
  <td align="CENTER" valign="TOP"><strong>:</strong></td>
  <td>
    <span id="coordinator2_selection">
      <%=
      #@coordinators = Staff.find(:all, :conditions=>"is_coordinator = 1")
      #@id_coordinators = @coordinators.map { |t| [t.profile.name, t.id] }
      #@id_coordinators.unshift(["Sila Pilih", ""])
      select(:course_implementation, :coordinator2, @id_coordinators)
    %></span></td>
</tr>

<tr>
  <td align="right" valign="TOP"><strong>Status</strong></td>
  <td align="CENTER" valign="TOP"><strong>:</strong></td>
  <td><span class="blockintro">
      <select name="course[course_status_id]">
        <% @course_statuses.each do |course_status| %>
          <option value="<%= course_status.id %>"
                  <%= ' selected' if course_status.id == @course.course_status_id %>> <%= course_status.description %> </option>
                <% end %>
      </select>
    </span></td>
</tr>
<tr>
  <td align="right" valign="TOP"><strong>Permohonan Online </strong></td>
  <td align="CENTER" valign="TOP"><strong>:</strong></td>
  <td><span class="blockintro">
      <select name="course_implementation[online_apply]">
        <option value="<%=1%>" <%= ' selected' if @course_implementation.online_apply == 1 %>> Ya </option>
        <option value="<%=0%>" <%= ' selected' if @course_implementation.online_apply == 0 %>> Tidak </option>
      </select>
    </span></td>
</tr>

<tr>
  <td align="CENTER" valign="TOP" colspan="3"><hr size="1" width="70%"></td>
</tr>

<tr>
  <td align="right" valign="TOP"><strong>Kursus Berkaitan<br />
      (Masukkan Kod Kursus)</strong></td>
  <td align="CENTER" valign="TOP"><strong>:</strong></td>
  <td align="left">
    <table id="qua_table" border="0" width="" cellspacing="0" cellpadding="0">
      <tr id="prerequisite_row_1">
        <td align="left" height="20"><input type="text" id="prerequisite_id_1" name="prerequisite_codes[]" size="10" value="<%=nof{@course_implementation.course.prerequisites[0].course_implementation.code}%>" onchange="this.value=this.value.toUpperCase();updateCourseName_2('prerequisite_id_1','prerequisite_span_1')">
          <span id="prerequisite_span_1"><%=nof{@course_implementation.course.prerequisites[0].course_implementation.course.name.upcase}%></span>			  </td>
        <td align="left">&nbsp;</td>
      </tr>
      <tr id="prerequisite_row_2">
        <td align="left" height="20"><input type="text" id="prerequisite_id_2" name="prerequisite_codes[]" size="10" value="<%=nof{@course_implementation.course.prerequisites[1].course_implementation.code}%>"  onchange="this.value=this.value.toUpperCase();updateCourseName_2('prerequisite_id_2','prerequisite_span_2')">
          <span id="prerequisite_span_2"><%=nof{@course_implementation.course.prerequisites[1].course_implementation.course.name.upcase}%></span>			  </td>
        <td align="left">&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript: deleteQualificationRow('qua_table','prerequisite_row_2')"><font style="color: blue; font-size:10px;"><u>padam</u></font></a></td>
      </tr>
      <%
      if @course_implementation.course.prerequisites.size > 2
        time_left = @course_implementation.course.prerequisites.size - 2
        time_left.times do |i|
          idx = i + 2
          row_idx = idx + 1
        %>
          <tr id="prerequisite_row_<%=row_idx%>">
            <td align="left" height="20"><input type="text" id="prerequisite_id_<%=row_idx%>" size="10" name="prerequisite_codes[]" value="<%=nof{@course_implementation.course.prerequisites[idx].course_implementation.code}%>"  onchange="this.value=this.value.toUpperCase();updateCourseName_2('prerequisite_id_<%=row_idx%>','prerequisite_span_<%=row_idx%>')">
              <span id="prerequisite_span_<%=row_idx%>"><%=nof{@course_implementation.course.prerequisites[idx].course_implementation.course.name.upcase}%></span>			  </td>
            <td align="left">&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript: deleteQualificationRow('qua_table','prerequisite_row_<%=row_idx%>')"><font style="color: blue; font-size:10px;"><u>padam</u></font></a></td>
          </tr>

        <%
        end
      end%>
    </table>
    <a href="javascript: addQualification('qua_table')"><font style="color: blue; font-size:10px;"><u>Tambah..</u></font> </a>	  </td>
</tr>
<script>

  function addQualification(tn) {
    var tbl = $(tn);
    console.log(tbl)
    var newRow = tbl.insertRow(tbl.rows.length);
    row_id = "row_" + (tbl.rows.length-1);
    if ($(row_id)) {
      row_id = row_id + "_1"
    }
    newRow.id = row_id;
	
    input_id = "code_" + row_id
    span_id  = "span_" + row_id
	
    var cell_0 = newRow.insertCell(0);cell_0.height="20";cell_0.align="left";cell_0.valign="bottom";
    cell_0.innerHTML = '<input type="text" name="prerequisite_codes[]" value="" maxlength="100" size="10" ' +
      'id="' + input_id + '" ' +
      'onchange="this.value=this.value.toUpperCase(); ' + "updateCourseName_2($(" + input_id + "), $(" + span_id + ") );\">" +
      "&nbsp;<span id=\"" + span_id + "\"></span>";
    var cell_1 = newRow.insertCell(1);cell_1.align="left";cell_1.valign="bottom"
    cell_1.innerHTML = '&nbsp;&nbsp;&nbsp;&nbsp;' + '<a href="javascript: deleteQualificationRow(\'qua_table\',\''+(row_id)+'\')"><font style="color: blue; font-size:10px;"><u>padam</u></font></a>';
  }

  function deleteQualificationRow(tn,id) {
    row = $(id)
    tbl = row.parentNode.parentNode
    for (i=1;i<tbl.rows.length;i++) {
      //alert(tbl.rows[i].id)
		
      if (tbl.rows[i].id == row.id) {
        tbl.deleteRow(i)
      }
    }
  }

  function updateCourseName_2(input_id,span_id) {

    //404 eraa wo boushisurutame
    code = $(input_id).value.replace(/\//g,"_");
	
    data = "code=" + code
    if ($(input_id).value != "") {
      ajax =  new Ajax.Updater(
      span_id,
      '/ajax/find_course_by_code_2?' + data ,
      {
        method:'get'
      });
    }
  }

</script>


<script>
  //script below dont use anymore
  function updateCourseName() {
    var code = $('prerequisite_code').value
	
    //404 eraa wo boushisurutame
    code = code.replace(/\//g,"_");
	
    data = "code=" + code
    if ($('prerequisite_code').value!="") {
      find_course_name_by_code('/ajax/find_course_by_code', data)
    }
  }

  function find_course_name_by_code(url, data) {
    var myAjax = new Ajax.Request(
    url,
    {method: 'post', parameters: data, onComplete: find_course_name_by_code_response}
  );
  }

  function find_course_name_by_code_response(originalRequest) {
    a = originalRequest.responseText
	
    if (a == 0) {
      $('prerequisite_course_name').innerHTML = ""
      alert('Kod kursus tidak wujud. Sila masukkan kod yang lain.');
		
      HighLightTextField($('prerequisite_code'));
      $('prerequisite_code').focus();
      $('prerequisite_code').select();
    }
    else {
      $('prerequisite_course_name').innerHTML = a
    }
  }
</script>
</table>

