<script>
function rewritePopupContent(controller, objid, objname) {
    $('popmenu').style.width = 170;
    $('popmenu').innerHTML = "<ul>" + 
	"<li><a href=\"" + controller + "/show_public/" + objid + "\">&nbsp;&nbsp;Lihat</a>" + 
	//"<li><a href=\"" + "javascript: a(" + "" + objid + ")\">&nbsp;&nbsp;Jadual Waktu</a>" + 
	"</ul>"
}

function a(id) {
	MM_openBrWindow('/course_implementations/show_timetable/'+id,'','scrollbars=yes,width=1000,height=600')
}

function confirmAndDelete(url, objname) {
	if (confirm("Are you sure to delete " + objname + "?")) {
		location = url
	}
	
}

function onEnterSchedule(obj) {
	obj.style.background='#7777ff'
}

function onExitSchedule(obj) {
	obj.style.background=''
}
</script>

<%
  t = Time.now
  current_year= t.strftime("%Y")
  the_year = params[:planning_year]
%>
<style type="text/css">
<!--
.box30 {
	width: 30px;
}
-->
</style>
    

<form action="/course_implementations/calendar_user">
 <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">KALENDAR KURSUS INSTUN </font></b></td>
    </tr>
  <tr>
    <td>&nbsp;</td>
    </tr>
  </table>
  <br>
  <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center">Tahun: 
        <select name = "planning_year">
         <% @planning_years.each do |cf| %>
         <%
         if (the_year == nil)
         %>
         <option value="<%= cf.year %>"
         <%= ' selected' if cf.year.to_s == current_year.to_s %>> <%= cf.year %> </option>
         <%
         else
         %>
         <option value="<%= cf.year %>"
         <%= ' selected' if cf.year == params[:planning_year] %>> <%= cf.year %> </option>
         <% end %>
         <% end %>
	    </select> 
        <select name="course_department_id">
          <option value="">Pilih Bahagian</option>
          <% @course_departments.each do |cf| %>
          <option value="<%= cf.id %>"
         	<%= ' selected' if cf.id == params[:course_department_id].to_i %>> <%= cf.description.upcase %> </option>
          <% end %>
        </select>
        <input type="button" value="Cari" onclick="document.forms[0].submit()">
      </td>
    </tr>
  </table>
  <br>
  <div width="95%" style="background-color:#FFFFFF">
  <!--table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#777777"-->
  <table class="seven" width="95%" border="<%=list_border%>" align="center" cellpadding="<%=list_cellpadding%>" cellspacing="<%=list_cellspacing%>" bgcolor="<%=list_bgcolor%>">
    <tr bgcolor="#999999" >
      <td class="el" width="2%" valign="top" id="name20"><font color="#FFFFFF">&nbsp;</font></td>
      <td class="el" width="5%" align="center" <%=list_font_size%>><font color="#FFFFFF"><strong>Kod </strong></font></td>
      <td class="el" align="center"><font color="#FFFFFF" <%=list_font_size%>><strong>Nama Kursus</strong></font></td>
      <td class="el" align="center" class="box30"><font color="#FFFFFF" <%=list_font_size%>><strong>Jan</strong></font></td>
      <td class="el" align="center"><font color="#FFFFFF" <%=list_font_size%>><strong>Feb</strong></font></td>
      <td class="el" align="center"><font color="#FFFFFF" <%=list_font_size%>><strong>Mac</strong></font></td>
      <td class="el" align="center"><font color="#FFFFFF" <%=list_font_size%>><strong>Apr</strong></font></td>
      <td class="el" align="center"><font color="#FFFFFF" <%=list_font_size%>><strong>Mei</strong></font></td>
      <td class="el" align="center"><font color="#FFFFFF" <%=list_font_size%>><strong>Jun</strong></font></td>
      <td class="el" align="center"><font color="#FFFFFF" <%=list_font_size%>><strong>Jul</strong></font></td>
      <td class="el" align="center"><font color="#FFFFFF" <%=list_font_size%>><strong>Ogo</strong></font></td>
      <td class="el" align="center"><font color="#FFFFFF" <%=list_font_size%>><strong>Sep</strong></font></td>
      <td class="el" align="center" class="box30"><font color="#FFFFFF" <%=list_font_size%>><strong>Okt</strong></font></td>
      <td class="el" align="center"><font color="#FFFFFF" <%=list_font_size%>><strong>Nov</strong></font></td>
      <td class="el" align="center"><font color="#FFFFFF" <%=list_font_size%>><strong>Dis</strong></font></td>
      <!--td class="el" align="center"><font color="#FFFFFF">Action</font></td-->
    </tr>
<tr style="display: none;" id="ihtr20"><td colspan="7" bgcolor="#ececd9">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody><tr><td width="10"></td><td style="border: 3px solid rgb(0, 51, 102);">
   <iframe id="ihif20" frameborder="0" width="100%"></iframe>
   </td></tr>
   </tbody>
  </table></td></tr>
<%
t = Time.now
current_year = t.strftime("%Y")
i = 0;
even = true;

if !params[:planning_year]
  sch_year = current_year   #2006
else
  sch_year = params[:planning_year]
end

if params[:course_department_id] != nil
	@course_implementations = CourseImplementation.find_by_sql("select * from vw_detailed_courses where course_department_id = '#{params[:course_department_id]}' AND year_start=#{sch_year.to_i} ORDER BY code")
	#@course_implementations = CourseImplementation.find_by_sql("select * from course_implementations where course_department_id = '#{params[:course_department_id]}' AND year_start=#{sch_year.to_i} ORDER BY 1")
else
	@course_implementations = CourseImplementation.find_by_sql("select * from vw_detailed_courses where year_start=#{sch_year.to_i} ORDER BY code")
	#@course_implementations = CourseImplementation.find(:all, :conditions => ["date_plan_start like ?", "#{sch_year.to_i}%"], :order=>"code")
end

for query in @course_implementations
  i = i + 1
  bgclr = "#CCCCFF" if (even == true)
  bgclr = "#FFFFFE" if (even == false)
  even = !even
  
%>
	
    <tr class="list" bgcolor="<%=bgclr%>" onmouseover="this.style.background='#FFFFCC'" onmouseout="this.style.background='<%=bgclr%>'" 
        onmousedown="menuLayers.show('popmenu', '/course_implementations', '<%=h query.id %>', '<%= query.name %>', event)"  >
      <td class="el" style="font-size: 10px" id="name<%=h query.id %>"><%= i.to_s %>.</td>
      <td class="el" align="center" style="font-size: 10px"><%=h query.code %></td>
      <td class="el" style="font-size: 10px"><%=h query.name.upcase %></td>
      	<% 12.times do |n| %>
	<% n = n + 1 %>
      <td class="el"  align="center" style="font-size: 10px"><img width="0" height="1" scr="/images/logo-nre.jp">
      	<% if query.date_plan_start.month == n %>
		<%=h query.date_plan_start.day.to_s + "-" + query.date_plan_end.day.to_s %>
		<% else%>
		&nbsp;
	    <% end %></td>
	<% end %>
</tr>
<%
end
%>
  </table>
  </div>
</form>

