 <script>
function confirmAndDelete(url, objname) {
	if (confirm("Adakah Anda Pasti Untuk Memadam " + objname + "?")) {
		location = url
	}
	
}


function rewritePopupContent(controller, objid, objname) {
    document.getElementById('popmenu').style.width = 230;
    document.getElementById('popmenu').innerHTML = "<ul>" + 
					       "<li><a href=\"" + controller + "/" + objid + "\">&nbsp;&nbsp;Lihat</a>" +
					       "<li><font color=\"#aaaaaa\">&nbsp;&nbsp;Kemaskini</font>" + 
					       "<li><a href=\"" + controller + "/" + objid + "/copy_and_new\">&nbsp;&nbsp;Salin</a>" +
					       "<li><font color=\"#aaaaaa\">&nbsp;&nbsp;Padam</font>" + 
					       "<hr size=1>" +
					       //"<li><a href=\"" + "/course_implementations" + "/show_timetable/" + objid + "\">&nbsp;&nbsp;Jadual Waktu</a>" + 
					       //"<li><font color=\"#aaaaaa\">&nbsp;&nbsp;Tempahan Asrama</font>" + 
					       //"<li><a href=\"" + controller + "/calendar/" + objid + "\">&nbsp;&nbsp;Kalendar Tahunan</a>" + 
					       "<hr size=1>" +
					       "<li><font color=\"#aaaaaa\">&nbsp;&nbsp;Tambah Permohonan</font>" + 
					       "<li><a href=\"" + "/course_applications" + "/" + objid + "/all\">&nbsp;&nbsp;Lihat Senarai Pemohon</a>" +
					       "<li><font color=\"#aaaaaa\">&nbsp;&nbsp;Jana Surat Tawaran</font>" + 
					       //"<li><a href=\"javascript: ExportCsvAll('" + controller + "','export_csv_all', " + objid + ")\">&nbsp;&nbsp;Print Surat Tawaran</a>" +
					       "</ul>"
     
}

function rewritePopupContentNoRestraint(controller, objid, objname) {
    document.getElementById('popmenu').style.width = 230;
    <% unless params[:role].eql?("domestik") %>
      document.getElementById('popmenu').innerHTML = "<ul>" +
                             "<li><a href=\"" + controller + "/" + objid + "\">&nbsp;&nbsp;Lihat</a>" +
                             "<li><a href=\""  + controller + "/" + objid + "/edit\">&nbsp;&nbsp;Kemaskini</a>" +
                             "<li><a href=\"" + controller + "/" + objid + "/copy_and_new\">&nbsp;&nbsp;Salin</a>" +
                             "<li><a href=\""  + controller + "/" + objid + "\" data-confirm=\""+ objname +"\"data-method=\"delete\" \">&nbsp;&nbsp;Padam</a>" +
                             "<hr size=1>" +
                             "<li><a href=\"" + "/timetables" + "/" + objid + "/list\">&nbsp;&nbsp;Jadual Waktu</a>" +
                             //"<li><a href=\"" + "javascript: jw(" + "" + objid + ")\">&nbsp;&nbsp;Jadual Waktu</a>" +
                             //"<li><a href=\"" + "javascript: z(" + "" + objid + ")\">&nbsp;&nbsp;Tambah Jadual Waktu</a>" +
                             "<li><a href=\"" + "javascript: a(" + "" + objid + ")\">&nbsp;&nbsp;Tambah Penceramah</a>" +
                             "<hr size=1>" +
                             "<li><a href=\"" + "javascript: u(" + "" + objid + ")\">&nbsp;&nbsp;Ujian</a>" +
                             "<li><a href=\"" + "javascript: p(" + "" + objid + ")\">&nbsp;&nbsp;Penilaian(Set Soalan)</a>" +
                             "<li><a href=\"" + "javascript: pk(" + "" + objid + ")\">&nbsp;&nbsp;Penilaian Berkelompok</a>" +
                             "<hr size=1>" +
                             "<li><a href=\"" + "javascript: b(" + "" + objid + ")\">&nbsp;&nbsp;Tempahan Asrama (Peserta)</a>" +
                             "<li><a href=\"" + "javascript: tap(" + "" + objid + ")\">&nbsp;&nbsp;Tempahan Asrama (Penceramah)</a>" +
                      //	   "<li><a href=\"" + "javascript: tkk(" + "" + objid + ")\">&nbsp;&nbsp;Tempahan Kemudahan Kursus</a>" +
                              "<li><a href=\"" + "javascript: mkk(" + "" + objid + ")\">&nbsp;&nbsp;Makluman Keselamatan</a>" +
                             //"<li><a href=\""  + controller + "/new/" + objid + "\">&nbsp;&nbsp;Tempah Fasiliti</a>" +
                             "<hr size=1>" +
                             "<li><a href=\""  + "/course_applications" + "/new/" + objid + "\">&nbsp;&nbsp;Tambah Permohonan</a>" +
                             "<li><a href=\""  + "/course_applications" + "/" + objid + "/all?apply_status=all" + "\">&nbsp;&nbsp;Lihat Senarai Pemohon</a>" +
                             "<hr size=1>" +
                             "<li><a href=\"" + "javascript: laksana(" + "" + objid + ")\">&nbsp;&nbsp;Status Perlaksanaan</a>" +
                             //"<li><a href=\""  + "/course_applications" + "/edit_surat_tawaran_select_peserta/" + objid + "\">&nbsp;&nbsp;Jana Surat Tawaran</a>" +
                             //"<li><a href=\"javascript: ExportCsvAll('" + controller + "','export_csv_all', " + objid + ")\">&nbsp;&nbsp;Print Surat Tawaran</a>" +
                             "</ul>"
    <% else %>
      document.getElementById('popmenu').innerHTML = "<ul><li><a href=\"" + controller + "/" + objid + "?role=<%= params[:role] %>\">&nbsp;&nbsp;Lihat</a></li></ul>"
    <% end %>
}

function findAndSortWith(orderby,arrow) {
	var df = document.list
	//var arrow = "DESC"
	
	df.orderby.value = orderby
	df.arrow.value = arrow
	df.submit();
}

function checkAll(df) {
  for (i=1; i<df.elements.length; i++ )
  {
     if (df.elements[i].type == "checkbox")
     {
       df.elements[i].checked = df.check_all.checked
     } 
  }
}

function a(id) {
	MM_openBrWindow('/course_implementations/'+id+'/add_course_trainer','','scrollbars=yes,width=700,height=600')
}

function z(id) {
	MM_openBrWindow('/course_implementations/'+id+'/add_timetable','','scrollbars=yes,width=700,height=600')
}

function b(id) {
	MM_openBrWindow('/reservations/'+id+'/new_popup','','scrollbars=yes,width=800,height=600')
}

function tap(id) {
	MM_openBrWindow('/reservations/'+id+'/trainer_book','','scrollbars=yes,width=800,height=600')
}

function tkk(id) {
	MM_openBrWindow('/facility_reservations/new/'+id,'','scrollbars=yes,width=800,height=600')
}

function mkk(id) {
	MM_openBrWindow('/notifications/new?id='+id,'','scrollbars=yes,width=800,height=600')
}

function jw(id) {
	MM_openBrWindow('/course_implementations/'+id+'/show_timetable','','scrollbars=yes,width=1000,height=600')
}

function u(id) {
	MM_openBrWindow('/quizzes/'+id+'/shiken_ichiran','','scrollbars=yes,width=1000,height=600')
}

function p(id) {
	MM_openBrWindow('/evaluations/'+id,'','scrollbars=yes,width=1000,height=600')
}

function pk(id) {
	MM_openBrWindow('/course_management/'+id+'/evaluation_kelompok','','scrollbars=yes,width=1000,height=600')
}

function laksana(id) {
	MM_openBrWindow('/laporan/'+id+'/status_perlaksanaan','','scrollbars=yes,width=800,height=600')
}

</script>

<%
 months = ["Januari","Februari","Mac","April","Mei","Jun","Julai","Ogos","September","Oktober","November","Disember"]
 bulans = ["01","02","03","04","05","06","07","08","09","10","11","12"]
 %>

<style>
b		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
th		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
td		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
a		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
input		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
.box {border: solid; border-width:1}
</style>
<form name="list" action="/course_implementations/list" method="get">
 <input type="hidden" name="orderby" value="">
 <input type="hidden" name="arrow" value="">
   <%= hidden_field_tag "role", params[:role] %>
 <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">SENARAI KURSUS TAHUNAN</font></b></td>
    </tr>
  </table>
  <br>
  <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
<%
		  
		  #@coordinators = Staff.find(:all, :conditions=>"is_coordinator = 1")
		  @coordinators= Staff.find_by_sql("SELECT staffs.* from staffs INNER join profiles ON staffs.profile_id=profiles.id AND is_coordinator=1 order by name asc")
		  #@coordinators = Staff.find_by_sql("SELECT * from staffs INNER JOIN profiles ON staffs.profile_id = profiles.id WHERE is_coordinator=1 order by name asc")
		  if !params[:coordinator]
		  		if session[:user].roles[0].name == "Admin"
		  			@coordinator = ""
				else
					if session[:user].profile.staff
						@coordinator = session[:user].profile.staff.id
					end
				end 
		  else
				@coordinator = params[:coordinator]
 		  end
%>
      <td align="center">
        <select name="coordinator" style="font-size:9px">
	        <option value="0">Pilih Penyelaras</option>
            <% @coordinators.each do |c| %>
            <option value="<%= c.id %>"
         	<%= ' selected' if c.id == @coordinator.to_i %>> <%= c.profile.name.upcase %> </option>
            <% end %>
        </select>

       <select name="course_department_id" style="font-size:10px">
	        <option value="">Pilih Bahagian</option>
            <% @course_departments.each do |cf| %>
            <option value="<%= cf.id %>"
         	<%= ' selected' if cf.id == params[:course_department_id].to_i %>> <%= cf.description.upcase %> </option>
            <% end %>
        </select>

         <select name="month_start" style="font-size:10px">
	      <option value="">&nbsp;Bulan</option>
	      <% 
	      12.times do |i|
		  	@bulan = i + 1
		  %>
          <option value="<%=@bulan%>" <% if (@bulan == params[:month_start].to_i) %>selected<% end%> ><%=months[i]%></option>	
          <% 
          end  %>
	     </select>

         <select name="year_start" style="font-size:10px">
	     <% @planning_years.each do |cf| %>
         <option value="<%= cf.year %>" <%= 'selected' if cf.year.to_s == params[:year_start].to_s %>> <%= cf.year %> </option>
         <% end %>
	     </select>
      <input type="button" value="Cari" onclick="document.forms[0].submit()"></td>
    </tr>
  </table>
  <br>
  <table align="CENTER" width="95%" border="0" cellspacing="0" cellpadding="1">
    <tr>
      <!--td><input name="button" type="button" value="Surat Iklan" onclick="">
        <input name="button4" type="button" value="Surat Tawaran" onclick=""></td>
      <td align="RIGHT"><input name="button2" type="button" value="Cetak" onclick="window.print()"></td-->
    </tr>
  </table>
  <div width="95%" style="background: #FFFFFF">
  <!--table width="95%" border="1" align="center" cellpadding="2" cellspacing="0" bgcolor="#777777"-->
  <table  class="seven" width="95%" <%=list_border%> align="center" cellpadding="<%=list_cellpadding%>" cellspacing="<%=list_cellspacing%>" bgcolor="<%=list_bgcolor%>">
    <tr bgcolor="#999999">
      <td class="el" id="name20" width="2%" valign="MIDDLE" bgcolor="#999999"><input name="check_all" type="checkbox" class="" onclick="checkAll(document.list)" value="0"></td>
      <td class="el" width="2%" valign="top" id="name20"><font color="#FFFFFF">&nbsp;</font></td>
      <td class="el" width="" align="center"><font color="#FFFFFF"><strong>Kod</strong></font></td>
      <td class="el" width="30%" align="left"><font color="#FFFFFF">&nbsp;<strong>Nama Kursus</strong></font></td>
      <td class="el" width="30%" align="left"><font color="#FFFFFF">&nbsp;<strong>Kump. Sasaran</strong></font></td>
      <td class="el" width="5%" align="center"><font color="#FFFFFF"><strong>Tempoh (hari)</strong></font></td>
      <td class="el" width="" align="center"><strong><a title="Sila klik untuk susunan menaik/menurun" style="color: #FFFFFF" href="javascript: findAndSortWith('date_plan_start','<%= "DESC" if (@orderby=="date_plan_start" && @arrow=="ASC") %>')">Tarikh Mula</a></strong></td>
      <td class="el" width="" align="center"><font color="#FFFFFF"><strong>Tarikh Akhir</strong></font></td>
      <td class="el" width="" align="center"><font color="#FFFFFF"><strong>Status</strong></font></td>      
    </tr>
<%
i = 0;
even = true;

#@querys = CourseImplementation.find_by_sql("select * from vw_detailed_courses  where year_start=#{sch_year.to_i} #{sch_month} #{sch_dept} ORDER BY #{params[:orderby]} #{params[:arrow]}")
@querys = @cimps
for query in @querys
  i = i + 1
  bgclr = "#CCCCFF" if (even == true)
  bgclr = "#FFFFFE" if (even == false)
  even = !even
  
  @jum_hari = (query.day_end.to_i-query.day_start.to_i) + 1
  
  show_menu = "show"
  #show_menu = "show_with_no_restraint" if query.editable?(session[:user])
  show_menu = "show"
  show_menu = "show_with_no_restraint" if query.editable?(session[:user])
  onmousedown = "menuLayers.#{show_menu}('popmenu','/course_implementations', '#{query.id}', '#{query.name}', event)"
 
%>
    <tr class="list" bgcolor="<%=bgclr%>" onmouseover="this.style.background='#FFFFCC'" onmouseout="this.style.background='<%=bgclr%>'" 
        onmousedown="//menuLayers.<%=show_menu%>('popmenu', '/course_implementations', '<%=h query.id %>', '<%= query.name %>', event)">
      <td class="el" id="name<%=h query.id %>" align="right"><input type="checkbox" name="schedule_ids[]" value="<%=query.id%>" class=""></td>
      <td class="el" id="name<%=h query.id %>" align="right" onmousedown="<%=onmousedown%>"><%= i.to_s %>.</td>
      <td class="el" align=center onmousedown="<%=onmousedown%>"><%=h query.code.upcase %></td>
      <td class="el" align="left" onmousedown="<%=onmousedown%>"><%=h query.name.upcase %></td>
      <td class="el" align="left" onmousedown="<%=onmousedown%>"><%= query.target_group.encode('UTF-8') %></td>
      <td class="el" align="center" onmousedown="<%=onmousedown%>"><%=h query.jumlah_hari %></td>
      <td class="el" align="center" onmousedown="<%=onmousedown%>">&nbsp;<%=h query.date_plan_start.to_formatted_s(:my_format_4) %></td>
      <td class="el" align="center" onmousedown="<%=onmousedown%>">&nbsp;<%=h query.date_plan_end.to_formatted_s(:my_format_4) %></td>
      <td class="el" align="center" onmousedown="<%=onmousedown%>"><%=h query.course.course_status.description.upcase %></td>
    </tr>

<% end %>
  </table>
  </div>
</form>

