    
  
  






<SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript">
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
</script>

<script language="JavaScript">
function check_form(f) {

    if (f.chkin_date1.value == "") {
                alert("Sila masukkan tarikh.");
                f.chkin_date1.focus();
                return(false);
    }
    if (f.chkin_date2.value == "") {
                alert("Sila masukkan tarikh.");
                f.chkin_date2.focus();
                return(false);
    }
    if (f.chkin_date3.value == "") {
                alert("Sila masukkan tarikh.");
                f.chkin_date3.focus();
                return(false);
    }
    if (f.chkout_date1.value == "") {
                alert("Sila masukkan tarikh.");
                f.chkout_date1.focus();
                return(false);
    }
    if (f.chkout_date2.value == "") {
                alert("Sila masukkan tarikh.");
                f.chkout_date2.focus();
                return(false);
    }
    if (f.chkout_date3.value == "") {
                alert("Sila masukkan tarikh.");
                f.chkout_date3.focus();
                return(false);
    }
    return (true);
}
</script>

<SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript">
function do_that()
{
  a1 = $("d1").value;
  a2 = $("d2").value;
  a3 = $("d3").value;
  b1 = $("dt1").value;
  b2 = $("dt2").value;
  b3 = $("dt3").value;
  tid = $("facility_reservation_profile_id").value;
  
  //var URL = "/facility_reservations/new/?"
  var URL = document.form.dome.options[document.form.dome.selectedIndex].value;
  document.form.action = URL+"&id1="+a1+"&id2="+a2+"&id3="+a3+"&io1="+b1+"&io2="+b2+"&io3="+b3+"&tid="+tid;
  document.form.submit();
}
</SCRIPT>

<script language="javascript" type="text/javascript">
function intOnly(i) {
	if(i.value.length>0) {
		i.value = i.value.replace(/[^\d]+/g, ''); 
	}
}
</script>

<div align="center">
<%= error_messages_for 'facility_reservation' %>
</div>

<!--[form:facility_reservation]-->
  <table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
    <%
    tid = params[:tid]
    #if (tid != nil)
    chkin1 = params[:id1]
    chkin2 = params[:id2]
    chkin3 = params[:id3]
    chkout1 = params[:io1]
    chkout2 = params[:io2]
    chkout3 = params[:io3]
    
    if (chkin1 != nil)
    datefrom = chkin1+"/"+chkin2+"/"+chkin3
    dateto = chkout1+"/"+chkout2+"/"+chkout3
    end
    %>
    <tr>
      <td width=40% align="right"><strong> Nama :</strong></td>
      <td><span class="blockintro">&nbsp;<%=@profile.name%>      
      <input type=hidden name=profile_id value="<%=@profile.id%>">
      <%= hidden_field 'facility_reservation', 'profile_id', :value=>@profile.id  %>
      </span></td>
    </tr>
    <tr>
      <td align="right"><strong>No KP :</strong></td>
      <td><span class="blockintro">&nbsp;<%=@profile.ic_number%>      
      </span></td>
    </tr>
    <tr>
      <td align="right"><strong>Jantina :</strong></td>
      <td><span class="blockintro">&nbsp;<%=@profile.gender.description%>      
      </span></td>
    </tr>
    <tr>
      <td align="right"><strong>&nbsp;</strong></td>
      <td><span class="blockintro">&nbsp;</span></td>
    </tr>
    <tr>
      <td align="right"><strong>&nbsp;</strong></td>
      <td><span class="blockintro">&nbsp;<b>Maklumat Tempahan <%=datefrom%> <%=dateto%></b></span></td>
    </tr>
    
    <tr>
      <td align="right"><strong>Tarikh Daftar Masuk & Keluar :</strong></td>
      <td><span class="blockintro">&nbsp;
      <input type=text id=d1 name=chkin_date1 value="<%=chkin1%>" size=2 maxlength=2 onKeyUp="intOnly(this);" onKeyPress="intOnly(this);"> 
      <input type=text id=d2 name=chkin_date2 value="<%=chkin2%>" size=2 maxlength=2 onKeyUp="intOnly(this);" onKeyPress="intOnly(this);">
      <input type=text id=d3 name=chkin_date3 value="<%=chkin3%>" size=4 maxlength=4 onKeyUp="intOnly(this);" onKeyPress="intOnly(this);">
      - 
      <input type=text id=dt1 name=chkout_date1 value="<%=chkout1%>" size=2 maxlength=2" onKeyUp="intOnly(this);" onKeyPress="intOnly(this);">
      <input type=text id=dt2 name=chkout_date2 value="<%=chkout2%>" size=2 maxlength=2" onKeyUp="intOnly(this);" onKeyPress="intOnly(this);">
      <input type=text id=dt3 name=chkout_date3 value="<%=chkout3%>" size=4 maxlength=4" onKeyUp="intOnly(this);" onKeyPress="intOnly(this);">
      </span>
      <%= hidden_field 'facility_reservation', 'date_from', :value=>datefrom  %>
      <%= hidden_field 'facility_reservation', 'date_to', :value=>dateto  %>
      </td>
    </tr>
    
    <% 
    #for var yg diguna pakai

    cd = params[:facility_category] 
     if cd == nil
      cd = 1
	  end
    %>
    
    <tr>
      <td align="right"><strong>Kemudahan Domestik :</strong></td>
      <td><span class="blockintro">&nbsp;
      <select name="dome" onChange="javascript:do_that()">
      <option value="">Sila Pilih</option>
      <% @facility_categories.each do |f| %>
        <option value="/facility_reservations/new/<%=@facility_reservation.id%>?facility_category=<%= f.id%>"
        <%= ' selected' if f.id.to_i == cd.to_i %>> <%= f.description %></option>
      <% end %>
      </select>
      </span></td>
    </tr>
    
  </table>  
  
  <table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">  
  <tr>
  <td>
  <table width="50%" border="1" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">  
  <tr>
      <td width=5% align="right"><strong>&nbsp;</strong></td>
      <td width=20% align=center><span class="blockintro">&nbsp;<b>Sumber Kemudahan</b></span></td>
      <td width=15% align=center><span class="blockintro">&nbsp;<b>Harga (RM)</b></span></td>
      <td width=15% align=center><span class="blockintro">&nbsp;<b>Pilih</b></span></td>
  </tr>
  <%
  if (params[:facility_category] != nil)
  @facs = Facility.find_by_sql("SELECT * FROM facilities WHERE facility_category_id = #{cd} AND id NOT IN (SELECT facility_id FROM facility_reservations WHERE (date_from BETWEEN '"+datefrom+"' AND '"+dateto+"') OR (date_to BETWEEN '"+datefrom+"' AND '"+dateto+"')) ORDER BY code")
  i=0;
  even = true;
  for fac in @facs
  i = i + 1
  bgclr = "#CCCCFF" if (even == true)
  bgclr = "#FFFFFF" if (even == false)
  even = !even
  %>
  <tr bgcolor="<%=bgclr%>">
      <td width=5% align="right"><strong>&nbsp;<%=i%></strong></td>
      <td width=20% align=center><span class="blockintro">&nbsp;<%=fac.code%></span></td>
      <td width=15% align=center><span class="blockintro">&nbsp;<%=fac.price%></span></td>
      <td width=15% align=center><span class="blockintro">&nbsp;
      <input type=hidden name=fid[] value="<%=fac.id%>">
      <INPUT TYPE=checkbox name="pilih[]" value="<%=fac.id%>" >
      </span></td>
  </tr>
  <%
  end
  end  #if != nil
  %>
  
  </table>
  </td>
  </tr>
  </table>
    
  
  
