  <br>
  <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center"> <a href="/facility_reservations/list"><u>Kembali</u></a> ke Senarai Tempahan Sumber Kemudahan Kursus</td>
    </tr>
  </table>
  <br>
  <table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
    <tr>
      <td width="30%" align="right"><strong>Nama : </strong></td>
      <td><span class="blockintro"> &nbsp;
      <%=h @profile.name %>      </span>
      </td>
    </tr>
    
    <tr>
      <td align="right"><strong>No KP : </strong></td>
      <td><span class="blockintro"> &nbsp;
      <%=h @profile.ic_number %>      </span>
      </td>
    </tr>
    
    <tr>
      <td align="right"><strong>&nbsp;</strong></td>
      <td><span class="blockintro"><b>Maklumat Tempahan</b></span>
      </td>
    </tr>
    
    <tr>
    <td>
    </td><td>
    <table width="65%" border="1" align="left" cellpadding="3" cellspacing="1" bgcolor="#777777">
    <tr>
      <td align="right"><strong>&nbsp;</strong></td>
      <td width=30%><span class="blockintro"><b>Nama</b></span>
      <td align=center><span class="blockintro"><b>Kuantiti Tempahan</b></span>
      <td align=center><span class="blockintro"><b>Tarikh Tempahan</b></span>
      </td>
    </tr>
    <% 
    i = 0;
	even = true;
    for fc in @facility_reservation 
      i = i + 1
	  bgclr = "#CCCCFF" if (even == true)
	  bgclr = "#FFFFFF" if (even == false)
	  even = !even
	  
	  dcat = FacilityCategory.find_by_id(fc.facility_category_id)
	  j = FacilityReservation.find_by_sql("SELECT * FROM facility_reservations INNER JOIN facilities ON facilities.id = facility_id WHERE facility_category_id = '"+fc.facility_category_id+"' AND date_from = '"+fc.date_from.to_formatted_s(:my_format_8)+"' AND date_to = '"+fc.date_to.to_formatted_s(:my_format_8)+"'")
	  jumc = j.size
	  
    %>
    <tr bgcolor="<%=bgclr%>">
    <td align="right"><strong><%=i%></strong></td>
      <td><span class="blockintro"><%=dcat.description%></span>
      <input type=hidden name=course_implementation_id value="<%=fc.course_implementation_id%>">
      <input type=hidden name=facility_category_id value="<%=dcat.id%>">
      <input type=hidden name=date_from value="<%=fc.date_from.to_formatted_s(:my_format_8)%>">
      <input type=hidden name=date_to value="<%=fc.date_to.to_formatted_s(:my_format_8)%>">
      <td align=center><span class="blockintro"><%=jumc%> </span>
      <td align=center><span class="blockintro"><%=fc.date_from.to_formatted_s(:my_format_4)%> - <%=fc.date_to.to_formatted_s(:my_format_4)%></span>
      </td>
    </tr>
    <% end %>
    </td>
    </tr>
    </table>
    
  </table>
  
  
