  <br>
  <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center"> <a href="/facility_reservations/list"><u>Kembali</u></a> ke Senarai Tempahan Sumber Kemudahan  </td>
    </tr>
  </table>
  <br>
  <table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
    <tr>
      <td width="30%" align="right"><strong>Nama : </strong></td>
      <td><span class="blockintro"> &nbsp;
      <%=h @profile.name %>      </span>
      </td>
    </tr>
    
    <tr>
      <td align="right"><strong>No KP : </strong></td>
      <td><span class="blockintro"> &nbsp;
      <%=h @profile.ic_number %>      </span>
      </td>
    </tr>
    
    <tr>
      <td align="right"><strong>Bahagian : </strong></td>
      <td><span class="blockintro"> &nbsp;
      <%=h @place.name %>      </span>
      </td>
    </tr>
    
    <% for tdate in @facilitydate %>
    <tr>
      <td align="right"><strong>Tarikh Tempahan : </strong></td>
      <td><span class="blockintro"> &nbsp;
      <%=h tdate.date_from.to_formatted_s(:my_format_4) %> - <%=h tdate.date_to.to_formatted_s(:my_format_4) %> </span>
      </td>
    </tr>
    
    <tr>
      <td align="right"><strong>Tujuan : </strong></td>
      <td><span class="blockintro"> &nbsp;
      <%=h tdate.description %>      </span>
      </td>
    </tr>
    
    <% end %>
    <tr>
      <td align="right"><strong>&nbsp;</strong></td>
      <td><span class="blockintro"><b>Maklumat Tempahan</b></span>
      </td>
    </tr>
    
    <tr>
    <td>
    </td><td>
    <table width="65%" border="1" align="left" cellpadding="3" cellspacing="1" bgcolor="#777777">
    <tr>
      <td align="right"><strong>&nbsp;</strong></td>
      <td ><span class="blockintro"><b>Nama</b></span>
      <td width=20% align=center><span class="blockintro"><b>Kuantiti</b></span>
      </td>
    </tr>
    <% 
    i = 0;
	even = true;
    for fc in @facility_reservation 
      i = i + 1
	  bgclr = "#CCCCFF" if (even == true)
	  bgclr = "#FFFFFF" if (even == false)
	  even = !even
	  
	  dcat = FacilityCategory.find_by_id(fc.facility_category_id)
    %>
    <tr bgcolor="<%=bgclr%>">
    <td align="right"><strong><%=i%></strong></td>
      <td><span class="blockintro"><%=dcat.description%></span>
      <td align=center><span class="blockintro"><%=fc.sum%></span>
      </td>
    </tr>
    <% end %>
    </td>
    </tr>
    
    </table>
    
    
  </table>
  <br>
  
  <br>
  <div align="center">
 <input type="button" value="OK" class="button" onClick="history.back(1)">
  </div>
  