<form action="peserta_jantina" name="filter">
  <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr>
      <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT PESERTA MENGIKUT JANTINA </font></b></td>
    </tr>
  </table>
  <br/>
  <!-- TABLE HEADER -->
  <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
    <%= render :partial => "shared/month_range_selection", :locals => {:planning_months => @planning_months, :planning_years => @planning_years} %>
    <%= render :partial => "shared/chart_table_toggle", :locals => {:reports => @reports} %>
  </table>
</form>
<br>
<table class ="table_report" width="95%" border="0" align="center" cellpadding="2" cellspacing="1" bgcolor="#777777">
  <tr bgcolor="#999999" id="pisang" onclick="">
    <td width="3%" align="center"><font color="#FFFFFF"><strong>No</strong></font></td>
    <td width="67%" align="left"><font color="#FFFFFF">&nbsp;<strong>Bidang Kursus</strong></font></td>
    <td width="15%" align="center"><font color="#FFFFFF">&nbsp;<strong>Lelaki</strong></font></td>
    <td width="15%" align="center"><font color="#FFFFFF">&nbsp;<strong>Perempuan</strong></font></td>
  </tr>
  <%if @reports.any? %>
    <%
    total_male = 0
    total_female = 0
  %>
    <% @reports.each_with_index do |report, index| %>
      <%  bgclr = cycle('#FFFFFF', '#CCCCFF') %>
      <tr bgcolor="<%=bgclr%>" onmouseover="this.style.background='#FFFFCC'" onmouseout="this.style.background='<%=bgclr%>'">
        <td align="center" id="name<%=h report[:id] %>"><%= (index+1).to_s %>.</td>
        <td align="left"><%=report[:name].upcase%></td>
        <td align="center"><%=number_with_delimiter(report[:male], :delimiter => ',') %></td>
        <td align="center"><%=number_with_delimiter(report[:female], :delimiter => ',') %></td>
      </tr>
      <%
      total_male += report[:male].to_i
      total_female += report[:female].to_i
    %>
    <% end %>
    <tr bgcolor="#fff">
      <td align="right" colspan="2">Jumlah Keseluruhan</td>
      <td align="center"><%=number_with_delimiter(total_male, :delimiter => ',') %></td>
      <td align="center"><%=number_with_delimiter(total_female, :delimiter => ',') %></td>
    </tr>

</table>
<br/>
<div align=center>
<%#= will_paginate @reports %>
</div>

<div id="container" class="chart" style="display:none; padding-left:33px; width:95%; height:<%= 400 %>px;">

</div>
<%= javascript_include_tag "highcharts" %>
<%= javascript_include_tag "gradient-color-highcharts" %>



<script>
  function toggle_chart(){
    var showed = $('input[name=filter_show]:checked').val();
    if (showed == "chart"){
      $(".chart").show();
      $(".table_report").hide();
      loadChart();
    }else{
      $(".chart").hide();
      $(".table_report").show();
    }
  };

function loadChart(){
  <%
  sliced_female = false
  sliced_male = false
  sliced_female = true if total_male < total_female
  sliced_male = true if total_male > total_female
  %>

  <%
  data = "[
            {
                name: 'Lelaki',
                y: #{total_male},
                sliced: #{sliced_male},
                selected: #{sliced_male}
            },
            {
                name: 'Perempuan',
                y: #{total_female},
                sliced: #{sliced_female},
                selected: #{sliced_female}
            }
         ]"
  %>

  <%= render :partial => 'shared/chart_pie',
    :locals => {:data => data.html_safe, :title => 'MAKLUMAT PESERTA MENGIKUT JANTINA', :container => 'container' }
%>
}
</script>
<% end %>