<form action="peserta_mengikut_jabatan" name="filter">
  <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr>
      <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT PESERTA MENGIKUT JABATAN</font></b></td>
    </tr>
  </table>
  <br/>
  <!-- TABLE HEADER -->
  <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
    <%= render :partial => "shared/month_range_selection", :locals => {:planning_months => @planning_months, :planning_years => @planning_years} %>
    <%= render :partial => "shared/chart_table_toggle", :locals => {:reports => @reports} %>
  </table>
</form>
<br/>
<table class ="table_report" width="95%" border="0" align="center" cellpadding="2" cellspacing="1" bgcolor="#777777">
  <tr bgcolor="#999999" id="pisang" onclick="">
    <td width="3%" align="center"><font color="#FFFFFF"><strong>No</strong></font></td>
    <td width="67%" align="left"><font color="#FFFFFF">&nbsp;<strong>Bidang Kursus</strong></font></td>
    <td width="15%" align="center"><font color="#FFFFFF">&nbsp;<strong>P.Tanah</strong></font></td>
    <td width="15%" align="center"><font color="#FFFFFF">&nbsp;<strong>JUPEM</strong></font></td>
    <td width="15%" align="center"><font color="#FFFFFF">&nbsp;<strong>Lain-lain</strong></font></td>
  </tr>
  <%if @reports.any? %>
    <%
    total_p_tanah = 0
    total_jupem = 0
    total_other = 0
  %>
    <% @reports.each_with_index do |report, index| %>
      <%  bgclr = cycle('#FFFFFF', '#CCCCFF') %>
      <tr bgcolor="<%=bgclr%>" onmouseover="this.style.background='#FFFFCC'" onmouseout="this.style.background='<%=bgclr%>'">
        <td align="center" id="name<%=h index+1 %>"><%= (index+1).to_s %>.</td>
        <td align="left"><%=report.name.upcase%></td>
        <td align="center"><%=number_with_delimiter(report.p_tanah, :delimiter => ',') %></td>
        <td align="center"><%=number_with_delimiter(report.jupem, :delimiter => ',') %></td>
        <td align="center"><%=number_with_delimiter(report.other, :delimiter => ',') %></td>
      </tr>
      <%
      total_p_tanah += report.p_tanah.to_i
      total_jupem += report.jupem.to_i
      total_other += report.other.to_i
    %>
    <% end %>
    <tr bgcolor="#fff">
      <td align="right" colspan="2">Jumlah Keseluruhan</td>
      <td align="center"><%=number_with_delimiter(total_p_tanah, :delimiter => ',') %></td>
      <td align="center"><%=number_with_delimiter(total_jupem, :delimiter => ',') %></td>
      <td align="center"><%=number_with_delimiter(total_other, :delimiter => ',') %></td>
    </tr>

</table>
<br/>
<div align=center>
<%#= will_paginate @reports %>
</div>

<div id="container" class="chart" style="display:none; padding-left:33px; width:95%; height:<%= 400 %>px;">

</div>
<%= javascript_include_tag "highcharts" %>
<%= javascript_include_tag "gradient-color-highcharts" %>



<script>
  function toggle_chart(){
    var showed = $('input[name=filter_show]:checked').val();
    if (showed == "chart"){
      $(".chart").show();
      $(".table_report").hide();
      loadChart();
    }else{
      $(".chart").hide();
      $(".table_report").show();
    }
  };

function loadChart(){
  <%
    sliced_p_tanah = false
    sliced_jupem = false
    sliced_other = false
  
    sliced_p_tanah = true if total_p_tanah > total_jupem && total_p_tanah > total_other
    sliced_jupem = true if total_jupem > total_p_tanah  && total_jupem > total_other
    sliced_other = true if total_other > total_p_tanah  && total_other > total_jupem
 %>

<%
data = "[
          {
            name: 'P.Tanah',
            y: #{total_p_tanah},
            sliced: #{sliced_p_tanah},
            selected: #{sliced_p_tanah}
          },
          {
            name: 'Jupem',
            y: #{total_jupem},
            sliced: #{sliced_jupem},
            selected: #{sliced_jupem}
          },
          {
            name: 'Lain-lain',
            y: #{total_other},
            sliced: #{sliced_other},
            selected: #{sliced_other}
          }
        ]"
%>

<%= render :partial => 'shared/chart_pie',
    :locals => {:data => data.html_safe, :title => 'MAKLUMAT PESERTA MENGIKUT JABATAN', :container => 'container' }
%>

   }

</script>
<% end %>