<form action="summary_group_jupem" name="filter">
  <% chart_title = "KEHADIRAN PESERTA MENGIKUT NEGERI" %>
  <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr>
      <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">PESERTA MENGIKUT PEJABAT JUPEM</font></b></td>
    </tr>
  </table>
  <br/>
  <!-- TABLE HEADER -->
  <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
    <%= render :partial => "shared/month_range_selection", :locals => {:planning_months => @planning_months, :planning_years => @planning_years} %>
    <%= render :partial => "shared/chart_table_toggle", :locals => {:reports => @reports} %>
  </table>
</form>
<br>

<!-- TABLE CONTENT --> 
<table class ="table_report" width="95%" border="0" align="center" cellpadding="2" cellspacing="1" bgcolor="#777777">
  <tr bgcolor="#999999" id="pisang" onclick="">
    <td width="3%" align="center"><font color="#FFFFFF"><strong>Bil.</strong></font></td>
    <td width="37%" align="center"><font color="#FFFFFF">&nbsp;<strong>JUPEM</strong></font></td>
    <td width="10%" align="center"><font color="#FFFFFF">&nbsp;<strong>PESERTA</strong></font></td>
    <td width="10%" align="center"><font color="#FFFFFF">&nbsp;<strong>PERCENTAGE</strong></font></td>
  </tr>
  <%if @reports.any? %>
    <% total = 0 %>
    <% categories = @reports.sort_by{|e| -e[:subtotal].to_i}.collect(&:state_name) %>
    <% student_count = @reports.sort_by{|e| -e[:subtotal].to_i}.collect(&:subtotal).map(&:to_i) %>
    <% 
      chart_data = []
      peserta = {:name => "Peserta", :data => student_count}
      chart_data << peserta
    %>
    
    <% @reports.each_with_index do |report, index| %>
      <%  bgclr = cycle('#FFFFFF', '#CCCCFF') %>
      <tr bgcolor="<%=bgclr%>" onmouseover="this.style.background='#FFFFCC'" onmouseout="this.style.background='<%=bgclr%>'">
        <td align="center" id="name<%=h report.id %>"><%= (index+1).to_s %>.</td>
        <td align="left"><%=report.state_name %></td>
        <td align="right" style="padding-right:70px;"><%=number_with_delimiter(report.subtotal, :delimiter => ',') %></td>
        <td align="right" style="padding-right:60px;"><%=number_to_percentage(report.percentage, :precision => 1) %></td>
      </tr>
    <% total += report.subtotal.to_i %>
    <% end %>
    <!-- TABLE TOTAL  --> 
    <table class ="table_report" width="95%" border="0" align="center" cellpadding="2" cellspacing="1" bgcolor="#777777">
        <tr bgcolor="#fff">
          <td width="60%" align="right"><strong>TOTAL : </strong></td>
          <td width="30%" align="right" style="padding-right:240px;"><strong><%=number_with_delimiter(total, :delimiter => ',') %></strong></td>
        </tr>
    </table>
  <% end %>
</table>



<br/>
<div id="container" class="chart" style="display:none; padding-left:33px; width:95%; height:<%= 35 * @reports.count %>px;"/>

<%= javascript_include_tag "highcharts" %>

<script type="text/javascript">  
  function toggle_chart(){
    var showed = $('input[name=filter_show]:checked').val();
    
    if (showed == "chart"){
      $(".chart").show();
      $(".table_report").hide();
      loadChart();
    }else{
      $(".chart").hide();
      $(".table_report").show();
    }
  }; //function toggle_chart
  
  function loadChart(){

    <%= render :partial => 'shared/chart_bar',
               :locals => {:data => chart_data.to_json.html_safe, 
                           :title => chart_title, :container => 'container', 
                           :category => categories.to_json.html_safe}
     %>
   }; //Function load_chart

</script>