<form action="teach_hour_by_department" name="filter">
<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
  <tr>
    <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT JAM MENGAJAR  MENGIKUT BAHAGIAN </font></b></td>
  </tr>
</table>
<br/>
<!-- TABLE HEADER -->
<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
  <%= render :partial => "shared/month_range_selection", :locals => {:planning_months => @planning_months, :planning_years => @planning_years} %>
  <%= render :partial => "shared/chart_table_toggle", :locals => {:reports => @reports} %>
</table>
</form>
<br/>
<table class ="table_report" width="95%" border="0" align="center" cellpadding="2" cellspacing="1" bgcolor="#777777">
  <tr bgcolor="#999999" id="pisang" onclick="">
    <td width="3%" align="center"><font color="#FFFFFF"><strong>No</strong></font></td>
    <td width="67%" align="left"><font color="#FFFFFF">&nbsp;<strong>Bahagian</strong></font></td>
    <td width="15%" align="center"><font color="#FFFFFF">&nbsp;<strong>Dalam </strong></font></td>
    <td width="15%" align="center"><font color="#FFFFFF">&nbsp;<strong>Luar</strong></font></td>
  </tr>
  <%if @reports.any? %>
    <%
    total_dalaman = 0
    total_luaran = 0
  %>
    <% @reports.each_with_index do |report, index| %>
      <%  bgclr = cycle('#FFFFFF', '#CCCCFF') %>
      <tr bgcolor="<%=bgclr%>" onmouseover="this.style.background='#FFFFCC'" onmouseout="this.style.background='<%=bgclr%>'">
        <td align="center" id="name<%=h (index+1).to_s %>"><%= (index+1).to_s %>.</td>
        <td align="left"><%=report.name.upcase%></td>
        <td align="center"><%=number_with_delimiter(report.amount_dalaman.to_f, :delimiter => ',', :precision => 1) %></td>
        <td align="center"><%=number_with_delimiter(report.amount_luaran.to_f, :delimiter => ',', :precision => 1)  %></td>
      </tr>
      <%
      total_dalaman += report.amount_dalaman.to_f
      total_luaran += report.amount_luaran.to_f
    %>
    <% end %>
    <tr bgcolor="#fff">
      <td align="right" colspan="2">Jumlah Keseluruhan</td>
      <td align="center"><%=number_with_delimiter(total_dalaman.to_f, :delimiter => ',', :precision => 1) %></td>
      <td align="center"><%=number_with_delimiter(total_luaran.to_f, :delimiter => ',', :precision => 1) %></td>
    </tr>

  </table>
  <br/>
  <div align=center>
  <%#= will_paginate @reports %>
  </div>

  <div id="container" class="chart" style="display:none; padding-left:33px; width:95%; height:<%= 400 %>px;">

  </div>
  <%= javascript_include_tag "highcharts" %>
  <%= javascript_include_tag "gradient-color-highcharts" %>

  <script>
    function toggle_chart(){
      var showed = $('input[name=filter_show]:checked').val();
      if (showed == "chart"){
        $(".chart").show();
        $(".table_report").hide();
        loadChart();
      }else{
        $(".chart").hide();
        $(".table_report").show();
      }
    };

    function loadChart(){

  <%
   data_for_chart = []
  @reports.each do |report|
    if report.amount_dalaman.to_i > 0
      sliced = (@reports.map{|x| x.amount_dalaman.to_i}.max == report.amount_dalaman.to_i && report.amount_dalaman.to_i > total_luaran.to_i) ? true:false
      data_for_chart << "{name: '#{report.name}', y: #{report.amount_dalaman}, sliced: #{sliced}, selected: #{sliced}}"
    end
  end
  sliced = @reports.map{|x| x.amount_dalaman.to_i}.max < total_luaran.to_i ? true:false
  data_for_chart <<  "{name: 'Luaran', y: #{total_luaran}, sliced: #{sliced}, selected: #{sliced}, drilldown: {name: 'MSIE versions',categories: ['MSIE 6.0', 'MSIE 7.0', 'MSIE 8.0', 'MSIE 9.0'],data: [10.85, 7.35, 33.06, 2.81]}}"



  data = "[#{data_for_chart.join(",")}]"
%>

  <%= render :partial => 'shared/chart_pie',
    :locals => {:data => data.html_safe, :title => 'MAKLUMAT JAM MENGAJAR MENGIKUT BAHAGIAN', :container => 'container', :fixed_num => 1 }
%>
    }
  </script>
<% end %>