<div align="center">
<%= error_messages_for 'timetable' %>

<!--[form:timetable]-->

<%
 jams = ["00","01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20","21","22","23"]
 minits = ["00","30"]
 
 @timetable.date = params[:date]
 @timetable.course_implementation_id = params[:course_implementation_id]
%>	 

  <!--table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center"><u><%= link_to 'Kembali ', :action => 'list', :course_implementation_id => @timetable.course_implementation_id  %> </u> ke Senarai Kursus  </td>
    </tr>
  </table!-->
  <br>
  <table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
    <tr>
      <%= hidden_field 'timetable', 'date' %> 
      <%= hidden_field 'timetable','course_implementation_id' %> 
      <td align="right"><strong>Waktu:</strong></td>
      <td><span class="blockintro">&nbsp;
      <select name="start_hour">
         <%  
         thejami = params[:time_start]
         thejam = thejami.split(':')
         jam1 = thejam[0]
         min1 = thejam[1]

         x=0 
         for jam in jams %>
         <option value= "<%= jams[x] %>" 
         <% if (jams[x] == jam1) %> selected <% end%> ><%= jams[x] %></option>	
         <%	 x = x + 1 
         end  %>
      </select>:
      <select name="start_minute">
         <%  
         y=0 
         for minit in minits %>
         <option value= "<%= minits[y] %>"
         <% if (minits[y] == min1) %> selected <% end%> ><%= minits[y] %></option>	
         <%	 y = y + 1 
         end  %>
      </select> -
      <select name="end_hour">
         <%  
         tjami = params[:time_end]
         tjam = tjami.split(':')
         tjam1 = tjam[0]
         tmin1 = tjam[1]
         
         x=0 
         for jam in jams %>
         <option value= "<%= jams[x] %>" 
         <% if (jams[x] == tjam1) %> selected <% end%> ><%= jams[x] %></option>	
         <%	 x = x + 1 
         end  %>
      </select>:
      <select name="end_minute">
         <%  
         y=0 
         for minit in minits %>
         <option value= "<%= minits[y] %>" 
         <% if (minits[y] == tmin1) %> selected <% end%>><%= minits[y] %></option>	
         <%	 y = y + 1 
         end  %>
      </select>
      </span></td>
    </tr>
    
    <tr>
      <td align="right"><strong>Tajuk: </strong></td>
      <td><span class="blockintro"> &nbsp;
      <%= text_field 'timetable', 'topic', :maxlength=>250, :size=>20  %>      </span></td>
    </tr>
    
    <tr>
      <td align="right" valign=top><strong>Keterangan:</strong></td>
      <td><span class="blockintro">&nbsp;
      <%= text_area 'timetable', 'description', :rows=>3 , :cols=>35  %>      </span></td>
    </tr>
    
    <tr>
      <td align="right"><strong>Pengajar:</strong></td>
      <td>&nbsp;
		<select name="timetable[trainer_ids][]">
		 <% @course_implementation.trainers.each do |t| %>
	     <option value="<%= t.id %>" <%= 'selected' if @timetable.trainers.include?(t) %>>
	     <%= t.profile.name.upcase %></option>       
		 <% end %>
		</select>
		<a href="javascript: a(<%=@course_implementation.id%>);"><font style="color: blue">tambah/padam</font></a></td>
    </tr>
<script>
function a(id) {
	MM_openBrWindow('/course_implementations/add_course_trainer_refresh_opener/'+id,'','scrollbars=yes,width=600,height=600')
}
</script>    
    <tr>
      <td align="right" valign=top><strong>Fasiliti:</strong></td>
      <td>
	  <%
	  #Facility.find(:all).each do |g| -- ASAL
	  @facilities = Facility.find_by_sql("SELECT facilities.id, facilities.code FROM facilities INNER JOIN facility_categories ON facility_category_id = facility_categories.id WHERE facility_categories.facility_type_id = '1' OR facility_categories.facility_type_id = '2' OR facility_categories.facility_type_id = '3'")
	  for g in @facilities
	  %>
      &nbsp;<input type="checkbox" name="timetable[facility_ids][]" value="<%= g.id %>" 
      <% if @timetable.facilities.include?(g) %> checked="checked" <% end %> />
      <%=g.code%>
      <br>
    <% end %>    </tr>
  </table>
