<script>
  function duplicate() {
    var original = document.getElementById('timetable-id');
    var duplicater_target = document.getElementById('duplicater_target');
   
    count = parseInt($('#count-pengajar').val());
    $('#count-pengajar').val(count+1);
    count = parseInt($('#count-pengajar').val());
    el1 = document.createElement('div')
    el1.id = "timetable-id-"+count;
    el1.innerHTML =  original.innerHTML;

    a = document.createElement('a')
    a.href = "#"
    a.onclick = function() {
      delete_pengajar(this);
    };
    a.innerHTML= "Padam";
    console.log(a);
    el1.appendChild(a);

    duplicater_target.appendChild(el1);
  }

  function delete_pengajar(id){
    $(id).parent().empty();
  }
</script>
<div align="center">
<%#= error_messages_for 'timetable' %>

  <!--[form:timetable]-->

  <%
  jams = ["00","01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20","21","22","23"]
  minits = ["00","30"]

  @timetable.date = params[:date]
  @timetable.course_implementation_id = params[:course_implementation_id]
%>	 

  <!--table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center"><u><%#= link_to 'Kembali ', :action => 'list', :course_implementation_id => @timetable.course_implementation_id  %> </u> ke Senarai Kursus  </td>
    </tr>
  </table!-->
  <br>
  <%= hidden_field_tag "count-pengajar", @timetable.trainers.size %>
  <table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
    <tr>
      <%= hidden_field 'timetable', 'date' %>
      <%= hidden_field 'timetable','course_implementation_id' %>
      <td align="right"><strong>Waktu:</strong></td>
      <td><span class="blockintro">&nbsp;
          <select name="start_hour">
            <%
            thejami = params[:time_start]
            thejam = thejami.split(':')
            jam1 = thejam[0]
            min1 = thejam[1]

            x=0
            for jam in jams %>
              <option value= "<%= jams[x] %>"
                      <% if (jams[x] == jam1) %> selected <% end%> ><%= jams[x] %></option>
                      <%	 x = x + 1
                    end  %>
          </select>:
          <select name="start_minute">
            <%
            y=0
            for minit in minits %>
              <option value= "<%= minits[y] %>"
                      <% if (minits[y] == min1) %> selected <% end%> ><%= minits[y] %></option>
                      <%	 y = y + 1
                    end  %>
          </select> -
          <select name="end_hour">
            <%
            tjami = params[:time_end]
            tjam = tjami.split(':')
            tjam1 = tjam[0]
            tmin1 = tjam[1]

            x=0
            for jam in jams %>
              <option value= "<%= jams[x] %>"
                      <% if (jams[x] == tjam1) %> selected <% end%> ><%= jams[x] %></option>
                      <%	 x = x + 1
                    end  %>
          </select>:
          <select name="end_minute">
            <%
            y=0
            for minit in minits %>
              <option value= "<%= minits[y] %>"
                      <% if (minits[y] == tmin1) %> selected <% end%>><%= minits[y] %></option>
                      <%	 y = y + 1
                    end  %>
          </select>
        </span></td>
    </tr>

    <tr>
      <td align="right"><strong>Tajuk: </strong></td>
      <td><span class="blockintro"> &nbsp;
          <%= text_field 'timetable', 'topic', :maxlength=>250, :size=>50 %>      </span></td>
    </tr>

    <tr>
      <td align="right" valign=top><strong>Keterangan:</strong></td>
      <td><span class="blockintro">&nbsp;
          <%= text_area 'timetable', 'description', :rows=>3 , :cols=>35  %>      </span></td>
    </tr>

    <tr>
      <td align="right" valign="top"><strong>Pengajar:</strong></td>
      <td>
        <div style="float:left;">
          <% unless @timetable.trainers.size == 0 %>
            <% @timetable.trainers.each_with_index do |peg, index| %>
              <div id="timetable-id-<%= index %>">
                <select name="timetable[trainer_ids][]">
                  <% @trainers.each do |t| %>
                    <option value="<%= t.id %>" <%= 'selected' if t.id == peg.id %>>
                      <%= t.profile.name.upcase %></option>
                  <% end %>
                </select>
                <a href="#" onclick="delete_pengajar(this)">Padam</a>
              </div>
            <% end %>
          <% else %>
            <div id="timetable-id-0">
              <select name="timetable[trainer_ids][]">
                <% @trainers.each do |t| %>
                  <option value="<%= t.id %>">
                    <%= t.profile.name.upcase %></option>
                <% end %>
              </select>
            </div>
          <% end %>
          <div id="duplicater_target"></div>
        </div>
        <div style="float:left;">
          <a href="javascript: a(<%=@course_implementation.id%>);"><font style="color: blue">tambah/padam</font></a> &nbsp;|&nbsp;
          <a href="#" onclick="duplicate();">Tambah Pengajar</a> <br />
        </div>
        <div style="clear: both;"></div>
      </td>
    </tr>
    <script>
      function a(id) {
        MM_openBrWindow('/course_implementations/'+id+'/add_course_trainer_refresh_opener','','scrollbars=yes,width=600,height=600')
      }
    </script>    
  </table>
