<SCRIPT LANGUAGE="JavaScript">
  function confirm_delete(url) {
    var answer = confirm("Adakah anda pasti untuk memadam data ini?");
    if (answer) {
      location=url;
    }
  }
  function hapus(th){
    console.log($(th).hrml());
  }
</script>

<h1 align=center>Kemaskini Jadual Waktu</h1>
<%
sql = "SELECT t.id,t.profile_id,p.name from course_implementations_trainers as ci_t JOIN trainers as t ON t.id=ci_t.trainer_id JOIN profiles as p on p.id=t.profile_id where course_implementation_id = #{@course_implementation.id} ORDER BY name"
@trainers = Trainer.find_by_sql(sql)
%>
<span  id="timetable-id" style="display:none;">
  <select name="timetable[trainer_ids][]">
    <% @trainers.each do |t| %>
      <option value="<%= t.id %>"><%= t.profile.name.upcase %></option>
    <% end %>
  </select>
</span>

<%#= start_form_tag :action => 'update', :id => @timetable %>
<%= form_for(@timetable) do |f|  %>
  <% @tid = @timetable.id %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Kemaskini' %>

        <!--input name="submit" type="button" class="button" value="Padam" onClick="location.href='/timetables/destroy?id=<%=@tid%>'"!-->

  <input name="submit" type="button" class="button" value="Padam" onClick="return confirm_delete('/timetables/destroy?id=<%=@tid%>')">
  <input name="submit" type="button" class="button" value="Kembali" onClick="if  (window.opener) {  window.opener.location.reload();window.close() } else { location='?'}">
<% end  %>

