<h1>Listing hostel_blocks</h1>

<table>
  <tr>
  <% for column in HostelBlock.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for hostel_block in @hostel_blocks %>
  <tr>
  <% for column in HostelBlock.content_columns %>
    <td><%=h hostel_block.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => hostel_block %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => hostel_block %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => hostel_block }, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @hostel_block_pages.current.previous } if @hostel_block_pages.current.previous %>
<%= link_to 'Next page', { :page => @hostel_block_pages.current.next } if @hostel_block_pages.current.next %> 

<br />

<%= link_to 'New hostel_block', :action => 'new' %>
