<%= error_messages_for 'quiz_question' %>

<!--[form:quiz_question]-->
<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
<tr>
	<td valign=top align=right><b>Soalan :</b></td>
	<td><%= text_area 'quiz_question', 'questiontext', :rows => 5 %>
	<%= hidden_field 'quiz_question', 'quiz_id', :value=> @quiz.id %>
	</td>	
</tr>
<tr>
	<td align="right"><b>Format Jawapan :</b></td>
      	<td>
      	<select name="quiz_question[quiz_type_id]">
		<% @quiz_types.each do |quiz_type| %>
		<option value="<%= quiz_type.id %>"
		<%= 'selected' if quiz_type.id == @quiz_question.quiz_type_id %>>
		<%= quiz_type.description %> </option>
		<% end %>
	</select>
	</td>
</tr>

</table>
<!--[eoform:quiz_question]-->

