<%= error_messages_for 'quiz_question' %>

<!--[form:quiz_question]-->
<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
  <tr>
    <td valign=top align=right><b>Soalan :</b></td>
    <td><%= text_area 'quiz_question', 'questiontext', :rows => 5 %>
      <%= hidden_field 'quiz_question', 'quiz_id', :value=> @quiz.id %>
    </td>
  </tr>
  <tr>
    <td valign=top align=right><b>Upload Attachment :</b></td>
    <td><%= file_field "quiz_question", "picture" %></td>
  </tr>
  <tr>
    <td align="right"><b>Format Jawapan :</b></td>
    <td><%= @quiz_question.quiz_type.description %></td>
  </tr>
  <tr>
    <td valign=top align=right><b>Jawapan :</b></td>
    <td><%= text_area 'quiz_subjective', 'answer', :rows => 5  %>
      <%= hidden_field 'quiz_subjective', 'quiz_question_id', :value=> @quiz_question.id %></td>
  </tr>
</table>
<!--[eoform:quiz_question]-->

