<%= show_error_messages(@quiz_question) %>
<% if @quiz.quiz_type_id == 1 %>

  <!--[form:quiz_question]-->
  <table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
    <tr>
      <td valign=top align=right><b>Soalan :</b></td>
      <td><%= text_area 'quiz_question', 'questiontext', :rows => 5 %>
        <%= hidden_field 'quiz_question', 'quiz_id', :value=> @quiz.id %>
      </td>
    </tr>
    <tr>
      <td align="right"><b>Format Jawapan :</b></td>
      <td><%#= @quiz_question.quiz_type.description %></td>
    </tr>

    <tr>
      <td align=right><b>Jawapan :</b></td>
      <td><select id="quiz_truefalse_answer" name="quiz_truefalse[answer]">
          <option value="false">Salah</option>
          <option value="true" selected>Betul</option></select>
        <%= hidden_field 'quiz_truefalse', 'quiz_question_id', :value=> @quiz_question.id %>
      </td>
    </tr>

    <tr>
      <td align=right><b>Keterangan Jawapan :</b></td>
      <td><%= text_field 'quiz_truefalse', 'trueanswer'  %></td>
    </tr>

  </table>
  <!--[eoform:quiz_question]-->

<% elsif @quiz.quiz_type_id == 3 %>
  <table width="70%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
    <tr>
      <td valign=top align=right><b>Soalan :</b></td>
      <td><%= text_area 'quiz_question', 'questiontext', :rows => 5, :cols => 50 %>
        <%= hidden_field 'quiz_question', 'quiz_id', :value=> @quiz.id %>
        <%= hidden_field 'quiz_question', 'quiz_type_id', :value=> "2" %>
      </td>
      <td></td>
    </tr>
    <tr>
      <td valign=top align=right><b>Upload Attachment :</b></td>
      <td><%= file_field "quiz_question", "picture" %></td>
    </tr>
    <tr>
      <td valign=top align=right><b>Jawaban:</b></td>
      <td><%= text_area 'quiz_subjective', 'answer', :rows => 5  %></td>
    </tr>
    <tr>
      <td valign=top align=right><b>Markah :</b></td>
      <td><%= text_field "quiz_question", "markah" %></td>
    </tr>
  </table>
<% else %>
  <!--[form:quiz_question]-->
  <table width="70%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
    <tr>
      <td valign=top align=right><b>Soalan :</b></td>
      <td><%= text_area 'quiz_question', 'questiontext', :rows => 5, :cols => 50 %>
        <%= hidden_field 'quiz_question', 'quiz_id', :value=> @quiz.id %>
        <%= hidden_field 'quiz_question', 'quiz_type_id', :value=> "2" %>
      </td>
      <td></td>
    </tr>
    <tr>
      <td valign=top align=right><b>Upload Attachment :</b></td>
      <td><%= file_field "quiz_question", "picture" %></td>
    </tr>

    <tr>
      <th align="right">Pilihan Jawapan :</th>
      <th></th>
      <th align="left">Jawapan Betul :</th>
    </tr>
    <% 5.times do |n| %>
      <tr>
        <td></td>
        <td><%= text_area_tag "quiz_objective[#{n}][answer]", nil, :size => "50x3"  %></td>
        <td><%= check_box 'quiz_objective', 'answer_type_id', :index => n %><BR></td>
      </tr>

    <%end %>
  </table>
  <!--[eoform:quiz_question]-->
<% end %>
