<%= show_error_messages(@quiz_question) %>

<!--[form:quiz_question]-->
<table width="70%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
  <tr>
    <td valign=top align=right><b>Soalan :</b></td>
    <td><%= text_area 'quiz_question', 'questiontext', :rows => 5, :cols => 50 %>
      <%= hidden_field 'quiz_question', 'quiz_id', :value=> @quiz.id %>
      <%= hidden_field 'quiz_question', 'quiz_type_id', :value=> "2" %>
    </td>
    <td></td>
  </tr>
  <tr>
    <td valign=top align=right><b>Upload Attachment :</b></td>
    <td><%= file_field "quiz_question", "file" %></td>
  </tr>

  <tr>
    <th align="right">Pilihan Jawapan :</th>
    <th></th>
    <th align="left">Jawapan Betul :</th>
  </tr>
  <% 5.times do |n| %>
    <tr>
      <td></td>
      <td><%= text_area_tag "quiz_objective[#{n}][answer]", nil, :size => "50x3"  %></td>
      <td><%= check_box 'quiz_objective', 'answer_type_id', :index => n %><BR></td>
    </tr>

  <%end %>
</table>
<!--[eoform:quiz_question]-->

