<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF">KEMASKINI SOALAN <%= @quiz.name.upcase %></font></th>
    </tr>
    <tr>
   <td>&nbsp;</td>
    </tr>
    <tr>
    <th>
	<%= link_to 'Kembali', :action => 'list_soalan', :id => @quiz.id %> ke senarai soalan
    </th>
    </tr>
  </table>
  <BR>
<%= start_form_tag ({:action => 'update', :id => @quiz_question}, :enctype => 'multipart/form-data') %>
  <%= render :partial => 'form_edit' + @quiz_question.quiz_type_id.to_s %>
  <BR>
  <div align=center>
  <%= submit_tag 'Edit' %>
  </div>
<%= end_form_tag %>