<script type="text/javascript">
  /*************************************************************************
  This code is from Dynamic Web Coding at http://www.dyn-web.com/
  Copyright 2003 by Sharon Paine 
  See Terms of Use at http://www.dyn-web.com/bus/terms.html
  regarding conditions under which you may use this code.
  This notice must be retained in the code as is!
   *************************************************************************/

  var menuLayers = {
    timer: null,
    activeMenuID: null,
    offX: 4,   // horizontal offset
    offY: 6,   // vertical offset

    show: function(id, controller, objid, objname, e) {
      var mnu = document.getElementById? document.getElementById(id): null;
      if (!mnu) return;
      this.activeMenuID = id;
      if ( mnu.onmouseout == null ) mnu.onmouseout = this.mouseoutCheck;
      if ( mnu.onmouseover == null ) mnu.onmouseover = this.clearTimer;
      viewport.getAll();

      //objid = controller + "/" + action + "/" + objid

      document.getElementById('popmenu').innerHTML = "<ul>" +
        // "<li><a href=\""  + "/quiz_answers" + "/new/" + objid + "\">&nbsp;&nbsp;Skema Jawapan</a>" +
      // "<li><a href=\""  + controller + "/copy_and_new/" + objid + "\">&nbsp;&nbsp;Salin</a>" +
      "<li><a href=\""  + controller + "/" + objid + "/edit\">&nbsp;&nbsp;Kemaskini</a>" +
        "<li><a href=\"javascript: confirmAndGo('"  + controller + "/destroy/" + objid + "' , '" + objname + "')\">&nbsp;&nbsp;Padam</a>" +
        "</ul>"
      this.position(mnu,e);
    },
  
    hide: function() {
      this.clearTimer();
      if (this.activeMenuID && document.getElementById)
        this.timer = setTimeout("document.getElementById('"+menuLayers.activeMenuID+"').style.visibility = 'hidden'", 200);
    },
  
    position: function(mnu, e) {
      var x = e.pageX? e.pageX: e.clientX + viewport.scrollX;
      var y = e.pageY? e.pageY: e.clientY + viewport.scrollY;
    
      if ( x + mnu.offsetWidth + this.offX > viewport.width + viewport.scrollX )
        x = x - mnu.offsetWidth - this.offX;
      else x = x + this.offX;
  
      if ( y + mnu.offsetHeight + this.offY > viewport.height + viewport.scrollY )
        y = ( y - mnu.offsetHeight - this.offY > viewport.scrollY )? y - mnu.offsetHeight - this.offY : viewport.height + viewport.scrollY - mnu.offsetHeight;
      else y = y + this.offY;
    
      mnu.style.left = x + "px"; mnu.style.top = y + "px";
      this.timer = setTimeout("document.getElementById('" + menuLayers.activeMenuID + "').style.visibility = 'visible'", 200);
    },
  
    mouseoutCheck: function(e) {
      e = e? e: window.event;
      // is element moused into contained by menu? or is it menu (ul or li or a to menu div)?
      var mnu = document.getElementById(menuLayers.activeMenuID);
      var toEl = e.relatedTarget? e.relatedTarget: e.toElement;
      if ( mnu != toEl && !menuLayers.contained(toEl, mnu) ) menuLayers.hide();
    },
  
    // returns true of oNode is contained by oCont (container)
    contained: function(oNode, oCont) {
      if (!oNode) return; // in case alt-tab away while hovering (prevent error)
      while ( oNode = oNode.parentNode )
        if ( oNode == oCont ) return true;
      return false;
    },

    clearTimer: function() {
      if (menuLayers.timer) clearTimeout(menuLayers.timer);
    }
  
  }
</script>

<script>
  function confirmAndGo(url, objname) {
    if (confirm("Adakah anda pasti untuk memadam soalan " + objname + "?")) {
      location = url
    }
	
  }
</script>

<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
  <tr>
    <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF">SENARAI SOALAN <%= nof{@quiz.name.upcase} %> <%= nof{@quiz.course.name} %>(<%= nof{@quiz.course_implementation.code} %>)</font></th>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th><%= link_to 'Kembali', shiken_ichiran_quiz_path(@quiz.course_implementation_id) %> senarai ujian ||
      <%= link_to 'Tambah', new_obj_quiz_question_path(@quiz.id) %> soalan</th>
  </tr>
</table>
<BR>
<table width="70%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#777777">
  <tr bgcolor="#999999">
    <td width="5%"><b><font color="#FFFFFF">Bil</font></b></td>
    <td width="35%"><b><font color="#FFFFFF">&nbsp;Soalan</font></b></td>
    <td width="25%"><b><font color="#FFFFFF">&nbsp;Senarai Jawapan</font></b></td>
  </tr> 
  <% @quiz_questions.each_with_index do |quiz_question, i| %>

    <tr bgcolor="<%=cycle("#CCCCFF","#FFFFFF")%>" onmouseover="this.style.background='#FFFFCC'" onmouseout="this.style.background='<%=cycle("#CCCCFF","#FFFFFF")%>'"
        onmousedown="menuLayers.show('popmenu', '/quiz_questions', '<%=h quiz_question.id %>', '<%=h i.to_s %>', event)" >
      <td><%= i+1 %></td>
      <td align=left><%= nl2br(quiz_question.questiontext) %>
        <% if quiz_question.file%>
          </BR>
          <% nof{@quiz_question = QuizQuestion.find(quiz_question.id)}   %>
          <a href="<%= file_field("quiz_question", "file") %>"><font color="blue">Download Sisipan</font></a>
        <%end%></td>
      <td align=left>
        <% for q in quiz_question.quiz_objectives %>
          <%= nl2br(q.answer).html_safe if q.answer_type_id==0 %><font color=green><b><%= nl2br(q.answer).html_safe if q.answer_type_id==1%></b></font><BR>
        <% end %></td>
    </tr>
  <% end %>
</table>
<BR>
<div align=center>
<%#= link_to 'Kembali', { :page => @quiz_question_pages.current.previous } if @quiz_question_pages.current.previous %>
<%#= ' | ' if @quiz_question_pages.current.previous and @quiz_question_pages.current.next %>
<%#= link_to 'Laman Seterusnya', { :page => @quiz_question_pages.current.next } if @quiz_question_pages.current.next %>
</div>
<br />
