<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF">SENARAI TERPERINCI PESERTA KURSUS</font></th>
    </tr>
  </table>
<BR>
 <table width="85%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
	 <tr bgcolor="#000000">
	    	<td colspan="4" align="CENTER" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT KURSUS </font></b></td>
	    </tr>
	  <tr>
	    <td align="right"><b>Kursus: </b></td>
	    <td colspan=3>&nbsp;<%= nof{@course_implementation.code}%> - <%= nof{@course_implementation.course.name}%></td>
	  </tr>
	  <tr>
	    <td align="right"><b>Kumpulan Sasar: </b></td>
	    <td colspan=3>&nbsp;<%= nof{@course_implementation.course.target_group}%></td>
	  </tr>
	   <tr>
	    <td align="right"><b>Tarikh Kursus: </b></td>
	    <td>&nbsp;<%= nof{@course_implementation.date_plan_start.to_formatted_s(:my_format_4)} %> hingga
	   			<%=
		         if !@course_implementation.date_end
				 	@course_implementation.date_plan_end.to_formatted_s(:my_format_4)
				 else
				 	@course_implementation.date_end.to_formatted_s(:my_format_4)
				 end
					-%>    </td>
	  </tr>
	   <tr>
	    <td align="right"><b>Tarikh dan masa check-in: </b></td>
	    <td>&nbsp;<%= nof{@course_implementation.check_in.to_formatted_s(:my_format_7)} %></td>
		</tr>
		<tr>
	    <td align="right"><b>Tarikh dan masa check-out: </b></td>
	    <td>&nbsp;<%= nof{@course_implementation.check_out.to_formatted_s(:my_format_7)} %></td>
	  </tr>
	  <tr>
	    <td align="right"><b>Bilangan Peserta Kursus: </b></td>
		<td>&nbsp;<%= nof{@students.size} %></td>
	</tr>
	  <!--tr>
	    <td align="right"><b>Bilangan Penceramah Kursus: </b></td>
		<td>&nbsp;<%= nof{@notification.trainer_total} %></td>
	  </tr-->
	  	<tr>
	    <td align="CENTER" colspan="4">
		   <fieldset style="width:90%"><legend><b>Maklumat Bilik Yang Dipohon</b></legend>
		    <table width="95%" align="center" border=0>
	<%
		  	  ds = @course_implementation.date_start
			  de = @course_implementation.date_end
			  howlong = (de-ds).to_i+1
			  @options = Array.new;
			  @days = Array.new
			  howlong.times do |i|
			  	b = ds+i
				c = dmy(b,"-","/");
			  	@options.push([c,ds+i]);
			  end
			  @days = @options;

			  @days.each { |day|
	%>
				<tr>
					<td width="100" align="right"><%=day[0]%>:</td>
					<td>
	<%
	fr = FacilityReservation.find(:first, :conditions =>"course_implementation_id='#{@course_implementation.id}' and date_from='#{day[1]}'")
	%>
					<%=nof{fr.facility.facility_type.description}%> - <%=nof{fr.facility.name}%>

					</td>
				</tr>
	<%        } %>
			</table>
		   </fieldset>	  </td>
	  </tr>


	 <tr bgcolor="000000">
	     <td colspan="4" align="CENTER" bgcolor="#FFFFFF">&nbsp;</td>
	   </tr>
	   <tr bgcolor="000000">
	    	<td colspan="4" align="CENTER" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT PENYELARAS </font></b></td>
	    </tr>
	    <tr>
	    <td align="right"><b>Penyelaras 1: </b></td>
	    <td>&nbsp;<%= nof{@course_implementation.penyelaras1.profile.name.upcase}%>
		(<b>HP:</b>&nbsp;<%=nof{@course_implementation.penyelaras1.profile.mobile}%>)</td>
	  </tr>
	      <tr>
	    <td align="right"><b>Penyelaras 2: </b></td>
	    <td>&nbsp;<%= nof{@course_implementation.penyelaras2.profile.name.upcase}%>
		(<b>HP:</b>&nbsp;<%= nof{@course_implementation.penyelaras2.profile.mobile}%>)</td>
	  </tr>
	  <tr>
		<td align="right"><b>Disediakan Oleh: </b></td>
		<td>&nbsp;<%= nof{@notification.user.profile.name}%></td>
	      <td align="right"><b>Tarikh:</b></td>
		<td>&nbsp;<%= nof{@notification.created_on.to_formatted_s(:my_format_4)} %></td>
	    </tr>
	 <tr bgcolor="000000">
	     <td colspan="4" align="CENTER" bgcolor="#FFFFFF">&nbsp;</td>
	   </tr>
  </table>
  



  <table width="85%" border="<%=list_border%>" align="center" cellpadding="<%=list_cellpadding%>" cellspacing="<%=list_cellspacing%>" bgcolor="<%=list_bgcolor%>">
	   <tr bgcolor="000000">
	    	<td colspan="7" align="CENTER" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT PESERTA </font></b></td>
	    </tr>
      <tr bgcolor="#999999">
  <td width="5%" align="CENTER"><b><font color="#FFFFFF">Bil</font></b></td>
  <td width="" align="CENTER"><b><font color="#FFFFFF">Nama</font></b></td>
  <td width="" align="CENTER"><b><font color="#FFFFFF">Gred</font></b></td>
  <td width="" align="CENTER"><b><font color="#FFFFFF">Jabatan</font></b></td>
  <td width="" align="CENTER"><b><font color="#FFFFFF">Jantina</font></b></td>
  <td width="" align="CENTER"><b><font color="#FFFFFF">Kecacatan</font></b></td>
  <td width="" align="CENTER"><b><font color="#FFFFFF">Vegetarian</font></b></td>
   </tr>
<%
i = 0;
even = true;

for student in @students
        i = i + 1
        bgclr = "#CCCCFF" if (even == true)
        bgclr = "#FFFFFF" if (even == false)
        even = !even
%>
<tr bgcolor="<%=bgclr%>" class="list">
        <td align=left valign=top><%= i.to_s %></td>
        <td align=left valign=top><%=h nof{student.profile.name.upcase} %></td>
        <td align=left><%=h nof{student.profile.employments[0].job_profile.job_grade} %>&nbsp;</td>
	    <td align=left valign=top><%=h nof{student.profile.opis.upcase} %>&nbsp;</td>
        <td align=left valign=top><%=h nof{student.profile.gender.description} %>&nbsp;</td>
        <td align=left valign=top><%=h nof{student.profile.handicap.description} %>&nbsp;</td>
        <td align=left valign=top><% a = ["Tidak","Ya"] %><%= nof{a[student.profile.is_vegetarian]}%>&nbsp;</td>
        </tr>
 <% end %>
</table>  
<br />
