<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
  <tr>
    <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF">MAKLUMAN PELAKSANAAN KURSUS KEPADA SEKSYEN KESELAMATAN</font></th>
  </tr>
</table>
<BR>
<% if !@check %>
  <%=form_for(@notification) do |f|%>
  <%= render :partial => 'form' %>
  <div align="center">
    <%= submit_tag "Simpan" %>
  </div>
  <% end %>
<% else %>
<%= form_for(@notification, :url => notification_path(:id => @check), :html => {:method => :put}) do |f| %>
  <%#= start_form_tag :action => 'update',  %>
  <%= render :partial => 'form_edit' %>
  <div align="center">
    <%= submit_tag 'Kemaskini' %>
  </div>
  <%end %>
<% end %>
