<h1>Listing quiz_subjectives</h1>

<table>
  <tr>
  <% for column in QuizSubjective.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for quiz_subjective in @quiz_subjectives %>
  <tr>
  <% for column in QuizSubjective.content_columns %>
    <td><%=h quiz_subjective.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => quiz_subjective %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => quiz_subjective %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => quiz_subjective }, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @quiz_subjective_pages.current.previous } if @quiz_subjective_pages.current.previous %>
<%= link_to 'Next page', { :page => @quiz_subjective_pages.current.next } if @quiz_subjective_pages.current.next %> 

<br />

<%= link_to 'New quiz_subjective', :action => 'new' %>
