<SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript">
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
</script>

<div align="center">
<%= error_messages_for 'facility' %>
</div>

<!--[form:facility]-->
  <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center"> <a href="/facilities/list"><u>Kembali</u></a> ke Senarai Sumber Kemudahan  </td>
    </tr>
    
  </table>
  <br>
  <table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
    <tr>
      <td width=40% align="right"><strong>Kategori:</strong></td>
      <td><span class="blockintro">&nbsp;
      <select name="facility[facility_category_id]" disabled>
       <% @facility_categories.each do |facility_category| %>
        <option value="<%= facility_category.id %>"
        <%= ' selected' if facility_category.id == @facility.facility_category_id %>> <%= facility_category.description %> </option>
        <% end %>  
      </select>
      </span>
      </td>
    </tr>
        <tr>
      <td width=40% align="right"><strong>Jenis:</strong></td>
      <td><span class="blockintro">&nbsp;
      <select name="facility[facility_type_id]" disabled>
       <% @facility_types.each do |facility_type| %>
        <option value="<%= facility_type.id %>"
        <%= ' selected' if facility_type.id == @facility.facility_type_id %>> <%= facility_type.description %> </option>
        <% end %>  
      </select>
      </span>
      </td>
    </tr>
    <tr>
      <td align="right"><strong>Kod:</strong></td>
      <td><span class="blockintro">&nbsp;
      <%= text_field 'facility', 'code', :maxlength=>25, :size=>20  %>      </span></td>
    </tr>
    
    <tr>
      <td align="right"><strong>Nama:</strong></td>
      <td><span class="blockintro">&nbsp; 
      <%= text_field 'facility', 'name', :maxlength=>100, :size=>30 %></span></td>
    </tr>
    
    <tr>
      <td align="right"><strong>Kapasiti:</strong></td>
      <td><span class="blockintro">&nbsp; 
      <%= text_field 'facility', 'capacity', :size=>20 %></span></td>
    </tr>
        
    <tr>
      <td align="right"><strong>Harga:</strong></td>
      <td><span class="blockintro">&nbsp;RM
      <%= text_field 'facility', 'price', :maxlength=>11, :size=>10  %>      </span></td>
    </tr>
     <tr>
      <td width=40% align="right"><strong>Status:</strong></td>
      <td><span class="blockintro">&nbsp;
      <select name="facility[facility_type_id]" disabled>
       <% @facility_statuses.each do |facility_status| %>
        <option value="<%= facility_status.id %>"
        <%= ' selected' if facility_status.id == @facility.facility_status_id %>> <%= facility_status.description %> </option>
        <% end %>  
      </select>
      </span>
      </td>
    </tr>
    </table>
  
