<script>
function submitForm(df) {
	if (checkFormDulu(df)) {
		df.submit();
	}
	else {
		return false;
	}
}

function checkFormDulu(df) {
	var is_apply_checked = 0
	var idx = 0;

	if (df.course_implementation_code.value=="") {
		alert('Sila Masukkan Kod Kursus');
		df.course_implementation_code.focus()
		return false;
	}
	for (i=0; i<df.apply_status.length ; i++ ) {
		if (df.apply_status[i].checked == true) {
			is_apply_checked++;
			idx = i;
		}
	}
	if (is_apply_checked == 0) {
		//alert('Sila Pilih Status Permohonan(Dalam Proses,Diterima atau Ditolak)');
		return false
	}
	df.action  = "/course_management/" + df.apply_status[idx].value 
	//df.action +=  "/?course_implementation_code=" + df.course_implementation_code.value
	return true;
}

function findAndSortWith(orderby,arrow) {
	var df = document.incremental
	//var arrow = "<%="DESC"%>"
	
	if (checkFormDulu(df)) {
		df.action += "?orderby=" + orderby
		if (arrow!="") {
			df.action += "&arrow=" + arrow
		}
		df.submit();
	}
	else {
		alert('ng');
	}
	
}

function updateCourseId(course_name) {
	for(var i = 0; i < list.length; i++) {
	  if (list[i].name == course_name) {
		//alert(list[i].name);
		$("course_id").value = list[i].id
	  }
	}	
}

</script>
<form method="post" name="incremental" action="" onsubmit="return checkFormDulu(document.incremental)">
  <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center">
	    <input type="radio" name="apply_status" id="apply_status_unprocessed" value="register" <%="checked" if (params[:apply_status]=="register")%>  onclick="submitForm(document.incremental)">
         <label for="apply_status_unprocessed">Pendaftaran</label>
        <input type="radio" name="apply_status" id="ichiran" value="ichiran" <%="checked" if params[:apply_status]=="ichiran"%>  onclick="submitForm(document.incremental)">
         <label for="ichiran">Senarai Peserta Berdaftar</label>
        <input type="radio" name="apply_status" id="apply_status_accepted" value="yuran" <%="checked" if params[:apply_status]=="yuran"%>  onclick="submitForm(document.incremental)">
		 <label for="apply_status_accepted">Yuran</label>
		<input type="radio" name="apply_status" id="course_attendance" value="attendance" <%="checked" if params[:apply_status]=="attendance"%>  onclick="submitForm(document.incremental)">
		 <label for="course_attendance">Kehadiran</label>
		<input type="radio" name="apply_status" id="apply_status_confirmed" value="certificate" <%="checked" if params[:apply_status]=="certificate"%> onclick="submitForm(document.incremental)">
		 <label for="apply_status_confirmed">Sijil</label>
		<input type="radio" name="apply_status" id="evaluation" value="evaluation" <%="checked" if params[:apply_status]=="evaluation"%> onclick="submitForm(document.incremental)">
		 <label for="evaluation">Penilaian</label>
		<!--input type="radio" name="apply_status" id="quiz" value="quiz" <%="checked" if params[:apply_status]=="quiz"%> onclick="submitForm(document.incremental)"-->
		 <!--label for="quiz">Ujian</label-->Kursus 
		 <input type="radio" name="apply_status" id="p_evaluation" value="p_evaluation" <%="checked" if params[:apply_status]=="p_evaluation"%> onclick="submitForm(document.incremental)">
		 <label for="p_evaluation">Penilaian Peserta</label></td>
    </tr>
  </table>
<br>
<div align="center">Kod Kursus : 
  <input type="hidden" id="course_name" name="course_name" size="80" onfocus="this.select()" value="<%=@course.name if @course %>">
		<input type="hidden" id="course_id" name="id" size="3" value="<%=@course.id if @course %>">
		<input type="text" id="course_implementation_code" name="course_implementation_code" value="<%=@course_implementation.code if @course_implementation%>" onchange="this.value=this.value.toUpperCase()">
</div>
</form>
