<style>
b		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
th		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
td		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
a		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
input		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
.box {border: solid; border-width:1}
</style>
<form name="list_form" action="/course_management/create_attendance">
  <%if @course_implementation%>
  
  <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr>
      <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">RINGKASAN KEHADIRAN</font></b></td>
    </tr>
  </table>
  <br />
  <table align="CENTER" border="0" cellspacing="0" cellpadding="2">
    <tr>
      <td align="RIGHT"><strong>Kod:</strong></td>
      <td colspan="3"><font><%=@course_implementation.code%></font></td>
    </tr>
    <tr>
      <td align="RIGHT"><strong>Tempat:</strong></td>
      <td colspan="3"><font><%=@course_implementation.course.course_location.description.upcase%></font></td>
    </tr>
    <tr>
      <td align="RIGHT"><strong>Tarikh:</strong></td>
      <td colspan="3"><font><%=@course_implementation.tempoh%></font></td>     
    </tr>
    <tr>
      <td valign="TOP" align="RIGHT"><strong>Penyelaras:</strong></td>
      <td nowrap="nowrap"><font><%=@course_implementation.penyelaras1.profile.name%> &nbsp;<br />
      </font></td>
      <td width="60" nowrap="nowrap" valign="BOTTOM" align="RIGHT"><font><b>No Tel:</b></font></td>
      <td><font><b></b><%=@course_implementation.penyelaras1.profile.mobile%></font></td>
    </tr>
    <tr>
      <td valign="TOP" align="RIGHT"><strong>Pen. Penyelaras:</strong></td>
      <td><font><%= nof{@course_implementation.penyelaras2.profile.name} %></font></td>
      <td align="RIGHT"><font><b>No Tel:</b></font></td>
      <td><font><b></b><%= nof{@course_implementation.penyelaras2.profile.mobile} %></font></td>
    </tr>
  </table>
  <br>

  <div width="95%" style="background: #FFFFFF">


<table width="95%" align="center" border="0" cellpadding="0" cellspacing="0">
  <tbody>
  <tr>
    <td valign="bottom" align="right" style="padding-bottom: 5px;">
       <input type="button"  style="background: #eeeeee" value="Tambah Sesi" onclick="new_sesi(<%=@course_implementation.id%>)" title="Tambah sesi bagi setiap hari semasa kursus">
       <input type="button"  style="background: #eeeeee" value="Cetak Senarai" onclick="new_cetak(<%=@course_implementation.id%>)" title="Cetak senarai peserta untuk catat kehadiran secara manual">
       <input name="button" type="button" value="Masuk Data" title="Kemasukan data kehadiran ke dalam sistem"  style="background: #eeeeee" onclick="new_catat(<%=@course_implementation.id%>)">     </td>
  </tr>
 </tbody>
</table>

  <table class="seven" width="95%" align="center" cellpadding="<%=list_cellpadding%>" cellspacing="<%=list_cellspacing%>" bgcolor="<%=list_bgcolor%>">
    <tr bgcolor="#999999">
      <td class="el" width="2%" height="20" valign="top" rowspan="1">&nbsp;</td>
      <td class="el" width="30%" align="center" rowspan="1"><strong><a style="color: white" href="javascript: findAndSortWith('personal_name','<%= "DESC" if (@orderby=="personal_name" && @arrow=="ASC") %>')">Nama</a></strong></td>
      <td class="el" width="5%" align="center" style="color: white"><strong>Gred</strong></td>
      <!--td class="el" width="20%" align="center" style="color: white" rowspan="2"><strong>No K/P</strong></td-->
      <td class="el" width="20%" align="center" style="color: white"><strong>Jabatan</strong></td>
      <td class="el" width="16%" align="center" style="color: white"><strong>Peratus Kehadiran </strong></td>
   </tr>
   

    <%
i = 0;
even = true;
sum = 0
for student in @students
  i = i + 1
  bgclr = "#CCCCFF" if (even == true)
  bgclr = "#FFFFFF" if (even == false)
  even = !even
  
  student.profile.courses = Course.find(params[:course_ids]) if params[:course_ids]
%>
    <tr bgcolor="<%=bgclr%>" onmouseover="this.style.background='#FFFFCC'" onmouseout="this.style.background='<%=bgclr%>'" 
        onmousedown="menuLayers.show('popmenu', '/course_applications', '<%=@course_implementation.id%>?student_id=<%=h student.id %>', '<%= student.profile.name.upcase %>', event)"  >
      <td class="el">&nbsp;<%= i.to_s %>.</td>
      <td class="el">&nbsp;<%=h student.profile.name.upcase %></td>
      <td class="el" align="left">&nbsp;<%= nof{student.profile.employments.first.job_profile.job_grade} %></td>
      <!--td class="el" align="center">&nbsp;<%=nof{student.profile.ic_number}%></td-->	
      <td class="el" align="left"><%=nof{student.profile.opis}%></td>	
      <td class="el" align="center">&nbsp;<%=getAttPercent(student.id)%>%</td>    
    </tr>
<% end %>  
</table>

</div>

  <%else%>
  <script>
  	alert("Kursus tidak wujud. Sila masukkan kursus yang betul.");
	history.back();
  </script>
  <%end%>

</form>
