<form  name="incremental" method="post" action="/course_management/override_no_sijil/<%=@course_implementation.id%>">
<%if @course_implementation%>
 <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">
	  <%=@course_implementation.course.name.upcase%>&nbsp;&nbsp;(<%=@course_implementation.tempoh%>)</font></b></td>
    </tr>
 </table>
 <br />
 <div align="center"><b><font color="blue">Jana No Sijil </font> &#8250; Set Paparan Sijil &#8250; Cetak Sijil </b></div>
 <br>
<%end%>

  <table align="center" width="95%" cellspacing="0" cellpadding="0" border="0">
    <tr>
      <%
if @course_implementation.cert_policy
	if @course_implementation.cert_policy.wajib_yuran == "1"
		polisi_yuran = "Wajib"
	else
		polisi_yuran = "Tidak Wajib"
	end
else
	polisi_yuran = ""
end
%>
      <td align="CENTER" valign="BOTTOM">No Sijil Terkini: <%=@course_implementation.course.course_department.code%>-<%=d4(getNoSijilTerkini(@course_implementation.course.course_department_id).to_i)%>-<%=@course_implementation.date_start.to_formatted_s(:my_format_y)%><br />
      [<span style="padding-bottom: 5px;"><a style="color:blue; text-decoration:underline;" href="javascript: confirmJana()">Jana no sijil menggunakan sistem</a></span>]</td>
    </tr>
  </table>
  <br />
  <table width="95%" border="0" align="center" cellpadding="1" cellspacing="1" bgcolor="#777777">
    <tr bgcolor="#999999">
      <td width="2%" valign="top"><font color="#FFFFFF">
        <input type="checkbox" name="check_all" value="0" onclick="checkAll(document.forms[0])">
      </font></td>
      <td width="2%" valign="top">&nbsp;</td>
      <td width="60%" align="center"><strong><a style="color: white" href="javascript: findAndSortWith('personal_name','<%= "DESC" if (@orderby=="personal_name" && @arrow=="ASC") %>')">Nama</a></strong></td>
      <td align="center"><font color="#FFFFFF"><strong>No Sijil </strong></font></td>
      <td align="center"><font color="#FFFFFF"><strong>No KP</strong></font></td>
    </tr>

<%
i = 0;
even = true;
for student in @students
  next if student.layak_sijil != '1'
  i = i + 1
  bgclr = "#CCCCFF" if (even == true)
  bgclr = "#FFFFFF" if (even == false)
  even = !even
  
  student.profile.courses = Course.find(params[:course_ids]) if params[:course_ids]
  jawatan = nof{student.profile.employments[0].job_profile.job_grade}
  pejabat = nof{student.profile.employments[0].place.name}
  
  arr = Array.new
  for ca in student.profile.course_applications
  	arr.push(ca.course_implementation.code) if ca.course_implementation.code != @course_implementation.code
  end
  related = arr.join(",")
   
%>

    <tr bgcolor="<%=bgclr%>" onmouseover="this.style.background='#FFFFCC'" onmouseout="this.style.background='<%=bgclr%>'" 
        onmousedown="//menuLayers.show('popmenu', '/course_applications', '<%=h student.id %>', '<%= student.profile.name.upcase %>', event)" >
      <td align="center" height="20">
	    <input type="checkbox" name="course_application_ids[]" value="<%=student.id%>" checked>	  </td>
      <td height="20">&nbsp;<%= i.to_s %>.</td>
      <td>&nbsp;<%=student.profile.name.upcase %></td>
      <td onmousedown="//menuLayers.show('popmenu', '/course_applications', '<%=h student.id %>', '<%= student.profile.name.upcase %>', event)" align="center">
        <%=@course_implementation.course.course_department.code%><input type="text" name="cert_nos[<%=student.id%>]" size="4" maxlength="10" value="<%=d4(student.no_sijil.to_i)%>"><%=@course_implementation.date_start.to_formatted_s(:my_format_y)%>      </td>
      <td onmousedown="//menuLayers.show('popmenu', '/course_applications', '<%=h student.id %>', '<%= student.profile.name.upcase %>', event)" align="center"><%=h student.profile.ic_number %></td>
    </tr>
<% end %>
  </table>
  <div align="center"> <br />
  <input type="hidden" name="course_name" value="<%=@course_implementation.course.name if @course_implementation%>">
  <input type="hidden" name="course_implementation_code" value="<%=@course_implementation.code if @course_implementation%>">
  <input name="Submit2" type="submit" value="Kemaskini No Sijil">
  <input name="Submit" type="button" value="Set Paparan Sijil &raquo;" onclick="setPaparanSijil(document.forms[0])">
  </div>
</form>
<%= '<br><div align="center" style="font-weight: bold; color: orange;">Tiada senarai</div>'.html_safe if @students.size==0%>

<script>
function setPaparanSijil(df) {
	var total_checked = 0
	
    for (i=1; i<df.elements.length; i++ ) {
       if (df.elements[i].type == "checkbox") {
         if (df.elements[i].checked == true) total_checked++
       } 
    }
	if (total_checked == 0 ) {
		alert("Sila pilih senarai peserta");
		return false;
	}
    df.action = "/course_management/set_paparan_sijil/545"
    df.submit()
}

function checkAll(df) {
  for (i=1; i<df.elements.length; i++ )
  {
     if (df.elements[i].type == "checkbox")
     {
       df.elements[i].checked = df.check_all.checked
     } 
  }
}


</script>
