<%
   t = Time.now
   @current_day= t.strftime("%d")
   @current_month= t.strftime("%m")
   @current_year= t.strftime("%Y")

   if params[:id]
     @schedule = CourseImplementation.find(params[:id])
   elsif params[:course_implementation_code]
     @schedule = CourseImplementation.find_by_code(params[:course_implementation_code])
   else
     "sila cari jalan howto exit at this point!"
   end

   #@tempoh = "07 HINGGA 10 FEBRUARI 2006"
   @tempoh = "#{@schedule.date_plan_start.to_formatted_s(:my_format_day)} " +
           "HINGGA " +
           "#{@schedule.date_plan_end.to_formatted_s(:my_format_day)} " +
           "#{$MONTH_NAMES[@schedule.date_plan_end.to_formatted_s(:my_format_month).to_i - 1].upcase} " +
           "#{@schedule.date_plan_end.to_formatted_s(:my_format_year)}"

   @tarikh_tutup_kursus = "" +
           "#{@schedule.date_plan_end.to_formatted_s(:my_format_day)} " +
           "#{$MONTH_NAMES[@schedule.date_plan_end.to_formatted_s(:my_format_month).to_i - 1].upcase} " +
           "#{@schedule.date_plan_end.to_formatted_s(:my_format_year)}"

   baris1 = "PENGESAHAN KETIDAKHADIRAN KURSUS #{@schedule.course.name.upcase} (#{@schedule.code})"
   baris2 = "PADA #{@schedule.date_plan_start.to_formatted_s(:my_format_4)} HINGGA #{@schedule.date_plan_end.to_formatted_s(:my_format_4)}"
   baris_arr = Array.new
   baris_arr.push(baris1)
   baris_arr.push(baris2)
   perkara_arr = baris_arr.join("\n")
   @perkara = "#{perkara_arr}"

   course = Course.find(@schedule.course_id)
   dept = CourseDepartment.find(course.course_department.id)
   ref = LatestApproveReference.find_by_course_department_id(dept.id)
   @rujukan_kami = ""
   @rujukan_kami = ref.latest_ref_no if ref

   @tempoh = "APRIL HINGGA DISEMBER 2006" if !@tempoh

   if @schedule.penyelaras1
     @coordinator = Profile.find(@schedule.penyelaras1.profile.id)
     @employment = Employment.find_by_profile_id(@schedule.penyelaras1.profile.id)
   else
     @coordinator = Profile.new
     @employment = Employment.new
   end

   @penyelaras_nama = "Sila masukkan nama penyelaras"
   @penyelaras_nama = @coordinator.name.upcase if @coordinator and @coordinator.name
   @penyelaras_jawatan = @employment.job_profile.job_name if (@employment && @employment.job_profile)
   @penyelaras_ext = ""

   @perenggan1 = "Dengan hormatnya saya diarah merujuk kepada perkara di atas."
   @perenggan2 = "Sukacita dimaklumkan bahawa pegawai berikut telah gagal menghadiri kursus di atas yang dianjurkan oleh Institut Tanah dan Ukur Negara (INSTUN)."
   @perenggan3 = "Untuk makluman tuan, WALAUPUN pihak penganjur menyediakan kemudahan makanan dan penginapan sepanjang kursus tersebut. Yuran pendaftaran HANYA sebanyak RM30.00
dikenakan kepada setiap peserta kursus, TETAPI MASIH GAGAL MENGHADIRI KURSUS!"
   @perenggan4 = "Pihak tuan dipohon supaya dapat merekodkan KEGAGALAN kehadiran pegawai/kakitangan tuan di dalam Buku Perkhidmatannya. Institut Tanah dan Ukur Negara (INSTUN) TIDAK ingin merakamkan ucapan terima kasih di atas komitmen dan keTIDAKhadiran pegawai tuan."
   @perenggan5 = ""

   surat_sah_content = SuratSahContent.find_by_course_implementation_id(@schedule.id)
   cetak_komputer = "1"
   cetak_komputer = surat_sah_content.is_cetakan_komputer if surat_sah_content
   format_surat = "1"
   format_surat = surat_sah_content.format_surat if surat_sah_content
   perenggan = []
   perkara = @perkara
   perkara = surat_sah_content.perkara if surat_sah_content
   perenggan[0] = perenggan1 = @perenggan1
   perenggan[0] = perenggan1 = surat_sah_content.perenggan1 if surat_sah_content
   perenggan[1] = perenggan2 = @perenggan2
   perenggan[1] = perenggan2 = surat_sah_content.perenggan2 if surat_sah_content
   perenggan[1] << "<br/>_{PESERTA}_"
   perenggan[2] = perenggan3 = @perenggan3
   perenggan[2] = perenggan3 = surat_sah_content.perenggan3 if surat_sah_content
   perenggan[3] = perenggan4 = @perenggan4
   perenggan[3] = perenggan4 = surat_sah_content.perenggan4 if surat_sah_content
   perenggan[4] = perenggan5 = @perenggan5
   perenggan[4] = perenggan5 = surat_sah_content.perenggan5 if surat_sah_content

   str_perenggan = "<p>#{perenggan.join('</p><p>')}</p>"
%>

<SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript">
    function MM_openBrWindow(theURL, winName, features) { //v2.0
        window.open(theURL, winName, features);
    }
</script>

<SCRIPT LANGUAGE="JavaScript">
    function formHandler() {
        var URL = document.form.dept.options[document.form.dept.selectedIndex].value;
        window.location.href = URL;
    }
</SCRIPT>
<br>
<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
  <tr>
    <td align="right" valign=top><strong>Rujukan Kami:</strong></td>
    <td><span class="blockintro">&nbsp;
	          <input type="text" name="rujukan_kami" size="30" maxlength="50" value="<%= @rujukan_kami %>" onchange="this.value=this.value.toUpperCase()">
	    </span>&nbsp;<!--font style="color: blue;size: 9px"><i>No rujukan terkini:&nbsp;</i><%= "#{@rujukan_kami}" %></font-->
      <a href="javascript: MM_openBrWindow('/course_management/rujukan_kami/<%= @schedule.course.course_department.id %>','','scrollbars=yes,width=500,height=300')"><font style="color: blue;size: 9px"><i>No.
        Rujukan Terkini</i></font></a><br/>
      <input type="hidden" name="nama_kursus" value="<%= "#{@schedule.course.name.upcase}" %>">
      <input type="hidden" name="tempoh" value="PADA <%= "#{@tempoh}" %>">
      <input type="hidden" name="duration" value="<%= @tempoh %>">
      <input type="hidden" name="course_department" value="<%= @schedule.course.course_department.description %>">
      <input type="hidden" name="tarikh_tutup_kursus" value="<%= msian_date_very_formal(@schedule.date_plan_end) %>">
    </td>
  </tr>
  <% if surat_sah_content %>
      <% filename = "surat_takhadir_"+ "#{@schedule.id}.pdf" %>
      <tr>
        <td align="right">&nbsp;</td>
        <td>&nbsp;<a href="/surat_pengesahan/<%= filename %>"><font style="color:red;size:9px">Download Surat
          Ketidakhadiran dijana pada <%= surat_sah_content.letter_date.to_formatted_s(:my_format_4) %></font></a>
          </font></td>
      </tr>
  <% end %>
  <tr>
    <td align="right"><strong>Tarikh :</strong></td>
    <td>&nbsp;
      <input type=text name="tarikh_surat_day" value="<%= @current_day %>" size=2 maxlength=2>
      -
      <input type=text name="tarikh_surat_month" value="<%= @current_month %>" size=2 maxlength=2>
      -
      <input type=text name="tarikh_surat_year" value="<%= @current_year %>" size=4 maxlength=4>
      &nbsp;<font color="red">dd mm yyyy</font></td>
  </tr>
  <tr>
    <td align="right"><strong>Perkara:</strong></td>
    <td><span class="blockintro">&nbsp;
          <textarea id="surat_sah_content_perkara" name="surat_sah_content[perkara]" rows="3" cols="65" style="width: 500;"><%= @perkara %></textarea>
    </span></td>
  </tr>
  <tr>
    <td align="right"><strong>Perenggan :</strong></td>
    <td>
      <span class="blockintro">&nbsp; </span>
      <%= text_area_tag "surat_sah_content[perenggan]", str_perenggan, :class => "tinymce", :rows => 40, :cols => 120, :id => "surat_sah_content_perenggan" %>
    </td>
  </tr>
  <!--<tr>-->
    <!--<td align="right"><strong>Perenggan 1:</strong></td>-->
    <!--<td><span class="blockintro">&nbsp; </span>-->
      <!--<textarea id="surat_sah_content_perenggan1" name="surat_sah_content[perenggan1]" cols="80" rows="4" style="width: 550"><%= perenggan1 %></textarea>-->
    <!--</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td align="right"><strong>Perenggan 2:</strong></td>-->
    <!--<td><span class="blockintro">&nbsp; </span>-->
      <!--<textarea id="surat_sah_content_perenggan2" name="surat_sah_content[perenggan2]" cols="80" rows="4" style="width: 550"><%= perenggan2 %></textarea>-->
    <!--</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td align="right"><strong>Perenggan 3:</strong></td>-->
    <!--<td><span class="blockintro">&nbsp; </span>-->
      <!--<textarea id="surat_sah_content_perenggan3" name="surat_sah_content[perenggan3]" cols="80" rows="4" style="width: 550"><%= perenggan3 %></textarea>-->
    <!--</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td align="right"><strong>Perenggan 4:</strong></td>-->
    <!--<td><span class="blockintro">&nbsp; </span>-->
      <!--<textarea id="surat_sah_content_perenggan4" name="surat_sah_content[perenggan4]" cols="80" rows="4" style="width: 550"><%= perenggan4 %></textarea>-->
    <!--</td>-->
  <!--</tr>-->
  <!--tr>
    <td align="right"><strong>Perenggan 5:</strong></td>
    <td><span class="blockintro">&nbsp; </span>
		<textarea id="surat_sah_content_perenggan5" name="surat_sah_content[perenggan5]" cols="80" rows="4" style="width: 550"><%= perenggan5 %></textarea></td>
  </tr-->
  <tr>
    <td align="right" valign="TOP">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="right" valign="TOP"><strong>Tandatangan :</strong></td>
    <td>&nbsp; <%=
        @signatures = Signature.find(:all, :order => "person_name")
        @options = @signatures.map { |t| [t.person_name, t.filename] }
        @options.unshift(["Sila Pilih", ""])
        @signature = Signature.new
        select(:signature, :filename, @options, :name => "signature_file", :onchange => "displaySignature(this.value)", :style => "width: 300;")
    %>
      <span class="blockintro"> <a href="javascript: MM_openBrWindow('/signatures/list_popup','','scrollbars=yes,width=700,height=400')">Tambah/Kemaskini/Padam</a></span><br/>
      <span id="gambar_sain"></span>
      <%= hidden_field 'surat_sah_content', 'tandatangan_nama', :value => @signature.person_name %>
      <%= hidden_field 'surat_sah_content', 'tandatangan_jawatan', :value => @signature.person_position %></td>
    <script>
        function displaySignature(file) {
            if (file != "") {
                $('gambar_sain').innerHTML = '&nbsp; <img border=1 src="/signatures/' + file + '" height="150" >'
            }
            else {
                $('gambar_sain').innerHTML = ''
            }
        }
    </script>
  </tr>
  <tr>
    <td align="right" valign="TOP"><strong>s/k:</strong></td>
    <td><span class="blockintro">&nbsp; </span>
      <textarea name="salinan_kepada" cols="80" rows="7" id="salinan_kepada" style="width: 550">
        Fail Timbul</textarea></td>
  </tr>
  <tr>
    <td align="right"><strong>Format Surat?:</strong></td>
    <td><span class="blockintro">&nbsp;</span>
      <input id="is_cetakan_komputer_1" name="is_cetakan_komputer" type="radio" value="1" <%= "checked" if cetak_komputer=1 %>>
      <label for="is_cetakan_komputer_1">Cetakan Komputer(tanpa header)</label><span class="blockintro">&nbsp;</span>

      <input id="is_cetakan_komputer_0" name="is_cetakan_komputer" type="radio" value="0" <%= "checked" if cetak_komputer=0 %>>
      <label for="is_cetakan_komputer_0">Tandatangan(tanpa header)</label><BR>&nbsp;

      <input id="is_cetakan_komputer_2" name="is_cetakan_komputer" type="radio" value="2" <%= "checked" if cetak_komputer=2 %>>
      <label for="is_cetakan_komputer_2">Cetakan Komputer(dengan header)</label><span class="blockintro">&nbsp;</span>

      <input id="is_cetakan_komputer_3" name="is_cetakan_komputer" type="radio" value="3" <%= "checked" if cetak_komputer=3 %>>
      <label for="is_cetakan_komputer_3">Tandatangan(dengan header)</label></td>
  </tr>
</table>
<%= hidden_field 'surat_sah_content', 'user_id', :value => session[:user].id %>
<%
   for id in params[:course_application_ids]
%>
    <input type="hidden" name="course_application_ids[]" value="<%= id %>">
<%
   end
%>
