<style>
b		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
th		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
td		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
a		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
input		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
.box {border: solid; border-width:1}
</style>
<form name="list_form">
<%if @course_implementation%>
 <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">PEMBAYARAN YURAN KURSUS</font></b></td>
    </tr>
 </table>
 <br />
 <table align="CENTER" border="0" cellspacing="0" cellpadding="2">
   <tr>
     <td align="RIGHT"><strong>Kod:</strong></td>
     <td colspan="3"><font><%=@course_implementation.code%></font></td>
   </tr>
   <tr>
     <td align="RIGHT"><strong>Tempat:</strong></td>
     <td colspan="3"><font><%=@course_implementation.course.course_location.description.upcase%></font></td>
   </tr>
   <tr>
     <td align="RIGHT"><strong>Tarikh:</strong></td>
     <td colspan="3"><font><%=@course_implementation.tempoh%></font></td>
   </tr>
   <tr>
     <td valign="TOP" align="RIGHT"><strong>Penyelaras:</strong></td>
     <td nowrap="nowrap"><font><%=@course_implementation.penyelaras1.profile.name%> &nbsp;<br />
     </font></td>
     <td width="60" nowrap="nowrap" valign="BOTTOM" align="RIGHT"><font><b>No Tel:</b></font></td>
     <td><font><b></b><%=@course_implementation.penyelaras1.profile.mobile%></font></td>
   </tr>
   <tr>
     <td valign="TOP" align="RIGHT"><strong>Pen. Penyelaras:</strong></td>
     <td><font><%= nof{@course_implementation.penyelaras2.profile.name}%></font></td>
     <td align="RIGHT"><font><b>No Tel:</b></font></td>
     <td><font><b></b><%= nof{@course_implementation.penyelaras2.profile.mobile}%></font></td>
   </tr>
 </table>
 <br>
<%end%>

  <div width="95%" style="background: #FFFFFF">
  <!--table width="95%" border="1" align="center" cellpadding="2" cellspacing="0" bgcolor="#777777"-->
  <table class="seven" width="95%" align="center" cellpadding="<%=list_cellpadding%>" cellspacing="<%=list_cellspacing%>" bgcolor="<%=list_bgcolor%>">
    <tr bgcolor="#999999">
      <td class="el" width="2%" valign="top">&nbsp;</td>
      <!-- <td class="el" width="50" valign="top" align="center"><font color="#FFFFFF"><strong>Yuran<br />
      (RM30)<br />
      </strong>
          <input type="checkbox" name="check_all" value="0" onclick="checkAll(document.list_form)"></font></td> -->
      <td class="el" width="30%" align="center"><strong><a style="color: white" href="javascript: findAndSortWith('personal_name','<%= "DESC" if (@orderby=="personal_name" && @arrow=="ASC") %>')">Nama</a></strong></td>
      <td class="el" width="8%" align="center"><font color="#FFFFFF"><strong>No KP </strong></font></td>
      <td class="el" align="center"><font color="#FFFFFF"><strong>Jabatan</strong></font></td>
      <td class="el" align="center"><font color="#FFFFFF"><strong>Tarikh Bayar<br />
      (dd/mm/yyyy)</strong></font></td>
      <td class="el" align="center"><font color="#FFFFFF"><strong>No. Resit ('-' untuk tidak berkenaan) </strong></font></td>
      <td class="el" align="center"><font color="#FFFFFF"><strong>Kadar Bayaran (RM)</strong></font></td>
    </tr>

<%
i = 0;
even = true;
for student in @students
  i = i + 1
  bgclr = "#CCCCFF" if (even == true)
  bgclr = "#FFFFFE" if (even == false)
  even = !even
  
  student.profile.courses = Course.find(params[:course_ids]) if params[:course_ids]
  jawatan = nof{student.profile.employments[0].job_profile.job_grade}
  #pejabat = nof{student.profile.employments[0].place.name}
  pejabat = nof{student.profile.opis}
  
  arr = Array.new
  for ca in student.profile.course_applications
  	arr.push(ca.course_implementation.code) if ca.course_implementation.code != @course_implementation.code
  end
  related = arr.join(",")
if student.payment_date
	payment = student.payment_date.to_formatted_s(:my_format_4)
else
	payment = Time.now.to_formatted_s(:my_format_4)
end

%>

    <tr bgcolor="<%=bgclr%>" onmouseover="this.style.background='#FFFFCC'" onmouseout="this.style.background='<%=bgclr%>'" 
        onmousedown="//menuLayers.show('popmenu', '/course_applications', '<%=h student.id %>', '<%= student.profile.name.upcase %>', event)" >
      <td class="el">&nbsp;<%= i.to_s %>.</td>
      <!-- <td class="el" align="center" height="20">
	    <% if student.is_paid == 0 %>
	    <input type="checkbox" name="course_application_ids[]" value="<%=student.id%>">
		<% else %>
		<img src="/images/tick18px.jpg">
		<% end %>		</td> -->
      <td class="el" onmousedown="//menuLayers.show('popmenu', '/course_applications', '<%=h student.id %>', '<%= student.profile.name.upcase %>', event)"><%=h student.profile.name.upcase %></td>
      <td class="el" onmousedown="//menuLayers.show('popmenu', '/course_applications', '<%=h student.id %>', '<%= student.profile.name.upcase %>', event)" align="center"><%=h student.profile.ic_number %></td>
      <td class="el" onmousedown="//menuLayers.show('popmenu', '/course_applications', '<%=h student.id %>', '<%= student.profile.name.upcase %>', event)" align="left"><%= pejabat.upcase if pejabat%>&nbsp;</td>
      <td class="el" onmousedown="//menuLayers.show('popmenu', '/course_applications', '<%=h student.id %>', '<%= student.profile.name.upcase %>', event)" align="center"><input type="" name="dates[]" size="15" value="<%= nof{payment} %>"></td>
	  <td class="el" onmousedown="//menuLayers.show('popmenu', '/course_applications', '<%=h student.id %>', '<%= student.profile.name.upcase %>', event)" align="center">&nbsp;<input type="" name="receipts[]" size="20" value="<%= nof{student.receipt_no} %>"></td>
	  <td class="el" onmousedown="//menuLayers.show('popmenu', '/course_applications', '<%=h student.id %>', '<%= student.profile.name.upcase %>', event)" align="center">&nbsp;<input type="" name="amounts[]" size="10" value="<%= nof{student.fee_amount.to_i} if student.fee_amount != nil %>"></td>
	  <input type="hidden" name="ids[]" value="<%=student.id%>">
    </tr>
<% end %>
	  <input type="hidden" name="course_implementation_id" value="<%=@course_implementation.id%>">
  </table>
  </div>
  <div align="center"><br />
    <input type="hidden" name="course_implementation_code" value="<%=@course_implementation.code if @course_implementation%>">
    <input name="Submit" type="button" value="Simpan" onclick="daftarPeserta(document.list_form)">
    <input name="Submit" type="button" value="Cetak" onclick="printPeserta(document.list_form)">
  </div>
</form>
<%= '<br><div align="center" style="font-weight: bold; color: orange;">Tiada senarai</div>' if @students.size==0%>
