<%= wicked_pdf_stylesheet_link_tag "pdf" -%>

<table border="0" width="100%">
  <tr>
    <td class="pdf_13" align="center">
      <b>SENARAI KEHADIRAN</b>
    </td>
  </tr>
  <tr>
    <td align="left">
       <table class="pdf_11">
         <tr>
           <td>Kursus</td>
           <td> : </td>
           <td><%= "#{@course_implementation.course.name.upcase} (#{@course_implementation.code})" %></td>
         </tr>
         <tr>
           <td>Tarikh Kursus</td>
           <td> : </td>
           <td><%= "#{@course_implementation.tempoh_h}" %></td>
         </tr>
         <tr>
           <td>Tarikh Kehadiran</td>
           <td> : </td>
           <td><%= dmy(@sesi_harian[0].tarikh, "-", "/") %></td>
         </tr>
       </table>
    </td>
  </tr>
  <tr>
    <td>
      <table class="pdf_table pdf_12" cellspacing="0">
        <thead>
        <tr class="bold">
          <td align="center">Bil</td>
          <td align="center">Nama</td>
          <td align="center">Kem./Jab./Agensi</td>
          <td align="center">Gred</td>
          <td align="center">No. KP</td>
          <td align="center"><%= @sesi_harian[0].session_code.time_in_text %></td>
          <td align="center"><%= @sesi_harian[1].session_code.time_in_text %></td>
          <td align="center">
            <%= @sesi_harian[2].session_code.time_in_text if @sesi_harian.size == 3 %>
          </td>
        </tr>
        </thead>
        <tbody>
        <% @students.each_with_index do |stu, idx| %>
        <tr>
          <td align="right" class="pdf_table_padding_right"><%= idx + 1 %></td>
          <td class="pdf_table_padding_right"><%= stu.profile.name %></td>
          <td class="pdf_table_padding_right"><%= nof { stu.profile.opis.upcase } %></td>
          <td class="pdf_table_padding_right"><%= nof { stu.profile.employments.first.job_profile.job_grade } %></td>
          <td class="pdf_table_padding_right"><%= stu.profile.ic_number %></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <% end %>
        </tbody>
      </table>
    </td>
  </tr>
</table>

<%
   #pdf = PDF::Writer.new(:paper => "A4", :orientation => :landscape)
   #pdf.select_font("Helvetica")
   #pdf.margins_mm(5)
   #
   #@font_size_normal = 9
   #
   #@font_size_large = 11
   #pdf.text "<b>SENARAI KEHADIRAN", :font_size => @font_size_large, :justification => :center
   ##put_text_center(10,"<b>KUTIPAN YURAN PENDAFTARAN</b>",13,pdf)
   #pdf.text(" \n")
   ##pdf.text(" \n")
   ##pdf.text(" \n")
   #
   #@rujukan_font_size = 9
   #pdf.add_text(60, pdf.y, "Kursus", @rujukan_font_size)
   #pdf.add_text(140, pdf.y, ":", @rujukan_font_size)
   #pdf.add_text(160, pdf.y, "#{@course_implementation.course.name.upcase} (#{@course_implementation.code})", @rujukan_font_size)
   #pdf.text(" \n")
   #pdf.add_text(60, pdf.y, "Tarikh Kursus", @rujukan_font_size)
   #pdf.add_text(140, pdf.y, ":", @rujukan_font_size)
   #pdf.add_text(160, pdf.y, "#{@course_implementation.tempoh_h}", @rujukan_font_size)
   #pdf.text(" \n")
   #pdf.add_text(60, pdf.y, "Tarikh Kehadiran", @rujukan_font_size)
   #pdf.add_text(140, pdf.y, ":", @rujukan_font_size)
   #pdf.add_text(160, pdf.y, dmy(@sesi_harian[0].tarikh, "-", "/"), @rujukan_font_size)
   #pdf.text(" \n")
   #
   #table = PDF::SimpleTable.new
   #table.column_order.push(*%w(1st 2nd 3rd 4th 5th 6th 7th 8th))
   #
   #table.columns["1st"] = PDF::SimpleTable::Column.new("1st")
   #table.columns["1st"].heading = "Bil"
   #
   #table.columns["2nd"] = PDF::SimpleTable::Column.new("2nd")
   #table.columns["2nd"].heading = "Nama"
   #table.columns["2nd"].heading.justification = :center
   #
   #table.columns["3rd"] = PDF::SimpleTable::Column.new("3rd")
   #table.columns["3rd"].heading = "Kem./Jab./Agensi"
   #table.columns["3rd"].heading.justification = :center
   #
   #table.columns["4th"] = PDF::SimpleTable::Column.new("4th")
   #table.columns["4th"].heading = "Gred"
   #table.columns["4th"].heading.justification = :center
   #
   #table.columns["5th"] = PDF::SimpleTable::Column.new("5th")
   #table.columns["5th"].heading = "No. KP"
   #table.columns["5th"].heading.justification = :center
   #
   #table.columns["6th"] = PDF::SimpleTable::Column.new("6th")
   #table.columns["6th"].heading = "#{@sesi_harian[0].session_code.time_in_text}"
   #table.columns["6th"].heading.justification = :center
   #
   #table.columns["7th"] = PDF::SimpleTable::Column.new("7th")
   #table.columns["7th"].heading = "#{@sesi_harian[1].session_code.time_in_text}"
   #table.columns["7th"].heading.justification = :center
   #
   #if @sesi_harian.size == 3
   #  table.columns["8th"] = PDF::SimpleTable::Column.new("8th")
   #  table.columns["8th"].heading = "#{@sesi_harian[2].session_code.time_in_text}"
   #  table.columns["8th"].heading.justification = :center
   #
   #else
   #  table.columns["8th"] = PDF::SimpleTable::Column.new("8th")
   #  table.columns["8th"].heading = " "
   #  table.columns["8th"].heading.justification = :center
   #end
   #table.show_lines = :all
   #table.shade_rows = :none
   #table.width = 700
   #table.show_headings = true
   #table.orientation = :center
   #table.position = :center
   #table.font_size = 9
   #table.heading_font_size = 10
   #
   #data_all=[]
   #jumlah = 0
   #@students.each_with_index do |stu, idx|
   #  data = [
   #          #{"1st"=> idx+1 , "2nd"=> stu.profile.name, "3rd"=> stu.profile.ic_number, "4th"=> , "5th"=> , "6th"=> , "7th"=> , "8th"=> }
   #          {"1st" => idx+1, "2nd" => stu.profile.name + "\n  ", "3rd" => nof { stu.profile.opis.upcase }, "4th" => nof { stu.profile.employments.first.job_profile.job_grade }, "5th" => stu.profile.ic_number, "6th" => "", "7th" => "",
   #           "8th" => ""}
   #  ]
   #  #data["5th"].justification = :center
   #  data_all = data_all + data
   #end
   #
   #table.data.replace data_all
   #table.columns["6th"].justification = :center
   #table.render_on(pdf)
   #@font_size_normal = 9
   #
   ##pdf.save_as("#{RAILS_ROOT}/public/yuran/report.pdf")
   #
   #if RUBY_PLATFORM == "i386-mswin32"
   #  pdf.save_as("public/yuran/" + "kehadiran.pdf") #kat windows
   #else
   #  pdf.save_as("/aplikasi/www/instun/public/yuran/" + "kehadiran.pdf") #kalu kat bsd
   #end
   ##redirect_to("/course_management/yuran/#{@course_implementation.id}?apply_status=yuran")
   #redirect_to("/yuran/" + "kehadiran.pdf")
%>