<script>
function confirmAndDelete(url, objname) {
	if (confirm("Adakah anda pasti untuk padam " + objname + "?")) {
		location = url
	}
	
}

function JanaSuratTawaran(schedule_id) {
	url = '/course_applications/cetak_surat_tawaran/' + schedule_id
	MM_openBrWindow(url,'','scrollbars=yes,width=600,height=400')
}

function rewritePopupContent(controller, objid, objname) {
    $('#popmenu').css({"width":150});
    $('#popmenu').html("<ul>" +
					        "<li><a href=\"javascript: daftarPeserta(document.list_form)\">&nbsp;&nbsp;Simpan</a>" +
					        //"<li><a href=\"javascript: rejectSelected(document.accepted_form)\">&nbsp;&nbsp;Ditolak</a>" +
					        //"<hr size=1>" +
					        //"<li><a href=\"/register/to_enroll/" + objid + "\">&nbsp;&nbsp;Lihat & Daftar</a>" +
					        "</ul>")
}
</script>

<script>
function daftarPeserta(df) {
  var sum_checked = 0

  for (i=1; i<df.elements.length; i++ )
  {
     if (df.elements[i].type == "checkbox")
     {
       if (df.elements[i].checked == true) {
         sum_checked++
       }
     } 
  }
  if (sum_checked > 0) {
    df.action = "/course_management/enroll_selected"
    df.submit()
  }
  else {
    alert("Sila Pilih Peserta")
  }
}

function checkAll(df) {
  for (i=1; i<df.elements.length; i++ )
  {
     if (df.elements[i].type == "checkbox")
     {
       df.elements[i].checked = df.check_all.checked
     } 
  }
}


</script>
    
 <!----------------------------------------------------------------------------------------->
 <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">SENARAI PESERTA  KURSUS</font></b></td>
    </tr>
 </table>
  <style>
b		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
th		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
td		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
a		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
input		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
.box {border: solid; border-width:1}
</style>
<form name="list_form">
<%if @course_implementation%>
<br />
 <table align="CENTER" border="0" cellspacing="0" cellpadding="2">
   <tr>
     <td align="RIGHT"><strong>Nama Kursus:</strong></td>
     <td colspan="3"><font><b><%=@course_implementation.course.name.upcase%></b></font></td>
   </tr>
   <tr>
     <td align="RIGHT"><strong>Kod:</strong></td>
     <td colspan="3"><font><%=@course_implementation.code%></font></td>
    </tr>
   <tr>
     <td align="RIGHT"><strong>Tempat:</strong></td>
     <td colspan="3"><font><%=@course_implementation.course.course_location.description.upcase%></font></td>
    </tr>
   <tr>
     <td align="RIGHT"><strong>Tarikh:</strong></td>
     <td colspan="3"><font><%=@course_implementation.tempoh%></font></td>
    </tr>
   <tr>
     <td valign="TOP" align="RIGHT"><strong>Penyelaras:</strong></td>
     <td nowrap="nowrap"><font><%=@course_implementation.penyelaras1.profile.name%> &nbsp;<br />
     </font></td>
     <td width="60" nowrap="nowrap" valign="BOTTOM" align="RIGHT"><font><b>No Tel:</b></font></td>
     <td><font><b></b><%=@course_implementation.penyelaras1.profile.mobile%></font></td>
   </tr>
   <tr>
     <td valign="TOP" align="RIGHT"><strong>Pen. Penyelaras:</strong></td>
     <td><font><%= nof{@course_implementation.penyelaras2.profile.name} %></font></td>
     <td align="RIGHT"><font><b>No Tel:</b></font></td>
     <td><font><b></b><%= nof{@course_implementation.penyelaras2.profile.mobile} %></font></td>
   </tr>
 </table>
 <br>
<%end%>

  <!--table width="95%" border="0" align="center" cellpadding="1" cellspacing="1" bgcolor="#777777"-->
  <table width="95%" border="<%=list_border%>" align="center" cellpadding="<%=list_cellpadding%>" cellspacing="<%=list_cellspacing%>" bgcolor="<%=list_bgcolor%>">
    <tr bgcolor="#999999">
      <td width="2%" valign="top">&nbsp;</td>
      <td width="30%" align="center"><font color="#FFFFFF"><strong>Nama</strong></font></td>
      <td width="8%" align="center"><font color="#FFFFFF"><strong>No KP </strong></font></td>
      <td align="center"><font color="#FFFFFF"><strong>Jabatan</strong></font></td>
      <td align="center"><font color="#FFFFFF"><strong>No Resit </strong></font></td>
      <td align="center"><font color="#FFFFFF"><strong>Tanda Tangan</strong></font></td>
    </tr>

<%
i = 0;
even = true;
for student in @students
  i = i + 1
  bgclr = "#CCCCFF" if (even == true)
  bgclr = "#FFFFFE" if (even == false)
  even = !even
  
  student.profile.courses = Course.find(params[:course_ids]) if params[:course_ids]
  jawatan = nof{student.profile.employments[0].job_profile.job_grade}
  pejabat = nof{student.profile.employments[0].place.name}
  
  arr = Array.new
  for ca in student.profile.course_applications
  	arr.push(ca.course_implementation.code) if ca.course_implementation.code != @course_implementation.code
  end
  related = arr.join(",")

%>

    <tr bgcolor="<%=bgclr%>" onmouseover="this.style.background='#FFFFCC'" onmouseout="this.style.background='<%=bgclr%>'" 
        onmousedown="//menuLayers.show('popmenu', '/course_applications', '<%=h student.id %>', '<%= student.profile.name.upcase %>', event)" >
      <td height="20">&nbsp;<%= i.to_s %>.</td>
      <td onmousedown="menuLayers.show('popmenu', '/course_applications', '<%=h student.id %>', '<%= student.profile.name.upcase %>', event)"><%=h student.profile.name.upcase %></td>
      <td onmousedown="menuLayers.show('popmenu', '/course_applications', '<%=h student.id %>', '<%= student.profile.name.upcase %>', event)" align="center">&nbsp;<%=h student.profile.ic_number %>&nbsp;</td>
      <td onmousedown="menuLayers.show('popmenu', '/course_applications', '<%=h student.id %>', '<%= student.profile.name.upcase %>', event)" align="left">&nbsp;<%= pejabat.upcase if pejabat%></td>
      <td onmousedown="menuLayers.show('popmenu', '/course_applications', '<%=h student.id %>', '<%= student.profile.name.upcase %>', event)" align="center">&nbsp;<%= nof{student.no_resit} %>&nbsp;</td>
      <td onmousedown="menuLayers.show('popmenu', '/course_applications', '<%=h student.id %>', '<%= student.profile.name.upcase %>', event)" align="center">&nbsp;&nbsp;</td>
    </tr>
<% end %>
  </table>
</form>
<%= '<br><div align="center" style="font-weight: bold; color: orange;">Tiada senarai</div>' if @students.size==0%>

<!-- popup menu initial layer----->
<div id="popmenu" class="menu"></div><br>
<script>
window.print();
</script>

