<%
if @course_implementation
	@schedule = @course_implementation
	@tempoh = "#{@schedule.date_plan_start.to_formatted_s(:my_format_day)} " + 
    	      "HINGGA " +
			  "#{@schedule.date_plan_end.to_formatted_s(:my_format_day)} " + 
		 	  "#{@schedule.date_plan_end.to_formatted_s(:my_format_e_month).upcase} " +
		 	  "#{@schedule.date_plan_end.to_formatted_s(:my_format_year)}"
end

  ds = @course_implementation.date_start
  de = @course_implementation.date_end
  howlong = (de-ds).to_i+1
  @options = Array.new;
  @days = Array.new
  howlong.times do |i|
	b = ds+i
	c = dmy(b,"-","/");
	@options.push([c,ds+i]);
  end
  @days = @options;
%>

    
 <!----------------------------------------------------------------------------------------->
 <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT KEHADIRAN : <%=@course_implementation.code%>&nbsp; <%=@course_implementation.course.name.upcase%>&nbsp;&nbsp;(<%=@course_implementation.tempoh%>)</font></b></td>
    </tr>
 </table>
  <br>

<style>
b		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
th		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
td		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
a		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
input		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
.box {border: solid; border-width:1}
</style>
<div align="center"><b>Maklumat Kehadiran </b></div>
<form action="/course_management/new_sesi/<%=@course_implementation.id%>" method="get" name="list_form" id="list_form" onsubmit="return GoSubmit(this.list_form)">
  <%if @course_implementation%>
  <br />
  <table align="CENTER" border="0" cellspacing="0" cellpadding="2">
    <!--tr>
      <td align="RIGHT"><strong>Kod:</strong></td>
      <td colspan="3"><font><%=@course_implementation.code%></font></td>
    </tr>
    <tr>
      <td align="RIGHT"><strong>Tempat:</strong></td>
      <td colspan="3"><font><%=@course_implementation.course.course_location.description.upcase%></font></td>
    </tr-->
    <tr>
      <td align="RIGHT"><strong>Kursus:</strong></td>
      <td><font><%=@course_implementation.course.name.upcase%> (<%=@course_implementation.code%>)</font></td>
    </tr>
    <tr>
      <td align="RIGHT"><strong>Tarikh Kursus:</strong></td>
      <td><font><%=@course_implementation.tempoh%></font></td>
    </tr>
    <tr>
      <td valign="TOP" align="RIGHT"><strong>Penyelaras:</strong></td>
      <td nowrap="nowrap"><font><%=@course_implementation.penyelaras1.profile.name%> &nbsp;<br />
      </font></td>
    </tr>
    <tr>
      <td valign="TOP" align="RIGHT"><strong>Pen. Penyelaras:</strong></td>
      <td><font><%= nof{@course_implementation.penyelaras2.profile.name} %></font></td>
    </tr>
    <tr>
      <td valign="TOP" align="RIGHT"><strong>Nama Peserta </strong></td>
      <td><%=@student.profile.name%> / <%= nof{@employment.job_profile.job_grade} %></td>
    </tr>
    <tr>
      <td valign="TOP" align="RIGHT"><strong>Jabatan</strong></td>
      <td><%=@student.profile.opis%></td>
    </tr>
  </table>
</form>
  <%end%>

  <center>
      <table width="60%" border=0>
      <tr>
        <td align="center"><span style="background: #ccffcc;"><input type="checkbox" checked>&nbsp;&nbsp;</span> : Hadir
		 &nbsp;&nbsp;<span style="background: #ffcccc;"><input type="checkbox">&nbsp;&nbsp;</span> : Tidak Hadir
		</td>
      </tr>
      </table>
    <fieldset style=" width:60%;">
      <legend>Maklumat Kehadiran</legend>
	  <br>
      <table width="90%" border=1>
      <tr>
        <th>Tarikh</th>
        <th>Sesi</th>
      </tr>
      <%
  @days.each { |day|
%>
      <tr>
        <td><%=day[0]%></td>
        <td nowrap><%
	  sql = "select * from sesi_harian as sh INNER JOIN session_codes as sc ON sc.id=sh.session_code_id
	         where course_implementation_id=#{@course_implementation.id} and tarikh='#{day[1]}'
	         "
	  sql = "select * from sesi_harian where course_implementation_id=#{@course_implementation.id} and tarikh='#{day[1]}'"
	  sesi = SesiHarian.find_by_sql(sql);
	  sesi.each { |sesi_harian|
	  	
		#this student attend the class?
		att_sql = "select * from attendances where course_application_id=#{params[:student_id]}
		           and sesi_harian_id=#{sesi_harian.id}"
	  	@att = Attendance.find_by_sql(att_sql)
		bg = "#ccffcc"
		checked = "checked"
		if @att.size == 0
			bg = "#ffcccc"
			checked = ""
		end
	%>
            <span style=" background:<%=bg%>;">
			<input type="checkbox" <%=checked%>>
			<%=sesi_harian.session_code.time_in_text%></span>
   <% } %>        </td>
        </tr>
      <%
  }
%>
    </table>
      <br />
    <b>Peratus Kehadiran:  <%=@percent%>%</b>
    </fieldset>
	
	<br>
	<form>
	<input type="button" value="OK" onclick="history.back()">
	</form>
  </center>
 
