<%
if @course_implementation
	@schedule = @course_implementation
	@tempoh = "#{@schedule.date_plan_start.to_formatted_s(:my_format_day)} " +
	      "HINGGA " +
			  "#{@schedule.date_plan_end.to_formatted_s(:my_format_day)} " +
			  "#{@schedule.date_plan_end.to_formatted_s(:my_format_e_month).upcase} " +
			  "#{@schedule.date_plan_end.to_formatted_s(:my_format_year)}"
end

  ds = @course_implementation.date_start
  de = @course_implementation.date_end
  howlong = (de-ds).to_i+1
  @options = Array.new;
  @days = Array.new
  howlong.times do |i|
	b = ds+i
	c = dmy(b,"-","/");
	@options.push([c,ds+i]);
  end
  @days = @options;
%>


 <!----------------------------------------------------------------------------------------->
 <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr>
      <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">SET SESI KEHADIRAN: <%=@course_implementation.code%>&nbsp; <%=@course_implementation.course.name.upcase%>&nbsp;&nbsp;(<%=@course_implementation.tempoh%>)</font></b></td>
    </tr>
 </table>
  <br>

<style>
b		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
th		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
td		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
a		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
input		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
.box {border: solid; border-width:1}
</style>
<div align="center"><b><font color="blue">Pilih Tarikh	Sesi </font> &#8250; Masuk Data Kehadiran </b></div>
<form action="/course_management/new_sesi/<%=@course_implementation.id%>" method="get" name="list_form" id="list_form" onsubmit="return GoSubmit(this.list_form)">
  <%if @course_implementation%>
  <br />
  <table align="CENTER" border="0" cellspacing="0" cellpadding="2">
    <!--tr>
      <td align="RIGHT"><strong>Kod:</strong></td>
      <td colspan="3"><font><%=@course_implementation.code%></font></td>
    </tr>
    <tr>
      <td align="RIGHT"><strong>Tempat:</strong></td>
      <td colspan="3"><font><%=@course_implementation.course.course_location.description.upcase%></font></td>
    </tr-->
    <tr>
      <td align="RIGHT"><strong>Kursus:</strong></td>
      <td><font>&nbsp; <%=@course_implementation.course.name.upcase%> (<%=@course_implementation.code%>)</font></td>
    </tr>
    <tr>
      <td align="RIGHT"><strong>Tarikh Kursus:</strong></td>
      <td><font>&nbsp; </font><font><%=@course_implementation.tempoh%></font></td>
    </tr>

    <tr>
      <td valign="TOP" align="center" colspan="2">&nbsp;</td>
    </tr>
  </table>
</form>
  <%end%>

  <center>
    <fieldset style=" width:60%;">
      <legend>Senarai Sesi Harian</legend>
      <table width="90%" border=1>
      <%
  @days.each { |day|
%>
      <tr>
	<td><%=day[0]%></td>
	<td nowrap><%
	  sql = "select * from sesi_harian as sh INNER JOIN session_codes as sc ON sc.id=sh.session_code_id
		 where course_implementation_id=#{@course_implementation.id} and tarikh='#{day[1]}'
		 "
	  sesi = SesiHarian.find_by_sql(sql);
	  sesi.size.times do |i|
	%>
	    <span style=" background:#dddddd;"><%=sesi[i].time_in_text%></span>
	    <% end %>
	</td>
	<!--td nowrap>&nbsp;<a href="/course_management/masuk_data_kehadiran/<%=@course_implementation.id%>?sesi_harian[tarikh]=<%=day[1]%>"><font style="color:blue; text-decoration:underline;">Masuk Data</a>&nbsp;</td-->
	<td nowrap>&nbsp;<a href="javascript: b('<%=day[1]%>')"><font style="color:blue; text-decoration:underline;">Masuk Data</a>&nbsp;</td>
      </tr>
      <%
  }
%>
    </table>
    </fieldset>

	<br>
	<form name="form2" method="post">
	<input type="hidden" value="" name="sesi_harian[tarikh]" id="sesi_harian_tarikh">
	<input type="button" value="Tutup" onclick="self.close()">
	</form>
  </center>

<script>

function b(v) {
	document.getElementById('sesi_harian_tarikh').value = v
	document.form2.action = "/course_management/masuk_data_kehadiran/<%=@course_implementation.id%>"
	document.form2.submit();
}
</script>

