<%
if @course_implementation
  @schedule = @course_implementation
  @tempoh = "#{@schedule.date_plan_start.to_formatted_s(:my_format_day)} " +
    "HINGGA " +
    "#{@schedule.date_plan_end.to_formatted_s(:my_format_day)} " +
    "#{@schedule.date_plan_end.to_formatted_s(:my_format_e_month).upcase} " +
    "#{@schedule.date_plan_end.to_formatted_s(:my_format_year)}"
end
%>


<!----------------------------------------------------------------------------------------->
<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
  <tr>
    <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">TAMBAH</font><font color="#FFFFFF"> SESI KEHADIRAN: <%=@course_implementation.code%>&nbsp; <%=@course_implementation.course.name.upcase%>&nbsp;&nbsp;(<%=@course_implementation.tempoh%>)</font></b></td>
  </tr>
</table>
<br>

<style>
  b		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
  th		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
  td		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
  a		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
  input		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
  .box {border: solid; border-width:1}
</style>
<div align="center"><b>Pilih Tarikh Sesi &#8250; <font color="blue">Set Sesi Kehadiran </font> </b></div>
<form name="list_form" method="get" action="/course_management/<%=@course_implementation.id%>/create_sesi" onsubmit="return ()">
  <%if @course_implementation%>
    <br />
    <table align="CENTER" border="0" cellspacing="0" cellpadding="2">
      <!--tr>
        <td align="RIGHT"><strong>Kod:</strong></td>
        <td colspan="3"><font><%=@course_implementation.code%></font></td>
      </tr>
      <tr>
        <td align="RIGHT"><strong>Tempat:</strong></td>
        <td colspan="3"><font><%=@course_implementation.course.course_location.description.upcase%></font></td>
      </tr-->
      <tr>
        <td align="RIGHT"><strong>Kursus:</strong></td>
        <td><font>&nbsp; </font><font><%=@course_implementation.course.name.upcase%> (<%=@course_implementation.code%>)</font></td>
      </tr>
      <tr>
        <td align="RIGHT"><strong>Tarikh Kursus:</strong></td>
        <td><font>&nbsp; <%=@course_implementation.tempoh%></font></td>
      </tr>
      <tr>
        <td valign="TOP" align="RIGHT"><strong>Jadual Kehadiran pada :</strong></td>
        <td nowrap="nowrap"><font>&nbsp;
            <%=dmy(params[:sesi_harian][:tarikh],"-","/")%>
            <input type="hidden" name="sesi_harian[tarikh]" value="<%=params[:sesi_harian][:tarikh]%>">
          </font></td>
      </tr>

      <tr>
        <td valign="TOP" align="RIGHT"><strong>Sesi:</strong></td>
        <td nowrap="nowrap"><font>&nbsp;
            <select name="sesi[]">
              <option value="">Sila Pilih</option>
              <%
              @session_codes = SessionCode.find(:all, :order=>"susunan")
              @session_codes.each { |sesi| %>
                <option value="<%=sesi.id%>"><%=sesi.time_in_text%></option>

              <%}
            %>
            </select>
          </font>
          <input type="checkbox" name="checkbox" value="checkbox" title="Tidak diambil kira didalam peratus keseluruhan">
          Tidak Diambil kira </td>
      </tr>
      <tr>
        <td valign="TOP" align="RIGHT">&nbsp;</td>
        <td nowrap="nowrap"><font>&nbsp;
            <select name="sesi[]">
              <option value="">Sila Pilih</option>
              <%
              @session_codes = SessionCode.find(:all, :order=>"susunan")
              @session_codes.each { |sesi| %>
                <option value="<%=sesi.id%>"><%=sesi.time_in_text%></option>
              <%}
            %>
            </select>
            <input type="checkbox" name="checkbox2" value="checkbox" title="Tidak diambil kira didalam peratus keseluruhan">
            Tidak Diambil kira</font></td>
      </tr>
      <tr>
        <td valign="TOP" align="RIGHT">&nbsp;</td>
        <td nowrap="nowrap"><font>&nbsp;
            <select name="sesi[]">
              <option value="">Sila Pilih</option>
              <%
              @session_codes = SessionCode.find(:all, :order=>"susunan")
              @session_codes.each { |sesi| %>
                <option value="<%=sesi.id%>"><%=sesi.time_in_text%></option>
              <%}
            %>
            </select>
            <input type="checkbox" name="checkbox3" value="checkbox" title="Tidak diambil kira didalam peratus keseluruhan">
            Tidak Diambil kira</font></td>
      </tr>
      <!--tr>
        <td valign="TOP" align="RIGHT">&nbsp;</td>
        <td nowrap="nowrap"><font>&nbsp;
          <select name="sesi[]">
                    <option value="">Sila Pilih</option>
      <%
      @session_codes = SessionCode.find(:all, :order=>"susunan")
      @session_codes.each { |sesi| %>
              <option value="<%=sesi.id%>"><%=sesi.time_in_text%></option>
      <%}
    %>
          </select>
          <input type="checkbox" name="checkbox4" value="checkbox" title="Tidak diambil kira didalam peratus keseluruhan">
  Tidak Diambil kira</font></td>
      </tr>
      <tr>
        <td valign="TOP" align="RIGHT">&nbsp;</td>
        <td nowrap="nowrap"><font>&nbsp;
          <select name="sesi[]">
                    <option value="">Sila Pilih</option>
      <%
      @session_codes = SessionCode.find(:all, :order=>"susunan")
      @session_codes.each { |sesi| %>
              <option value="<%=sesi.id%>"><%=sesi.time_in_text%></option>
      <%}
    %>
          </select>
          <input type="checkbox" name="checkbox5" value="checkbox" title="Tidak diambil kira didalam peratus keseluruhan">
  Tidak Diambil kira</font></td>
      </tr-->

      <tr>
        <td valign="TOP" align="center" colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td valign="TOP" align="center" colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td valign="TOP" align="center" colspan="2">
          <input type="button" name="Submit2" value="&laquo; Kembali" onclick="location='/course_management/<%=@course_implementation.id%>/new_tarikh_sesi'">
          <input type="submit" name="Submit" value="Simpan"></td></tr>
    </table>
  </form>
  <br>
<%end%>

<script src="/javascripts/form_validator.js" type="text/javascript"></script>
<script>
  function toggle_default(cb) {
    s1 = document.getElementById('sesi_1');
    s2 = document.getElementById('sesi_2');
    s3 = document.getElementById('sesi_3');
    s4 = document.getElementById('sesi_4');
    s5 = document.getElementById('sesi_5');

    if (cb.checked == true) {

      s1.value = '08:30 - 10:30'; s1.style.background = '#dddddd'; //s1.disabled = true;
      s2.value = '11:00 - 13:00'; s2.style.background = '#dddddd'; //s2.disabled = true;
      s3.value = '14:30 - 16:30'; s3.style.background = '#dddddd'; //s3.disabled = true;
      s4.value = ''; s4.style.background = '#dddddd'; //s4.disabled = true;
      s5.value = ''; s5.style.background = '#dddddd'; //s5.disabled = true;
    }
    else {
      s1.style.background = '#ffffff'; s1.disabled = false;
      s2.style.background = '#ffffff'; s2.disabled = false;
      s3.style.background = '#ffffff'; s3.disabled = false;
      s4.style.background = '#ffffff'; s4.disabled = false;
      s5.style.background = '#ffffff'; s5.disabled = false;

    }

  }

  function checkTempoh(cimp_id) {
    node = document.getElementById('kehadiran_pada');
    memo = document.getElementById('memo');
    if ( /.+/.test(node.value) ) {
      memo.innerHTML = "<br>&nbsp;<font color=orange>Sistem sedang memeriksa tempoh kursus<br>&nbsp;Sila tunggu..</font>"
      saido_ajax_request("/ajax/ajax_tempoh", "id="+ cimp_id + "&tarikh="+node.value, ajax_response)
    }
  }

  function saido_ajax_request(url, data, response) {
    var myAjax = new Ajax.Request(
    url,
    {method: 'get', parameters: data, onComplete: response}
  );
  }

  function ajax_response(originalRequest) {
    //alert(originalRequest.responseText)
    if (originalRequest.responseText != 0) {
      memo.innerHTML = "<br>&nbsp;<font color=green> OK.<br>&nbsp;</font>"

      //document.forms[0].action = "/course_applications/new_but_peserta_already_exist?";
      //document.forms[0].submit();
    }

    else {
      memo.innerHTML = "<font color=red><br>&nbsp; <b>Tarikh tidak wujud.<br>&nbsp; Sila masukkan tarikh yang betul</b></font>"
    }
  }

</script>
