    
 <!----------------------------------------------------------------------------------------->

 <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">PENDAFTARAN ASRAMA </font></b></td>
    </tr>
 </table>
  <br>
  <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center"><u><%= link_to 'Carian Pemohon', :action => 'search' %></u></td>
    </tr>
  </table>
  <br>

  <table width="95%" border="0" align="center" cellpadding="2" cellspacing="1" bgcolor="#777777">
    <tr bgcolor="#999999">
      <td width="2%" valign="top"><font color="#FFFFFF">&nbsp;</font></td>
      <td width="30%" align="center"><font color="#FFFFFF"><strong>Nama</strong></font></td>
      <td width="8%" align="center"><font color="#FFFFFF"><strong>No IC </strong></font></td>
      <td width="35%" align="center"><strong><font color="#FFFFFF">Kursus dipohon </font></strong></td>
      <td width="11%" align="center"><font color="#FFFFFF"><strong>Tarikh Mohon </strong></font></td>
      <!--td width="25%" align="center"><font color="#FFFFFF"><strong>Type</strong></font></td-->
      <td width="25%" align="center"><font color="#FFFFFF"><strong>Status</strong></font></td>
      <!--td align="center"><font color="#FFFFFF">Action</font></td-->
    </tr>

<%
i = 0;
even = true;
for student in @searches
  i = i + 1
  bgclr = "#CCCCFF" if (even == true)
  bgclr = "#FFFFFF" if (even == false)
  even = !even
  

%>

    <tr bgcolor="<%=bgclr%>" onmouseover="this.style.background='#FFFFCC'" onmouseout="this.style.background='<%=bgclr%>'" 
        onmousedown="location='/register/to_enroll/<%=h student.id %>' //menuLayers.show('popmenu', '/register', '<%=h student.id %>', '<%= student.profile.name.upcase %>', event)" >
      <td><%= i.to_s %>.</td>
      <td nowrap>&nbsp;<%=h student.profile.name.upcase %></td>
      <td>&nbsp;<%=h student.profile.ic_number %></td>
      <td align="left">&nbsp;<%= student.course.name.upcase %></td>
      <td align="center"><%= student.date_apply %></td>
      <td align="center"><%= student.student_status_id %></td>
      <!--td align="center" nowrap><%= link_to 'Detail', :action => 'show', :id => student %> | <%= link_to 'Edit', :action => 'edit', :id => student %></td-->
    </tr>
<% end %>
  </table>

<!--The popup menu initial layer----->
<div id="popmenu" class="menu">
  <ul>
  	<li id="jongos"><a href="#">Menu 1 link 1</a></li>
  </ul>
</div>

