<!--incremental search setting-->
<link rel="stylesheet" type="text/css" href="/stylesheets/incremental-search.css" />
<script src="/javascripts/event.js" type="text/javascript"></script>
<script src="/javascripts/incremental-search.js" type="text/javascript"></script>
<!--incremental search setting end-->

<script src="/javascripts/prototype.js" type="text/javascript"></script>
<script>
function toggleStudentTypeSelection() {
	if (document.getElementById('student_type_id').value == 4) {
		document.getElementById('select_organization').style.color = '#000000';
		$("organization_name").style.background = '#ffffff';
		$("organization_name").disabled=false
	}
	else {
		document.getElementById('select_organization').style.color = '#dddddd';
		$("organization_name").style.background = '#eeeeee';
		$("organization_name").value="";
		$("personal_organization_id").value="";
		$("organization_name").disabled=true;
	}
	
}

function hideAllSelectMenu() {
	var df = document.forms[0]
	for (i=0; i<df.length; i++) {
		if (df.elements[i].type == "select-one") df.elements[i].style.visibility='hidden'
	}
}
function showAllSelectMenu() {
	var df = document.forms[0]
	for (i=0; i<df.length; i++) {
		if (df.elements[i].type == "select-one") df.elements[i].style.visibility='visible'
	}
}

function findCompanyId(comp_name) {
	for(var i = 0; i < company_list.length; i++) {
	  if (company_list[i].name == comp_name) {
		//alert(company_list[i].name);
		$("personal_organization_id").value = company_list[i].id
	  }
	}
}

function updateCourseId(course_name) {
	for(var i = 0; i < list.length; i++) {
	  if (list[i].name == course_name) {
		//alert(list[i].name);
		$("student_course_id").value = list[i].id
	  }
	}
	
	checkSchedule();
}

function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}

function popupAddSchedule() {
	if ($("student_course_id").value != "") {
		MM_openBrWindow('/course_schedule/new_popup/'+ $("student_course_id").value ,'','scrollbars=yes,width=800,height=400')
	}
	else alert('Please enter course first');
}

</script>
<div align="center">
<%= error_messages_for 'student' %>
<%= error_messages_for 'personal' %>
</div>

<!--[form:organization]-->

  <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center"> <a href="/participant/list"><u>Cancel</u></a> and goto participant list</td>
    </tr>
  </table>
  <br>
  <table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
    <tr>
      <td align="right"><b>Course:</b></td>
      <td colspan="3">&nbsp;
	  	  <%= text_field 'course', 'name', :size=>80, :maxlength=>100, :value=>@student.course.name, :onfocus=>"this.select()" if @student.course%>
	  <%= text_field 'course', 'name', :size=>80, :maxlength=>100, :onfocus=>"this.select()" if !@student.course%>
	  <% if params[:course_id] %>
	  <%= hidden_field 'student', 'course_id', :size=>3, :value=>params[:course_id] %>
	  <% else %>
	  <%= hidden_field 'student', 'course_id', :size=>3 %>
	  <% end %>

      </td>
    </tr>
    <tr>
      <td align="right"><b>Scheme:</b></td>
      <td colspan="3">&nbsp; <span id="scheme_selection">
        <!--
	 <select id="student_course_scheme_id" name="student[course_scheme_id]" class="px200">
	 <% if @student.course%>
	  <option value="">Select schedule</option>
          <% for scheme in @course_schemes %>
          <option value="<%= scheme.id %>" <%= 'selected' if (scheme.id == @student.course_scheme_id) %> >
            <%= scheme.description %></option>
          <% end %>
	<% end %>
         </select>
         -->
      </span> </td>
    </tr>
    <script>
//course duration(schedule) selection
node_course_id = $("student_course_id");
node_schedule_selection = $("schedule_selection");
function checkSchedule() {
	$('schedule_selection').innerHTML = "<font color=orange>loading schedules...please wait</font>"
	ajax_schedule_request("/ajax/ajax_find_course_schedule", "id="+$("student_course_id").value)
}

function ajax_schedule_request(url, data) {
    var myAjax = new Ajax.Request(
        url,
        {method: 'post', parameters: data, onComplete: ajax_schedule_response}
    );
}

function ajax_schedule_response(originalRequest) {
	var a = originalRequest.responseText.split(",")
	var k = new Array(a.length)
	for (i=0; i<k.length; i++) {
		k[i] = a[i].split("=")
	}
	//alert(originalRequest.responseText)
	
	str  = "<select  id=\"student_schedule_id\" name=\"student[schedule_id]\" class=\"px200\">\n";
	str += "<option value=\"\">Select schedule</option>\n"
	for (i=0; i<k.length; i++) {

		str += "<option value=\"" + k[i][1] + "\">" + k[i][0] + "</option>\n";
	}
	str += "</select>\n";

	$("schedule_selection").innerHTML = str;
}
//eo course duration(schedule) selection
  </script>
    <tr>
      <td align="right"><b>Course Schedule:</b> </td>
      <td colspan="3">&nbsp; <span id="schedule_selection">
        <select id="student_schedule_id" name="student[schedule_id]" class="px200">
          <% if @student.course%>
          <option value="">Select schedule</option>
          <% for schedule in @student.course.schedules %>
          <option value="<%= schedule.id %>" <%= 'selected' if (schedule.id == @student.schedule_id) %> > <%= schedule.date_start.to_formatted_s(:my_format_2) %> to <%= schedule.date_end.to_formatted_s(:my_format_2) %></option>
          <% end %>
          <% end %>
        </select>
      </span> [<a href="javascript: popupAddSchedule()">add new</a>] </td>
    </tr>
    <tr>
      <td align="right"><b>Date Apply:</b></td>
      <td colspan="3"><span class="blockintro">&nbsp; </span><%= date_select 'student', 'date_apply', :order => [:day, :month, :year], :start_year=>1990  %></td>
    </tr>
    <tr>
      <td align="right">&nbsp;<b>Actual Date Start:</b></td>
      <td colspan="3">&nbsp; <%= date_select 'student', 'date_start', :order => [:day, :month, :year], :start_year=>1990  %> &nbsp;&nbsp; <b>Actual </b><b>Date End:</b> &nbsp;<%= date_select 'student', 'date_end', :order => [:day, :month, :year], :start_year=>1990  %></td>
    </tr>
    <script>
node_course_id = $("student_course_id");
node_scheme_selection = $("scheme_selection");
function checkScheme() {
	node_scheme_selection.innerHTML = "<font color=orange>checking schemes...please wait</font>"
	ajax_scheme_request("/ajax/ajax_find_course_scheme", "course_id="+node_course_id.value)
}

function ajax_scheme_request(url, data) {
    var myAjax = new Ajax.Request(
        url,
        {method: 'post', parameters: data, onComplete: ajax_scheme_response}
    );
}

function ajax_scheme_response(originalRequest) {
	var a = originalRequest.responseText.split(",")
	var k = new Array(a.length)
	for (i=0; i<k.length; i++) {
		k[i] = a[i].split("=")
	}
	
	str = ""
	for (i=0; i<k.length; i++) {
		str += "<input name=\"student[course_scheme_id]\" type=\"radio\" value=\"" + k[i][1] + "\"checked><label for=\"student_course_scheme_id\">" +
	                                  k[i][0] +
					  "</label>\n";
	}
	node_scheme_selection.innerHTML = str;
}
  </script>
    <tr>
      <td align="right" valign="top"><b>Type:</b></td>
      <td colspan="3">&nbsp;
          <select id="student_type_id" name="student[student_type_id]" onchange="toggleStudentTypeSelection()">
            <% @student_types.each do |student_type| %>
            <option value="<%= student_type.id %>" 
	   			<% if @student %>
	   			<%= "selected" if student_type.id == @student.student_type_id %>
	   			<% else %>
	   			<%  if params[:student] %>
	   			<%= "selected" if student_type.id == params[:student][:student_type_id].to_i %>
	   			<%  end %>
	   			<% end %>> <%= student_type.description %></option>
            <% end %>
          </select>
      </td>
    </tr>
    <tr>
      <td align="right"><span id="select_organization" style="color: #dddddd"><b>Company Name:</b></span></td>
      <td colspan="3">&nbsp; <%= text_field 'organization', 'name', :size=>80, :maxlength=>100, :onfocus=>"this.select()"%> <%= hidden_field 'personal', 'organization_id', :size=>3 %> </td>
    </tr>
    <tr>
      <td colspan="4" align="right"><hr width="95%" size="1" /></td>
    </tr>
    <tr>
      <td width="20%" align="right"><strong>Applicant's Name: </strong></td>
      <td colspan="3"><span class="blockintro"> &nbsp; <%= text_field 'personal', 'name', :size=>73, :maxlength=>100, :onchange=>"this.value=this.value.toUpperCase()"%></span></td>
    </tr>
    <tr>
      <td align="right" valign="top"><strong>NRIC #: </strong></td>
      <td>&nbsp; <%= text_field 'personal', 'nric', :maxlength=>12, :class=>"px200", :onchange=>"checkNRIC()"  %> <span id="node_identification_memo"> </span> </td>
      <td align="right"><strong>Old NRIC #:</strong></td>
      <td><span class="style2">&nbsp; <%= text_field 'personal', 'old_nric', :maxlength=>10, :class=>"px200"  %></span></td>
    </tr>
    <script>
node = $("personal_nric");
node_identification_memo = $("node_identification_memo");

function checkNRIC() {
	node_identification_memo.innerHTML = "<br>&nbsp;<font color=orange>checking if already exist...please wait</font>"
	ajax_request("/ajax/ajax_nric", "nric="+node.value)
}

function ajax_request(url, data) {
    var myAjax = new Ajax.Request(
        url,
        {method: 'get', parameters: data, onComplete: ajax_response}
    );
}

function ajax_response(originalRequest) {
	//alert(originalRequest.responseText)
	if (originalRequest.responseText == 1) {
		node_identification_memo.innerHTML = "<br>&nbsp;<font color=orange>This IC No has already been taken.<br>&nbsp;Please enter another</font>"
		node.select()
		//document.forms[0].action = "new_but_student_already_exist";
		//document.forms[0].submit();
	}
	else {
		node_identification_memo.innerHTML = "<font color=orange>Applicant not found.</font>"
		node_identification_memo.innerHTML = ""
		//document.forms[0].action = "create";
	}
}
  </script>
    <tr>
      <td align="right"><span class="blockintro"><span class="style2"><strong>Birth Certificate #:</strong></span></span></td>
      <td><span class="blockintro"><span class="style2">&nbsp; <%= text_field 'personal', 'birth_cert_no', :maxlength=>10, :class=>"px200"  %> &nbsp;</span></td>
      <td align="right"><strong>Passport:</strong></td>
      <td><span class="style2">&nbsp; <%= text_field 'personal', 'passport', :maxlength=>12, :class=>"px200"  %></span></td>
    </tr>
    <tr>
      <td align="right"><span class="blockintro"><span class="style2"><strong>Race:</strong></span></span></td>
      <td>&nbsp;
          <select name="personal[race_id]" class="px200">
            <% @races.each do |race| %>
            <option value= "<%= race.id %>"
         		<%= ' selected' if race.id == @personal.race_id %>> <%= race.description %> </option>
            <% end %>
        </select></td>
      <td align="right"><strong>Nationality:</strong></td>
      <td nowrap="nowrap"><span class="blockintro">&nbsp; </span>
          <select name="personal[nationality_id]" class="px200">
            <% @nationalities.each do |nationality| %>
            <option value= "<%= nationality.id %>"
         		<%= ' selected' if nationality.id == @personal.nationality_id %>> <%= nationality.description %> </option>
            <% end %>
        </select></td>
    </tr>
    <tr>
      <td align="right"><strong>Gender:</strong></td>
      <td>&nbsp;
          <select name="personal[gender_id]" class="px200">
            <% @genders.each do |gender| %>
            <option value="<%= gender.id %>"
         		<%= ' selected' if gender.id == @personal.gender_id %>> <%= gender.description %> </option>
            <% end %>
        </select></td>
      <td align="right" nowrap="nowrap"><strong>Marital Status:</strong></td>
      <td>&nbsp;
          <select name="personal[marital_status_id]" class="px200">
            <% @marital_statuses.each do |marital_status| %>
            <option value= "<%= marital_status.id %>"
        <%= ' selected' if marital_status.id == @personal.marital_status_id %>> <%= marital_status.description %> </option>
            <% end %>
        </select></td>
    </tr>
    <!--tr>
      <td align="right"><strong>Personal Status :</strong></td>
      <td><span class="blockintro">&nbsp; </span>
        <select name="personal[personal_status_id]">
        <% @personal_statuses.each do |personal_status| %>
        <option value="<%= personal_status.id %>"
         		<%= ' selected' if personal_status.id == @personal.personal_status_id %>> <%= personal_status.description %> </option>
        <% end %>
      </select></td>
    </tr-->
    <tr>
      <td align="right"><strong>Religion:</strong></td>
      <td>&nbsp;
          <select name="personal[religion_id]" class="px200">
            <% @religions.each do |religion| %>
            <option value= "<%= religion.id %>"
         		<%= ' selected' if religion.id == @personal.religion_id %>> <%= religion.description %> </option>
            <% end %>
        </select></td>
      <td align="right" nowrap="nowrap">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td align="right"><strong>Tel #:</strong></td>
      <td nowrap="nowrap"><span class="blockintro">&nbsp;&nbsp;<%= text_field 'personal', 'phone', :maxlength=>12, :size=>30, :class=>"px200"  %>&nbsp; Home</span></td>
      <td align="right"><strong>Fax #:</strong></td>
      <td><span class="blockintro">&nbsp; <%= text_field 'personal', 'fax', :maxlength=>12, :size=>30, :class=>"px200"  %></span></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="blockintro">&nbsp;&nbsp;<%= text_field 'personal', 'handphone', :maxlength=>12, :size=>30, :class=>"px200"  %>&nbsp; Mobile</span></td>
      <td align="right">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td align="right"><strong>Position:</strong></td>
      <td colspan="3"><span class="blockintro">&nbsp; <%= text_field 'personal', 'position', :maxlength=>45, :size=>40, :onchange=>"this.value=this.value.toUpperCase()"  %></span>&nbsp;</td>
    </tr>
    <tr>
      <td align="right" valign="top"><strong>Email:</strong></td>
      <td colspan="3"><span class="style2">&nbsp; <%= text_field 'personal', 'email', :maxlength=>60, :size=>40  %></span></td>
    </tr>
    <tr>
      <td align="right" valign="top">&nbsp;</td>
      <td colspan="3">&nbsp;</td>
    </tr>
    <tr>
      <td align="right" valign="top"><strong>Address:</strong></td>
      <td colspan="3"><span class="blockintro">&nbsp; <%= text_field 'personal', 'address1', :maxlength=>45, :size=>40, :class=>"px300", :onchange=>"this.value=this.value.toUpperCase()"  %></span> &nbsp;</td>
    </tr>
    <tr>
      <td align="right">&nbsp;</td>
      <td colspan="3"><span class="blockintro">&nbsp; <%= text_field 'personal', 'address2', :maxlength=>45, :size=>40, :class=>"px300", :onchange=>"this.value=this.value.toUpperCase()"  %></span> &nbsp;</td>
    </tr>
    <tr>
      <td align="right">&nbsp;</td>
      <td colspan="3"><span class="blockintro">&nbsp; <%= text_field 'personal', 'address3', :maxlength=>45, :size=>40, :class=>"px300", :onchange=>"this.value=this.value.toUpperCase()"  %></span></td>
    </tr>
    <tr>
      <td align="right"><strong>Postcode:</strong></td>
      <td colspan="3"><span class="style2">&nbsp; <%= text_field 'personal', 'postcode', :maxlength=>5, :size=>20 %></span></td>
    </tr>
    <tr>
      <td align="right"><strong>City:</strong></td>
      <td colspan="3"><span class="style2">&nbsp; <%= text_field 'personal', 'city', :maxlength=>30, :size=>20, :class=>"px200", :onchange=>"this.value=this.value.toUpperCase()" %></span></td>
    </tr>
    <tr>
      <td align="right"><strong>State:</strong></td>
      <td colspan="3"><span class="blockintro">&nbsp;
            <select name="personal[state_id]" class="px200">
              <% @states.each do |state| %>
              <option value="<%= state.id %>"
         		<%= ' selected' if state.id == @personal.state_id %>> <%= state.description %> </option>
              <% end %>
            </select>
      </span></td>
    </tr>
    <tr>
      <td align="right"><strong>Country:</strong></td>
      <td colspan="3"><span class="blockintro">&nbsp;
            <select name="personal[country_id]" class="px200">
              <% @countries.each do |country| %>
              <option value="<%= country.id %>"
         		<%= ' selected' if country.id == @personal.country_id %>> <%= country.description %> </option>
              <% end %>
            </select>
      </span></td>
    </tr>
  </table>
  <br>
<script>
toggleStudentTypeSelection()
updateCourseName();
//if ( $('student_course_id').value != "") checkSchedule(); 
if ( $('student_course_id').value != "") checkScheme(); 
</script>
