  <table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
    <tr>
      <td align="right"><strong>Course :</strong></td>
      <td>&nbsp; <%= @student.course.name %>
      </td>
    </tr>

    <tr>
      <td align="right"><strong>Course Date :</strong></td>
      <td>&nbsp; <%= @student.schedule.date_start.to_formatted_s(:my_format_2) %> to <%= @student.schedule.date_end.to_formatted_s(:my_format_2) %> <span class="blockintro"><%= hidden_field 'payment', 'schedule_id', :maxlength=>10, :size=>3, :value=>@student.schedule_id  %></span></td>
    </tr>

    <tr>
      <td width="20%" align="right"><strong>Date:</strong></td>
      <td><span class="blockintro">&nbsp; </span><%= date_select 'payment', 'date', :order => [:day, :month, :year]  %></td>
    </tr>

    <tr>
      <td align="right"><strong>Payment Type :</strong></td>
      <td>&nbsp;
        <select name="payment[payment_type_id]">
          <% @payment_types.each do |ptype|  %>
          <option value="<%= ptype.id %>"> <%= ptype.description %> </option>
          <% end %>
        </select>
      &nbsp;<input id="is_full_payment" type="radio" name="payment[is_full_payment]" value="1"><strong>Full Payment </strong>
      &nbsp;<input id="is_full_payment" type="radio" name="payment[is_full_payment]" value="0"><strong>Partial Payment </strong>
      </td>
    </tr>

    <tr>
      <td align="right"><strong>Amount:</strong></td>
      <td><span class="blockintro">&nbsp; </span><%= text_field 'payment', 'amount'  %><span class="blockintro">&nbsp; <strong>Receipt No:&nbsp; <%= text_field 'payment', 'receipt_no'  %></strong></span></td>
    </tr>

  </table>


  