<br>
<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
  <tr bgcolor="000000">
    <td colspan="2" align="center" bgcolor="#999999"><strong><font color="#FFFFFF">MAKLUMAT WARIS</font></strong></td>
  </tr>
  <tr>
    <td colspan="2" align="right">&nbsp;</td>
  </tr>
  <tr>
    <td width="20%" align="right"><strong>Nama: </strong></td>
    <td>&nbsp; <%= @relative.name if @relative %></td>
  </tr>
  <tr>
    <td width="20%" align="right"><strong>Hubungan: </strong></td>
    <td>&nbsp; <%= @relative.relationship.description if @relative %></td>
  </tr>
  <tr>
    <td align="right" valign="top"><strong>Alamat:</strong></td>
    <td>&nbsp; <%= @relative.address1 if @relative %></td>
  </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td>&nbsp; <%= @relative.address2 if @relative %></td>
  </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td>&nbsp; <%= @relative.address3 if @relative %></td>
  </tr>
  <tr>
    <td align="right"><strong>Negeri:</strong></td>
    <td>&nbsp; <%= @relative.state.description if @relative %> </td>
  </tr>
  <tr>
    <td align="right"><strong>No Telefon Rumah:</strong></td>
    <td>&nbsp; <%= @relative.phone if @relative %></td>
  </tr>
  <tr>
    <td align="right"><strong>No Telefon Bimbit:</strong></td>
    <td>&nbsp; <%= @relative.mobile if @relative %></td>
  </tr>
</table>
<br>
