<style>
b               { font-family: Verdana, Arial, Helvetica; font-size: 11px;}
th              { font-family: Verdana, Arial, Helvetica; font-size: 11px;}
td              { font-family: Verdana, Arial, Helvetica; font-size: 11px;}
a               { font-family: Verdana, Arial, Helvetica; font-size: 11px;}
input           { font-family: Verdana, Arial, Helvetica; font-size: 11px;}
.box {border: solid; border-width:1}
</style>

<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF">SENARAI TEMPAHAN ASRAMA</font></th>
    </tr>
</table>
<BR>
 <table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
  <tr bgcolor="#000000">
    	<td colspan="4" align="CENTER" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT TERPERINCI SENARAI TEMPAHAN </font></b></td>
    </tr>
  <tr>
    <td align="right"><b>Kod/Nama Kursus: </b></td>
    <td colspan=3>&nbsp;<%= nof{@course_implementation.code}%> <%= "("+nof{@course_implementation.course.name} + ")" %></td>
  </tr>
   <tr>
    <td align="right"><b>Tarikh Mula Kursus: </b></td>
    <td>&nbsp;<%= nof{@course_implementation.date_plan_start.to_formatted_s(:my_format_4)} %></td>
    <td align="right"><b>Tarikh Tamat Kursus: </b></td>
    <td>&nbsp;<%=
	         if !@course_implementation.date_end
			 	@course_implementation.date_plan_end.to_formatted_s(:my_format_4)
			 else
			 	@course_implementation.date_end.to_formatted_s(:my_format_4)
			 end
				-%>    </td>
  </tr>
   <tr>
    <td align="right"><b>Tarikh/Waktu Check In: </b></td>
    <td>&nbsp;<%= nof{@course_implementation.check_in.to_formatted_s(:my_format_7)} %></td>
    <td align="right"><b>Tarikh/Waktu Check Out: </b></td>
    <td>&nbsp;<%= nof{@course_implementation.check_out.to_formatted_s(:my_format_7)} %></td>
  </tr>
   <tr>
     <td align="right">&nbsp;</td>
     <td>&nbsp;</td>
   </tr>
   <tr>
     <td align="center" colspan="4"><fieldset style="width:90%">
     <legend><b>Penyediaan Makanan</b></legend>
     <table width="95%" align="center" border=0>
       <%
	  	  ds = @course_implementation.date_start
		  de = @course_implementation.date_end
		  howlong = (de-ds).to_i+1
		  @options = Array.new;
		  @days = Array.new
		  howlong.times do |i|
		  	b = ds+i
			c = dmy(b,"-","/");
		  	@options.push([c,ds+i]);
		  end
		  @days = @options;
		
		  @days.each { |day|
		  	sql = "SELECT * FROM sesi_makanan WHERE course_implementation_id=#{@course_implementation.id} and tarikh='#{day[1]}'"
			sesi_makanan = SesiMakanan.find_by_sql(sql)
			sm = sesi_makanan.first
			br_chk = ""
			mt_chk = ""
			lu_chk = ""
			et_chk = ""
			di_chk = ""
			
			if sm != nil
				br_chk = "checked" if sm.breakfast == "1"
				mt_chk = "checked" if sm.morning_tea == "1"
				lu_chk = "checked" if sm.lunch == "1"
				et_chk = "checked" if sm.evening_tea == "1"
				di_chk = "checked" if sm.dinner == "1"
			end
%>
       <tr>
         <td width="100" align="right"><%=day[0]%>:</td>
         <td><input type="checkbox" name="hari[<%=day[1]%>][breakfast]" value="1" <%=br_chk%> disabled>
           Sarapan
           <input type="checkbox" name="hari[<%=day[1]%>][morning_tea]" value="1" <%=mt_chk%> disabled>
           Minum Pagi
           <input type="checkbox" name="hari[<%=day[1]%>][lunch]" value="1" <%=lu_chk%> disabled>
           Makan Tengahari
           <input type="checkbox" name="hari[<%=day[1]%>][evening_tea]" value="1" <%=et_chk%> disabled>
           Minum Petang
           <input type="checkbox" name="hari[<%=day[1]%>][dinner]" value="1" <%=di_chk%> disabled>
           Makan Malam </td>
       </tr>
       <%        } %>
     </table>
     </fieldset></td>
   </tr>
   <tr>
     <td align="right">&nbsp;</td>
     <td>&nbsp;</td>
   </tr>
   <tr>
    <td align="right"><b>Penyelaras: </b></td>
    <td>&nbsp;<%= nof{@course_implementation.penyelaras1.profile.name.upcase}%></td>
  </tr>
  <tr>
    <td align="right"><b>No. Telefon: </b></td>
    <td>&nbsp;<%= nof{@course_implementation.penyelaras1.profile.phone}%> (PEJ)</td>
    <td>&nbsp;<%= nof{@course_implementation.penyelaras1.profile.mobile}%> (HP)</td>
  </tr>
  <tr>
    <td align="right"><b>No. Telefon: </b></td>
    <td>&nbsp;<%= nof{@course_implementation.penyelaras1.profile.phone}%> (PEJ)</td>
    <td>&nbsp;<%= nof{@course_implementation.penyelaras1.profile.mobile}%> (HP)</td>
  </tr>
  <tr>
    <td align="right"><b>Penceramah: </b></td>
  </tr>
  <%= @course_implementation.trainers.each do |trainer| %>
    <tr>
      <td></td>
      <td>&nbsp;<%= trainer.profile.name%> </td>
    </tr>
  <% end %>
  <tr>
    <td align="right"><b>Pen Penyelaras: </b></td>
    <td>&nbsp;<%= nof{@course_implementation.penyelaras2.profile.name.upcase}%></td>
  </tr>
      <tr>
    <td align="right"><b>No. Telefon: </b></td>
    <td>&nbsp;<%= nof{@course_implementation.penyelaras2.profile.phone}%> (PEJ)</td>
    <td>&nbsp;<%= nof{@course_implementation.penyelaras2.profile.mobile}%> (HP)</td>
  </tr>
      <tr>
        <td align="right">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td align="right"><b>Ditempah Oleh: </b></td>
        <td>&nbsp;<%= nof{@reservation.staff.profile.name.upcase} %></td>
        <td align="RIGHT"><b>Tarikh Tempahan: </b></td>
        <td>&nbsp;<%= nof{@reservation.created_on.to_formatted_s(:my_format_4)} %></td>
      </tr>
      <tr>
        <td align="right">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td align="right"><b>Status Tempahan: </b></td>
        <td>&nbsp;<%="BARU" if @reservation.status == "0" %><%="DISAHKAN" if @reservation.status == "1" %></td>
        <td align="RIGHT">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td align="right"><b>Disahkan Oleh: </b></td>
        <td>&nbsp;<%= nof{Staff.find(@reservation.disahkan_oleh).profile.name.upcase} %></td>
        <td align="RIGHT"><b>Tarikh Pengesahan: </b></td>
        <td>&nbsp;<%= nof{@reservation.tarikh_sah.to_formatted_s(:my_format_4)} %></td>
      </tr>
  </table>
  
  <br />
  <table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="<%=list_bgcolor%>">
      <tr bgcolor="#999999">
  <td width="20" align="CENTER"><b><font color="#FFFFFF">Bil</font></b></td>
  <td width="" align="CENTER"><b><font color="#FFFFFF">Nama</font></b></td>
  <td width="" align="CENTER"><b><font color="#FFFFFF">Gred</font></b></td>
  <td width="" align="CENTER"><b><font color="#FFFFFF">Jabatan</font></b></td>
  <td width="" align="CENTER"><b><font color="#FFFFFF">Jantina</font></b></td>
  <td width="" align="CENTER"><b><font color="#FFFFFF">Kecacatan</font></b></td>
  <td width="" align="CENTER"><b><font color="#FFFFFF">Vegetarian</font></b></td>
   </tr>
<%
i = 0;
even = true;

for student in @students
        i = i + 1
        bgclr = "#CCCCFF" if (even == true)
        bgclr = "#FFFFFF" if (even == false)
        even = !even
%>
<tr bgcolor="<%=bgclr%>" class="list">
        <td align=left valign=top><%= i.to_s %></td>
        <td align=left valign=top><%=h nof{student.profile.name.upcase} %></td>
        <td align=CENTER><%=h nof{student.profile.employments[0].job_profile.job_grade} %>&nbsp;</td>
	    <td align=left valign=top><%=h nof{student.profile.employments[0].place.name} %>&nbsp;</td>
        <td align=CENTER valign=top><%="L" if student.profile.gender_id==1%><%="P" if student.profile.gender_id==2%></td>
        <td align=CENTER valign=top><%=h nof{student.profile.handicap.description} %>&nbsp;</td>
        <td align=CENTER valign=top><% a = ["Tidak","Ya"] %><%= nof{a[student.profile.is_vegetarian]}%>&nbsp;</td>
    </tr>
 <% end %>
</table>  
<br />
