<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF">TEMPAHAN ASRAMA</font></th>
    </tr>
  </table>
<BR>
<% if !@check %>
<%= form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <div align="center">
  <%= submit_tag "Simpan" %>
  </div>
<% end %>
<% else %>
<%= form_tag :action => 'update', :id => @check do %>
  <%= render :partial => 'form_edit' %>
  <div align="center">
  <%= submit_tag 'Kemaskini' %>
  </div>
<% end %>
<% end %>