<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
  <tr>
    <th width="85%" height="20" bgcolor="#999999"> <font color="#FFFFFF">TEMPAHAN ASRAMA (PENCERAMAH) </font></th>
  </tr>
</table>
<br />
<table width="95%" border="0" align="center" bgcolor="#FFFFFF">
  <tr bgcolor="#000000">
    <td colspan="4" align="CENTER" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT KURSUS </font></b></td>
  </tr>
  <tr>
    <td align="right"><b>Kod/Nama Kursus: </b></td>
    <td colspan=3>&nbsp;<%= nof{@course_implementation.code}%> <%= "("+nof{@course_implementation.course.name} + ")" %></td>
  </tr>
  <tr>
    <td align="right"><b>Tarikh Mula Kursus: </b></td>
    <td>&nbsp;<%= nof{@course_implementation.date_plan_start.to_formatted_s(:my_format_4)} %></td>
    <td align="right"><b>Tarikh Tamat Kursus: </b></td>
    <td>&nbsp;<%=
	         if !@course_implementation.date_end
			 	@course_implementation.date_plan_end.to_formatted_s(:my_format_4)
			 else
			 	@course_implementation.date_end.to_formatted_s(:my_format_4)
			 end
				-%> </td>
  </tr>
  <tr>
    <td align="right"><b>Tarikh/Waktu Check In: </b></td>
    <td>&nbsp;<%= nof{@course_implementation.check_in.to_formatted_s(:my_format_7)} %></td>
    <td align="right"><b>Tarikh/Waktu Check Out: </b></td>
    <td>&nbsp;<%= nof{@course_implementation.check_out.to_formatted_s(:my_format_7)} %></td>
  </tr>
  
  
  <tr>
    <td align="right">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  
  <tr bgcolor="000000">
    <td colspan="4" align="CENTER" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT PENYELARAS </font></b></td>
  </tr>
  <tr>
    <td align="right"><b>Penyelaras: </b></td>
    <td>&nbsp;<%= nof{@course_implementation.penyelaras1.profile.name.upcase}%></td>
  </tr>
  <tr>
    <td align="right"><b>No. Telefon: </b></td>
    <td>&nbsp;<%= nof{@course_implementation.penyelaras1.profile.phone}%> (PEJ)</td>
    <td>&nbsp;<%= nof{@course_implementation.penyelaras1.profile.mobile}%> (HP)</td>
  </tr>
  <tr>
    <td align="right"><b>Pen Penyelaras: </b></td>
    <td>&nbsp;<%= nof{@course_implementation.penyelaras2.profile.name.upcase}%></td>
  </tr>
  <tr>
    <td align="right"><b>No. Telefon: </b></td>
    <td>&nbsp;<%= nof{@course_implementation.penyelaras2.profile.phone}%> (PEJ)</td>
    <td>&nbsp;<%= nof{@course_implementation.penyelaras2.profile.mobile}%> (HP)</td>
  </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="right"><b>Ditempah Oleh :</b></td>
    <td colspan="3">&nbsp;<%= nof{@reservation_trainer.staff.profile.name}%></td>
  </tr>
  <tr>
    <td align="right"><b>Tarikh Tempahan:</b></td>
    <td>&nbsp;<%= nof{@reservation_trainer.updated_on.to_formatted_s(:my_format_7)}%></td>
  </tr>
    <%	 
	 status = "Baru" if @reservation_trainer.status == "0"
	 status = "Disahkan" if @reservation_trainer.status == "1"
	%>
  <tr>
    <td align="right"><b>Status:</b></td>
    <td>&nbsp;<%=status%></td>
  </tr>
</table>
<br />
<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#777777">
  <tr bgcolor="#999999">
    <td width="2%" valign="top"><strong><font color="#FFFFFF">Bil</font></strong></td>
    <td width="20%" align="center"><strong><a style="color: white" href="javascript: findAndSortWith('name','<%= "DESC" if (@orderby=="name" && @arrow=="ASC") %>')">Nama Penceramah </a></strong></td>
    <td width="150" align="center"><font color="#FFFFFF"><strong>Jabatan</strong></font></td>
    <td width="50" align="center"><font color="#FFFFFF"><strong>Gred</strong></font></td>
    <td width="" align="center"><strong><font color="#FFFFFF">Tarikh &amp; Waktu Check In </font></strong></td>
    <td width="" align="center"><strong><font color="#FFFFFF">Tarikh &amp; Waktu Check Out </font></strong></td>
    <!--td align="center"><font color="#FFFFFF">Action</font></td-->
  </tr>
  <%
i = 0;
even = true;
for trainer in @course_implementation.reservation_trainers
  i = i + 1
  bgclr = "#CCCCFF" if (even == true)
  bgclr = "#FFFFFF" if (even == false)
  even = !even
%>
  <tr class="list" bgcolor="<%=bgclr%>" onmouseover="this.style.background='#FFFFCC'" onmouseout="this.style.background='<%=bgclr%>'">
    <td><%= i.to_s %>.</td>
    <td><%=nof{trainer.trainer.profile.name} %></td>
    <td><%=nof{trainer.trainer.profile.opis} %></td>
    <td align="center"><%=nof{trainer.trainer.profile.employments.first.job_profile.job_grade} %></td>
    <td align="center" nowrap><%=nof{trainer.trainer_checkin.to_formatted_s(:my_format_7)} %></td>
    <td align="center" nowrap="nowrap"><%=nof{trainer.trainer_checkout.to_formatted_s(:my_format_7)} %></td>
  </tr>
  <% end %>
</table>
<br />
<div align="center">
<input type="button" name="Selesai" value="OK" onclick="self.close();">
</div>
