<!--[form:profile]-->
<%
 dob = @profile.date_of_birth if @profile
 if (dob != nil)
  tarikh =  dob.to_s
  tarikh = tarikh.split('-')
  y = tarikh[0]
  m = tarikh[1]
  d = tarikh[2]        
 end
%>
<div align="center">
<%= error_messages_for 'profile' %>
<%= error_messages_for 'course_application' %></div>
  <table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">

  <tr bgcolor="000000">
    	<td colspan="4" align="CENTER" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT PEMOHON </font></b></td>
    </tr>
    <tr>
      <td colspan="4" align="right">&nbsp;</td>
    </tr>
<script>
function updateCourseName() {
	var code = $('course_implementation_code').value
	
	//to avoid 404 error
	code = code.replace(/\//g,"_");
	
	data = "code=" + code
	if ($('course_implementation_code').value!="") {
		find_course_name_by_code('/ajax/find_course_by_code', data)
	}
}

function find_course_name_by_code(url, data) {
    var myAjax = new Ajax.Request(
        url,
        {method: 'post', parameters: data, onComplete: find_course_name_by_code_response}
    );
}

function find_course_name_by_code_response(originalRequest) {
	a = originalRequest.responseText
	
	if (a == 0) {
		$('course_name').innerHTML = ""
		alert('Kod kursus tidak wujud. Sila masukkan kod yang lain.');
		
		HighLightTextField($('course_implementation_code'));
		$('course_implementation_code').focus();
		$('course_implementation_code').select();
	}
	else {
		$('course_name').innerHTML = a
	}
}
</script>

    <tr>
      <td align="right"><b>Kod Kursus  :</b></td>
      <td colspan=3>&nbsp;
	     <%= text_field 'course_implementation', 'code', :size=>"10", :onchange=>"this.value=this.value.toUpperCase(); updateCourseName();"  %>
		 <%= hidden_field 'course_application', 'course_implementation_id', :size=>"3"  %>
		 <span id="course_name"><%= ""+@course_implementation.course.name.upcase+"" if @course_implementation%></span>	  </td>
    </tr>
    <tr>
      <td align="right" valign="top"><b>NO K/P Baru: </b></td>
      <td>&nbsp;
      <%= text_field 'profile', 'ic_number', :maxlength=>12, :size=>15, :onchange=>"checkNRIC()"  %><span id="node_identification_memo"> </span></td>
      <td align="RIGHT"><b>NO K/P Lama :</b></td>
      <td>&nbsp; <%= text_field 'profile', 'old_ic_number', :maxlength=>8, :size=>10, :onchange=>"this.value=this.value.toUpperCase()"  %></td>
    </tr>
<script>
node = $("profile_ic_number");
node_identification_memo = $("node_identification_memo");

function checkNRIC() {
	if ( icnumRegExp.test(node.value) ) {
		node_identification_memo.innerHTML = "<br>&nbsp;<font color=orange>Sistem sedang memeriksa no kp<br>&nbsp;Sila tunggu..</font>"
		ajax_request("/ajax/ajax_nric", "ic_number="+node.value)
	}
}

function ajax_request(url, data) {
    var myAjax = new Ajax.Request(
        url,
        {method: 'get', parameters: data, onComplete: ajax_response}
    );
}

function ajax_response(originalRequest) {
	//alert(originalRequest.responseText)
	if (originalRequest.responseText == 1) {
		node_identification_memo.innerHTML = "<br>&nbsp;<font color=orange> Data pemohon sudah ada.<br>&nbsp; Loading..</font>"
		document.forms[0].action = "/course_applications/new_but_peserta_already_exist";
		document.forms[0].submit();
	}
	else {
		node_identification_memo.innerHTML = "<font color=orange><br>&nbsp; Data pemohon belum ada.</font>"
	}
}
</script>

 <tr>
      <td align="right"><b>Gelaran : </b></td>
      <td colspan=3>&nbsp;
	    <%=
		  @id_titles = @titles.map { |t| [t.description, t.id] }
		  @id_titles.unshift(["Sila Pilih", ""])
		  select(:profile, :title_id, @id_titles, "" ,:style=>"width: 100;")
		%>      </td>
    </tr>    
    <tr>
      <td width="20%" align="right"><b>Nama Penuh : </b></td>
      <td colspan=3>&nbsp;
      <%= text_field 'profile', 'name', :maxlength=>80, :size=>50, :onchange=>"this.value=this.value.toUpperCase()"  %></td>
    </tr>
        <tr>
      <td align="right"><b>Jantina :</b></td>
      <td>&nbsp;
	    <%=
		  @options = @genders.map { |t| [t.description, t.id] }
		  @options.unshift(["Sila Pilih", ""])
		  select(:profile, :gender_id, @options, "" ,:style=>"width: 100;")
		%>	  </td>
      <td align="right" width=20%><b>Tarikh Lahir :</b></td>
      <td>&nbsp;
      <input type=text name=d_dob maxlength=2 size=3 value="<%=d%>"> /
      <input type=text name=m_dob maxlength=2 size=3 value="<%=m%>"> /
      <input type=text name=y_dob maxlength=4 size=5 value="<%=y%>">	</td>
      </tr>
    <tr>
      <td align="right"><b>Agama :</b></td>
      <td>&nbsp;
	  <%=
		  @options = @religions.map { |t| [t.description, t.id] }
		  @options.unshift(["Sila Pilih", ""])
		  select(:profile, :religion_id, @options, "" ,:style=>"width: 100;")
	  %>       </td>
      <td align="right"><b>Keturunan :</b></td>
      <td colspan=3>&nbsp;
	  <%=
		  @options = @races.map { |t| [t.description, t.id] }
		  @options.unshift(["Sila Pilih", ""])
		  select(:profile, :race_id, @options, "" ,:style=>"width: 100;")
	  %>      </td>
    </tr>
    <tr>
      <td align="right"><b>Taraf Perkahwinan :</b></td>
      <td>&nbsp;
	  <%=
		  @options = @marital_statuses.map { |t| [t.description, t.id] }
		  @options.unshift(["Sila Pilih", ""])
		  select(:profile, :marital_status_id, @options, "" ,:style=>"width: 100;")
	  %>	  </td>
      <td align="right">&nbsp;</td>
      <td colspan=3>&nbsp;</td>
    </tr>
    <tr>
    <td colspan=4>&nbsp;</td>
    </tr>
  <tr bgcolor="000000">
    	<td colspan="4" align="CENTER" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT WARIS</font></b></td>
    </tr>
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr>
	<tr>
      <td width="20%" align="right"><b>Nama : </b></td>
      <td colspan=3> &nbsp;
          <%= text_field 'relative', 'name', :size=>50, :maxlength=>80 ,:onchange=>"this.value=this.value.toUpperCase()"  %></td>
    </tr>
    <tr>
      <td width="20%" align="right"><b>Hubungan : </b></td>
      <td colspan=3> &nbsp;
	  <%=
		  @options = @relationships.map { |t| [t.description, t.id] }
		  @options.unshift(["Sila Pilih", ""])
		  select(:relative, :relationship_id, @options, "" ,:style=>"width: 100;")
	  %>	  </td>
    </tr>
     <tr>
      <td align="right" valign="top"><b>Alamat :</b></td>
      <td colspan=3>&nbsp;
          <%= text_field 'relative', 'address1', :maxlength=>45, :size=>45  %></td>
    </tr>
    <tr>
      <td align="right">&nbsp;</td>
      <td colspan=3>&nbsp;
          <%= text_field 'relative', 'address2', :maxlength=>45, :size=>45  %></td>
    </tr>
    <tr>
      <td align="right">&nbsp;</td>
      <td colspan=3>&nbsp;
          <%= text_field 'relative', 'address3', :maxlength=>45, :size=>45  %></td>
    </tr>    
    <tr>
      <td align="right"><b>Negeri :</b></td>
      <td colspan=3>&nbsp;
	  <%=
		  @options = @states.map { |t| [t.description, t.id] }
		  @options.unshift(["Sila Pilih", ""])
		  select(:relative, :state_id, @options)
	  %>      </td>
    </tr>

    <tr>
      <td align="right"><b>No Telefon Rumah :</b></td>
      <td colspan=3>&nbsp;
      <%= text_field 'relative', 'phone', :maxlength=>12, :size=>15  %>      </td>
    </tr>
    <tr>
      <td align="right"><b>No Telefon Bimbit :</b></td>
      <td colspan=3>&nbsp;
      <%= text_field 'relative', 'mobile', :maxlength=>12, :size=>15  %>      </td>
    </tr>
 	<tr>
 	<td colspan=4>&nbsp;</td>
 	</tr>
  <tr bgcolor="000000">
    	<td colspan="4" align="CENTER" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT PERKHIDMATAN</font></b></td>
    </tr>
    <tr>
      <td colspan="4" align="right">&nbsp;</td>
    </tr>
   <tr>
      <td align="right"><b>Pejabat :</b></td>
      <td colspan="3">&nbsp;
	  <%=
		  @options = @places.map { |t| [t.name.upcase, t.id] }
		  @options.unshift(["Sila Pilih", ""])
		  select(:employment, :place_id, @options)
	  %>     </td>
    </tr>
     <tr>
       <td align="right"><b>Gred :</b></td>
       <td colspan="3">&nbsp; <%=
		  @options = @job_profiles.map { |t| [t.job_grade, t.id] }
		  @options.unshift(["Sila Pilih", ""])
		  select(:employment, :job_profile_id, @options, "", :onchange=>"checkDesignation()")
	  %> <span id="job_name">
	  <%= @employment.job_profile.job_name if (@employment && @employment.job_profile) %></span></td>
     </tr>
     

<script>
node_job_grade = $("employment_job_profile_id");

function checkDesignation() {
	ajax_request_job_designation("/ajax/find_designation", "job_grade="+node_job_grade.value)
}

function ajax_request_job_designation(url, data) {
    var myAjax = new Ajax.Request(
        url,
        {method: 'get', parameters: data, onComplete: ajax_response_job_designation}
    );
}

function ajax_response_job_designation(originalRequest) {
	//alert(originalRequest.responseText)
	$("job_name").innerHTML = originalRequest.responseText
}
</script>

    <tr>
      <td align="right"><b>Gelaran Jawatan :</b></td>
      <td colspan="3">&nbsp; <%= text_field 'profile', 'designation', :maxlength=>50, :size=>30 %> <font color="orange">*cth:Penolong Pengarah </font></td>
    </tr>
    <tr>
      <td align="right"><b>Bahagian/Unit :</b></td>
      <td>&nbsp; <%= text_field 'employment', 'unit', :maxlength=>100, :size=>30  %></td>      
      <td align="right"><b>E-Mel :</b></td>
      <td>&nbsp;
      <%= text_field 'profile', 'email', :maxlength=>60, :size=>30  %></td>
    </tr>
 	<tr>
 	<td colspan=4>&nbsp;</td>
 	</tr>

  <tr bgcolor="000000">
    	<td colspan="4" align="CENTER" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT AKADEMIK</font></b></td>
    </tr>
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr>
    <tr>
    <td valign=top align="center" colspan="5">
    <table border="1" width="90%" align="center">
    <tr>
    <th width="15%">KELAYAKAN</th>
    <th width="25%">INSTITUSI/UNIVERSITI</th>
    <th width="15%">TAHUN</th>            
    </tr>
    <% 
    i = 0
    #for cl in @cert_levels
    i = i + 1
    %>
    <tr align=center>
    <td align=left><%= "1" %>
	 <%=
		  @options = @cert_levels.map { |t| [t.description.upcase, t.id] }
		  @options.unshift(["Sila Pilih", ""])
		  select(:qualification, :cert_level_id, @options)
	 %>    </td>
    <td><%= text_field 'qualification', "institution", :maxlength=>100, :size=>30  %></td>
    <td><%= text_field 'qualification', 'year_end', :maxlength=>4, :size=>5  %></td>
    </tr>
	</table>	</td>
	</tr>
 	<tr>
 	<td colspan=4>&nbsp;</td>
 	</tr>
	
    <tr bgcolor="000000">
    	<td colspan="4" align="center" bgcolor="#999999"><b><font color="#FFFFFF">PENGAKUAN PEMOHON</font></b></td>
    </tr>
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr>
<%
if @course_application.date_apply
	@date_apply_day   = @course_application.date_apply.to_formatted_s(:my_format_day)
	@date_apply_month = @course_application.date_apply.to_formatted_s(:my_format_month)
	@date_apply_year  = @course_application.date_apply.to_formatted_s(:my_format_year)
else
	time = Time.now
	@date_apply_day   = time.strftime("%d")
	@date_apply_month = time.strftime("%m")
	@date_apply_year  = time.strftime("%Y")
end
%>
    <tr>
      <td align="right"><b>Tarikh Mohon:</b></td>
      <td align="left">&nbsp;
        <input type="text" name="date_apply_day" maxlength="2" size="3" value="<%=@date_apply_day%>">
/
<input type="text" name="date_apply_month" maxlength="2" size="3" value="<%=@date_apply_month%>">
/
<input type="text" name="date_apply_year" maxlength="4" size="5" value="<%=@date_apply_year%>"></td>
      <td align="center">&nbsp;</td>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="4" align="center">&nbsp;
        <script>
			function hideApply() {
				document.getElementById('apply_button').style.visibility='hidden'
			}
			function showApply() {
				document.getElementById('apply_button').style.visibility='visible'
			}
        </script>
        
            <input id="chkbox" type="checkbox" name="checkbox" value="1" onclick="if (this.checked) showApply(); else hideApply()">
&nbsp;&nbsp;<label for="chkbox">SAYA MENGAKU BAHAWA SEMUA KETERANGAN DI ATAS ADALAH BENAR. SEKIRANYA KENYATAAN YANG DIBERIKAN ADALAH TIDAK BENAR, PIHAK INSTUN BERHAK MEMBATALKAN PERMOHONAN INI.</label></div></td>
    </tr>
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr> 
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr>
    <tr bgcolor="000000">
    	<td colspan="4" align="center" bgcolor="#999999">
    	<font color="FFFFFF"><strong>PERAKUAN KETUA JABATAN</strong></font></td>
    </tr> 
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr>    
    <tr>
      <td colspan="4" align="center">&nbsp;
        <script>
			function hideApply() {
				document.getElementById('apply_button').style.visibility='hidden'
			}
			function showApply() {
				document.getElementById('apply_button').style.visibility='visible'
			}
        </script>
        
            <!--input id="checkbox222" type="checkbox" name="checkbox" value="checkbox" onclick="if (this.checked) showApply(); else hideApply()"-->
&nbsp;&nbsp;SAYA MENGESAHKAN BAHAWA SEMUA KENYATAAN YANG DIBERIKAN OLEH PEMOHON ADALAH BENAR. PERMOHONAN 
BELIAU BAGI MENGIKUTI KURSUS INI DISOKONG.</div></td>
    </tr>
    <tr>
      <td align="right"><b>Nama :</b></td>
      <td colspan="3" >&nbsp;<%= text_field 'course_application', "supervisor_name", :maxlength=>80, :size=>80, :onchange=>"this.value=this.value.toUpperCase()"  %></td>
    </tr> 
    <tr>
      <td align="right"><b>Jawatan :</b></td>
      <td colspan="3" >&nbsp;<%= text_field 'course_application', "supervisor_jawatan", :maxlength=>80, :size=>50  %></td>
    </tr>
      </table>
<!--[eoform:profile]-->
