<style>
  b		{ font-family: Verdana, Arial, Helvetica; font-size: 10px;}
  th		{ font-family: Verdana, Arial, Helvetica; font-size: 10px;}
  td		{ font-family: Verdana, Arial, Helvetica; font-size: 10px;}
  a		{ font-family: Verdana, Arial, Helvetica; font-size: 10px;}
  input		{ font-family: Verdana, Arial, Helvetica; font-size: 10px;}
</style>

<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee" class="box">
  <tr bgcolor="000000">
    <td colspan="4" align="CENTER" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT PEMOHON </font></b></td>
  </tr>
  <tr>
    <td colspan="4" align="right">&nbsp;</td>
  </tr>
  <tr>
    <td align="right"><b>Kod Kursus  :</b></td>
    <td colspan=3 class="font9">&nbsp; <%= nof{@course_application.course_implementation.code}%> <%= "("+nof{@course_application.course.name} + ")" %></td>
  </tr>
  <tr>
    <td align="right"><b>NO KP Baru: </b></td>
    <td>&nbsp; <%= nof{@course_application.profile.ic_number}%></td>
    <td align="right" width=20%><b>Gambar Pemohon :</b></td>
    <td rowspan=6>&nbsp;
      <% if @course_application.profile.picture %>
        <% #nof{@profile = Profile.find(@course_application.profile.id)}   %>
        <%= image_tag @course_application.profile.picture.url(:small) %>
          <img></img>
      <%end%></td>
  </tr>
  <tr>
    <td align="right"><b>NO K/P Lama :</b></td>
    <td colspan=3>&nbsp; 
      <%=nof{@student.profile.old_ic_number} %></td>
  </tr>
  <tr>
    <td align="right"><b>Gelaran : </b></td>
    <td colspan=3>&nbsp;
      <%=nof{@student.profile.title.description.upcase}%>    </td>
  </tr>
  <tr>
    <td width="20%" align="right"><b>Nama Penuh : </b></td>
    <td colspan=3>&nbsp; <%=nof{@student.profile.name} %></td>
  </tr>
  <tr>
    <td align="right"><b>Jantina :</b></td>
    <td colspan=3>&nbsp; <%=nof{@student.profile.gender.description.upcase}%> </td>
  </tr>
  <tr>
    <td align="right"><b>Agama :</b></td>
    <td colspan=3>&nbsp; <%=nof{@student.profile.religion.description.upcase}%> </td>

  </tr>
  <tr>
    <td align="right"><b>Taraf Perkahwinan :</b></td>
    <td >&nbsp; <%=nof{@student.profile.marital_status.description.upcase}%> </td>
    <td align="right" width=20%><b>Tarikh Lahir :</b></td>
    <td>&nbsp;
      <%=nof{@student.profile.date_of_birth.to_formatted_s(:my_format_4)} %>    </td>
  </tr>
  <tr>
    <td align="right"><b>Vegetarian? :</b></td>
    <td >&nbsp; <% a = ["TIDAK","YA"] %><%=nof{a[@student.profile.is_vegetarian]}%> </td>
    <td align="right"><b>Keturunan :</b></td>
    <td colspan=3>&nbsp;
      <%=nof{@student.profile.race.description}%>	</td>
  </tr>
  <td align="right"><b>No Telefon Bimbit :</b></td>
  <td>&nbsp;<%= nof{@student.profile.mobile}  %></td>
  <td align="right"><b>Kecacatan :</b></td>
  <td colspan=3>&nbsp; <%=nof{@student.profile.handicap.description.upcase}%> </td>
</tr>
<tr>
  <td colspan=4>&nbsp;</td>
</tr>
<tr bgcolor="000000">
  <td colspan="4" align="CENTER" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT WARIS</font></b></td>
</tr>
<tr>
  <td colspan="4">&nbsp;</td>
</tr>
<tr>
  <td width="20%" align="right"><b>Nama : </b></td>
  <td colspan=3>&nbsp; <%= nof{@relative.name}%></td>
</tr>
<tr>
  <td width="20%" align="right"><b>Hubungan : </b></td>
  <td colspan=3>&nbsp;
    <%= nof{@relative.relationship.description.upcase}%></td>
</tr>
<tr>
  <td align="right" valign="top"><b>Alamat :</b></td>
  <td colspan=3>&nbsp; <%= nof{@relative.address1.upcase}%></td>
</tr>
<tr>
  <td align="right">&nbsp;</td>
  <td colspan=3>&nbsp; <%= nof{@relative.address2.upcase}%></td>
</tr>
<tr>
  <td align="right">&nbsp;</td>
  <td colspan=3>&nbsp; <%= nof{@relative.address3.upcase}%></td>
</tr>
<tr>
  <td align="right"><b>Negeri :</b></td>
  <td colspan=3>&nbsp;
    <%= nof{@relative.state.description.upcase}%></td>
</tr>
<tr>
  <td align="right"><b>No Telefon Rumah :</b></td>
  <td colspan=3>&nbsp; <%= nof{@relative.phone}%></td>
</tr>
<tr>
  <td align="right"><b>No Telefon Bimbit :</b></td>
  <td colspan=3>&nbsp; <%= nof{@relative.mobile} %> </td>
</tr>
<tr>
  <td colspan=4>&nbsp;</td>
</tr>
<tr bgcolor="000000">
  <td colspan="4" align="CENTER" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT PERKHIDMATAN</font></b></td>
</tr>
<tr>
  <td colspan="4" align="right">&nbsp;</td>
</tr>
<tr>
<tr>
  <td align="right"><b>Kementerian :</b></td>

  <%
  #3 shou 2 kenchou 1 jimusho
  if nof{@employment.place}
    if @employment.place.place_type_id == 3
      @shou = nof{@employment.place.name.upcase}
      @kenchou = ""
      @jimusho = ""
    end
    if @employment.place.place_type_id == 1
      @kenchou = nof{@employment.place.name.upcase}
      @shou = nof{@employment.place.parent.name.upcase}
      @jimusho = ""
    end
    if @employment.place.place_type_id == 2
      @jimusho = nof{@employment.place.name.upcase}
      @kenchou = nof{@employment.place.parent.name.upcase}
      @shou = nof{@employment.place.parent.parent.name.upcase}
    end
  end
%>
  <td colspan="3">&nbsp;<%=@shou%></td>
</tr>
<tr>
  <td align="right"><b>Jabatan :</b></td>
  <td colspan="3">&nbsp;<%=@kenchou%></td>
</tr>
<tr>
  <td align="right"><b>Pejabat :</b></td>
  <td colspan="3">&nbsp;
    <%=@jimusho%></td>
</tr>
<tr>
  <td align="right"><b>Bahagian/Unit :</b></td>
  <td>&nbsp;
    <%= nof{@employment.unit.upcase} %>    </td></tr>
<tr>
  <td align="right"><b>Gred :</b></td>
  <td colspan="3">&nbsp; <%= nof{@employment.job_profile.job_grade} %> &nbsp; <%= "(#{@employment.job_profile.job_name.upcase})" if @employment && @employment.job_profile%></td>
</tr>
<tr>
  <td align="right"><b>Jawatan :</b></td>
  <td>&nbsp; <%= nof{@student.profile.designation.upcase} %> </td>
  <td align="right">&nbsp;</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td align="right"><b>E-Mel :</b></td>
  <td>&nbsp; <%= nof{@student.profile.email}%></td>
</tr>
<tr>
  <td colspan=4><hr width="80%" size="1"></td>
</tr>

<tr>
  <td align="right"><b>Gelaran Ketua Pejabat :</b></td>
  <td colspan="3">&nbsp; <%= nof{@student.profile.hod} %></td>
</tr>
<tr>
  <td align="right"><b>Nama Pejabat :</b></td>
  <td colspan="3">&nbsp; <%= nof{@student.profile.opis} %></td>
</tr>
<tr>
  <td align="right"><b>Alamat :</b></td>
  <td colspan="3">&nbsp; <%= nof{@student.profile.address1} %></td>
</tr>
<tr>
  <td align="right"><b>(Tempat Bertugas)</b></td>
  <td colspan="3">&nbsp; <%= nof{@student.profile.address2} %></td>
</tr>
<tr>
  <td align="right">&nbsp;</td>
  <td colspan="3">&nbsp; <%= nof{@student.profile.address3} %></td>
</tr>
<tr>
  <td align="right"><b>Negeri :</b></td>
  <td colspan=3>&nbsp; <%= nof{@student.profile.state.description.upcase} %> </td>
</tr>
<tr>
  <td align="right"><b>No Telefon Pejabat :</b></td>
  <td>&nbsp; <%= nof{@student.profile.office_phone}  %> </td>
  <td align="RIGHT"><b>No Fax :</b></td>
  <td>&nbsp; <%= nof{@student.profile.fax}  %> </td>
</tr>
<tr>
  <td colspan=4>&nbsp;</td>
</tr>
<tr bgcolor="000000">
  <td colspan="4" align="CENTER" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT AKADEMIK</font></b></td>
</tr>
<tr>
  <td colspan="4">&nbsp;</td>
</tr>
<tr>
  <td valign=top align="center" colspan="5"><table border="1" width="90%" align="center">
      <tr>
        <th width="15%">KELAYAKAN</th>
        <th width="25%">PENGKHUSUSAN</th>
        <th width="25%">INSTITUSI/UNIVERSITI</th>
        <th width="15%">TAHUN</th>
      </tr>

      <%
      i = 0
      for qualification in @student.profile.qualifications
        i = i + 1
      %>
        <tr align=center>
          <td align=left><%=i%>.<%= nof{qualification.cert_level.description.upcase}%></td>
          <td><%= nof{qualification.pengkhususan.upcase} || "&nbsp;"%></td>
          <td>&nbsp;<%= nof{qualification.institution.upcase}%></td>
          <td>&nbsp;<%= nof{qualification.year_end}%></td>
        </tr>
      <%end%>

    </table></td>
</tr>
<tr>
  <td colspan=4>&nbsp;</td>
</tr>
<tr bgcolor="000000">
  <td colspan="4" align="center" bgcolor="#999999"><b><font color="#FFFFFF">PENGAKUAN PEMOHON</font></b></td>
</tr>
<tr>
  <td colspan="4">&nbsp;</td>
</tr>
<tr>
  <td align="right"><b>Tarikh Mohon:</b></td>
  <td align="left">&nbsp; <%= nof{@course_application.date_apply.to_formatted_s(:my_format_4)}%></td>
  <td align="center">&nbsp;</td>
  <td align="center">&nbsp;</td>
</tr>
<tr>
  <td colspan="4" align="center">
    <script>
      function hideApply() {
        document.getElementById('apply_button').style.visibility='hidden'
      }
      function showApply() {
        document.getElementById('apply_button').style.visibility='visible'
      }
    </script>
    <table width="95%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="30" valign="TOP" align="RIGHT"><input disabled name="checkbox" type="checkbox" value="1" id="chkbox" onclick="if (this.checked) showApply(); else hideApply()" checked="checked"></td>
        <td>SAYA MENGAKU BAHAWA SEMUA KETERANGAN DI ATAS ADALAH BENAR. SEKIRANYA KENYATAAN YANG DIBERIKAN ADALAH TIDAK BENAR, PIHAK INSTUN BERHAK MEMBATALKAN PERMOHONAN INI.</td>
      </tr>
    </table></td>
</tr>

<tr>
  <td colspan="4">&nbsp;</td>
</tr>
<tr bgcolor="000000">
  <td colspan="4" align="center" bgcolor="#999999"><font color="FFFFFF"><strong>PERAKUAN KETUA JABATAN</strong></font></td>
</tr>
<tr>
  <td colspan="4">&nbsp;</td>
</tr>
<tr>
  <td colspan="4" align="center">
    <table width="95%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="30" valign="TOP" align="RIGHT"><input disabled name="checkbox3" type="checkbox" value="1" id="checkbox2" checked="checked"></td>
        <td>SAYA MENGESAHKAN BAHAWA PERMOHONAN UNTUK MENGIKUTI KURSUS INI TELAH DILULUSKAN OLEH KETUA JABATAN, DAN SAYA BERTANGGUNGJAWAB SEPENUHNYA KE ATAS PERAKUAN INI.MAKLUMAT PEGAWAI YANG MELULUSKAN ADALAH SEPERTI BERIKUT:</td>
      </tr>
    </table></td>
</tr>
<tr>
  <td align="right"><b>Nama :</b></td>
  <td colspan="3" >&nbsp;<%= nof{@course_application.supervisor_name.upcase}%></td>
</tr>
<tr>
  <td align="right"><b>Jawatan :</b></td>
  <td colspan="3" >&nbsp;<%= nof{@course_application.supervisor_jawatan.upcase}%></td>
</tr>
<tr>
  <td align="right"><b>E-Mel :</b></td>
  <td colspan="3" >&nbsp;<%= nof{@course_application.supervisor_email}%></td>
</tr>
<tr>
  <td align="right"><b>Tarikh Diluluskan:</b></td>
  <td colspan="3" >&nbsp;<%= nof{@course_application.date_approval.to_formatted_s(:my_format_4)}%></td>
</tr>
</table>
<br />
<div align="center">
  <%if @course_application.course_implementation.editable?(session[:user])%>
    <input type="button" value="Kemaskini" onclick="location='/course_applications/<%=@course_application.id%>/edit'">
  <%end%>
</div>
<br />
