<form name="list">
  <table width="95%" border="0" align="center" cellpadding="1" cellspacing="1" bgcolor="#777777">
    <!--tr bgcolor="#999999">
      <td colspan="7" bgcolor="#FFFFFF"><u>Unprocess</u></td>
    </tr-->
    <tr bgcolor="#999999">
      <td width="2%" valign="top" align="center"><font color="#FFFFFF">
        <input type="checkbox" name="check_all" value="0" onclick="checkAll(document.list)">
      </font></td>
      <td width="2%" valign="top">&nbsp;</td>
      <td width="30%" align="center"><strong><a style="color: white" href="javascript: findAndSortWith('personal_name','<%= "DESC" if (@orderby=="personal_name" && @arrow=="ASC") %>')">Nama Pemohon </a></strong></td>
      <td width="8%" align="center"><font color="#FFFFFF"><strong>No IC</strong></font></td>
      <% if ( (params[:id] && params[:id]=="") || !params[:id]) %>
      <td width="24%" align="center"><font color="#FFFFFF"><strong>Kursus Dipohon</strong></font></td>
      <% end %>
      <td width="11%" align="center"><font color="#FFFFFF"><strong>Kod Kursus</strong></font></td>
      <td width="25%" align="center"><strong><a style="color: white" href="javascript: findAndSortWith('date_apply','<%= "DESC" if (@orderby=="date_apply" && @arrow=="ASC") %>')">Tarikh Mohon </a></strong></td>
      <!--td width="25%" align="center"><font color="#FFFFFF"><strong>Company</strong></font></td-->
      <!--td align="center"><font color="#FFFFFF">Action</font></td-->
    </tr>
    <%
i = 0;
even = true;
for student in @students
  i = i + 1
  bgclr = "#CCCCFF" if (even == true)
  bgclr = "#FFFFFF" if (even == false)
  even = !even
  
  student.profile.courses = Course.find(params[:course_ids]) if params[:course_ids]

%>
    <tr bgcolor="<%=bgclr%>" onmouseover="this.style.background='#FFFFCC'" onmouseout="this.style.background='<%=bgclr%>'" 
        onmousedown="//menuLayers.show('popmenu', '/course_applications', '<%=h student.course_application_id %>', '<%= student.profile.name.upcase %>', event)" >
      <td align="center"><input type="checkbox" name="course_application_ids[]" value="<%=student.course_application_id%>"></td>
      <td>&nbsp;<%= i.to_s %>.</td>
      <td onmousedown="//menuLayers.show('popmenu', '/course_applications', '<%=h student.course_application_id %>', '<%= student.profile.name.upcase %>', event)">&nbsp;<%=h student.profile.name.upcase %></td>
      <td>&nbsp;<%=h student.profile.ic_number %></td>
      <% if ( (params[:id] && params[:id]=="") || !params[:id]) %>
      <td align="left"><%= student.course.name.upcase %></td>
      <% end %>
      <td align="center"><%= student.course_implementation.code %></td>
      <td align="center">
	  <%= msian_date_with_slash(student.date_apply) %>
	  <%#= student.created_at.to_formatted_s(:my_format_day) + student.created_at.to_formatted_s(:my_format_day)%></td>
    </tr>
    <% end %>
  </table>
<input type="hidden" name="course_implementation_code" value="<%=params[:course_implementation_code] if params[:course_implementation_code]%>">
</form>
<%= '<br><div align="center" style="font-weight: bold; color: orange;">Tiada senarai</div>' if @students.size==0%>


