<script>
  function confirmAndDelete(url, objname) {
    if (confirm("Adakah anda pasti untuk padam " + objname + "?")) {
      location = url
    }
	
  }


  function rewritePopupContent(controller, objid, objname) {
    $('#popmenu').css({"width" : 150})
    $('#popmenu').html("<ul>" +
      "<li><a href=\""  + controller + "/" + objid + "\">&nbsp;&nbsp;Lihat</a>" +
      "<li><font color=\"#aaaaaa\">&nbsp;&nbsp;Kemaskini</font>" +
      "<li><font color=\"#aaaaaa\">&nbsp;&nbsp;Padam</font>" +
      "<hr size=1>" +
      "<li><font color=\"#aaaaaa\">&nbsp;&nbsp;Cetak Surat Tawaran</font>" +
      "<li><font color=\"#aaaaaa\">&nbsp;&nbsp;Sah Hadir</font>" +
      "<li><font color=\"#aaaaaa\">&nbsp;&nbsp;Sah Tidak Hadir</font>" +
      "<li><font color=\"#aaaaaa\">&nbsp;&nbsp;Ditolak</font>" +
					        
      //"<hr size=1>" +
    //"<li><a href=\""  + controller + "/edit_surat_tawaran_select_peserta/" + "<%=@course_implementation.id if @course_implementation%>" + "\">&nbsp;&nbsp;Jana Surat Tawaran</a>" +
    //"<li><a href=\"/register/to_enroll/" + objid + "\">&nbsp;&nbsp;Daftar</a>" +
    //"<li><a href=\"/register/to_enroll/" + objid + "\">&nbsp;&nbsp;Lihat & Daftar</a>" +
    "</ul>")
     
  }

  function rewritePopupContentNoRestraint(controller, objid, objname) {
    $('#popmenu').css({"width" : 150});
    $('#popmenu').html("<ul>" +
      "<li><a href=\""  + controller + "/" + objid + "\">&nbsp;&nbsp;Lihat</a>" +
      "<li><a href=\""  + controller + "/" + objid + "/edit\">&nbsp;&nbsp;Kemaskini</a>" +
      "<li><a href=\"javascript: confirmAndDelete('"  + controller + "/destroy/" + objid + "' , '" + objname + "')\">&nbsp;&nbsp;Padam</a>" +
      "<hr size=1>" +
      "<li><a href=\"javascript: suratTawaranSelected(document.list_form)\">&nbsp;&nbsp;Cetak Surat Tawaran</a>" +
      "<li><a href=\"javascript: sahHadirSelected(document.list_form)\">&nbsp;&nbsp;Sah Hadir</a>" +
      "<li><a href=\"javascript: sahTakHadirSelected(document.list_form)\">&nbsp;&nbsp;Sah Tidak Hadir</a>" +
      "<li><a href=\"javascript: rejectSelected(document.list_form)\">&nbsp;&nbsp;Ditolak</a>" +
      "<hr size=1>" +
      "<li><a href=\""  + controller + "/cetak_pemohon/" + objid + "\">&nbsp;&nbsp;Cetak</a>" +
      "<li><a href=\""  + controller + "/cetak_pemohon_semua/" + "<%=@course_implementation.id if @course_implementation%>" + "?type=accepted\">&nbsp;&nbsp;Cetak Semua</a>" +

      //"<hr size=1>" +
    //"<li><a href=\""  + controller + "/edit_surat_tawaran_select_peserta/" + "<%=@course_implementation.id if @course_implementation%>" + "\">&nbsp;&nbsp;Jana Surat Tawaran</a>" +
    //"<li><a href=\"/register/to_enroll/" + objid + "\">&nbsp;&nbsp;Daftar</a>" +
    //"<li><a href=\"/register/to_enroll/" + objid + "\">&nbsp;&nbsp;Lihat & Daftar</a>" +
    "</ul>")
     
  }
</script>

<script>

  function acceptSelected(df) {
    var sum_checked = 0

    for (i=1; i<df.elements.length; i++ )
    {
      if (df.elements[i].type == "checkbox")
      {
        if (df.elements[i].checked == true) {
          sum_checked++
        }
      }
    }
    if (sum_checked > 0) {
      df.action = "/course_applications/accept_selected"
      df.submit()
    }
    else {
      alert("Sila Pilih Pemohon")
    }
  }

  function rejectSelected(df) {
    var sum_checked = 0

    for (i=1; i<df.elements.length; i++ )
    {
      if (df.elements[i].type == "checkbox")
      {
        if (df.elements[i].checked == true) {
          sum_checked++
        }
      }
    }
    if (sum_checked > 0) {
      df.action = "/course_applications/reason_rejected"
      df.submit()
    }
    else {
      alert("Sila Pilih Pemohon")
    }
  }

  function sahHadirSelected(df) {
    var sum_checked = 0

    for (i=1; i<df.elements.length; i++ )
    {
      if (df.elements[i].type == "checkbox")
      {
        if (df.elements[i].checked == true) {
          sum_checked++
        }
      }
    }
    if (sum_checked > 0) {
      df.action = "/course_applications/sah_hadir_selected"
      df.submit()
    }
    else {
      alert("Sila Pilih Pemohon")
    }
  }

  function sahTakHadirSelected(df) {
    var sum_checked = 0

    for (i=1; i<df.elements.length; i++ )
    {
      if (df.elements[i].type == "checkbox")
      {
        if (df.elements[i].checked == true) {
          sum_checked++
        }
      }
    }
    if (sum_checked > 0) {
      df.action = "/course_applications/konaitokimeta"
      df.submit()
    }
    else {
      alert("Sila Pilih Pemohon")
    }
  }


  function suratTawaranSelected(df) {
    var sum_checked = 0

    for (i=1; i<df.elements.length; i++ )
    {
      if (df.elements[i].type == "checkbox")
      {
        if (df.elements[i].checked == true) {
          sum_checked++
        }
      }
    }
    if (sum_checked > 0) {
      code = $('course_implementation_code').value
      df.action = "/course_applications/edit_surat_tawaran?course_implementation_code=" + code
      //alert(df.action)
      df.submit(df.action)
    }
    else {
      alert("Sila Pilih Pemohon")
    }
  }

  function checkAll(df) {
    for (i=1; i<df.elements.length; i++ )
    {
      if (df.elements[i].type == "checkbox")
      {
        df.elements[i].checked = df.check_all.checked
      }
    }
  }

</script>

<!----------------------------------------------------------------------------------------->
<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
  <tr>
    <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF"><%=@course_implementation.code.upcase%> &nbsp; <%=@course_implementation.course.name.upcase%> &nbsp;&nbsp;<%="<br>" if @course_implementation.course.name.length > 60%>(<%=@course_implementation.tempoh%>)</font></b></td>
  </tr>
</table>
<br>
<%= render :partial => 'apply_header'%>

<%= render :partial => 'common_list'%>

<!-- popup menu initial layer----->
<div id="popmenu" class="menu"></div>

<script type="text/javascript">
  $('#popmenu').css({"width" : 130}) //set width of popmenu for this page
</script>



