
<%
   am_or_pm = "pagi"
   am_or_pm = "petang" if @briefing_hour.to_i > 12
   aktiviti1 = "Peserta juga dikehendaki mengikuti aktiviti luar seperti"
   aktiviti2 = "Ceramah Agama/Sukan/Riadah/ Senamrobik di"
   aktiviti3 = "mana aktiviti-aktiviti ini dimasukkkan ke dalam modul"
   aktiviti4 = "untuk diambil kira bagi penilaian kursus."
%>
<table width="100%" style="font-size: 14px;">
  <tr>
    <td align="right">
      <table style="font-size: 12px; font-family: arial;">
        <tr>
          <td>Ruj. Tuan</td>
          <td>: </td>
        </tr>
        <tr>
          <td>Ruj. Kami</td>
          <td>: <%= @rujukan_kami %></td>
        </tr>
        <tr>
          <td>Tarikh</td>
          <td>: <%= @tarikh %></td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td style="font-size: 13px; font-family: arial;">
      <br/>
      <%
         for student in @students
           font_size = 12

           i = 1
           nama = student.profile.name
           kp = student.profile.ic_number

           employment = Employment.find_by_profile_id(student.profile.id)
           place = nof { employment.place }
           if place
             addr1 = nof { place.address1.split(" ").map! { |e| e }.join(" ") }
             addr2 = nof { place.address2.split(" ").map! { |e| e }.join(" ") }
             addr3 = nof { place.address3.split(" ").map! { |e| e }.join(" ") }
             addr4 = nof { place.address4.split(" ").map! { |e| e }.join(" ") }
             state = nof { place.state.description.split(" ").map! { |e| e }.join(" ") }

             addr_arr = Array.new
             addr_arr.push(place.name) if place.name != "" and place.name !=nil
             addr_arr.push(addr1) if place.address1 != ""
             addr_arr.push(addr2) if place.address2 != ""
             addr_arr.push(addr3) if place.address3 != ""
             addr_arr.push(addr4) if place.address4 != ""
             company_addr = addr_arr.join(",<br/>")
             company_addr = company_addr.tr_s(',', ',')
           else
             addr_arr = Array.new
             addr_arr.push(" ")
             addr_arr.push(" ")
             addr_arr.push(" ")
             addr_arr.push(" ")
             addr_arr.push(" ")
             company_addr = addr_arr.join(" <br/>")
           end

           if (student.profile.address1 != nil) && (student.profile.state != nil)
             p_addr1 = student.profile.address1.split(" ").map! { |e| e }.join(" ")
             p_addr2 = student.profile.address2.split(" ").map! { |e| e }.join(" ")
             p_addr3 = student.profile.address3.split(" ").map! { |e| e }.join(" ")
             p_state = student.profile.state.description.split(" ").map! { |e| e }.join(" ")

             p_addr_arr = Array.new
#p_addr_arr.push(student.profile.name.upcase) if student.profile.name != "" and student.profile.name !=nil
             p_addr_arr.push(p_addr1) if student.profile.address1 != ""
             p_addr_arr.push(p_addr2) if student.profile.address2 != ""
             p_addr_arr.push(p_addr3) if student.profile.address3 != ""
#p_addr_arr.push(p_state) if student.profile.state != "" and student.profile.state !=nil
             p_addr = p_addr_arr.join("<br/>")
             p_addr = p_addr.tr_s(',', ',')
           else
             p_addr_arr = Array.new
#p_addr_arr.push(" ")
             p_addr_arr.push(" ")
             p_addr_arr.push(" ")
             p_addr_arr.push(" ")
             p_addr_arr.push(" ")
             p_addr = p_addr_arr.join(" <br/>")
           end

           ketua = "#{student.profile.hod}"
           office_name = "#{student.profile.opis}"
           p_alamat = "#{p_addr}."
           alamat = "#{company_addr}."
           state = "#{student.profile.state.description.upcase}"

           alamat_instun = "<br/>Pengarah," +
                   "<br/>Institut Tanah dan Ukur Negara(INSTUN)" +
                   "<br/>Kementerian Sumber Asli dan Alam Sekitar(NRE)" +
                   "<br/>Behrang" +
                   " 35950 Tanjung Malim" +
                   "<br/>Perak Darul Ridzuan."
           salinan_kepada = "Pengarah<br/>"+
                   "Institut Tanah dan Ukur Negara(INSTUN)<br/><br/>"
           ic_number = "#{student.profile.ic_number[0, 6]}-#{student.profile.ic_number[6, 2]}-#{student.profile.ic_number[8, 4]}"

           if employment and employment.job_profile
             job_name = nof { employment.job_profile.job_name }
             job_name = employment.job_profile.job_name.split(" ").map! { |e| e.capitalize }.join(" ") if job_name != nil
             job_grade = nof { employment.job_profile.job_grade }
             job_profile = "<b>#{job_name} Gred #{job_grade}</b>"
           else
             job_profile = " "
           end
      %>
          <%= "<b>#{nof { student.profile.name }}</b><br/>".html_safe %>
          <%= "#{job_profile}".html_safe %>
          <%= "<br/>Melalui dan Salinan:".html_safe %>
          <br/>
          <%= "#{ketua}".html_safe %><br/>
          <%= "#{office_name}".html_safe %><br/>
          <%= "#{p_alamat}".html_safe %><br/>
          <%= "#{state}".html_safe %>
          <br/>
          <br/>
      <%
         end
      %>
      <br/><br/>
      <%= "Tuan/Puan,<br/><br/>".html_safe %>
      <%

         per_lines = @perkara.split("\n")
         for per_line in per_lines
      %>
          <%= "<b>#{per_line}</b>".html_safe %><br/>
      <%
         end
      %>
      <%= "<br/>#{@perenggan}".html_safe %>
      <br/><br/><br/>
      <%= "<br/><br/>Sekian, terima kasih.<br/><br/>".html_safe %>
      <%= "<b>`BERKHIDMAT UNTUK NEGARA`</b><br/><br/>".html_safe %>
      <%= "<b>`MENDAHULUI CABARAN`</b><br/>".html_safe %>
      <%= "<b>`MS ISO 9001:2008 - PENGURUSAN LATIHAN`</b><br/><br/>".html_safe %>
      <%= "Saya yang menurut perintah,<br/><br/>".html_safe %>
      <%
         if @signature_file and @signature_file != ""
      %>
          <%= image_tag(@signature_file) %>
      <%
         else
      %>
          <br/><br/><br/><br/>
      <%
         end
      %>

      <%= "<b>(#{@tandatangan_nama})</b>".html_safe %>
      <%= "#{@tandatangan_jawatan}<br/>".html_safe %>
      <%= "Institut Tanah dan Ukur Negara<br/>".html_safe %>
      <%= "Kementerian Sumber Asli dan Alam Sekitar".html_safe %>


    </td>
  </tr>
</table>

<div style="display:block; clear:both; page-break-after:always;"></div>
<%
   for student in @students
     font_size = 12

     i = 1
     nama = student.profile.name
     kp = student.profile.ic_number
%>
    <table width="100%">
      <tr>
        <td style="font-size: 13px;">
          <%= "<br/><b>LAMPIRAN A</b><br/>".html_safe %>
          <%= "#{alamat_instun}".html_safe %><br/>
          <%= "<b>(u.p : #{@course_department})</b>".html_safe %>
          <br/>
          <br/>
          <%= "No Telefon : #{@penyelaras_telefon} #{@penyelaras_ext}<br/>".html_safe %>
          <%= "No Faks : #{@penyelaras_fax}<br/>".html_safe %>
          <%= "E-mel : #{@penyelaras_email}; #{@penyelaras_email2}<br/><br/>".html_safe %>
          <%= "Tuan/Puan," %><br/>
          <%= "#{@perkara2}".html_safe %>
          <%= "<br/><br/>Merujuk kepada perkara di atas, sukacita dimaklumkan bahawa saya <b>#{nof { nama }}</b>  KP: <b>#{nof { kp }}</b><br/><br/>".html_safe %>
          <table width="100%" style="font-size: 13px; vertical-align: top;">
            <tr>
              <td width="33%" align="center">
                <span style="border: 1px solid black; width: 8px; height: 8px;">&nbsp;&nbsp;&nbsp;&nbsp;</span> HADIR
              </td>
              <td width="33%" align="center">
                <span style="border: 1px solid black; width: 8px; height: 8px;">&nbsp;&nbsp;&nbsp;&nbsp;</span> TIDAK HADIR
              </td>
              <td width="33%" align="center">
                <span style="border: 1px solid black; width: 8px; height: 8px;">&nbsp;&nbsp;&nbsp;&nbsp;</span> TIDAK HADIR<br/>(Dengan PENGGANTI)
              </td>
            </tr>
          </table>
          <%= "<i>** Sila tandakan        pada yang  berkenaan</i><br/><br/>".html_safe %>
          TANDATANGAN&nbsp;&nbsp;&nbsp;&nbsp; : _______________ TARIKH&nbsp;&nbsp;&nbsp;&nbsp; : _____________________
          <br/>
          <%= "<br/>==========================================================================<br/>".html_safe %>
          <span style="font-size: 11px;"><%= "<b>Maklumat Pengganti (Diisi jika pegawai tidak hadir dengan pengganti)</b>".html_safe %></span>
          <br/>
          <table style="font-size: 13px;">
            <tr>
              <td>NAMA</td>
              <td> : ___________________________________________________</td>
            </tr>
            <tr>
              <td>NO. KP </td>
              <td> : ___________________________________________________</td>
            </tr>
            <tr>
              <td>JAWATAN/GRED</td>
              <td> : ___________________________________________________</td>
            </tr>
            <tr>
              <td>ALAMAT JABATAN</td>
              <td> : ___________________________________________________</td>
            </tr>
            <tr>
              <td></td>
              <td>&nbsp; ___________________________________________________</td>
            </tr>
            <tr>
              <td>NO. TEL</td>
              <td> : _______________ NO. FAKS : _______________</td>
            </tr>
            <tr>
              <td>EMEL</td>
              <td> : ___________________________________________________</td>
            </tr>
            <tr>
              <td>TANDATANGAN</td>
              <td> : _______________ TARIKH : _______________</td>
            </tr>
          </table>
          <br/>
          <%= "<br/>==========================================================================<br/>".html_safe %>
          <span style="font-size: 11px;"><%= "<b>(PENGESAHAN JABATAN)</b>".html_safe %></span>
          <span style="font-size: 11px;"><%= "<br/>Pegawai * <b>DIBENARKAN / TIDAK DIBENARKAN</b> mengikuti kursus di atas".html_safe %></span>
          <br/>
          <table style="font-size: 13px;">
            <tr>
              <td>TANDATANGAN</td>
              <td> : ___________________________________________________</td>
            </tr>
            <tr>
              <td>NAMA/COP JABATAN</td>
              <td> : ___________________________________________________</td>
            </tr>
            <tr>
              <td>TARIKH</td>
              <td> : ___________________________________________________</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <div style="display:block; clear:both; page-break-after:always;"></div>

    <table width="100%">
      <tr>
        <td style="font-size:13px;">
          <%= "<br/><b>LAMPIRAN B</b>".html_safe %>
          <%= "<br/><br/><br/>MAKLUMAT KURSUS #{@course_implementation_name} (#{@course_implementation_code})".html_safe %>
          <br/><br/><br/><br/>
          <table width="100%" border='0' style="font-size: 13px;">
            <tr>
              <td style="vertical-align: top;">1. </td>
              <td style="vertical-align: top;">TARIKH</td>
              <td style="vertical-align: top;"> : </td>
              <td style="vertical-align: top;"><%= @duration %></td>
            </tr>
            <tr style="font-size:10px;"><td>&nbsp;</td></tr>
            <tr>
              <td style="vertical-align: top;">2. </td>
              <td style="vertical-align: top;">TEMPAT</td>
              <td style="vertical-align: top;"> : </td>
              <td style="vertical-align: top;"><%= @location_name.description %></td>
            </tr>
            <tr style="font-size:10px;"><td>&nbsp;</td></tr>
            <tr>
              <td style="vertical-align: top;">3. </td>
              <td style="vertical-align: top;">PENGANJUR</td>
              <td style="vertical-align: top;"> : </td>
              <td style="vertical-align: top;"><%= @department_name.description + " INSTUN" %></td>
            </tr>
            <tr style="font-size:10px;"><td>&nbsp;</td></tr>
            <tr>
              <td style="vertical-align: top;">4. </td>
              <td style="vertical-align: top;">PENDAFTARAN<br/>(CHECK-IN)</td>
              <td style="vertical-align: top;"> : </td>
              <td style="vertical-align: top;">
                <%= @check_in %><br/>
                <%= "Jam : #{@check_in_hour}.#{@check_in_minute} hingga 6.30 petang".html_safe %><br/>
                <%= "[Lobi Pendaftaran Pejabat Domestik, INSTUN ]" %>
              </td>
            </tr>
            <tr style="font-size:10px;"><td>&nbsp;</td></tr>
            <tr>
              <td style="vertical-align: top;">5. </td>
              <td style="vertical-align: top;">SUAIKENAL DAN<br/>TAKLIMAT KURSUS</td>
              <td style="vertical-align: top;"> : </td>
              <td style="vertical-align: top;">
                <%= @briefing %><br/>
                <%= "Jam : #{@briefing_hour}.#{@briefing_minute} #{am_or_pm}" %><br/>
                <%= "Tempat: #{@tempat_suaikenal}" %>
              </td>
            </tr>
            <tr style="font-size:10px;"><td>&nbsp;</td></tr>
            <tr>
              <td style="vertical-align: top;">6. </td>
              <td style="vertical-align: top;">PENGINAPAN</td>
              <td style="vertical-align: top;"> : </td>
              <td style="vertical-align: top;"><%= "Disediakan di Asrama INSTUN" %></td>
            </tr>
            <tr style="font-size:10px;"><td>&nbsp;</td></tr>
            <tr>
              <td style="vertical-align: top;">7. </td>
              <td style="vertical-align: top;">MAKAN/MINUM</td>
              <td style="vertical-align: top;"> : </td>
              <td style="vertical-align: top;">
                <%= "Disediakan sepanjang kursus (bermula pada makan malam" %><br/>
                <%= "pada #{@check_in} hingga makan tengahari pada" %><br/>
                <%= "#{@check_out})." %>
              </td>
            </tr>
            <tr style="font-size:10px;"><td>&nbsp;</td></tr>
            <tr>
              <td style="vertical-align: top;">8. </td>
              <td style="vertical-align: top;">PAKAIAN/KEPERLUAN<br/>LAIN</td>
              <td style="vertical-align: top;"> : </td>
              <td style="vertical-align: top;">
                <%= "(a) Pakaian rasmi ke pejabat" %><br/>
                <%= "(b) Lain-lain keperluan peribadi" %><br/>
                <%= "(c) Pakaian dan kasut sukan" %><br/>
                <%= "(d) Peralatan Sukan" %><br/>
                <%= "(raket badminton/tenis/ping pong)" %><br/>
                <%= "(e) Tuala, sabun mandi, berus dan ubat gigi" %><br/>
                <%= "(f ) Ubat- ubatan yang diperlukan" %><br/>
              </td>
            </tr>
            <tr style="font-size:10px;"><td>&nbsp;</td></tr>
            <tr>
              <td style="vertical-align: top;">9. </td>
              <td style="vertical-align: top;">BUKU RUJUKAN</td>
              <td style="vertical-align: top;"> : </td>
              <td style="vertical-align: top;">
                <%= "Sila bawa bersama buku rujukan berikut:" %><br/>
                <%= @reference_name %>
              </td>
            </tr>
            <tr style="font-size:10px;"><td>&nbsp;</td></tr>
            <tr>
              <td style="vertical-align: top;">10. </td>
              <td style="vertical-align: top;">MAJLIS PENUTUP DAN <br/>PENYAMPAIAN SIJIL</td>
              <td style="vertical-align: top;"> : </td>
              <td style="vertical-align: top;">
                <%= @check_out %><br/>
                <%= "Jam : #{@hour_closed1}.#{@minute_closed1} hingga  #{@hour_closed2}.#{@minute_closed2} #{@timing_closed}" %>
              </td>
            </tr>
            <tr style="font-size:10px;"><td>&nbsp;</td></tr>
            <tr>
              <td style="vertical-align: top;">11. </td>
              <td style="vertical-align: top;">CHECK-OUT</td>
              <td style="vertical-align: top;"> : </td>
              <td style="vertical-align: top;">
                <%= @check_out %><br/>
                <%= "Sebelum jam 5.00 petang" %>
              </td>
            </tr>
            <tr style="font-size:10px;"><td>&nbsp;</td></tr>
            <tr>
              <td style="vertical-align: top;">12. </td>
              <td style="vertical-align: top;">URUSETIA</td>
              <td style="vertical-align: top;"> : </td>
              <td style="vertical-align: top;">
                <%= "1. #{@contact1.profile.name}" %><br/>
                <% if params[:contact_officer_id2].strip=="" %>
                    <%= "2. #{@contact2}" %>
                <% else %>
                    <%= "2. #{@contact2.profile.name}" %>
                <% end %>
              </td>
            </tr>
            <tr style="font-size:10px;"><td>&nbsp;</td></tr>
            <tr>
              <td style="vertical-align: top;">13. </td>
              <td style="vertical-align: top;">AKTIVITI LUAR</td>
              <td style="vertical-align: top;"> : </td>
              <td style="vertical-align: top;">
                <%= aktiviti1 %><br/>
                <%= aktiviti2 %><br/>
                <%= aktiviti3 %><br/>
                <%= aktiviti4 %><br/>
              </td>
            </tr>

          </table>

        </td>
      </tr>
    </table>
    <div style="display:block; clear:both; page-break-after:always;"></div>
<%
   end
%>



<%
   #@nota_font_size = 9
   #current_y = pdf.y
   #pdf.y = pdf.absolute_bottom_margin - 20
   #pdf.add_text(70, pdf.y, "Nota: Surat ini adalah cetakan komputer. Tiada tandatangan diperlukan.", @nota_font_size) if params[:is_cetakan_komputer].to_i==1

   #pdf.new_page

   #cetak_surat_sah_hadir2(pdf)
   #cetak_lampiran_c(pdf)

%>