<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">No Rujukan Surat Tawaran Kursus</font></b></td>
    </tr>
  </table>
  <br>
  <table class="seven" width="95%" border="0" align="center" cellpadding="3" cellspacing="0" bgcolor="#777777">
    <tr bgcolor="#999999" >
      <td class="el" width="2%" valign="top" id="name20"><font color="#FFFFFF">&nbsp;</font></td>
	<td class="el" align="center"><font color="#FFFFFF"><strong>Bahagian</strong></font></td>
      <td class="el" align="center"><font color="#FFFFFF"><strong>No Rujukan</strong></font></td>
      <td class="el" align="center"><font color="#FFFFFF"><strong>Kod Kursus</strong></font></td>
      <td class="el" align="center"><font color="#FFFFFF"><strong>Tarikh</strong></font></td>
    </tr>
<tr style="display: none;" id="ihtr20"><td colspan="7" bgcolor="#ececd9">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody><tr><td width="10"></td><td style="border: 3px solid rgb(0, 51, 102);">
   <iframe id="ihif20" frameborder="0" width="100%"></iframe>
   </td></tr>
   </tbody>
  </table></td></tr>
<%
i = 0;
even = true;

for query in @surats
  i = i + 1
  bgclr = "#CCCCFF" if (even == true)
  bgclr = "#FFFFFF" if (even == false)
  even = !even
  filename = "surat_tawaran_"+ "#{query.course_implementation_id}.pdf"
%>
	
    <tr class="list" bgcolor="<%=bgclr%>" >
      <td class="el" style="font-size: 10px" id="name<%=h query.id %>"><%= i.to_s %>.</td>
	<td class="el" style="font-size: 10px"><%=h query.course_department.description %></td>
      <!--td class="el" style="font-size: 10px"><%=h query.ref_no %></td-->
<td class="el" style="font-size: 10px;text-decoration: underline"><a href="/surat/<%=filename%>"><%=h query.ref_no %></a></td>
	<td class="el" style="font-size: 10px"><%=h nof{query.course_implementation.code} %></td>
      <td class="el" style="font-size: 10px"><%=h query.letter_date.to_formatted_s(:my_format_4) %></td>
    </tr>
<%
end
%>
  </table>
