
<div align="center"> <%= link_to 'Tambah pemohon seterusnya', :action => 'new', :id => @course_application.course_implementation.id %> | <a href="/course_applications/unprocessed/<%=@course_application.course_implementation.id%>">Lihat senarai pemohon </a></div>
<br />
<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
  <tr bgcolor="000000">
    <td colspan="4" align="CENTER" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT PEMOHON </font></b></td>
  </tr>
  <tr>
    <td colspan="4" align="right">&nbsp;</td>
  </tr>
  <tr>
    <td align="right"><b>Kod Kursus  :</b></td>
    <td colspan=3>&nbsp; <%= @course_application.course_implementation.code%> <%= "("+@course_application.course.name + ")" %></td>
  </tr>
  <tr>
    <td align="right"><b>NO KP Baru: </b></td>
    <td>&nbsp; <%= @course_application.profile.ic_number%></td>
    <td align="right"><b>NO K/P Lama :</b></td>
    <td>&nbsp; <%=@student.profile.old_ic_number %></td>
  </tr>
  <tr>
    <td align="right"><b>Gelaran : </b></td>
    <td colspan=3>&nbsp;
        <%=@student.profile.title.description if @student.profile.title%>    </td>
  </tr>
  <tr>
    <td width="20%" align="right"><b>Nama Penuh : </b></td>
    <td colspan=3>&nbsp; <%=@student.profile.name %></td>
  </tr>
  <tr>
    <td align="right"><b>Jantina :</b></td>
    <td>&nbsp; <%=@student.profile.gender.description if @student.profile.gender%> </td>
    <td align="right" width=20%><b>Tarikh Lahir :</b></td>
    <td>&nbsp;
        <%=@student.profile.date_of_birth.to_formatted_s(:my_format_4) if @student.profile.date_of_birth %>    </td>
  </tr>
  <tr>
    <td align="right"><b>Agama :</b></td>
    <td>&nbsp; <%=@student.profile.religion.description if @student.profile.religion%> </td>
    <td align="right"><b>Keturunan :</b></td>
    <td colspan=3>&nbsp;
        <%=@student.profile.race.description if @student.profile.race%>    </td>
  </tr>
  <tr>
    <td align="right"><b>Taraf Perkahwinan :</b></td>
    <td >&nbsp; <%=@student.profile.marital_status.description if @student.profile.marital_status%> </td>
    <td align="right">&nbsp;</td>
    <td colspan=3>&nbsp;</td>
  </tr>
  <tr>
    <td colspan=4>&nbsp;</td>
  </tr>
  <tr bgcolor="000000">
    <td colspan="4" align="CENTER" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT WARIS</font></b></td>
  </tr>
  <tr>
    <td colspan="4">&nbsp;</td>
  </tr>
  <tr>
    <td width="20%" align="right"><b>Nama : </b></td>
    <td colspan=3>&nbsp; <%= @relative.name if @relative%></td>
  </tr>
  <tr>
    <td width="20%" align="right"><b>Hubungan : </b></td>
    <td colspan=3>&nbsp;
        <%= @relative.relationship.description  if @relative && @relative.relationship%></td>
  </tr>
  <tr>
    <td align="right" valign="top"><b>Alamat :</b></td>
    <td colspan=3>&nbsp; <%= @relative.address1 if @relative%></td>
  </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td colspan=3>&nbsp; <%= @relative.address2 if @relative%></td>
  </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td colspan=3>&nbsp; <%= @relative.address3 if @relative%></td>
  </tr>
  <tr>
    <td align="right"><b>Negeri :</b></td>
    <td colspan=3>&nbsp;
        <%= @relative.state.description if @relative && @relative.state%></td>
  </tr>
  <tr>
    <td align="right"><b>No Telefon Rumah :</b></td>
    <td colspan=3>&nbsp; <%= @relative.phone if @relative%></td>
  </tr>
  <tr>
    <td align="right"><b>No Telefon Bimbit :</b></td>
    <td colspan=3>&nbsp; <%= @relative.mobile if @relative %> </td>
  </tr>
  <tr>
    <td colspan=4>&nbsp;</td>
  </tr>
  <tr bgcolor="000000">
    <td colspan="4" align="CENTER" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT PERKHIDMATAN</font></b></td>
  </tr>
  <tr>
    <td colspan="4" align="right">&nbsp;</td>
  </tr>
  <tr>
    <td align="right"><b>Pejabat :</b></td>
    <td colspan="3">&nbsp;
        <%= @employment.place.name if @employment && @employment.place%></td>
  </tr>
  <tr>
    <td align="right"><b>Gred :</b></td>
    <td>&nbsp; <%= @employment.job_profile.job_grade if @employment && @employment.job_profile %> &nbsp; <%= "(#{@employment.job_profile.job_name})" if @employment && @employment.job_profile%></td>
    <td align="right">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="right"><b>Jawatan :</b></td>
    <td>&nbsp; <%= @student.profile.designation %> </td>
    <td align="right">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="right"><b>Bahagian/Unit :</b></td>
    <td>&nbsp;
        <%= @employment.unit if @employment %>    </td>
    <td align="right"><b>E-Mel :</b></td>
    <td>&nbsp; <%= @student.profile.email%></td>
  </tr>
  <tr>
    <td colspan=4>&nbsp;</td>
  </tr>
  <tr bgcolor="000000">
    <td colspan="4" align="CENTER" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT AKADEMIK</font></b></td>
  </tr>
  <tr>
    <td colspan="4">&nbsp;</td>
  </tr>
  <tr>
    <td valign=top align="center" colspan="5"><table border="1" width="90%" align="center">
      <tr>
        <th width="15%">KELAYAKAN</th>
        <th width="25%">INSTITUSI/UNIVERSITI</th>
        <th width="15%">TAHUN</th>
      </tr>

      <%
	    i = 0
	    for qualification in @student.profile.qualifications
			i = i + 1
	  %>
      <tr align=center>
        <td align=left><%=i%>.<%= qualification.cert_level.description if qualification.cert_level%></td>
        <td>&nbsp;<%= qualification.institution if qualification%></td>
        <td>&nbsp;<%= qualification.year_end if qualification%></td>
      </tr>
	  <%end%>

    </table></td>
  </tr>
  <tr>
    <td colspan=4>&nbsp;</td>
  </tr>
  <tr bgcolor="000000">
    <td colspan="4" align="center" bgcolor="#999999"><b><font color="#FFFFFF">PENGAKUAN PEMOHON</font></b></td>
  </tr>
  <tr>
    <td colspan="4">&nbsp;</td>
  </tr>
  <tr>
    <td align="right"><b>Tarikh Mohon:</b></td>
    <td align="left">&nbsp; <%= @course_application.date_apply.to_formatted_s(:my_format_4) if @course_application.date_apply%></td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="4" align="center">&nbsp;
        <script>
			function hideApply() {
				document.getElementById('apply_button').style.visibility='hidden'
			}
			function showApply() {
				document.getElementById('apply_button').style.visibility='visible'
			}
        </script>
        <input disabled name="checkbox" type="checkbox" value="1" id="chkbox" onclick="if (this.checked) showApply(); else hideApply()" checked="checked">
      &nbsp;&nbsp;SAYA MENGAKU BAHAWA SEMUA KETERANGAN DI ATAS ADALAH BENAR. SEKIRANYA KENYATAAN YANG DIBERIKAN ADALAH TIDAK BENAR, PIHAK INSTUN BERHAK MEMBATALKAN PERMOHONAN INI.
      </div></td>
  </tr>
  <tr>
    <td colspan="4">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="4">&nbsp;</td>
  </tr>
  <tr bgcolor="000000">
    <td colspan="4" align="center" bgcolor="#999999"><font color="FFFFFF"><strong>PERAKUAN KETUA JABATAN</strong></font></td>
  </tr>
  <tr>
    <td colspan="4">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="4" align="center">&nbsp;
        <script>
			function hideApply() {
				document.getElementById('apply_button').style.visibility='hidden'
			}
			function showApply() {
				document.getElementById('apply_button').style.visibility='visible'
			}
        </script>
        <!--input id="checkbox222" type="checkbox" name="checkbox" value="checkbox" onclick="if (this.checked) showApply(); else hideApply()"-->
      &nbsp;&nbsp;SAYA MENGESAHKAN BAHAWA SEMUA KENYATAAN YANG DIBERIKAN OLEH PEMOHON ADALAH BENAR. PERMOHONAN 
      BELIAU BAGI MENGIKUTI KURSUS INI DISOKONG.
      </div></td>
  </tr>
  <tr>
    <td align="right"><b>Nama :</b></td>
    <td colspan="3" >&nbsp;<%= @course_application.supervisor_name%></td>
  </tr>
  <tr>
    <td align="right"><b>Jawatan :</b></td>
    <td colspan="3" >&nbsp;<%= @course_application.supervisor_jawatan%></td>
  </tr>
</table>
<br />
