<form method="post" action="/course_applications/update_user_cancel/<%=@course_application.id%>" onsubmit="return GoSubmit(this)">
<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
  <tr bgcolor="000000">
    <td colspan="3" align="CENTER" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT PEMBATALAN PERMOHONAN KURSUS </font></b></td>
  </tr>
  <tr>
    <td colspan="3" align="right">&nbsp;</td>
  </tr>
  
  
  <tr>
    <td width="20%" align="right"><b>Nama  : </b></td>
    <td colspan=3>&nbsp; <%=nof{@student.profile.name} %></td>
  </tr>
  
  <tr>
    <td align="right"><b>Gred/Jawatan :</b></td>
    <td colspan="2" width="40">&nbsp; <%= nof{@employment.job_profile.job_grade} %> &nbsp; <%= "(#{@employment.job_profile.job_name.upcase})" if @employment && @employment.job_profile%></td>
  </tr>
  <!--tr>
<% if nof{@employment.place}
                                if @employment.place.place_type_id == 3
                                        grandparent = @employment.place
                                        parent = nil
                                        child = nil
                                elsif @employment.place.place_type_id == 1
                                        grandparent = @employment.place.parent
                                        parent = @employment.place
                                        child = nil
                                else
                                        grandparent = @employment.place.parent.parent
                                        parent = @employment.place.parent
                                        child = @employment.place
                                end
  end
  %>
      <td align="right"><b>Kementerian :</b></td>
      <td colspan="2">&nbsp; <%= nof{grandparent.name.upcase}%></td>
    </tr>
     <tr>
      <td align="right"><b>Jabatan :</b></td>
      <td colspan="2">&nbsp; <%= nof{parent.name.upcase}%></td>
    </tr-->
    <tr>
      <td align="right"><b>Pejabat :</b></td>
      <td colspan="2">&nbsp; <%=@student.profile.opis%></td>
    </tr>
    <tr>
      <td align="right"><b>Kursus  :</b></td>
      <td colspan="2">&nbsp; <%= nof{@course_application.course_implementation.code}%> <%= "("+nof{@course_application.course.name} + ")" %></td>
    </tr>
    <tr>
      <td align="right"><b>Tarikh Mohon :</b></td>
      <td colspan="2">&nbsp; <%= nof{@course_application.date_apply.to_formatted_s(:my_format_4)}%></td>
    </tr>
    <tr>
      <td align="right">&nbsp;</td>
      <td colspan="2">Saya memohon membatalkan permohonan kursus di  atas dan mengesahkan permohonan pembatalan ini telah diluluskan oleh Ketua  Jabatan</td>
    </tr>
    <tr>
      <td align="right" valign="TOP"><b>Sebab Pembatalan   :</b></td>
      <td colspan="2">&nbsp;<textarea name="course_application[cancel_reason]" cols="60"></textarea></td>
    </tr>
    <tr>
      <td align="right"><b>Nama Pegawai :</b></td>
      <td colspan="2">&nbsp;<input type="text" value="<%=@course_application.supervisor_name%>" size="60" onchange="this.value=this.value.toUpperCase()" name="course_application[cancel_spv_name]" maxlength="80" id="course_application_cancel_spv_name"/></td>
    </tr>
  
  <tr>
    <td align="right"><b>Jawatan :</b></td>
    <td colspan="2" >&nbsp;<input type="text" value="<%= nof{@course_application.supervisor_jawatan.upcase}%>" size="50" onchange="this.value=this.value.toUpperCase()" name="course_application[cancel_spv_jawatan]" id="course_application_cancel_spv_jawatan" /></td>
  </tr>
  <tr>
    <td align="right"><b>E-Mel :</b></td>
    <td colspan="2" >&nbsp;<input type="text" value="<%= nof{@course_application.supervisor_email}%>" size="50" onchange="this.value=this.value.toUpperCase()" name="course_application[cancel_spv_email]" id="course_application_cancel_spv_email" /></td>
  </tr>
  <tr>
    <td align="right"><b>Tarikh Diluluskan:</b></td>
    <td colspan="2" >&nbsp;<input type="text" value="<%=Time.now.strftime("%d/%m/%Y")%>" size="12" onchange="this.value=this.value.toUpperCase()" name="course_application[cancel_date]" id="course_application_cancel_date" /> 
	<font color="orange">dd/mm/yyyy</font></td>
  </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td colspan="2" >&nbsp;</td>
  </tr>
</table>
  <BR>
   <div id="apply_button" align="center" style="visibility: visible">
  <%= submit_tag "Batalkan Permohonan" %>
  </div>
</form>
<br />

<script src="/javascripts/form_validator.js"></script>
<script>

function GoSubmit(df) {
	if (!checkInput(emailRegExp,document.getElementById('course_application_cancel_spv_email'),'Emel Pegawai')) return false;
	
	if (confirm("Adakah anda pasti untuk membatalkan kursus ini?"))
		return true;
	else
		return false;
}

</script>
