<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr>
      <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF">TUKAR KATA LALUAN SISTEM eSPEK</font></th>
    </tr>
    <tr>
    <td>&nbsp;</td>
    </tr>
  </table>

<div title="<%= title_helper %>" class="form">

  <%#= error_messages_for 'user' %>

  <div class="form-padding">
  <table width="85%" border="0" align="center" cellpadding="3" cellspacing="1">
<tr>
<td align="center">
Sila masukkan Kata Laluan baru. Sebarang masalah sila hubungi espek@instun.gov.my <BR></td>
</tr>
</table>
    <%= start_form_tag :action => 'change_password' %>
      <%= render_partial 'password', :user => @user, :submit => false %>
      <div align="center" class="button-bar">
        <%= submit_tag 'Tukar Kata Laluan' %>
        <%= link_to 'Kembali ke laman utama', :action => 'logout' %>
      </div>
    <%= end_form_tag %>
  </div>
</div>
