<style>
  <!--
  body {
    background-image: url(../images/background.gif);
    background-repeat: repeat;
    background-color: #CCCCCC;
  }
  .style1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
  }

  -->
  .body {

    text-align:center;
    background-repeat:no-repeat;
    background-image:url(../images/bg-index.jpg);
    background-position:center;
    background-repeat:no-repeat;
    margin-top:0px;
    background-color: #FFFFFF;
    width: 850px;
    height:500px;
    box-shadow: 0px 0px 8px #000000;
    -webkit-box-shadow: 0px 0px 8px #000000;
    -moz-box-shadow: 0px 0px 8px #000000;
    margin-left:50px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    text-decoration: none;
    padding: 10px;
    /*border:1px solid #D6EEFB;*/
  }
  #bottom {

    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#003300;
    clear: both;
    margin-top:480px;
  }
  #apDiv3 {
    position:absolute;
    width:200px;
    height:115px;
    z-index:1;
    left: 570px;
    top: 280px;
  }
  .style13 {font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; }
  .style15 {font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; font-style: italic; }
</style>

<script>
  //alert("Peningkatan sedang dijalankan. Sistem mungkin menghadapi ralat yang tidak dijangkakan. Sila hubungi pihak Instun. Terima kasih.");
</script>
<div class="body" align="center">

  <div id="apDiv3">
    <%=  form_tag authenticate_user_index_path  do %>
      <table width="300" border="0" cellspacing="1" cellpadding="1">

        <tr>
          <td align="left"><span class="style13"><strong><u>Login eSPEK</u></strong></span></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td width="172" align="left"><span class="style13">No Kad Pengenalan :</span></td>
          <td width="114"><%= text_field 'user', 'ic_number', :size=>19, :class=>"content" %></td>
        </tr>
        <tr>
          <td align="left"><span class="style13">Kata Laluan :</span></td>
          <td><%= password_field 'user', 'password', :size=>19, :class=>"content" %></td>
        </tr>
        <tr>
          <td colspan="2" align="center"><%= submit_tag 'Log Masuk' %></td>
        </tr>
         <% if flash[:notice]%>
        <tr><td colspan="2">   <%= flash[:notice].html_safe%> </td></tr>
        <% end %>
        <tr>
          <td colspan="2" align="center"><span class="style15"><%= link_to 'Lupa Kata Laluan?', :action => 'forgot_password' %> | <%= link_to 'Pertama Kali Mendaftar', :action => 'register' %></span></td>
        </tr>
      </table>
    <%- end %>
  </form></div>
  <div id="bottom">
    Daftar akaun di eSPEK sekarang dan dapatkan maklumat mengenai kursus/seminar/latihan terkini di INSTUN.<br />
  Download : <a href="/manual/user.pdf">Manual Pengguna</a> | <a href="http://ardownload.adobe.com/pub/adobe/reader/win/8.x/8.0/enu/pase30_rdr80_DLM_en_US.exe">Acrobat Reader</a> | | <a href="/ff.zip">Portable Mozilla FireFox </a> |<a href="/course_implementations/list_public" target="_blank">Senarai Kursus Tahunan</a></div>
</div>

<div align="center" class="style1"><br />Segala masalah berkenaan sistem sila hubungi:<br />
  Bahagian Teknologi Maklumat, INSTUN | 05-4542825 atau espek@instun.gov.my<br />
  ©Hakcipta Terpelihara  2013 | Institut Tanah dan Ukur Negara</span>
  <br />
</div>


<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=2962115; 
var sc_invisible=1; 
var sc_security="d9dfa70b"; 
</script>
<script type="text/javascript"
src="http://www.statcounter.com/counter/counter.js"></script>
<noscript><div class="statcounter"><a title="web analytics"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="http://c.statcounter.com/2962115/0/d9dfa70b/1/"
alt="web analytics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
