<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF">SEMAKAN STATUS PERMOHONAN KURSUS</font></th>
    </tr>
    <tr>
    <td>&nbsp;</td>
    </tr>
    <tr>
      <td align="CENTER">Selamat datang ke Sistem Pengurusan Kursus (eSPEK), INSTUN. <br />
Sila masukkan No. KP dan Kod Kursus yang telah anda mohon. </td>
    </tr>
  </table>
  <BR>
<form name="rgs_form" action="semakan" method="post"><br />
<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
	<tr>
	<td align=right width=30%>No KP <font color=red><b>*</b></font>:</td>
	<td width=40%>&nbsp;
	<input name="ic_number" type="text" size="12" maxlength="12" class="px200"/>
       <font style="color: red; font-size: 10px">*Tanpa (-)</font>
       <font style="color: black; font-size: 10px">contoh: 600307082345</font></td>
	</tr>
	<tr>
	<td>&nbsp;</td>
	<td>&nbsp;
        <%= submit_tag 'Semak' %>
      </td>
  </tr>
      <tr>
      <td>&nbsp;</td>
      <td><font color=red><b>*</b></font>Semua medan wajib diisi.</td>
      </tr>
<!-- Start of StatCounter Code -->
<script type="text/javascript">
var sc_project=6557731; 
var sc_invisible=1; 
var sc_security="dc3eba9a"; 
</script>

<script type="text/javascript"
src="http://www.statcounter.com/counter/counter_xhtml.js"></script><noscript><div
class="statcounter"><a title="drupal analytics"
class="statcounter"
href="http://statcounter.com/drupal/"><img
class="statcounter"
src="http://c.statcounter.com/6557731/0/dc3eba9a/1/"
alt="drupal analytics" /></a></div></noscript>
<!-- End of StatCounter Code -->
</table>
</form>
<%if @status.size > 0 %>

<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
<tr>
      <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF">STATUS PERMOHONAN KURSUS</font></th>
    </tr>
 <tr>
    <td colspan="4" align="center">&nbsp;</td>
  </tr>
<tr>
    <td colspan="4" align="center"><table width="75%" border="1" cellspacing="1" cellpadding="2">
      <tr>
        <td>NAMA:</td>
        <td colspan="3"><%=nof{@status[0].name}%></td>
      </tr>
      <tr>
        <td>NO. KP:</td>
        <td colspan="3"><%=nof{@status[0].ic_number}%></td>
      </tr>
	<tr>
<td width="10%" align="center"><strong>Kod Kursus</strong></font></td>
<td width="40%" align="center"><strong>Nama Kursus</strong></font></td>
<td width="10%" align="center"><strong>Tarikh Kursus</strong></font></td>
<td width="15%" align="center"><strong>Status Kursus</strong></font></td>
	</tr>
<%
i = 0;
for status in @status
i = i + 1
%>
      <tr>
        <td width="10%" align="center"><%=nof{status.code}%></td>
        <td width="40%" align="left"><%=nof{status.course.name}%></td>
        <td width="10%" align="center"><%=nice_date status.date_plan_start.to_date -%></td>
        <td width="15%" align="center"><%=nof{status.student_status.description}%></td>
      </tr>
<% end %>
</table></td>
  </tr>

  <tr>
    <td colspan="4" align="center">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="4" align="center"><span lang="fi" xml:lang="fi">Pihak INSTUN mengucapkan ribuan terima kasih kerana telah memohon kursus menggunakan sistem ini.</span> </td>
  </tr>
</table>
<br />

<%end%>
<% if @status.size == 0 and (params[:ic_number] != nil) %>
<br>
<div align="center">
<b><font color="red">Harap Maaf tiada rekod ditemui. Sila hubungi penyelaras kursus yang berkenaan untuk maklumat lanjut.</font></b>
</div>
<%end%>
