<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF">SENARAI JENIS TEMPAT</font></th>
    </tr>
    <tr>
    <td>&nbsp;</td>
    </tr>
    <tr>
    <th><%= link_to 'Tambah', :action => 'new' %> jenis tempat</th>
    </tr>
  </table>
  <BR>
<table border=0 cellpadding=0 cellspacing=2 align=center width="95%">
  <tr bgcolor="#999999" align=center>
  <td width="5%"><b><font color="#FFFFFF">Bil</font></b></td>
  <td width="10%"><b><font color="#FFFFFF">&nbsp;Kod Jenis</font></b></td>
  <td width="35%" align=left><b><font color="#FFFFFF">&nbsp;Keterangan</font></b></td>
  <td width="20%" colspan=3><b><font color="#FFFFFF">Tindakan</font></b></td>
  </tr>
  
<% 
i = 0;
even = true;
for pt in @place_types
 	i = i + 1
  	bgclr = "#CCCCFF" if (even == true)
  	bgclr = "#FFFFFF" if (even == false)
  	even = !even
%>
  <tr align=center bgcolor="<%=bgclr%>">
    <td><%= i.to_s %></td>
	<td><%=h pt.id %></td>
	<td align=left>&nbsp;<%=h pt.description %></td>
    <td width="10%"><%= link_to 'Lihat', :action => 'show', :id => pt %></td>
    <td width="10%"><%= link_to 'Edit', :action => 'edit', :id => pt %></td>
    <td width="10%"><%= link_to 'Padam', { :action => 'destroy', :id => pt }, :confirm => 'Are you sure?' %></td>
  </tr>
 <% end %>
</table>
<BR><BR>
<div align=center>  
<%= link_to 'Previous page', { :page => @place_type_pages.current.previous } if @place_type_pages.current.previous %>
<%= link_to 'Next page', { :page => @place_type_pages.current.next } if @place_type_pages.current.next %> 
</div>
<br />