<%= start_form_tag :controller => "pengguna", :action => "change_password" %>
<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF">TUKAR KATA LALUAN</font></th>
    </tr>
  </table>
  <BR>
<table border=1 align=center width=95% cellpadding=2 cellspacing=1 bgcolor="#EEEEEE">
<tr>
<th width="15%"><%= link_to 'Peribadi', :controller => 'profiles', :action => 'view', :id => @profile %></th>
<th width="15%"><%= link_to 'Waris', :controller => 'profiles', :action => 'view_waris', :id => @profile %></th>
<th width="15%"><%= link_to 'Perkhidmatan', :controller => 'profiles', :action => 'view_khidmat', :id => @profile %></th>
<th width="15%"><%= link_to 'Akademik', :controller => 'profiles', :action => 'view_akademik', :id => @profile %></th>
<th width="15%"><%= link_to 'Kursus', :controller => 'profiles', :action => 'view_kursus', :id => @profile %></th>
<th width="15%"><%= link_to 'Tukar Kata Laluan', :action => 'change_password', :id => @profile %></th>
</tr>
</table>
<BR><BR>
<div title="password alteration" id="password alteration" class="form">
  <div class="error_message"><% if @message %><%= @message %><% end %>
  <%= @user %>

  <table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
  <tr bgcolor="000000">
    	<td colspan="2" align="center"><strong><font color="#FFFFFF">TUKAR KATA LALUAN</font></strong></td>
    </tr>
    <tr>
      <td colspan="2" align="right">&nbsp;</td>
    </tr>

	<tr>
	<td width=25% align=right><b>Kata Laluan lama :</b></td>
	<td width=45%>
  <input name="old_password" id="old_password" tabindex="2" type="password" /><br/></td>
  </tr>
  <tr>
  <td align=right><b>Kata Laluan baru :</b></td>
  <td>
  <input name="new_password" id="new_password" tabindex="2" type="password" /></td>
  </tr>
  <tr>
  <td align=right><b>Pengesahan Kata Laluan baru :</b></td>
  <td>
  <input name="new_password_confirmation" id="new_password_confirmation" tabindex="2" type="password" /></td>
  </tr>
  <tr>
  <td>&nbsp;</td>
  <td>
  <input type="submit" value=" Tukar " class="primary" />
  </td>
  </tr>
  </table>
</div>
<%= end_form_tag %>