<h1>Listing policy_items</h1>

<table>
  <tr>
  <% for column in PolicyItem.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for policy_item in @policy_items %>
  <tr>
  <% for column in PolicyItem.content_columns %>
    <td><%=h policy_item.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => policy_item %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => policy_item %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => policy_item }, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @policy_item_pages.current.previous } if @policy_item_pages.current.previous %>
<%= link_to 'Next page', { :page => @policy_item_pages.current.next } if @policy_item_pages.current.next %> 

<br />

<%= link_to 'New policy_item', :action => 'new' %>
