<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF">SKIM PERKHIDMATAN</font></th>
    </tr>
    <tr>
    <td>&nbsp;</td>
    </tr>
    <tr>
    <th>
    <%= link_to 'Edit', :action => 'edit', :id => @job_profile %> |
	<a href="javascript: history.back()">Kembali</a>
    </th>
    </tr>
  </table>
  <BR>
  <table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
	<tr>
	<td align=right><b>Gred :</b></td>
	<td><%=h @job_profile.job_grade %></td>	
	</tr>
	<tr>
	<td align=right><b>Nama Pekerjaan :</b></td>
	<td><%=h @job_profile.job_name %></td>	
	</tr>
	<tr>
	<td align=right><b>Ranking/Turutan :</b></td>
	<td><%=h @job_profile.ranking %></td>	
	</tr>

	<tr>
	<td align=right><b>Keterangan :</b></td>
	<td><%=h @job_profile.description %></td>	
	</tr>
	</table>