<script>

function rewritePopupContent(controller, objid, objname) {
    $('popmenu').style.width = 230;
    $('popmenu').innerHTML = "<ul>" + 
							"<li><a href=\"" + "javascript: a(" + "" + objid + ")\">&nbsp;&nbsp;Laporan Penilaian oleh Penyelaras</a>" +
					        "</ul>"
}

function rewritePopupContentNoRestraint(controller, objid, objname) {
    $('popmenu').style.width = 230;
    $('popmenu').innerHTML = "<ul>" + 
							"<li><a href=\"" + "javascript: a(" + "" + objid + ")\">&nbsp;&nbsp;Laporan Penilaian oleh Penyelaras</a>" +
					        "</ul>"
     
}

function a(id) {
	MM_openBrWindow('/hr/p_evaluation_report/'+id,'','scrollbars=yes,width=1000,height=600')
}


</script>

 <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
	    <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">LAPORAN PENILAIAN PENYELARAS TERHADAP PESERTA</font></b></td>
    </tr>
</table>
     <div align="center">
        <%= flash[:notice] %></div>
  <br />

    <center>
      <fieldset style="width:50%">
      <legend>Maklumat Peserta</legend>
        <table align="CENTER" border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td align="RIGHT" valign="TOP"><strong>Kursus:</strong></td>
            <td colspan="3"><%=nof{@student.course_implementation.course.name}%></td>
          </tr>
          <tr>
            <td align="RIGHT"><strong>Tarikh Kursus :</strong></td>
            <td colspan="3"><%=nof{@student.course_implementation.tempoh_h}%></td>
          </tr>
          <tr>
            <td align="RIGHT"><strong>Nama:</strong></td>
            <td colspan="3" width=""><%=nof{@student.profile.name}%></td>
          </tr>
          <tr>
            <td align="RIGHT"><strong>No KP :</strong></td>
            <td colspan="3">&<%=nof{@student.profile.ic_number}%></td>
          </tr>
          <tr>
            <td align="RIGHT"><strong>Jawatan/Gred:</strong></td>
            <td colspan="3"><%=nof{@student.profile.employments[0].job_profile.job_name}%>/ <%=nof{@student.profile.employments[0].job_profile.job_grade}%></td>
          </tr>
          <tr>
            <td align="RIGHT" nowrap="nowrap" valign="TOP"><strong>Nama &amp;Alamat Pejabat:</strong></td>
            <td colspan="3"><%=nof{@student.profile.opis}%><br />
            <%=nof{@student.profile.employments[0].place.address1}%><br />
            <%=nof{@student.profile.employments[0].place.address2}%><br />
            <%=nof{@student.profile.employments[0].place.address3}%></td>
          </tr>
        </table>
        <br />
        <p>Skala prestasi : (1,2 &ndash; Sangat Lemah ), (3,4 &ndash; Lemah), (5,6 &ndash; Sederhana),  (7,8 &ndash; Memuaskan), (9,10 &ndash; Cemerlang)</p>
      </fieldset>
    </center>
    <br>

  <div width="95%" style="background: #FFFFFF">
<table class="seven" width="95%" align="center" cellpadding="<%=list_cellpadding%>" cellspacing="<%=list_cellspacing%>" bgcolor="<%=list_bgcolor%>">
  <tr bgcolor="#999999">
    <td class="el" width="25" height="20" valign="top" rowspan="1" align="CENTER">&nbsp;</td>
    <td class="el" width="40%" align="center" style="color: white"><strong>Kriteria</strong></td>
    <td class="el" align="center" style="color: white"><strong>Skala</strong></td>
    </tr>
  <tr bgcolor="#ffffff">
    <td class="el" width="25" height="20" valign="top" align="CENTER">1.</td>
    <td class="el">&nbsp;Markah Penilaian </td>
    <td class="el" align="center">&nbsp;<%=nof{@student.markah_penilaian_peserta}%></td>
  </tr>
  <tr bgcolor="#ffffff">
    <td class="el" height="20" valign="top" align="CENTER">2.</td>
    <td class="el">&nbsp;Markah Ujian </td>
    <td class="el" align="center">&nbsp;<%=nof{@student.markah_ujian_akhir}%></td>
  </tr>
  <tr bgcolor="#ffffff">
    <td class="el" height="20" valign="top" align="CENTER">3.</td>
    <td class="el">&nbsp;Jumlah Markah </td>
    <td class="el" align="center">&nbsp;<%=nof{@student.markah_penilaian_peserta + @student.markah_ujian_akhir}%></td>
  </tr>
  <tr bgcolor="#ffffff">
    <td class="el" height="20" valign="top" align="CENTER">4.</td>
    <td class="el">&nbsp;Ulasan Keseluruhan Oleh Urusetia</td>
    <td class="el" align="center">&nbsp;<%=nof{@student.ulasan_urusetia}%>&nbsp;</td>
  </tr>
</table>
</div>
