<script>
function confirmAndDelete(url, objname) {
	if (confirm("Are you sure to delete " + objname + "?")) {
		location = url
	}
	
}

function rewritePopupContent(controller, objid, objname) {
    $('popmenu').style.width = 230;
    $('popmenu').innerHTML = "<ul>" + 
					       "<li><a href=\""  + controller + "/select_course_select_peserta_batal/" + objid + "\">&nbsp;&nbsp;Pembatalan Individu</a>" + 
					       "<li><a href=\""  + controller + "/select_course_select_peserta_batal_klm/" + objid + "\">&nbsp;&nbsp;Pembatalan Berkelompok</a>" + 
					       "</ul>"
     
}
</script>
<script>
function checkAll(df) {
  for (i=1; i<df.elements.length; i++ )
  {
     if (df.elements[i].type == "checkbox")
     {
       df.elements[i].checked = df.check_all.checked
     } 
  }
}

function GoNextSelectPejabat() {
    var df = document.list
	var total_checked = 0
	if (df.course_department_id.value==0) {
		alert('Sila Pilih Bahagian');
		df.course_department_id.style.background="red"
		df.course_department_id.focus();
		return false;
	}
	
    for (i=1; i<df.elements.length; i++ ) {
       if (df.elements[i].type == "checkbox") {
         if (df.elements[i].checked == true) total_checked++
       } 
    }
	if (total_checked == 0 ) {
		alert("Sila pilih kursus");
		return false;
	}
    df.action = "/hr/select_course_select_peserta"	
    df.submit()
}

</script>

<%
 months = ["Januari","Februari","Mac","April","Mei","Jun","Julai","Ogos","September","Oktober","November","Disember"]
 bulans = ["01","02","03","04","05","06","07","08","09","10","11","12"]
 
 t = Time.now
 current_year= t.strftime("%Y")

 the_year = params[:planning_year]
  
%>
<form action="/hr/select_course_batal" name="list">
 <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">PEMBATALAN PERMOHONAN KURSUS</font></b></td>
    </tr>
  </table>
  <br>
  <div align="center"><b><font color="blue">Pilih Kursus</font> &#8250; <font color="">Pilih Peserta &#8250; </font>Batal Permohonan</b>  </div>
  <br>
  <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center"> <a href="new"></a>Senarai: 
          <select name="course_department_id">
	        <option value="0">Pilih Bahagian</option>
            <% @course_departments.each do |cf| %>
            <option value="<%= cf.id %>"
         	<%= ' selected' if cf.id == params[:course_department_id].to_i %>> <%= cf.description.upcase %> </option>
            <% end %>
          </select>

         <select name="planning_month">
	      <option value="">&nbsp;Bulan</option>
	      <% 
	      x=0
	      for bulan in bulans %>
          <option value= "<%= bulans[x] %>" 
          <% if (bulans[x] == params[:planning_month]) %> selected <% end%> ><%= months[x] %></option>	
          <%	 x = x + 1 
          end  %>
	     </select>

         <select name="planning_year">
	      <% @planning_years.each do |cf| %>
          <%
         if (the_year == nil)
         %>
         <option value="<%= cf.year %>"
         <%= ' selected' if cf.year.to_s == current_year.to_s %>> <%= cf.year %> </option>
         <%
         else
         %>
         <option value="<%= cf.year %>"
         <%= ' selected' if cf.year == params[:planning_year] %>> <%= cf.year %> </option>
         <% end %>
          <% end %>
	     </select>

	    <input type="button" value="Cari" onclick="document.forms[0].submit()">
      </td>
    </tr>
  </table>
  <br>
  <table width="95%" border="0" align="center" cellpadding="2" cellspacing="1" bgcolor="#777777">
    <tr bgcolor="#999999" id="pisang" onclick="">
      <!--td id="name20" width="2%" valign="MIDDLE" align="CENTER"><input name="check_all" type="checkbox" class="" onclick="checkAll(document.list)" value="0"></td-->
      <td width="2%" valign="top" id="name20"><font color="#FFFFFF">&nbsp;</font></td>
      <td width="" align="center"><font color="#FFFFFF"><strong>Kod</strong></font></td>
      <td width="20%" align="left"><font color="#FFFFFF">&nbsp;<strong>Nama Kursus</strong></font></td>
      <td width="40%" align="left"><font color="#FFFFFF">&nbsp;<strong>Kump. Sasaran</strong></font></td>
      <td width="5%" align="center"><font color="#FFFFFF"><strong>Tempoh (hari)</strong></font></td>
      <td width="" align="center"><font color="#FFFFFF"><strong>Tarikh Mula</strong></font></td>
      <td width="" align="center"><font color="#FFFFFF"><strong>Tarikh Akhir</strong></font></td>
      <td width="" align="center"><font color="#FFFFFF"><strong>Status</strong></font></td>      
    </tr>
<%
i = 0;
even = true;

if !params[:planning_year]
  sch_year = nil   #2006
else
  sch_year = params[:planning_year]
  sch_year = "AND year_start = "+params[:planning_year]
end

if !params[:planning_month]
  sch_month = nil
else
  if params[:planning_month] == 0
  sch_month = nil
  else 
  sch_month = "AND month_start = "+params[:planning_month]
  end
end

if !params[:course_department_id]
  sch_dept = nil
else
  sch_dept = "AND course_department_id = "+params[:course_department_id]
end

#@schedules = CourseImplementation.find_by_sql("select * from vw_detailed_courses  where year_start=#{sch_year.to_i} #{sch_month} #{sch_dept} and course_status_id='1' ORDER BY date_plan_start")
sql = "select * from vw_detailed_courses  where date_start > current_date and course_status_id='1' #{sch_dept} #{sch_month} #{sch_year} ORDER BY date_start"
@schedules = CourseImplementation.find_by_sql(sql)
@schedules = [] if  !params[:course_department_id]
for query in @schedules
  i = i + 1
  bgclr = "#CCCCFF" if (even == true)
  bgclr = "#FFFFFF" if (even == false)
  even = !even
  
 @jum_hari = (query.day_end.to_i-query.day_start.to_i) + 1 if query.day_end.to_i>query.day_start.to_i
 @jum_hari = (query.month_end.to_i-query.month_start.to_i)*30 + (query.day_end.to_i-query.day_start.to_i) if query.day_end.to_i<query.day_start.to_i
%>
    <tr bgcolor="<%=bgclr%>" onmouseover="this.style.background='#FFFFCC'" onmouseout="this.style.background='<%=bgclr%>'" 
        onmousedown="menuLayers.show('popmenu', '/hr', '<%=h query.id %>', '<%= query.name %>', event)"  onclick="//servOC(<%=query.id%>,'/courses/show/<%=query.id%>','#999999')">
      <!--td id="name<%=h query.id %>"><input type="checkbox" name="schedule_ids[]" value="<%=query.id%>" class=""></td-->
      <td align="right" id="name<%=h query.id %>"><%= i.to_s %>.</td>
      <td align=center><%=h query.code.upcase %></td>
      <td align="left"><%=h query.name.upcase %></td>
      <td align="left"><%=h query.target_group.capitalize %></td>
      <td align="center"><%=h @jum_hari %></td>
      <td align="center">&nbsp;<%=h query.date_plan_start.to_formatted_s(:my_format_4) %></td>
      <td align="center">&nbsp;<%=h query.date_plan_end.to_formatted_s(:my_format_4) %></td>
      <td align="center"><%=h query.course.course_status.description.upcase %></td>
    </tr>

<% end %>
  </table>
</form>

