  <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">REGISTRATION : APPLICANT DETAIL</font></b></td>
    </tr>
  </table>
  <br>
    <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center"><u><%= link_to 'Search another applicant', :action => 'new' %></u></td>
    </tr>
  </table>
  <br>

  <table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
    <tr>
      <td align="right"><b>Course:</b></td>
      <td><%= @courses[0].name %>(<%= @courses[0].code %>) &nbsp;<b>Fee:</b>RM<%= @courses[0].fee %></td>
    </tr>
    <tr>
      <td align="right"><b>Date apply:</b></td>
      <td><%= @student.date_apply  %></td>
    </tr>
    <tr>
      <td align="right"><b>Organization</b></td>
      <td><%= @personal.organization.name %></td>
    </tr>
    <tr>
      <td align="right">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td width="20%" align="right"><strong>Applicant Name: </strong></td>
      <td>
          <%= @student.personal.name %></td>
    </tr>
    <tr>
      <td align="right"><strong>NRIC #: </strong></td>
      <td>
          <%= @student.personal.nric %></td>
    </tr>
    <tr>
      <td align="right"><strong>Passport:</strong></td>
      <td><%= @student.personal.passport %></td>
    </tr>
    <tr>
      <td align="right"><strong>Race:</strong></td>
      <td><%= @student.personal.race.description %></td>
    </tr>
    <tr>
      <td align="right"><strong>Nationality:</strong></td>
      <td><%= @student.personal.nationality.description %></td>
    </tr>
    <tr>
      <td align="right"><strong>Religion:</strong></td>
      <td><%= @student.personal.religion.description %></td>
    </tr>
    <tr>
      <td align="right"><strong>Gender:</strong></td>
      <td><%= @student.personal.gender.description %></td>
    </tr>
    <tr>
      <td align="right"><strong>Marital Status :</strong></td>
      <td><%= @student.personal.marital_status.description %></td>
    </tr>
    
    <tr>
      <td align="right">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td align="right"><strong>Tel #:</strong></td>
      <td>&nbsp; Home:            <%= @student.personal.phone %>&nbsp; Mobile:
      <%= @student.personal.handphone %></td>
    </tr>
    <tr>
      <td align="right"><strong>Fax #:</strong></td>
      <td><%= @student.personal.fax %></td>
    </tr>
    <tr>
      <td align="right"><strong>Email:</strong></td>
      <td><%= @student.personal.email %></td>
    </tr>
    <tr>
      <td align="right" valign="top"><strong>Address:</strong></td>
      <td><%= @student.personal.address1 %></td>
    </tr>
    <tr>
      <td align="right">&nbsp;</td>
      <td><%= @student.personal.address2 %></td>
    </tr>
    <tr>
      <td align="right">&nbsp;</td>
      <td><%= @student.personal.address3 %></td>
    </tr>
    <tr>
      <td align="right"><strong>Postcode:</strong></td>
      <td><%= @student.personal.postcode %></td>
    </tr>
    <tr>
      <td align="right"><strong>City:</strong></td>
      <td><%= @student.personal.city %></td>
    </tr>
    <tr>
      <td align="right"><strong>State:</strong></td>
      <td><%= @student.personal.state.description %></td>
    </tr>
    <tr>
      <td align="right"><strong>Country:</strong></td>
      <td><%= @student.personal.country.description %></td>
    </tr>

  </table>

<!--[form:payment]-->
<table border = "0" cellspacing = "5" cellpadding = "0" >
	
	<tr>
		<td>Name</td>
	  <% namas = Personal.find_all_by_id (params[:id])
	     data = namas[0]
	     
	     for nama in namas  %>
		<td><%= nama.name 
		%></td>
		<% end 
		%>
	</tr>
	
	<tr>
		<td><label for="payment_date">Date</label></td>
		<td><%= date_select 'payment', 'date', :order => [:day, :month, :year]  %></td>
	</tr>	

	<tr>
		<td><label for="payment_amount">Amount</label></td>
		<td><%= text_field 'payment', 'amount'  %></td>
	</tr>
	
	<tr>
		<td><label for="payment_receipt_no">Receipt no</label></td>
		<td><%= text_field 'payment', 'receipt_no'  %></td>
	</tr>
		
</table>
<!--[eoform:payment]-->

    <br>
  <div align="center"><input type="button" value="OK" onclick="location='/apply_individu/list'"></div>


  