 <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><strong><font color="#FFFFFF">STATUS PERLAKSANAAN KURSUS </font></strong></td>
    </tr>
 </table>
<style>
b		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
th		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
td		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
a		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
input		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
.box {border: solid; border-width:1}
</style>
<BR>
<% if !@check %>
<%#= start_form_tag :action => 'sp_create' %>
<%= form_tag sp_create_laporan_index_path do%>
  <%= render :partial => 'status_perlaksanaan' %>
  <div align="center">
  <%= submit_tag "Simpan" %>
  </div>
<%end %>
<% else %>
<%= form_for sp_update_laporan_index_path(@status_perlaksanaan) do %>
  <%= render :partial => 'status_perlaksanaan_edit' %>
<% end %>
<% end %>
