<script type="text/javascript">
function goSubmit() {
        if ( $('report1_').value == "" && $('report2_').value == "") {
                alert("Sila masukkan tarikh");
                $('report1_').focus()
                return false;
        }
        if ( $('report1_').value == "") {
                alert("Sila masukkan tarikh mula");
                $('report1_').focus()
                return false;
        }
        if ( $('report2_').value == "") {
                alert("Sila masukkan tarikh akhir");
                $('report2_').focus()
                return false;
        }

        document.forms[0].submit();
}
</script>
    
 <!----------------------------------------------------------------------------------------->
 <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><strong><font color="#FFFFFF">INSTITUT TANAH DAN UKUR NEGARA(INSTUN) </font></strong></td>
    </tr>
 </table>
  <br>

<style>
b		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
th		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
td		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
a		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
input		{ font-family: Verdana, Arial, Helvetica; font-size: 11px;}
.box {border: solid; border-width:1}
</style>
<br />
 <br>

 <form name="list_form">
    <div width="95%" style="background: #FFFFFF">
  <!--table width="95%" border="1" align="center" cellpadding="2" cellspacing="0" bgcolor="#777777"-->
  <table class="seven" width="95%" align="center" cellpadding="<%=list_cellpadding%>" cellspacing="<%=list_cellspacing%>" bgcolor="<%=list_bgcolor%>">
    <tr bgcolor="#999999">
      <td class="el" width="2%" valign="top">&nbsp;</td>
      <td class="el" align="center"><font color="#FFFFFF"><strong>Kemudahan</strong></font></td>
      <td class="el" align="center"><font color="#FFFFFF"><strong>Bil.<br />
        Penilai</strong></font></td>
      <td class="el" align="center"><font color="#FFFFFF"><strong>Purata<br />
      Skor</strong></font></td>
      <td class="el" align="center"><font color="#FFFFFF"><strong>Peratus</strong></font></td>
    </tr>

<%
bgclr = 'white'
%>
    <tr bgcolor="<%=bgclr%>" onmouseover="this.style.background='#FFFFCC'" onmouseout="this.style.background='<%=bgclr%>'">
      <td class="el" height="20">&nbsp;.</td>
      <td class="el">&nbsp;</td>
      <td class="el" align="center">&nbsp;</td>

      <td class="el" align="center">&nbsp;</td>	  
      <td class="el" align="center">&nbsp;</td>
      </tr>

  </table>
  </div>
  <div align="center"><br />
    <input type="hidden" name="course_implementation_code" value="<%=@course_implementation.code if @course_implementation%>">
    <input name="Submit" type="button" value="Keluar" onclick="window.close()//history.back()">
  </div>
</form>

<!-- popup menu initial layer----->
<div id="popmenu" class="menu"></div>


<script>

function a(id) {
	MM_openBrWindow('/evaluations/user_hyouka?klm=1&ca_id='+id,'','scrollbars=yes,width=800,height=700')
}
function b(id) {
	MM_openBrWindow('/evaluations/user_hyouka_answer?klm=1&ca_id='+id,'','scrollbars=yes,width=800,height=700')
}

</script>
