<form name="list_form" id="list_form">
  <%if @course_implementation%>
  <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr>
      <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF"> <%=@course_implementation.course.name.upcase%> &nbsp;&nbsp;(<%=@course_implementation.tempoh%>)</font></b></td>
    </tr>
  </table>
  <br>
  <%end%>
  <table width="95%" border="0" align="center" cellpadding="1" cellspacing="1" bgcolor="#777777">
    <tr bgcolor="#999999">
      <td width="2%" valign="top" align="center"><font color="#FFFFFF"><input type="checkbox" name="check_all" value="0" onclick="checkAll(document.list_form)"></font></td>
      <td width="2%" valign="top">&nbsp;</td>
      <!--td width="30%" align="center"><strong><a style="color: white" href="javascript: findAndSortWith('personal_name','<%= "DESC" if (@orderby=="personal_name" && @arrow=="ASC") %>')">Nama Pemohon </a></strong></td-->
      <!--td width="8%" align="center"><strong><a style="color: white" href="javascript: findAndSortWith('nric','<%= "DESC" if (@orderby=="nric" && @arrow=="ASC") %>')">Gred Jawatan </a></strong></td-->
      <td align="center"><font color="#FFFFFF"><strong>Kursus</strong></font></td>
      <td align="center"><strong><a style="color: white" href="javascript: findAndSortWith('date_plan_start','<%= "DESC" if (@orderby=="date_apply" && @arrow=="ASC") %>')">Tarikh Mula</a></strong></td>
      <td align="center"><strong><a style="color: white" href="javascript: findAndSortWith('date_plan_end','<%= "DESC" if (@orderby=="date_apply" && @arrow=="ASC") %>')">Tarikh Akhir</a></strong></td>
      <td align="center"><strong><a style="color: white" href="javascript: findAndSortWith('comp_name','<%= "DESC" if (@orderby=="comp_name" && @arrow=="ASC") %>')">Tarikh Mohon </a></strong></td>
      <td align="center"><strong><a style="color: white" href="javascript: findAndSortWith('comp_name','<%= "DESC" if (@orderby=="comp_name" && @arrow=="ASC") %>')">Status</a></strong></td>
    </tr>
    <%
i = 0;
even = true;
for student in @students
  i = i + 1
  bgclr = "#CCCCFF" if (even == true)
  bgclr = "#FFFFFF" if (even == false)
  even = !even
  
  student.profile.courses = Course.find(params[:course_ids]) if params[:course_ids]
  if (student.profile.employments[0] && student.profile.employments[0].job_profile)
  	jawatan = student.profile.employments[0].job_profile.job_grade
    pejabat = student.profile.employments[0].place.name if student.profile.employments[0].place
  else
    jawatan = ""
	pejabat = ""
  end
    
%>
    <tr class="list" bgcolor="<%=bgclr%>" onmouseover="this.style.background='#FFFFCC'" onmouseout="this.style.background='<%=bgclr%>'" 
        onmousedown="menuLayers.show('popmenu', '/user_applications', '<%=h student.id %>', '<%= student.profile.name.upcase %>', event)" >
      <td align="center"><input type="checkbox" name="course_application_ids[]" value="<%=student.id%>"></td>
      <td height="20">&nbsp;<%= i.to_s %>.</td>
      <!--td><%=h student.profile.name.upcase %></td-->
      <!--td align="center"><%=h jawatan %></td-->
      <td align="left"><%= student.course_implementation.course.name.upcase %></td>
      <td align="center"><%= student.course_implementation.date_plan_start.to_formatted_s(:my_format_4) %></td>
      <td align="center"><%= student.course_implementation.date_plan_end.to_formatted_s(:my_format_4) %></td>
      <td align="center"><%= student.date_apply.to_formatted_s(:my_format_4) if student.date_apply %></td>
      <td align="center"><%= student.student_status.description %></td>
    </tr>
    <% end %>
  </table>
</form>
<%= '<br><div align="center" style="font-weight: bold; color: orange;">Tiada senarai</div>'.html_safe if @students.size==0%>