<table width="70%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#777777">
  <tr bgcolor="#999999">
    <td width="5%"><b><font color="#FFFFFF">Bil</font></b></td>
    <td width="35%"><b><font color="#FFFFFF">&nbsp;Soalan</font></b></td>
    <td width=""><b><font color="#FFFFFF">&nbsp;Jawapan</font></b></td>
  </tr>

  <%
  i = 0;
  even = true;
  for quiz_question in @quiz.quiz_questions
    i = i + 1
    bgclr = "#CCCCFF" if (even == true)
    bgclr = "#FFFFFF" if (even == false)
    even = !even
  %>
    <tr bgcolor="<%=bgclr%>" >
      <td><%= i %></td>
      <td align=left>&nbsp;<%= nl2br(quiz_question.questiontext) %>
        <% unless "#{quiz_question.picture}" == "/pictures/original/missing.png"%>
          <%= image_tag quiz_question.picture.url(:small) %>
        <% end %>
        
        <% if quiz_question.file%>
          </BR>
          <% nof{@quiz_question = QuizQuestion.find(quiz_question.id)}   %>
          <a href="<%= url_for_file_column("quiz_question", "file") %>"><font color="blue">Download Sisipan</font></a>
        <%end%></td>



      <% if @quiz.quiz_type_id == 1 %>
        <td>
          <select id="quiz_answer[<%= i %>][answer_truefalse]" name="quiz_answer[<%= i %>][answer_truefalse]">
            <option value="Betul">Betul</option>
            <option value="Salah">Salah</option>
          </select>
          <%= hidden_field 'quiz_answer', 'quiz_question_id', :index => i, :value=> quiz_question.id %></td>

      <% elsif @quiz.quiz_type_id == 3 %>
        <td>
          <textarea rows="2" id="quiz_answer[<%= i %>][answer_subjective]" name="quiz_answer[<%= i %>][answer_subjective]"></textarea>
          <%= hidden_field 'quiz_answer', 'quiz_question_id', :index => i, :value=> quiz_question.id %></td>

      <% elsif @quiz.quiz_type_id == 2 %>
        <td>
          <% for q in quiz_question.quiz_objectives %>
            <%
            jawap = QuizAnswer.find_by_quiz_question_id_and_profile_id("#{quiz_question.id}","#{session[:user].profile.id}")
            if jawap && (q.id == jawap.answer)
              checked = "checked=\"checked\""
            else
              checked = ""
            end
          %>
            <input type="radio" id="quiz_answer[<%= i %>][answer]" name="quiz_answer[<%= i %>][answer]" value="<%=q.id%>" <%=checked%>/>
            <%= nl2br(q.answer) %><BR>
          <%end %>
          <%= hidden_field 'quiz_answer', 'quiz_question_id', :index => i, :value=> quiz_question.id %>
          <%= hidden_field 'quiz_answer', 'course_implementation_id', :index => i, :value=> @course_application.course_implementation_id %>
          <%= hidden_field 'quiz_answer', 'quiz_id', :index => i, :value=> quiz_question.quiz_id %>
          <%= hidden_field 'quiz_answer', 'course_application_id', :index => i, :value=>@course_application.id %></td>

      <% else %>
        <td><%= hidden_field 'quiz_answer', 'quiz_question_id', :index => i, :value=> quiz_question.id %></td>
      <% end %>
    </tr>
  <% end %>
</table>
