<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF">BORANG PENILAIAN</font></th>
    </tr>
    <tr>
    	<td>&nbsp;</td>
    </tr>
    <tr>
    	<th><%= link_to 'Kembali', :controller => 'user_applications', :action => 'attend' %> ke senarai kursus semasa</th>
    </tr>
</table>
<BR>
	<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
	<tr>
    <td align="center">
        <% if session[:user].profile_id == nof{@course_evaluations[0].profile_id} %>
			Borang Penilaian <%= nof{@course_application.course.name.upcase} %> telah diisi. Terima Kasih.</td>
    </tr>
	<tr>
	<td>&nbsp;</td>
    </tr>
    </table>
		<% else %>
         	<% if nof{@course_application.course_implementation.question_templates[0].description} == nil %>
		Tiada Borang Penilaian untuk Kursus <%= nof{@course_application.course.name.upcase} %></td>
		<% else %>
         	<%= nof{@course_application.course_implementation.question_templates[0].description} %></td>
			<%= start_form_tag :action => 'nilai', :id => @course_application.id %>
                        <%= render :partial => 'course_evaluation' %>
			<BR>
			<div align=center>
			<%= submit_tag "Simpan" %>
			</div>
                        <%= end_form_tag %>
		<% end %>
	</tr>
	<tr>
	<td>&nbsp;</td>
	</tr>
	</table>
		<% end %>
