<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
  <tr bgcolor="000000">
    <td colspan="3" align="CENTER" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT PEMBATALAN PERMOHONAN KURSUS </font></b></td>
  </tr>
  <tr>
    <td colspan="3" align="right">&nbsp;</td>
  </tr>
  
  
  <tr>
    <td width="20%" align="right"><b>Nama  : </b></td>
    <td colspan=3>&nbsp; <%=nof{@student.profile.name} %></td>
  </tr>
  
  <tr>
    <td align="right"><b>Gred/Jawatan :</b></td>
    <td colspan="2" width="40">&nbsp; <%= nof{@employment.job_profile.job_grade} %> &nbsp; <%= "(#{@employment.job_profile.job_name.upcase})" if @employment && @employment.job_profile%></td>
  </tr>
  
     <tr>
      <td align="right"><b>Pejabat :</b></td>
      <td colspan="2">&nbsp; <%=nof{@student.profile.opis} %></td>
    </tr>
    
    <tr>
      <td align="right"><b>Kursus  :</b></td>
      <td colspan="2">&nbsp; <%= nof{@course_application.course_implementation.code}%> <%= "("+nof{@course_application.course.name} + ")" %></td>
    </tr>
    <tr>
      <td align="right"><b>Tarikh Mohon :</b></td>
      <td colspan="2">&nbsp; <%= nof{@course_application.date_apply.to_formatted_s(:my_format_4)}%></td>
    </tr>
    <tr>
      <td align="right">&nbsp;</td>
      <td colspan="2">Saya memohon membatalkan permohonan kursus di  atas dan mengesahkan permohonan pembatalan ini telah diluluskan oleh Ketua  Jabatan</td>
    </tr>
    <tr>
      <td align="right" valign="TOP"><b>Sebab Pembatalan   :</b></td>
      <td colspan="2">&nbsp;<%=nof{@student.cancel_reason} %></td>
    </tr>
    <tr>
      <td align="right"><b>Nama Pegawai :</b></td>
      <td colspan="2">&nbsp;<%=nof{@student.cancel_spv_name} %></td>
    </tr>
  
  <tr>
    <td align="right"><b>Jawatan :</b></td>
    <td colspan="2" >&nbsp;<%=nof{@student.cancel_spv_jawatan} %></td>
  </tr>
  <tr>
    <td align="right"><b>E-Mel :</b></td>
    <td colspan="2" >&nbsp;<%=nof{@student.cancel_spv_email} %></td>
  </tr>
  <tr>
    <td align="right"><b>Tarikh Diluluskan:</b></td>
    <td colspan="2" >&nbsp;<%= nof{@course_application.cancel_date.to_formatted_s(:my_format_4)}%></td>
  </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td colspan="2" >&nbsp;</td>
  </tr>
</table>
