<%#= error_messages_for 'hostel' %>

<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center"> <a href="/hostels/list"><u>Kembali</u></a> ke Senarai Asrama  </td>
    </tr>
</table>
<br>

<%
room = params[:room]
level = params[:level]
block = params[:block]

x=1
%>
<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
    
    <tr>
      <td align="CENTER"><font style="font-size: 30pt; font-weight:bold;"><%=@hostel_block.description%>-<%=level%>-<%=room%></font></td>
    </tr>
</table>
<table align="CENTER" width="95%" border="0" cellspacing="0" cellpadding="0" bgcolor="#EEEEEE">
  <tr>
    <td align="CENTER">
	
	<fieldset style="width: 50%">
	 <legend>Katil</legend>
	<table border="1" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
      <tr >
        <td align="right"><strong>No</strong></td>
        <td width="" align="center"><strong>Jantina</strong></td>
        <td width="" align="center"><strong>Jenis</strong></td>
        <td width="" align="center"><strong>Status</strong></td>
        <input type=hidden name=room value="<%=room%>">
        <input type=hidden name=level value="<%=level%>">
        <input type=hidden name=block value="<%=block%>">
      </tr>
      <% for hostel in @hostels %>
      <tr>
        <input type=hidden name="katil[]" value="<%=hostel.id%>">
        <td align="right"><strong>&nbsp;<%=h x %></strong></td>
        <td align="center">&nbsp;<%=hostel.gender.description%></td>
        <td align="center">&nbsp;<%=hostel.hostel_type.description%></td>
        <td align="center">&nbsp;<%=hostel.hostel_status.description%></td>
      </tr>
      <% x=x+1 %>
	  <% @hostel = hostel%>
      <% end %>
    </table>
	</fieldset>
<br>	
<%
@hostel_fixtures = HostelFixture.find(:all, :order=>"id")
%>

	<fieldset style="width: 50%"><legend>Kelengkapan</legend>
	<table border="1" align="center" cellpadding="2" cellspacing="1" bgcolor="#eeeeee">
<script>
function checkFixtureQuantity(is_checked,idx) {
	if (!is_checked) {
		$('quantity_'+idx).name = "manggis[]"
		$('remark_'+idx).name   = "langsat[]"
	}
	else {
		$('quantity_'+idx).name = "quantities[]"
		$('remark_'+idx).name   = "remarks[]"
	}
	alert($('quantity_'+idx).name)
}
</script>
	  <tr align="center"><td><b>Jenis Barang</b></td><td><b>Kuantiti</b></td><td><b>Catatan</b></td></tr>
    <% 
	  j=0;
	  for fixture in @hostel_fixtures			
						
		if @hostel.hostel_fixtures.include?(fixture)
			item = FixtureFitting.find(:first, :conditions=>"hostel_id=#{@hostel.id} and hostel_fixture_id=#{fixture.id}")
			@q = item.quantity
			@r = item.remark
			@r = "&nbsp;" if item.remark == ""
			@qty_field_name = "quantities[]"
			@rmk_field_name = "remarks[]"
		else
			@qty_field_name = "manggis[]"
			@rmk_field_name = "langsat[]"
			@q = @r = "&nbsp;"
		end
	%>

      <tr>
        <td>
          <input name="hostel_fixture_ids[]" type="checkbox" value="<%=fixture.id%>" <%="checked" if @hostel.hostel_fixtures.include?(fixture)%>" onclick="checkFixtureQuantity(this.checked,<%=j%>)" disabled="disabled">
          <%=fixture.description%><br>
		</td>
		<td align="center"><%=@q%>
		<!--input style="background: #efefef" type="text" id="quantity_<%=j%>" name="<%=@qty_field_name%>" value="<%=@q%>" maxlength="2" size="2" disabled="disabled"-->
		</td>

		<td align="center"><%=@r%>
		<!--input type="text" id="remark_<%=j%>" name="<%=@rmk_field_name%>" value="<%=@r%>" maxlength="50" size="20"-->
		</td>

        </tr>
         <% 
		 	j = j+1
		 end
		 %>
	</table>	
	</fieldset>

</td>
  </tr>
</table>
<br />
