<script>
function confirmAndDelete(url, objname) {
	if (confirm("Adakah anda pasti?")) {
		location = url
	}
	
}

function rewritePopupContent(controller, objid, objname) {
    $('#popmenu').css({"width": 150});
    $('#popmenu').html("<ul>" +
                            "<li><a href=\""  + controller + "/show/" + objid + "\">&nbsp;&nbsp;Lihat</a>" +
					        "<li><a href=\""  + controller + "/edit/" + objid + "\">&nbsp;&nbsp;Kemaskini</a>" + 
					        "<li><a href=\"javascript: confirmAndDelete('"  + controller + "/destroy/" + objid + "' , '" + objname + "')\">&nbsp;&nbsp;Padam</a>" +
					        "<hr size=1>" +
					        "<li><a href=\""  + controller + "/edit/" + objid + "\">&nbsp;&nbsp;Penyelenggaraan</a>" + 
					        "</ul>")
     
}

function rewritePopupContentNoRestraint(controller, objid, objname) {
    $('#popmenu').css({"width": 150});
    $('#popmenu').html("<ul>" +
                            "<li><a href=\""  + controller + "/show/" + objid + "\">&nbsp;&nbsp;Lihat</a>" +
					        "<li><a href=\""  + controller + "/edit/" + objid + "\">&nbsp;&nbsp;Kemaskini</a>" + 
					        "<li><a href=\"javascript: confirmAndDelete('"  + controller + "/destroy/" + objid + "' , '" + objname + "')\">&nbsp;&nbsp;Padam</a>" +
					        "<hr size=1>" +
					        "<li><a href=\""  + controller + "/edit/" + objid + "\">&nbsp;&nbsp;Penyelenggaraan</a>" + 
					        "</ul>")
     
}
</script>

<!----------------------------------------------------------------------------------------->
<form action="/hostels/ivedonechkout/<%=@profile.id%>">
 <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><strong><font color="#FFFFFF">CHECK OUT </font></strong></td>
    </tr>
 </table>
  <br />
  <table width="95%" border="0" align="center" cellpadding="3" cellspacing="1">
    <tr>
      <td width="30%" align="right"><strong>&nbsp;Nama:<span class="blockintro">&nbsp;</span></strong></td>
      <td colspan="3"><span class="blockintro"><%=h @profile.name.upcase %> </span></td>
    </tr>
    <tr>
      <td align="right"><strong>Jantina:<span class="blockintro">&nbsp;</span></strong></td>
      <td width="20%"><span class="blockintro"><%=h nof{@profile.gender.description} %> </span></td>
      <td align="RIGHT" width="10%">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td align="right"><strong>No KP:<span class="blockintro">&nbsp;</span></strong></td>
      <td><span class="blockintro"><%=h @profile.ic_number %> </span></td>
      <td align="RIGHT"><strong>Kecacatan:<span class="blockintro">&nbsp;</span></strong></td>
      <td><span class="blockintro"><%=h nof{@profile.handicap.description} %> </span></td>
    </tr>
    <tr>
      <td align="right"><strong>Gred:<span class="blockintro">&nbsp;</span></strong></td>
      <td><span class="blockintro"><%=h @employment.job_profile.job_grade if @employment %> </span></td>
      <td align="RIGHT"><strong>Agama:<span class="blockintro">&nbsp;</span></strong></td>
      <td><span class="blockintro"><%=h nof{@profile.religion.description} %> </span></td>
    </tr>
    <tr>
      <td align="right" valign="TOP"><strong>Jawatan:<span class="blockintro">&nbsp;</span></strong></td>
      <td nowrap="nowrap"><span class="blockintro"><%=h @employment.job_profile.job_name if @employment %> </span></td>
      <td align="right"><strong>Vegetarian?:<span class="blockintro">&nbsp;</span></strong></td>
      <td><span class="blockintro"><%=h "Tidak" if @profile.is_vegetarian == 0 %><%=h "Ya" if @profile.is_vegetarian == 1 %> </span></td>
    </tr>
    <!--tr>
      <td align="right" valign="TOP"><strong>Kursus:<span class="blockintro">&nbsp;</span></strong></td>
      <td colspan="3"><span class="blockintro"><%=h nof{@student.course.name.upcase} %> </span></td>
    </tr>
    <tr>
      <td align="right"><strong>Tarikh:<span class="blockintro">&nbsp;</span></strong></td>
      <td colspan="3"><span class="blockintro"><%=h nof{@student.course_implementation.tempoh} %> </span></td>
    </tr-->
  </table>
  <br>
  <hr size="1" width="50%">
  <table width="" align="center">
   <tr>
     <td align="left">Kunci sudah dipulangkan?</td>
     <td align="LEFT"><input name="is_key_returned" type="radio" value="1" checked="checked">
       Ya
         <input name="is_key_returned" type="radio" value="0">
     Tidak</td>
   </tr>
   <tr>
     <td align="left"><label for="mengaku_bilik_okay">Bilik adalah seperti sediakala.</label></td>
    <td><label for="mengaku_bilik_okay">
    <input name="radiobutton" type="radio" value="radiobutton" checked="checked">
Ya
<input name="radiobutton" type="radio" value="radiobutton">
Tidak</label></td>
   </tr>
   <tr>
     <td style="color: blue" align="CENTER">&nbsp;</td>
     <td style="color: blue" align="CENTER"><br />
     <input type="submit" name="Submit" value="Check-Out!"></td></tr>
  </table>

<div id="popmenu" class="menu"></div>
