<script>
  function confirmAndDelete(url, objname) {
    if (confirm("Adakah anda pasti?")) {
      location = url
    }
	
  }

  function rewritePopupContent(controller, objid, objname) {
    $('#popmenu').css({"width": 150});
    $('#popmenu').html("<ul>" +
      "<li><a href=\""  + controller + "/" + objid + "\">&nbsp;&nbsp;Lihat</a>" +
      "<li><a href=\""  + controller + "/" + objid + "/edit\">&nbsp;&nbsp;Kemaskini</a>" +
      "<li><a rel=\"nofollow\" data-method=\"delete\" data-confirm = \"Adakah anda pasti untuk padam " + objname + "?\" href= \""+ controller + "/" + objid+"\" >&nbsp;&nbsp;Padam</a>" +
      //"<li><a href=\"javascript: confirmAndDelete('"  + controller + "/destroy/" + objid + "' , '" + objname + "')\">&nbsp;&nbsp;Padam</a>" +
      "<hr size=1>" +
      "<li><a href=\""  + controller + "/" + objid + "/edit\">&nbsp;&nbsp;Penyelenggaraan</a>" +
      "</ul>")
     
  }

  function rewritePopupContentNoRestraint(controller, objid, objname) {
    $('#popmenu').css({"width": 150});
    $('#popmenu').html("<ul>" +
      "<li><a href=\""  + controller + "/" + objid + "\">&nbsp;&nbsp;Lihat</a>" +
      "<li><a href=\""  + controller + "/" + objid + "/edit\">&nbsp;&nbsp;Kemaskini</a>" +
      "<li><a rel=\"nofollow\" data-method=\"delete\" data-confirm = \"Adakah anda pasti untuk padam " + objname + "?\" href= \""+ controller + "/" + objid+"\" >&nbsp;&nbsp;Padam</a>" +
      //"<li><a href=\"javascript: confirmAndDelete('"  + controller + "/destroy/" + objid + "' , '" + objname + "')\">&nbsp;&nbsp;Padam</a>" +
      "<hr size=1>" +
      "<li><a href=\""  + controller + "/" + objid + "/edit\">&nbsp;&nbsp;Penyelenggaraan</a>" +
      "</ul>")
     
  }
</script>

<!----------------------------------------------------------------------------------------->
<form action="/hostels/list">
  <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">SENARAI ASRAMA</font></b></td>
    </tr>
  </table>
  <br>
  <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center"> <a href="new_one"><u>Tambah Asrama</u></a> | Senarai: 
        <select name="block_id">
          <option value="">Sila Pilih</option>
          <% @hostel_blocks.each do |b| %>
            <option value="<%= b.id %>"
                    <%= ' selected' if b.id == params[:block_id].to_i %>> <%= b.description.upcase %> </option>
                  <% end %>
        </select>
        <input type="button" value="Cari" onclick="document.forms[0].submit()">
      </td>    
    </tr>
  </table>

  <% if @hostel_block.max_room_by_level < 30%>
    <%= render :partial => 'list'%>
  <% else %>
    <%= render :partial => 'list_above30'%>
  <% end %>

  <br>
  <center>
    <div id="room_properties" style="width: 95%;background:#FFFFFF; font-weight:bold">
      &nbsp;  </div>
  </center>

  <div id="bapa_kertas" align="center" style="width: inherit; visibility:hidden">
    <IFRAME id="kertas" SRC="/hostels/blank" TITLE="The Famous Recipe" width="95%" frameborder="0">
      <!-- Alternate content for non-supporting browsers -->
      <H2>The Famous Recipe</H2>
      <H3>Ingredients</H3>
      ...
    </IFRAME>
  </div>

  <script>
    function showProperties(lvl,room) {
      toggle = "<a href=\"javascript: hide()\">&laquo;</a> &nbsp;&nbsp;"
      $('room_properties').style.visibility = "visible"
      $('bapa_kertas').style.visibility = "visible"
      $('room_properties').html(toggle + "BILIK: <%=nof{@hostel_block.description}%>-" + lvl + "-" + room)
      $('kertas').src = "/hostels/lihat?block=<%=nof{@hostel_block.id}%>&level=" + lvl + "&room=" + room
      $('kertas').height = 500
    }

    function hide() {
      $('room_properties').style.visibility = "hidden"
      $('bapa_kertas').style.visibility = "hidden"
    }
  </script>
</form>

<div id="popmenu" class="menu"></div>
