<script>
function confirmAndDelete(url, objname) {
	if (confirm("Adakah anda pasti?")) {
		location = url
	}
	
}

function rewritePopupContent(controller, objid, objname) {
    $('#popmenu').css({"width": 150})
    $('#popmenu').html("<ul>" +
                            "<li><a href=\""  + controller + "/show/" + objid + "\">&nbsp;&nbsp;Lihat</a>" +
					        "<li><a href=\""  + controller + "/edit/" + objid + "\">&nbsp;&nbsp;Kemaskini</a>" + 
					        "<li><a href=\"javascript: confirmAndDelete('"  + controller + "/destroy/" + objid + "' , '" + objname + "')\">&nbsp;&nbsp;Padam</a>" +
					        "<hr size=1>" +
					        "<li><a href=\""  + controller + "/edit/" + objid + "\">&nbsp;&nbsp;Penyelenggaraan</a>" + 
					        "</ul>")
     
}

function rewritePopupContentNoRestraint(controller, objid, objname) {
    $('#popmenu').css({"width": 150})
    $('#popmenu').html("<ul>" +
                            "<li><a href=\""  + controller + "/show/" + objid + "\">&nbsp;&nbsp;Lihat</a>" +
					        "<li><a href=\""  + controller + "/edit/" + objid + "\">&nbsp;&nbsp;Kemaskini</a>" + 
					        "<li><a href=\"javascript: confirmAndDelete('"  + controller + "/destroy/" + objid + "' , '" + objname + "')\">&nbsp;&nbsp;Padam</a>" +
					        "<hr size=1>" +
					        "<li><a href=\""  + controller + "/edit/" + objid + "\">&nbsp;&nbsp;Penyelenggaraan</a>" + 
					        "</ul>")
     
}
</script>

<!----------------------------------------------------------------------------------------->
<form action="/hostels/trainer_chkin/<%=@trainer.id%>?cimp_id=<%=@course_implementation.id%>" method="post">
 <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><strong><font color="#FFFFFF">PILIHAN BILIK UNTUK CHECK IN (PENCERAMAH) </font></strong></td>
    </tr>
 </table>
  <br />
  <table width="95%" border="0" align="center" cellpadding="3" cellspacing="1">
    <tr>
      <td width="30%" align="right"><strong>&nbsp;Nama:<span class="blockintro">&nbsp;</span></strong></td>
      <td colspan="3"><span class="blockintro"><%=h @profile.name.upcase %> </span></td>
    </tr>
    <tr>
      <td align="right"><strong>Jantina:<span class="blockintro">&nbsp;</span></strong></td>
      <td width="20%"><span class="blockintro"><%=h nof{@profile.gender.description} %> </span></td>
      <td align="RIGHT" width="10%">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td align="right"><strong>No KP:<span class="blockintro">&nbsp;</span></strong></td>
      <td><span class="blockintro"><%=h @profile.ic_number %> </span></td>
      <td align="RIGHT"><strong>Kecacatan:<span class="blockintro">&nbsp;</span></strong></td>
      <td><span class="blockintro"><%=h nof{@profile.handicap.description} %> </span></td>
    </tr>
    <tr>
      <td align="right"><strong>Gred:<span class="blockintro">&nbsp;</span></strong></td>
      <td><span class="blockintro"><%=nof{@employment.job_profile.job_grade}%> </span></td>
      <td align="RIGHT"><strong>Agama:<span class="blockintro">&nbsp;</span></strong></td>
      <td><span class="blockintro"><%=h nof{@profile.religion.description} %> </span></td>
    </tr>
    <tr>
      <td align="right" valign="TOP"><strong>Jawatan:<span class="blockintro">&nbsp;</span></strong></td>
      <td nowrap="nowrap"><span class="blockintro"><%=nof{@employment.job_profile.job_name}%> </span></td>
      <td align="right"><strong>Vegetarian?:<span class="blockintro">&nbsp;</span></strong></td>
      <td><span class="blockintro"><%=h "Tidak" if @profile.is_vegetarian == 0 %><%=h "Ya" if @profile.is_vegetarian == 1 %> </span></td>
    </tr>
    <tr>
      <td align="right" valign="TOP"><strong>Kursus:<span class="blockintro">&nbsp;</span></strong></td>
      <td colspan="3"><span class="blockintro"><%=nof{@course_implementation.course.name.upcase} %> </span></td>
    </tr>
    <tr>
      <td align="right"><strong>Tarikh:<span class="blockintro">&nbsp;</span></strong></td>
      <td colspan="3"><span class="blockintro"><%=nof{@course_implementation.tempoh} %></span></td>
    </tr>
  </table>
  <br>
  
  <hr size="1" width="70%" />
  <table width="70%" align="center">
   <tr>
     <td style="" align="CENTER">
	  <fieldset style=" width:60%;">
	   <legend>Sila masukkan maklumat berikut:</legend>
	     <table width="70%" align="center">
          <!--tr>
		    <td align="RIGHT"><strong>No Telefon:</strong></td>
		    <td><input name="no_tel" type="text" id="no_tel"></td>
          </tr-->
          <tr>
			<td align="RIGHT"><strong>No Kenderaan:</strong></td>
		    <td><input name="no_kenderaan" type="text" id="no_kenderaan"></td>
          </tr>
          <tr>
			<td align="RIGHT"><strong>No Kunci:</strong></td>
		    <td><input name="no_kunci" type="text" id="no_kunci"></td>
          </tr>
		 </table>
	     <input type="hidden" name="course_implementation_id" value="<%=params[:cimp_id]%>">
	  </fieldset>	 </td>
   </tr>
   <tr>
     <td style="color: blue" align="CENTER">&nbsp;</td>
   </tr>
   <tr>
    <td style="color: blue" align="CENTER">*Sila klik pada nombor bilik untuk check-in peserta di bilik berkenaan</td>
   </tr>
  </table>
<br />
  <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
      <td align="center"> <a href="new_one"></a>Blok : 
          <select name="block_id" onchange="document.forms[0].submit()">
	        <option value="">Sila Pilih</option>
            <% @hostel_blocks.each do |b| %>
            <option value="<%= b.id %>"
         	<%= ' selected' if b.id == params[:block_id].to_i %>> <%= b.description.upcase %> (<%=(b.gender.id==1)? "Lelaki":"Perempuan"%>)</option>
            <% end %>
          </select>
      </td>    
  </tr>
  </table>

<% if @hostel_block.max_room_by_level < 30%>  
<%= render :partial => 'list_chkin'%>
<% else %>
<%= render :partial => 'list_above30_chkin'%>
<% end %>
  
  <br>
  <center>
  <div id="room_properties" style="width: 95%;background:#FFFFFF; font-weight:bold">
&nbsp;  </div>
  </center>

<div id="bapa_kertas" align="center" style="width: inherit; visibility:hidden">
<IFRAME id="kertas" SRC="/hostels/blank" TITLE="The Famous Recipe" width="95%" frameborder="0">
<!-- Alternate content for non-supporting browsers -->
<H2>The Famous Recipe</H2>
<H3>Ingredients</H3>
...
</IFRAME>
</div>
<script>
function checkThatGuyIn(lvl,room,room_gdr,profile_gdr) {
	df = document.forms[0]
	df.action = "/hostels/trainer_chkin_save/<%=@trainer.id%>?profile_id=<%=@trainer.profile.id%>&block_id=<%=@hostel_block.id%>" + 
	      "&level=" + lvl +  
	      "&room="  + room  
		 // alert(df.action); return;
	if (room_gdr != profile_gdr) {
		if (confirm("Peserta tidak boleh memasuki blok ini. Teruskan?")) {
			location.href = url
		}
	}
	else {
		df.submit();
	}
}

function hide() {
	$('room_properties').style.visibility = "hidden"
	$('bapa_kertas').style.visibility = "hidden"
}
</script>
</form>

<div id="popmenu" class="menu"></div>
