<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">MAKLUMAT KEMENTERIAN</font></b></td>
    </tr>
  </table>
  <br>
   <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center"> <a href="/places/list_kementerian">Kembali ke senarai Kementerian</a></td>
    </tr>
  </table>
 <br>
  <table width="90%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
    <tr>
      <td width="40%" align="right"><strong>Kod Kementerian: </strong></td>
      <td><span class="blockintro">
        &nbsp;
      <%= @place.code %>      </span></td>
    </tr>
    <tr>
      <td align="right" width="40%"><strong>Gelaran Jawatan Tertinggi:</strong></td>
      <td><span class="blockintro">&nbsp; </span><%= @place.head_title  %></td>
    </tr>
    <tr>
      <td align="right" width="40%"><strong>Nama Kementerian:</strong></td>
      <td><span class="blockintro">&nbsp; </span><%= @place.name  %></td>
    </tr>
    <tr>
      <td align="right" valign="top" width="40%"><strong>Alamat:</strong></td>
      <td><span class="blockintro">&nbsp;
      <%= @place.send('address1')  %>      </span></td>
    </tr>
    <tr>
      <td align="right" width="40%">&nbsp;</td>
      <td><span class="blockintro">&nbsp;
      <%= @place.send('address2')  %>      </span></td>
    </tr>
    <tr>
      <td align="right" width="40%">&nbsp;</td>
      <td><span class="blockintro">&nbsp;
      <%= @place.send('address3')  %>      </span></td>
    </tr>
    <tr>
      <td align="right" width="40%"><strong>Negeri:</strong></td>
      <td>&nbsp;
      <%= @place.state.description if @place.state %>      </td>
    </tr>
    <tr>
      <td align="right" width="40%"><strong>No Telefon:</strong></td>
      <td><span class="blockintro">&nbsp; </span><%= @place.phone  %></td>
    </tr>
     <tr>
      <td align="right" width="40%"><strong>No Faks:</strong></td>
      <td><span class="blockintro">&nbsp; </span><%= @place.fax %></td>
    </tr>
      <tr>
      <td colspan="2" align="CENTER" ><strong><u>Pegawai Untuk Dihubungi</u>&nbsp;</strong></td>
    </tr>
    <tr>
      <td align="right" width="40%"><strong>Nama:</strong></td>
      <td><span class="blockintro">&nbsp; </span><%= nof{@place_contact.name}  %></td>
    </tr>
     <tr>
      <td align="right" width="40%"><strong>Jawatan:</strong></td>
      <td><span class="blockintro">&nbsp; </span><%= nof{@place_contact.position} %></td>
    </tr>
	<tr>
      <td align="right" width="40%"><strong>No Telefon:</strong></td>
      <td><span class="blockintro">&nbsp; </span><%= nof{@place_contact.phone}  %></td>
    </tr>
     <tr>
      <td align="right" width="40%"><strong>Emel:</strong></td>
      <td><span class="blockintro">&nbsp; </span><%= nof{@place_contact.email} %></td>
    </tr>
  </table>
  <br />
  <div align="center">
    <input name="button" type="button" value="Kemaskini" onclick="location='/places/edit_kementerian/<%=@place.id%>'">
  </div>
  <br>
